Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

[RMV] span element
  app/Resources/js/components/Project/Preview/ProjectCover.js
  app/Resources/js/components/Project/Preview/ProjectPreviewBody.js
  app/Resources/js/components/Project/Preview/ProjectType.js
  app/Resources/js/components/Proposal/Preview/ProposalPreviewBody.js
  app/Resources/js/components/Proposal/Preview/ProposalPreviewHeader.js
  app/Resources/js/components/Proposal/Preview/ProposalStatus.js
  app/Resources/js/components/Ui/Card/Body.js
  app/Resources/js/components/Ui/Card/Card.js
  app/Resources/js/components/Ui/Card/Title.js
  app/Resources/js/stories/Cards-stories.js
  app/Resources/scss/base/_utils.scss
Due: jest, flow, frontend

[ADD] type & status
  app/Resources/js/components/Answer/AnswerBody.js
  app/Resources/js/components/Proposal/Preview/ProposalPreview.js
  app/Resources/js/components/Proposal/Preview/ProposalPreviewBody.js
  app/Resources/js/components/Proposal/Preview/ProposalPreviewUser.js
  app/Resources/js/components/Proposal/Preview/ProposalStatus.js
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/components/Steps/Page/StepInfos.js
  app/Resources/js/components/Ui/Card/Body.js
  app/Resources/js/components/Ui/Card/CardUser.js
  app/Resources/js/components/Ui/Card/Cover.js
  app/Resources/js/components/Ui/Card/Status.js
  app/Resources/js/components/Ui/Card/Title.js
  app/Resources/js/components/Ui/Card/Type.js
  app/Resources/js/components/Ui/Medias/DefaultAvatar.js
  app/Resources/js/components/Ui/Medias/DefaultAvatarGroup.js
  app/Resources/js/components/Ui/Medias/DefaultImage.js
  app/Resources/js/components/Ui/Medias/Media/Body.js
  app/Resources/js/components/Ui/Medias/Media/Left.js
  app/Resources/js/components/Ui/Medias/Media/Media.js
  app/Resources/js/components/User/Profile/EditProfileTabs.js
  app/Resources/js/components/User/UserPreview.js
  app/Resources/js/stories/Cards-stories.js
  app/Resources/js/stories/List-stories.js
  app/Resources/js/utils/colors.js
  schema.internal.graphql
Due: jest, flow, frontend

[CHG] pure component to stateless component
  app/Resources/js/components/Answer/__snapshots__/AnswerBody-test.js.snap
  app/Resources/js/components/Project/Preview/ProjectPreviewBody.js
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreview-test.js.snap
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewBody-test.js.snap
  app/Resources/js/components/Proposal/Preview/ProposalPreviewBody.js
  app/Resources/js/components/Proposal/Preview/ProposalPreviewFooter.js
  app/Resources/js/components/Proposal/Preview/ProposalStatus.js
  app/Resources/js/components/Proposal/Preview/__snapshots__/ProposalPreview-test.js.snap
  app/Resources/js/components/Proposal/Preview/__snapshots__/ProposalPreviewFooter-test.js.snap
  app/Resources/js/components/Proposal/Preview/__snapshots__/ProposalStatus-test.js.snap
  app/Resources/js/components/Proposal/Vote/ProposalVoteThresholdProgressBar.js
  app/Resources/js/components/Reply/Form/__snapshots__/ReplyForm-test.js.snap
  app/Resources/js/components/Steps/Page/__snapshots__/StepInfos-test.js.snap
  app/Resources/js/components/Ui/Card/Card.js
  app/Resources/js/components/Ui/Card/Counters.js
  app/Resources/js/components/Ui/Card/Status-test.js
  app/Resources/js/components/Ui/Card/Status.js
  app/Resources/js/components/Ui/Card/Title-test.js
  app/Resources/js/components/Ui/Card/Title.js
  app/Resources/js/components/Ui/Card/Type-test.js
  app/Resources/js/components/Ui/Card/Type.js
  app/Resources/js/components/Ui/Card/__snapshots__/Status-test.js.snap
  app/Resources/js/components/Ui/Card/__snapshots__/Title-test.js.snap
  app/Resources/js/components/Ui/Card/__snapshots__/Type-test.js.snap
  app/Resources/js/components/Ui/List/InlineList.js
  app/Resources/js/components/Ui/List/TagsList.js
  app/Resources/js/components/User/Profile/__snapshots__/EditProfileTabs-test.js.snap
  app/Resources/js/stories/Cards-stories.js
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/StatusType.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Status.types.yml
Due: php, jest, flow, backend, frontend

[RMV] useless lines
  app/Resources/js/components/Ui/Card/Cover.js
  app/Resources/js/stories/Cards-stories.js
Due: jest, flow, frontend

[ADD] header
  app/Resources/js/components/Proposal/Preview/ProposalPreviewUser.js
  app/Resources/js/components/Publishable/UnpublishedLabel.js
  app/Resources/js/components/Publishable/__snapshots__/UnpublishedLabel-test.js.snap
  app/Resources/js/components/Ui/Card/Body.js
  app/Resources/js/components/Ui/Card/Card.js
  app/Resources/js/components/Ui/Card/Cover-test.js
  app/Resources/js/components/Ui/Card/Cover.js
  app/Resources/js/components/Ui/Card/Header-test.js
  app/Resources/js/components/Ui/Card/Header.js
  app/Resources/js/components/Ui/Card/Status.js
  app/Resources/js/components/Ui/Card/__snapshots__/Cover-test.js.snap
  app/Resources/js/components/Ui/Card/__snapshots__/Header-test.js.snap
  app/Resources/js/components/Ui/Card/__snapshots__/Status-test.js.snap
  app/Resources/js/stories/Cards-stories.js
  app/Resources/js/utils/colors.js
  app/Resources/scss/base/_utils.scss
  src/Capco/AppBundle/Resources/views/Default/custom.css.twig
Due: php, jest, flow, backend, frontend

[RBS]
  app/Resources/js/components/Project/Preview/ProjectType.js
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreview-test.js.snap
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewBody-test.js.snap
  schema.internal.graphql
Due: jest, flow, frontend

[ADD] grid elements on card
  app/Resources/js/components/Proposal/Preview/ProposalPreview.js
  app/Resources/js/components/User/Profile/EditProfileTabs.js
  app/Resources/js/components/User/Profile/__snapshots__/EditProfileTabs-test.js.snap
  app/Resources/js/components/User/UserPreview.js
  app/Resources/js/stories/Cards-stories.js
Due: jest, flow, frontend

[RBS]
  schema.internal.graphql
Due: none

[RBS]
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewBody-test.js.snap
  app/Resources/js/components/Ui/Card/Header.js
  app/Resources/js/components/Ui/Card/Status.js
  schema.internal.graphql
Due: jest, flow, frontend

[ADD] babel plugin for polished
  .babelrc
Due: none

[CHG] small value
  app/Resources/scss/base/_utils.scss
Due: none

[CHG] behat test
  app/Resources/js/components/Ui/Card/Card.js
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: jest, flow, backend, frontend

[RBS]
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsMedia.js
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResultsMedia-test.js.snap
  app/Resources/js/components/Steps/Page/__snapshots__/StepInfos-test.js.snap
  schema.internal.graphql
Due: jest, flow, frontend

[CHG] naming to BEM
  app/Resources/js/components/Proposal/Preview/ProposalPreviewFooter.js
  app/Resources/js/components/Proposal/Preview/__snapshots__/ProposalPreviewFooter-test.js.snap
  app/Resources/js/components/Ui/Card/Body.js
  app/Resources/js/components/Ui/Card/Counters.js
  app/Resources/js/components/Ui/Card/Cover.js
  app/Resources/js/components/Ui/Card/Header.js
  app/Resources/js/components/Ui/Card/Status.js
  app/Resources/js/components/Ui/Card/Title.js
  app/Resources/js/components/Ui/Card/Type.js
  app/Resources/js/stories/Cards-stories.js
Due: jest, flow, frontend

[CHG] behat tests
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: backend

[CHG] jest test
  app/Resources/js/components/Admin/SiteFavicon/__snapshots__/SiteFaviconAdminPage-test.js.snap
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  app/Resources/js/components/Comment/__snapshots__/CommentSection-test.js.snap
  app/Resources/js/components/Consultation/__snapshots__/ConsultationPlan-test.js.snap
  app/Resources/js/components/Consultation/__snapshots__/ConsultationPropositionBox-test.js.snap
  app/Resources/js/components/Evaluation/__snapshots__/EvaluationsIndexPage-test.js.snap
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminPage-test.js.snap
  app/Resources/js/components/Opinion/Source/__snapshots__/OpinionSourceBox-test.js.snap
  app/Resources/js/components/Project/Page/__snapshots__/ProjectRestrictedAccess-test.js.snap
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewBody-test.js.snap
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectType-test.js.snap
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminPage-test.js.snap
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPage-test.js.snap
  app/Resources/js/components/ProposalForm/__snapshots__/ProposalFormAdminEvaluationForm-test.js.snap
  app/Resources/js/components/ProposalForm/__snapshots__/ProposalFormAdminPage-test.js.snap
  app/Resources/js/components/Steps/Page/__snapshots__/StepInfos-test.js.snap
  app/Resources/js/components/User/Admin/__snapshots__/MapAdminPage-test.js.snap
  app/Resources/js/components/User/Admin/__snapshots__/UserAdminPage-test.js.snap
  app/Resources/js/components/User/Following/__snapshots__/FollowingsBox-test.js.snap
  app/Resources/js/components/User/Registration/__snapshots__/RegistrationForm-test.js.snap
Due: jest, flow, frontend

[CHG] jest test
  app/Resources/js/components/Admin/SiteFavicon/__snapshots__/SiteFaviconAdminPage-test.js.snap
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  app/Resources/js/components/Comment/__snapshots__/CommentSection-test.js.snap
  app/Resources/js/components/Consultation/__snapshots__/ConsultationPlan-test.js.snap
  app/Resources/js/components/Consultation/__snapshots__/ConsultationPropositionBox-test.js.snap
  app/Resources/js/components/Evaluation/__snapshots__/EvaluationsIndexPage-test.js.snap
  app/Resources/js/components/Event/EventPageContainer.js
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminPage-test.js.snap
  app/Resources/js/components/Opinion/Source/__snapshots__/OpinionSourceBox-test.js.snap
  app/Resources/js/components/Project/Page/__snapshots__/ProjectRestrictedAccess-test.js.snap
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminPage-test.js.snap
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPage-test.js.snap
  app/Resources/js/components/ProposalForm/__snapshots__/ProposalFormAdminEvaluationForm-test.js.snap
  app/Resources/js/components/ProposalForm/__snapshots__/ProposalFormAdminPage-test.js.snap
  app/Resources/js/components/Ui/Boxes/ColorBox.js
  app/Resources/js/components/User/Admin/__snapshots__/MapAdminPage-test.js.snap
  app/Resources/js/components/User/Admin/__snapshots__/UserAdminPage-test.js.snap
  app/Resources/js/components/User/Following/__snapshots__/FollowingsBox-test.js.snap
  app/Resources/js/components/User/Registration/__snapshots__/RegistrationForm-test.js.snap
  jest.config.js
Due: jest, flow, frontend

[RMV] useless line
  app/Resources/js/components/Event/EventPageContainer.js
Due: jest, flow, frontend

[CHG] behat test
  app/Resources/js/components/Proposal/Preview/ProposalPreviewFooter.js
  app/Resources/js/components/Proposal/Preview/__snapshots__/ProposalPreviewFooter-test.js.snap
  src/Capco/AppBundle/Behat/Page/SelectionPage.php
Due: jest, flow, backend, frontend

[ADD] id for card
  app/Resources/js/components/Ui/Card/Card.js
Due: jest, flow, frontend

[CHG] behat test
  src/Capco/AppBundle/Behat/Page/SelectionPage.php
Due: backend

[CHG] status type
  app/Resources/js/components/Ui/Boxes/ColorBox.js
  app/Resources/js/components/Ui/Card/Header-test.js
  app/Resources/js/components/Ui/Card/Status-test.js
  app/Resources/js/components/Ui/Card/Status.js
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/StatusColor.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Status.types.yml
Due: php, jest, flow, backend, frontend

[CHG] media margin & card
  app/Resources/js/components/Form/ImageUpload.js
  app/Resources/js/components/Form/__snapshots__/ImageUpload-test.js.snap
  app/Resources/js/components/Ui/Medias/Media/Media.js
  app/Resources/js/components/User/Profile/EditProfileTabs.js
  app/Resources/js/components/User/Profile/__snapshots__/EditProfileTabs-test.js.snap
  app/Resources/js/components/User/UserPreview.js
  app/Resources/scss/base/_utils.scss
  app/Resources/scss/modules/_form.scss
Due: jest, flow, frontend

Merge pull request #7485 from cap-collectif/7473-fix-questionnaire-drag
  app/Resources/scss/modules/_form.scss
Due: none

Fix passed events not working when only on passed event
  app/Resources/js/components/Event/EventPreview-test.js
  app/Resources/js/components/Event/EventPreview.js
  app/Resources/js/components/Event/List/EventListPaginated.js
  app/Resources/js/components/Event/List/EventPagePassedEventsPreview-test.js
  app/Resources/js/components/Event/List/EventPagePassedEventsPreview.js
  app/Resources/js/components/Event/List/__snapshots__/EventPagePassedEventsPreview-test.js.snap
Due: jest, flow, frontend

Merge pull request #7491 from cap-collectif/small-fix-for-passed-events-preview
  app/Resources/js/components/Event/EventPreview-test.js
  app/Resources/js/components/Event/EventPreview.js
  app/Resources/js/components/Event/List/EventListPaginated.js
  app/Resources/js/components/Event/List/EventPagePassedEventsPreview-test.js
  app/Resources/js/components/Event/List/EventPagePassedEventsPreview.js
  app/Resources/js/components/Event/List/__snapshots__/EventPagePassedEventsPreview-test.js.snap
Due: jest, flow, frontend

Make tests green again
  features/commands/__snapshots__/users.csv
  features/front/project.feature
Due: none

[7492-TRAD] Update multicontact snapshot.
  app/Resources/js/components/Contact/__snapshots__/ContactForm-test.js.snap
Due: jest, flow, frontend

- Updated flow to v0.92.1
  .flowconfig
  package.json
  yarn.lock
Due: none

Merge pull request #7097 from cap-collectif/7074-global-counters
  .flowconfig
  app/DoctrineMigrations/Version20190220111958.php
  app/Resources/js/components/Section/SectionContainer.js
  app/Resources/js/registration.js
  app/Resources/js/startup/MetricsApp.js
  app/Resources/scss/modules/_homepage.scss
  app/Resources/scss/style.scss
  features/graphql/query/allContributions.feature
  features/graphql/query/allContributors.feature
  features/graphql/query/votes.feature
  package.json
  schema.internal.graphql
  schema.preview.graphql
  src/Capco/AdminBundle/Admin/EventAdmin.php
  src/Capco/AdminBundle/Admin/SectionAdmin.php
  src/Capco/AppBundle/Controller/Site/HomepageController.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Section.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/Section.yml
  src/Capco/AppBundle/Elasticsearch/mapping.yml
  src/Capco/AppBundle/Entity/Section.php
  src/Capco/AppBundle/Entity/Steps/ConsultationStep.php
  src/Capco/AppBundle/GraphQL/DataLoader/Step/StepContributionsDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryContributionsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryContributorsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryVotesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/CollectStepProposalCountResolver.php
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
  src/Capco/AppBundle/Repository/AbstractVoteRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/PreviewQuery.types.yml
  src/Capco/AppBundle/Resources/config/serialization/Project.yml
  src/Capco/AppBundle/Resources/config/serialization/Section.yml
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/metrics.html.twig
  src/Capco/AppBundle/Search/ProjectSearch.php
  src/Capco/AppBundle/Search/UserSearch.php
  yarn.lock
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #7497 from cap-collectif/update-flow
  .flowconfig
  package.json
  yarn.lock
Due: none

Merge pull request #7493 from cap-collectif/7452-fix-conditional-jumps
  app/Resources/js/utils/submitQuestion.js
  schema.internal.graphql
  src/Capco/AppBundle/Form/LogicJumpConditionType.php
  src/Capco/AppBundle/Form/LogicJumpType.php
  src/Capco/AppBundle/Form/Type/RelayNodeType.php
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/LogicJumpConditionInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/LogicJumpInput.types.yml
Due: php, jest, flow, backend, frontend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
