Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: auto
        threshold: null
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

Try to update directly on github.
  .flowconfig
Due: none

twig to react + fixing bugs on pages + responsive
  .flowconfig
  app/Resources/js/components/Event/EventPreview.js
  app/Resources/js/components/Event/__snapshots__/EventPreview-test.js.snap
  app/Resources/js/components/HomePage/HomePageEvents.js
  app/Resources/js/registration.js
  app/Resources/js/startup/HomePageEventsApp.js
  app/Resources/js/stories/capcollectif/EventCard-stories.js
  app/Resources/js/stories/mocks/event.js
  app/Resources/scss/modules/_event.scss
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/views/Homepage/lastEvents.html.twig
  yarn.lock
Due: php, jest, flow, backend, frontend

removing useless comments
  app/Resources/js/components/HomePage/HomePageEvents.js
  src/Capco/AppBundle/Resources/views/Homepage/lastEvents.html.twig
Due: php, jest, flow, backend, frontend

creating UI component for section in back office + render it in storybook
  app/Resources/js/components/HomePage/HomePageEvents.js
  app/Resources/js/stories/capcollectif/EventCard-stories.js
  app/Resources/js/stories/capcollectif/HomePageEventsSection-stories.js
  app/Resources/js/stories/mocks/event.js
Due: jest, flow, frontend

draft
  app/Resources/js/components/Event/EventPreview.js
  app/Resources/js/components/Event/__snapshots__/EventPreview-test.js.snap
  app/Resources/js/components/HomePage/HomePageEvents.js
  app/Resources/js/components/Ui/BackOffice/Section.js
  app/Resources/js/registration.js
  app/Resources/js/startup/HomePageEventsApp.js
  app/Resources/js/stories/back-office/SectionContainer-stories.js
  app/Resources/js/stories/capcollectif/EventCard-stories.js
  app/Resources/js/stories/capcollectif/HomePageEventsSection-stories.js
  app/Resources/js/stories/mocks/event.js
  app/Resources/scss/modules/_event.scss
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/views/Homepage/lastEvents.html.twig
Due: php, jest, flow, backend, frontend

creating UI component for section in back office + render it in storybook
  app/Resources/js/components/Ui/BackOffice/Section.js
  app/Resources/js/stories/back-office/BackOfficeSection-stories.js
  app/Resources/js/stories/back-office/SectionContainer-stories.js
Due: jest, flow, frontend

Bump flow-bin from 0.102.0 to 0.104.0 (#8450)
  .flowconfig
  app/Resources/js/components/Ui/BackOffice/Section.js
  app/Resources/js/stories/back-office/BackOfficeSection-stories.js
  package.json
  yarn.lock
Due: jest, flow, frontend

Creating backoffice container component (#8473)
  app/Resources/js/components/Ui/BackOffice/Section.js
  app/Resources/js/stories/back-office/BackOfficeSection-stories.js
Due: jest, flow, frontend

Merge pull request #8458 from cap-collectif/fix-event-card
  app/Resources/js/components/Event/EventPreview.js
  app/Resources/js/components/Event/__snapshots__/EventPreview-test.js.snap
  app/Resources/js/components/HomePage/HomePageEvents.js
  app/Resources/js/registration.js
  app/Resources/js/startup/HomePageEventsApp.js
  app/Resources/js/stories/capcollectif/EventCard-stories.js
  app/Resources/js/stories/capcollectif/HomePageEventsSection-stories.js
  app/Resources/js/stories/mocks/event.js
  app/Resources/scss/modules/_event.scss
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/views/Homepage/lastEvents.html.twig
Due: php, jest, flow, backend, frontend

- 🚧 Opinion is tied with a Consultation and not with a step -> big impact in various places in codebase, first pass
  app/DoctrineMigrations/Version20190717154855.php
  src/Capco/AppBundle/Command/ImportConsultationFromCsvCommand.php
  src/Capco/AppBundle/Command/RecalculateCountersCommand.php
  src/Capco/AppBundle/Command/RecalculateUsersCountersCommand.php
  src/Capco/AppBundle/Controller/Api/OpinionsController.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Opinion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Opinion.yml
  src/Capco/AppBundle/Entity/Consultation.php
  src/Capco/AppBundle/Entity/Opinion.php
  src/Capco/AppBundle/Entity/Steps/ConsultationStep.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/StepContributionsResolver.php
  src/Capco/AppBundle/Repository/AbstractVoteRepository.php
  src/Capco/AppBundle/Repository/ArgumentRepository.php
  src/Capco/AppBundle/Repository/ArgumentVoteRepository.php
  src/Capco/AppBundle/Repository/OpinionRepository.php
  src/Capco/AppBundle/Repository/OpinionTypeRepository.php
  src/Capco/AppBundle/Repository/OpinionVersionRepository.php
  src/Capco/AppBundle/Synthesis/Extractor/ConsultationStepExtractor.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, backend

- Fixed doctrine misconfigured association - Added more join in various queries between opinion, consultation and step
  src/Capco/AppBundle/Entity/Consultation.php
  src/Capco/AppBundle/Repository/OpinionVersionVoteRepository.php
  src/Capco/AppBundle/Repository/OpinionVoteRepository.php
  src/Capco/AppBundle/Repository/SourceRepository.php
  src/Capco/AppBundle/Repository/SourceVoteRepository.php
Due: php, backend

- Fixed count methods on SourceRepository - Removed step field in Opinion serialization -> usage of getStep instead
  src/Capco/AppBundle/GraphQL/Resolver/Step/StepContributionsResolver.php
  src/Capco/AppBundle/Repository/OpinionVersionRepository.php
  src/Capco/AppBundle/Repository/SourceRepository.php
  src/Capco/AppBundle/Resources/config/serialization/Opinion.yml
Due: graphql, php, backend

- Fixed `getByOpinionId` method on ConsultationStepRepository
  src/Capco/AppBundle/Repository/ConsultationStepRepository.php
Due: php, backend

- Fixed some counters
  src/Capco/AppBundle/Command/RecalculateCountersCommand.php
  src/Capco/AppBundle/Command/RecalculateUsersCountersCommand.php
  src/Capco/AppBundle/Entity/Opinion.php
  src/Capco/AppBundle/Repository/AbstractVoteRepository.php
  src/Capco/AppBundle/Repository/OpinionRepository.php
  src/Capco/AppBundle/Repository/OpinionTypeRepository.php
  src/Capco/AppBundle/Repository/OpinionVersionVoteRepository.php
  src/Capco/AppBundle/Repository/OpinionVoteRepository.php
  src/Capco/AppBundle/Repository/SourceRepository.php
Due: php, backend

- Fixed more counters
  src/Capco/AppBundle/Command/RecalculateCountersCommand.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: php, backend

- Fixed votes counter
  src/Capco/AppBundle/Repository/AbstractVoteRepository.php
Due: php, backend

- Fixed OpinionAdmin - Added `consultation` field instead of `step` in OpinionAdmin - Fixed `ImportConsultationFromCsvCommand` command
  src/Capco/AdminBundle/Admin/OpinionAdmin.php
  src/Capco/AppBundle/Command/ImportConsultationFromCsvCommand.php
Due: php, backend

- Fixed e2e graphql public by fixing more counters
  src/Capco/AppBundle/Repository/OpinionVersionRepository.php
Due: php, backend

- Fixed more counters
  src/Capco/AppBundle/Command/RecalculateUsersCountersCommand.php
Due: php, backend

- Fixed OpinionAdmin query
  src/Capco/AdminBundle/Admin/OpinionAdmin.php
Due: php, backend

- Fixed ArgumentAdmin query
  src/Capco/AdminBundle/Admin/ArgumentAdmin.php
Due: php, backend

- Replaced $step by $consultation directly in `OpinionNotifier`
  src/Capco/AppBundle/Notifier/OpinionNotifier.php
Due: php, backend

- Renamed migration to be after migration of some consultation fields
  app/DoctrineMigrations/Version20190731085647.php
Due: none

- Added default consultation when creating a new opinion based on the opinionType
  src/Capco/AdminBundle/Admin/OpinionAdmin.php
  src/Capco/AppBundle/Repository/OpinionTypeRepository.php
Due: php, backend

- Fixed queries in Argument, Opinion and OpinionVersion repositories - Fixed SourceAdmin createQuery
  src/Capco/AdminBundle/Admin/SourceAdmin.php
  src/Capco/AppBundle/Repository/ArgumentRepository.php
  src/Capco/AppBundle/Repository/OpinionRepository.php
  src/Capco/AppBundle/Repository/OpinionVersionRepository.php
Due: php, backend

- Fixed OpinionVersionAdmin query
  src/Capco/AdminBundle/Admin/OpinionVersionAdmin.php
Due: php, backend

- Added e2e BO tests
  features/back/opinion_version.feature
  features/back/sources.feature
  src/Capco/AppBundle/Behat/Page/AdminOpinionVersionListPage.php
  src/Capco/AppBundle/Behat/Page/AdminSourcesListPage.php
  src/Capco/AppBundle/Behat/Traits/AdminGeneralTait.php
Due: backend

- Modified id in fixtures for all consultations
  features/graphql-public/query/__snapshots__/node.js.snap
  features/graphql-public/query/node.js
  features/graphql/query/step_contributors.feature
  features/graphql/types/consultation/consultation_userHasVote.feature
  features/graphql/types/consultation/consultation_viewerUnpublishedOpinions.feature
  features/graphql/types/consultation/consultations.feature
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Opinion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/OpinionType.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Consultation.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Opinion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/OpinionType.yml
Due: php, backend

Add openid mapping for GrandLyonConnect. (#8486)
  src/Capco/UserBundle/OpenID/ExtraMapper/GrandLyonExtraMapper.php
  src/Capco/UserBundle/OpenID/Mapping/GrandLyonMapping.php
  src/Capco/UserBundle/OpenID/OpenIDExtraMapper.php
  src/Capco/UserBundle/OpenID/OpenIDPathMapper.php
Due: php, backend

Remove Prometheus integration. (#8487)
  app/AppKernel.php
  app/config/config.yml
  app/config/prometheus.yml
  composer.json
  composer.lock
  src/Capco/AppBundle/Adapter/RedisAdapter.php
  src/Capco/AppBundle/Controller/Site/MetricsController.php
  src/Capco/AppBundle/Resources/config/services.yml
Due: php, backend

Access denied to sitemap instead of 500 error when shield is ac… (#8490)
  src/Capco/AppBundle/Controller/Site/SitemapsController.php
Due: php, backend

- Added missing joins in select in doctrine queries
  src/Capco/AppBundle/Repository/OpinionTypeRepository.php
  src/Capco/AppBundle/Repository/SourceRepository.php
Due: php, backend

Bump ocramius/proxy-manager from 2.0.2 to 2.2.2
  composer.json
  composer.lock
Due: none

Remove OVH servers from trusted proxies.
  web/app.php
Due: none

Modify proposals query
  app/Resources/js/startup/ProposalListApp.js
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/UserBundle/Resources/views/Profile/show.html.twig
  src/Capco/UserBundle/Resources/views/Profile/showUserProposals.html.twig
  web/app.php
Due: php, jest, flow, backend, frontend

Add paginatio to proposal list on profile page
  app/Resources/js-server/registration.js
  app/Resources/js/components/User/Profile/UserProposalsPaginated.js
  app/Resources/js/registration.js
  app/Resources/js/startup/ProposalListApp.js
  app/Resources/js/startup/UserProposalsApp.js
  src/Capco/UserBundle/Resources/views/Profile/show.html.twig
  src/Capco/UserBundle/Resources/views/Profile/showUserProposals.html.twig
Due: php, jest, flow, backend, frontend

Add tests, decrease eslint alerts, add requested changes
  app/Resources/js/components/User/Profile/UserProposalsPaginated.js
  app/Resources/js/startup/UserProposalsApp.js
  app/Resources/js/stories/capcollectif/FollowersList-stories.js
  app/Resources/js/stories/capcollectif/OpinionArgumentList-stories.js
  app/Resources/js/stories/capcollectif/OpinionBox-stories.js
  app/Resources/js/stories/capcollectif/OpinionList-stories.js
  app/Resources/js/stories/capcollectif/OpinionSourceList-stories.js
  app/Resources/js/stories/capcollectif/OpinionVersionList-stories.js
  features/graphql/query/query_users.feature
  src/Capco/AppBundle/Behat/GraphQLContext.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/User.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/UserGroup.yml
Due: php, jest, flow, backend, frontend

Update exports
  __snapshots__/exports/users.csv
  __snapshots__/rgpd_user_archives/user1/groups.csv
  features/graphql-public/query/__snapshots__/users.js.snap
  features/graphql/mutations/deleteUserInGroup.feature
  features/graphql/query/project_restrictedViewers.feature
Due: none

remove inline css
  app/Resources/js/components/User/Profile/UserProposalsPaginated.js
Due: jest, flow, frontend

Remove useless methods
  src/Capco/UserBundle/Controller/ProfileController.php
  src/Capco/UserBundle/Resources/config/services.yml
Due: php, backend
