Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: auto
        threshold: null
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

Add IPs of OVH load balancer
  app/Resources/js/components/Opinion/Form/OpinionCreateForm-test.js
  app/Resources/js/components/Opinion/Form/OpinionCreateForm.js
  app/Resources/js/components/Opinion/Form/__snapshots__/OpinionCreateForm-test.js.snap
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/AppendixTypeAdmin.php
  src/Capco/AppBundle/Entity/OpinionTypeAppendixType.php
  src/Capco/AppBundle/GraphQL/Resolver/ConsultationResolver.php
  src/Capco/AppBundle/Mailer/Message/Contribution/ContributionModerationMessage.php
  src/Capco/AppBundle/Notifier/ContributionNotifier.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/SectionAppendixType.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
  web/app.php
Due: graphql, php, jest, flow, backend, frontend

Use real domain
  app/Resources/js/components/StaticPage/Cookie.js
  app/Resources/js/cookieMonster.js
  infrastructure/deploylib/system.py
  infrastructure/services/local/nginx/nginx.conf
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/Mailer/Message/Contribution/ContributionModerationMessage.php
  src/Capco/AppBundle/Notifier/ContributionNotifier.php
  src/Capco/AppBundle/Resources/views/base.html.twig
  web/app.php
Due: php, jest, flow, backend, frontend

Merge pull request #7003 from cap-collectif/7002-add-ips-ovh-lb
  app/Resources/js/components/StaticPage/Cookie.js
  app/Resources/js/cookieMonster.js
  infrastructure/deploylib/system.py
  infrastructure/services/local/nginx/nginx.conf
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/Mailer/Message/Contribution/ContributionModerationMessage.php
  src/Capco/AppBundle/Notifier/ContributionNotifier.php
  src/Capco/AppBundle/Resources/views/base.html.twig
  web/app.php
Due: php, jest, flow, backend, frontend

Merge pull request #6994 from cap-collectif/fix-cookies
  app/Resources/js/components/StaticPage/Cookie.js
  app/Resources/js/cookieMonster.js
  infrastructure/deploylib/system.py
  infrastructure/services/local/nginx/nginx.conf
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/Resources/views/base.html.twig
Due: php, jest, flow, backend, frontend

Merge pull request #6998 from cap-collectif/2511-appendix-type-helptext
  app/Resources/js/components/Opinion/Form/OpinionCreateForm-test.js
  app/Resources/js/components/Opinion/Form/OpinionCreateForm.js
  app/Resources/js/components/Opinion/Form/__snapshots__/OpinionCreateForm-test.js.snap
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/AppendixTypeAdmin.php
  src/Capco/AppBundle/Entity/OpinionTypeAppendixType.php
  src/Capco/AppBundle/GraphQL/Resolver/ConsultationResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/SectionAppendixType.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #6956 from cap-collectif/6838-fix-e2e-command
  app/Resources/js/components/Opinion/Form/OpinionCreateForm-test.js
  app/Resources/js/components/Opinion/Form/OpinionCreateForm.js
  app/Resources/js/components/Opinion/Form/__snapshots__/OpinionCreateForm-test.js.snap
  app/Resources/js/components/StaticPage/Cookie.js
  app/Resources/js/cookieMonster.js
  infrastructure/deploylib/system.py
  infrastructure/services/local/nginx/nginx.conf
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/AppendixTypeAdmin.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/Entity/OpinionTypeAppendixType.php
  src/Capco/AppBundle/GraphQL/Resolver/ConsultationResolver.php
  src/Capco/AppBundle/Mailer/Message/Contribution/ContributionModerationMessage.php
  src/Capco/AppBundle/Notifier/ContributionNotifier.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/SectionAppendixType.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
  src/Capco/AppBundle/Resources/views/base.html.twig
  web/app.php
Due: graphql, php, jest, flow, backend, frontend

review
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Utils/Text.php
Due: php, backend

Add event status
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/EventRefetch.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Resources/views/Event/index.html.twig
  src/Capco/AppBundle/Resources/views/Event/show_archived.html.twig
  src/Capco/AppBundle/Utils/Text.php
Due: php, jest, flow, backend, frontend

Fix events tests
  features/front/event.feature
Due: none

Merge pull request #7007 from cap-collectif/add-status-event-filter
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Utils/Text.php
Due: php, backend

fix bug
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
Due: jest, flow, frontend

remove console log
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
Due: jest, flow, frontend

[ADD] inline block class for label
  app/Resources/js/components/Event/EventPreview.js
  app/Resources/js/components/Event/__snapshots__/EventPreview-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
Due: jest, flow, frontend

[RMV] useless link
  app/Resources/js/components/Event/EventPreview.js
  app/Resources/js/components/Event/__snapshots__/EventPreview-test.js.snap
  src/Capco/AppBundle/Resources/views/Project/show_title.html.twig
Due: php, jest, flow, backend, frontend

#7015 - fix execute Ads script when we check fullConsent
  app/Resources/js/cookieMonster.js
  src/Capco/AppBundle/Resources/views/Project/show_title.html.twig
  src/Capco/AppBundle/Resources/views/base.html.twig
Due: php, jest, flow, backend, frontend

change require lenght for username
  app/Resources/js/components/User/Profile/Profile.js
  app/Resources/js/cookieMonster.js
  src/Capco/AppBundle/Resources/views/Project/show_title.html.twig
  src/Capco/AppBundle/Resources/views/base.html.twig
Due: php, jest, flow, backend, frontend

Merge pull request #7018 from cap-collectif/7015-ggTag
  app/Resources/js/components/User/Profile/Profile.js
  app/Resources/js/cookieMonster.js
  src/Capco/AppBundle/Resources/views/base.html.twig
Due: php, jest, flow, backend, frontend

update date in CSV
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_collecte-avec-vote-simple-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_selection-avec-vote-budget-limite.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-privee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_depot-avec-vote.csv
  features/commands/__snapshots__/budget-participatif-rennes_fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection-a-venir.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/budget-participatif-rennes_vainqueur.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_collecte-des-propositions-1.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_selection-avec-vote-selon-le-budget.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_depot-ferme.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_selection-avec-vote-simple.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
Due: none

Merge pull request #7020 from cap-collectif/7019-profil-name-limitation
  app/Resources/js/components/User/Profile/Profile.js
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_collecte-avec-vote-simple-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_selection-avec-vote-budget-limite.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-privee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_depot-avec-vote.csv
  features/commands/__snapshots__/budget-participatif-rennes_fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection-a-venir.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/budget-participatif-rennes_vainqueur.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_collecte-des-propositions-1.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_selection-avec-vote-selon-le-budget.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_depot-ferme.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_selection-avec-vote-simple.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
Due: jest, flow, frontend

Merge pull request #7013 from cap-collectif/7010-event-label-ui
  app/Resources/js/components/Event/EventPreview.js
  app/Resources/js/components/Event/__snapshots__/EventPreview-test.js.snap
Due: jest, flow, frontend

trying to fiw consultation circleci error
  app/Resources/js/components/Event/EventPreview.js
  app/Resources/js/components/Event/__snapshots__/EventPreview-test.js.snap
  app/Resources/js/components/User/Profile/Profile.js
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_collecte-avec-vote-simple-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_selection-avec-vote-budget-limite.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-privee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_depot-avec-vote.csv
  features/commands/__snapshots__/budget-participatif-rennes_fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection-a-venir.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/budget-participatif-rennes_vainqueur.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_collecte-des-propositions-1.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_selection-avec-vote-selon-le-budget.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_depot-ferme.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_selection-avec-vote-simple.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
  features/front/arguments.feature
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
Due: jest, flow, backend, frontend

Add 2 secondes on wait
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: backend

I wait that the filter is fetching for new project
  features/front/project.feature
Due: none

I wait more
  features/front/arguments.feature
  features/front/project.feature
Due: none

test
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: backend

Merge pull request #7009 from cap-collectif/7008-radio-other-bug
  app/Resources/js/components/Event/EventPreview.js
  app/Resources/js/components/Event/__snapshots__/EventPreview-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/components/User/Profile/Profile.js
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_collecte-avec-vote-simple-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_selection-avec-vote-budget-limite.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-privee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_depot-avec-vote.csv
  features/commands/__snapshots__/budget-participatif-rennes_fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection-a-venir.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/budget-participatif-rennes_vainqueur.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_collecte-des-propositions-1.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_selection-avec-vote-selon-le-budget.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_depot-ferme.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_selection-avec-vote-simple.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
  features/front/arguments.feature
  features/front/project.feature
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: jest, flow, backend, frontend

Merge pull request #7026 from cap-collectif/fix-circle-ci-test-01-22
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_collecte-avec-vote-simple-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_selection-avec-vote-budget-limite.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-privee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_depot-avec-vote.csv
  features/commands/__snapshots__/budget-participatif-rennes_fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection-a-venir.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/budget-participatif-rennes_vainqueur.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_collecte-des-propositions-1.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_selection-avec-vote-selon-le-budget.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_depot-ferme.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_selection-avec-vote-simple.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
  features/front/arguments.feature
  features/front/project.feature
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: backend

Add votes totalCoun
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
Due: php, backend

Add votes total count in export
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  features/commands/__snapshots__/bp-avec-vote-classement_selection-avec-vote-classement-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_collecte-avec-vote-simple-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_selection-avec-vote-budget-limite.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-privee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_depot-avec-vote.csv
  features/commands/__snapshots__/budget-participatif-rennes_fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_realisation.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection-a-venir.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/budget-participatif-rennes_vainqueur.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_collecte-des-propositions-1.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_selection-avec-vote-selon-le-budget.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_depot-ferme.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_selection-avec-vote-simple.csv
  features/commands/__snapshots__/project-pour-la-creation-de-la-capcobeer-visible-par-admin-seulement_collecte-des-propositions-pour-la-capcobeer.csv
  features/commands/__snapshots__/project-pour-la-force-visible-par-mauriau-seulement_collecte-des-propositions-pour-la-force.csv
  features/commands/__snapshots__/projet-avec-une-etape-de-participation-en-continue_collecte-avec-vote-simple-limite-1.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
  features/commands/__snapshots__/qui-doit-conquerir-le-monde-visible-par-les-admins-seulement_collecte-des-propositions-pour-conquerir-le-monde.csv
  features/commands/__snapshots__/un-avenir-meilleur-pour-les-nains-de-jardins-custom-access_collecte-des-propositions-liberer-les-nains-de-jardin.csv
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
Due: php, backend

Increase bundlesize
  package.json
Due: none

- Fixes after @mrpandat review
  app/Resources/js/components/Admin/SiteFavicon/SiteFaviconAdminPage.js
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  features/commands/__snapshots__/bp-avec-vote-classement_selection-avec-vote-classement-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_collecte-avec-vote-simple-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_selection-avec-vote-budget-limite.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-privee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_depot-avec-vote.csv
  features/commands/__snapshots__/budget-participatif-rennes_fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_realisation.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection-a-venir.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/budget-participatif-rennes_vainqueur.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_collecte-des-propositions-1.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_selection-avec-vote-selon-le-budget.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_depot-ferme.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_selection-avec-vote-simple.csv
  features/commands/__snapshots__/project-pour-la-creation-de-la-capcobeer-visible-par-admin-seulement_collecte-des-propositions-pour-la-capcobeer.csv
  features/commands/__snapshots__/project-pour-la-force-visible-par-mauriau-seulement_collecte-des-propositions-pour-la-force.csv
  features/commands/__snapshots__/projet-avec-une-etape-de-participation-en-continue_collecte-avec-vote-simple-limite-1.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
  features/commands/__snapshots__/qui-doit-conquerir-le-monde-visible-par-les-admins-seulement_collecte-des-propositions-pour-conquerir-le-monde.csv
  features/commands/__snapshots__/un-avenir-meilleur-pour-les-nains-de-jardins-custom-access_collecte-des-propositions-liberer-les-nains-de-jardin.csv
  package.json
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/SiteImage/SiteFaviconProcessor.php
Due: php, jest, flow, backend, frontend

- Fixes after @mrpandat review
  app/Resources/js/app.js
  app/Resources/js/components/Admin/SiteFavicon/SiteFaviconAdminPage.js
  app/Resources/js/components/User/Admin/MapAdminPage.js
  app/Resources/js/components/User/Admin/MapboxAdminConfig.js
  app/Resources/js/config.js
  app/Resources/js/redux/modules/user-test.js
  app/Resources/js/redux/modules/user.js
  src/Capco/AdminBundle/Admin/MapTokenAdmin.php
  src/Capco/AppBundle/Command/GenerateMapProviderPublicToken.php
  src/Capco/AppBundle/SiteImage/SiteFaviconProcessor.php
Due: php, jest, flow, backend, frontend

Fix useless logging
  app/Resources/js/app.js
  app/Resources/js/components/User/Admin/MapAdminPage.js
  app/Resources/js/components/User/Admin/MapboxAdminConfig.js
  app/Resources/js/config.js
  app/Resources/js/redux/modules/user-test.js
  app/Resources/js/redux/modules/user.js
  src/Capco/AdminBundle/Admin/MapTokenAdmin.php
  src/Capco/AppBundle/Command/GenerateMapProviderPublicToken.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #7035 from cap-collectif/complete-exports-for-rennes
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  features/commands/__snapshots__/bp-avec-vote-classement_selection-avec-vote-classement-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_collecte-avec-vote-simple-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_selection-avec-vote-budget-limite.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-privee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_depot-avec-vote.csv
  features/commands/__snapshots__/budget-participatif-rennes_fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_realisation.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection-a-venir.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/budget-participatif-rennes_vainqueur.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_collecte-des-propositions-1.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_selection-avec-vote-selon-le-budget.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_depot-ferme.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_selection-avec-vote-simple.csv
  features/commands/__snapshots__/project-pour-la-creation-de-la-capcobeer-visible-par-admin-seulement_collecte-des-propositions-pour-la-capcobeer.csv
  features/commands/__snapshots__/project-pour-la-force-visible-par-mauriau-seulement_collecte-des-propositions-pour-la-force.csv
  features/commands/__snapshots__/projet-avec-une-etape-de-participation-en-continue_collecte-avec-vote-simple-limite-1.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
  features/commands/__snapshots__/qui-doit-conquerir-le-monde-visible-par-les-admins-seulement_collecte-des-propositions-pour-conquerir-le-monde.csv
  features/commands/__snapshots__/un-avenir-meilleur-pour-les-nains-de-jardins-custom-access_collecte-des-propositions-liberer-les-nains-de-jardin.csv
  package.json
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
Due: graphql, php, backend

Merge pull request #7034 from cap-collectif/fix-6414-custom-map-background
  app/Resources/js/app.js
  app/Resources/js/components/User/Admin/MapAdminPage.js
  app/Resources/js/components/User/Admin/MapboxAdminConfig.js
  app/Resources/js/config.js
  app/Resources/js/redux/modules/user-test.js
  app/Resources/js/redux/modules/user.js
  src/Capco/AdminBundle/Admin/MapTokenAdmin.php
  src/Capco/AppBundle/Command/GenerateMapProviderPublicToken.php
Due: php, jest, flow, backend, frontend

Merge pull request #7038 from cap-collectif/fix-6635-custom-favicon
  app/Resources/js/components/Admin/SiteFavicon/SiteFaviconAdminPage.js
  src/Capco/AppBundle/SiteImage/SiteFaviconProcessor.php
Due: php, jest, flow, backend, frontend

[ADD] style for image uploader label button
  app/Resources/scss/modules/_form.scss
Due: none
