Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: auto
        threshold: null
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

Use ReplyTo in contact form instead of from_to
  src/Capco/AdminBundle/Admin/AnswerAdmin.php
  src/Capco/AdminBundle/Admin/ArgumentAdmin.php
  src/Capco/AdminBundle/Admin/CommentAdmin.php
  src/Capco/AdminBundle/Admin/EventAdmin.php
  src/Capco/AdminBundle/Admin/OpinionAdmin.php
  src/Capco/AdminBundle/Admin/OpinionVersionAdmin.php
  src/Capco/AdminBundle/Admin/OpinionVoteAdmin.php
  src/Capco/AdminBundle/Admin/PostAdmin.php
  src/Capco/AdminBundle/Admin/ProjectAdmin.php
  src/Capco/AdminBundle/Admin/SourceAdmin.php
  src/Capco/AdminBundle/Admin/ThemeAdmin.php
  src/Capco/AdminBundle/Admin/VideoAdmin.php
  src/Capco/AppBundle/Mailer/MailerService.php
Due: php, backend

Merge pull request #7296 from cap-collectif/7293-use-replyto
  src/Capco/AdminBundle/Admin/AnswerAdmin.php
  src/Capco/AdminBundle/Admin/ArgumentAdmin.php
  src/Capco/AdminBundle/Admin/CommentAdmin.php
  src/Capco/AdminBundle/Admin/EventAdmin.php
  src/Capco/AdminBundle/Admin/OpinionAdmin.php
  src/Capco/AdminBundle/Admin/OpinionVersionAdmin.php
  src/Capco/AdminBundle/Admin/OpinionVoteAdmin.php
  src/Capco/AdminBundle/Admin/PostAdmin.php
  src/Capco/AdminBundle/Admin/ProjectAdmin.php
  src/Capco/AdminBundle/Admin/SourceAdmin.php
  src/Capco/AdminBundle/Admin/ThemeAdmin.php
  src/Capco/AdminBundle/Admin/VideoAdmin.php
Due: php, backend

- Added base files
  src/Capco/AppBundle/DataCollector/ElasticsearchCollector.php
  src/Capco/AppBundle/Mailer/MailerService.php
  src/Capco/AppBundle/Resources/config/services/data_collectors.yml
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch.html.twig
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch_logo.svg.twig
Due: php, backend

Add toggle for a share button on homepage header
  app/DoctrineMigrations/Version20190215115957.php
  app/Resources/js/components/Utils/ShareButtonDropdown.js
  app/Resources/js/startup/ShareButtonDropdownApp.js
  src/Capco/AdminBundle/Resources/views/Settings/list.html.twig
  src/Capco/AppBundle/DataCollector/ElasticsearchCollector.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
  src/Capco/AppBundle/Mailer/MailerService.php
  src/Capco/AppBundle/Resources/config/services/data_collectors.yml
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch.html.twig
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch_logo.svg.twig
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
Due: php, jest, flow, backend, frontend

Disable homepage share_button by default
  app/DoctrineMigrations/Version20190215115957.php
Due: none

- Added ElasticsearchLogger and modified DataCollectir views
  app/DoctrineMigrations/Version20190215115957.php
  app/Resources/js/components/Utils/ShareButtonDropdown.js
  app/Resources/js/startup/ShareButtonDropdownApp.js
  src/Capco/AdminBundle/Resources/views/Settings/list.html.twig
  src/Capco/AppBundle/DataCollector/ElasticsearchCollector.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
  src/Capco/AppBundle/Elasticsearch/ElasticsearchLogger.php
  src/Capco/AppBundle/Mailer/MailerService.php
  src/Capco/AppBundle/Resources/config/services/data_collectors.yml
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch.html.twig
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch_logo.svg.twig
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
Due: php, jest, flow, backend, frontend

#7070-EVENT load infos event marker on click
  app/DoctrineMigrations/Version20190215115957.php
  app/Resources/js/components/Event/Map/EventMap-test.js
  app/Resources/js/components/Event/Map/EventMap.js
  app/Resources/js/components/Event/Map/LeafletMap-test.js
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Event/Map/__snapshots__/EventMap-test.js.snap
  app/Resources/js/components/Utils/ShareButtonDropdown.js
  app/Resources/js/redux/modules/event.js
  app/Resources/js/startup/ShareButtonDropdownApp.js
  src/Capco/AdminBundle/Resources/views/Settings/list.html.twig
  src/Capco/AppBundle/DataCollector/ElasticsearchCollector.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
  src/Capco/AppBundle/Elasticsearch/ElasticsearchLogger.php
  src/Capco/AppBundle/Mailer/MailerService.php
  src/Capco/AppBundle/Resources/config/services/data_collectors.yml
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch.html.twig
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch_logo.svg.twig
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
Due: php, jest, flow, backend, frontend

#7070-EVENT fix event map
  app/Resources/js/components/Event/Map/EventMap.js
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Event/Map/__snapshots__/LeafletMap-test.js.snap
  app/Resources/scss/modules/_leaflet.scss
Due: jest, flow, frontend

- Added ES client to support logging incoming ES requests - Added ES Logger to collect informations about any ES request
  app/DoctrineMigrations/Version20190215115957.php
  app/Resources/js/components/Event/Map/EventMap-test.js
  app/Resources/js/components/Event/Map/EventMap.js
  app/Resources/js/components/Event/Map/LeafletMap-test.js
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Event/Map/__snapshots__/EventMap-test.js.snap
  app/Resources/js/components/Event/Map/__snapshots__/LeafletMap-test.js.snap
  app/Resources/js/components/Utils/ShareButtonDropdown.js
  app/Resources/js/redux/modules/event.js
  app/Resources/js/startup/ShareButtonDropdownApp.js
  app/Resources/scss/modules/_leaflet.scss
  src/Capco/AdminBundle/Resources/views/Settings/list.html.twig
  src/Capco/AppBundle/DataCollector/ElasticsearchCollector.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
  src/Capco/AppBundle/Elasticsearch/Client.php
  src/Capco/AppBundle/Elasticsearch/ElasticsearchLogger.php
  src/Capco/AppBundle/Mailer/MailerService.php
  src/Capco/AppBundle/Resources/config/services/data_collectors.yml
  src/Capco/AppBundle/Resources/config/services/elasticsearch.yml
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch.html.twig
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch_logo.svg.twig
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
Due: php, jest, flow, backend, frontend

Question type now use GraphQL global ids instead of int
  app/DoctrineMigrations/Version20190215115957.php
  app/Resources/js/components/Utils/ShareButtonDropdown.js
  app/Resources/js/startup/ShareButtonDropdownApp.js
  features/api/users.feature
  features/graphql/mutations/UpdateReply.feature
  features/graphql/mutations/addReply.feature
  features/graphql/mutations/changeProposalEvaluation.feature
  features/graphql/mutations/createProposal.feature
  features/graphql/mutations/updateProposal.feature
  features/graphql/mutations/updateProposalForm.feature
  features/graphql/mutations/updateQuestionnaire.feature
  features/graphql/query/node.feature
  features/graphql/types/proposalForm/proposalForm.feature
  features/graphql/types/questionnaire/questionnaire.feature
  schema.internal.graphql
  src/Capco/AdminBundle/Resources/views/Settings/list.html.twig
  src/Capco/AppBundle/Command/EncodeGlobalIdCommand.php
  src/Capco/AppBundle/DataCollector/ElasticsearchCollector.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
  src/Capco/AppBundle/Elasticsearch/Client.php
  src/Capco/AppBundle/Elasticsearch/ElasticsearchLogger.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
  src/Capco/AppBundle/GraphQL/Traits/QuestionPersisterTrait.php
  src/Capco/AppBundle/Helper/ResponsesFormatter.php
  src/Capco/AppBundle/Mailer/MailerService.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalSimpleQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/MediaQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/MultipleChoiceQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/SectionQuestion.types.yml
  src/Capco/AppBundle/Resources/config/services/data_collectors.yml
  src/Capco/AppBundle/Resources/config/services/elasticsearch.yml
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch.html.twig
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch_logo.svg.twig
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
Due: graphql, php, jest, flow, backend, frontend

- Added $debug variable, that will keep track of ES queries based of %kernel.debug value - Modified elasticsearch view data collector to show a nice table
  app/DoctrineMigrations/Version20190215115957.php
  app/Resources/js/components/Utils/ShareButtonDropdown.js
  app/Resources/js/startup/ShareButtonDropdownApp.js
  features/api/users.feature
  features/graphql/mutations/UpdateReply.feature
  features/graphql/mutations/addReply.feature
  features/graphql/mutations/changeProposalEvaluation.feature
  features/graphql/mutations/createProposal.feature
  features/graphql/mutations/updateProposal.feature
  features/graphql/mutations/updateProposalForm.feature
  features/graphql/mutations/updateQuestionnaire.feature
  features/graphql/query/node.feature
  features/graphql/types/proposalForm/proposalForm.feature
  features/graphql/types/questionnaire/questionnaire.feature
  schema.internal.graphql
  src/Capco/AdminBundle/Resources/views/Settings/list.html.twig
  src/Capco/AppBundle/Command/EncodeGlobalIdCommand.php
  src/Capco/AppBundle/DataCollector/ElasticsearchCollector.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
  src/Capco/AppBundle/Elasticsearch/Client.php
  src/Capco/AppBundle/Elasticsearch/ElasticsearchLogger.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
  src/Capco/AppBundle/GraphQL/Traits/QuestionPersisterTrait.php
  src/Capco/AppBundle/Helper/ResponsesFormatter.php
  src/Capco/AppBundle/Mailer/MailerService.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalSimpleQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/MediaQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/MultipleChoiceQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/SectionQuestion.types.yml
  src/Capco/AppBundle/Resources/config/services/data_collectors.yml
  src/Capco/AppBundle/Resources/config/services/elasticsearch.yml
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch.html.twig
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch_logo.svg.twig
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
Due: graphql, php, jest, flow, backend, frontend

- Used correct Elastic search client in tests for ES snapshots
  src/Capco/AppBundle/Behat/ApplicationContext.php
Due: backend

Merge pull request #7303 from cap-collectif/7070-event-page
  app/DoctrineMigrations/Version20190215115957.php
  app/Resources/js/components/Event/Map/EventMap-test.js
  app/Resources/js/components/Event/Map/EventMap.js
  app/Resources/js/components/Event/Map/LeafletMap-test.js
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Event/Map/__snapshots__/EventMap-test.js.snap
  app/Resources/js/components/Event/Map/__snapshots__/LeafletMap-test.js.snap
  app/Resources/js/components/Utils/ShareButtonDropdown.js
  app/Resources/js/redux/modules/event.js
  app/Resources/js/startup/ShareButtonDropdownApp.js
  app/Resources/scss/modules/_leaflet.scss
  src/Capco/AdminBundle/Resources/views/Settings/list.html.twig
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/DataCollector/ElasticsearchCollector.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
  src/Capco/AppBundle/Elasticsearch/Client.php
  src/Capco/AppBundle/Elasticsearch/ElasticsearchLogger.php
  src/Capco/AppBundle/Mailer/MailerService.php
  src/Capco/AppBundle/Resources/config/services/data_collectors.yml
  src/Capco/AppBundle/Resources/config/services/elasticsearch.yml
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch.html.twig
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch_logo.svg.twig
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
Due: php, jest, flow, backend, frontend

Merge pull request #7302 from cap-collectif/use-global-graphql-ids-for-questions
  features/api/users.feature
  features/graphql/mutations/UpdateReply.feature
  features/graphql/mutations/addReply.feature
  features/graphql/mutations/changeProposalEvaluation.feature
  features/graphql/mutations/createProposal.feature
  features/graphql/mutations/updateProposal.feature
  features/graphql/mutations/updateProposalForm.feature
  features/graphql/mutations/updateQuestionnaire.feature
  features/graphql/query/node.feature
  features/graphql/types/proposalForm/proposalForm.feature
  features/graphql/types/questionnaire/questionnaire.feature
  schema.internal.graphql
  src/Capco/AppBundle/Command/EncodeGlobalIdCommand.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
  src/Capco/AppBundle/GraphQL/Traits/QuestionPersisterTrait.php
  src/Capco/AppBundle/Helper/ResponsesFormatter.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalSimpleQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/MediaQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/MultipleChoiceQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/SectionQuestion.types.yml
Due: graphql, php, backend

#7235-FIX sort onChange not onBlur
  app/Resources/js/components/Consultation/OpinionList.js
Due: jest, flow, frontend

#7235-FIX sort onChange and onBlur
  app/Resources/js/components/Consultation/OpinionList.js
Due: jest, flow, frontend

[ADD] questionnaire admin text results
  app/Resources/js/components/Consultation/OpinionList.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsText.js
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResults-test.js.snap
Due: jest, flow, frontend

[ADD] pagination for questionnaire adlin results text
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsText.js
  app/Resources/js/components/Ui/List/ListGroupFlush.js
  app/Resources/js/components/Vote/VoteListProfile.js
Due: jest, flow, frontend

[ADD] questionnaire admin results media + pagination
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsMedia.js
Due: jest, flow, frontend

[ADD] medias elements
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsMedia.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsText.js
  app/Resources/js/components/Ui/List/ListGroupFlush.js
  app/Resources/scss/base/_bootstrap4.scss
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
Due: graphql, php, jest, flow, backend, frontend

[CHG] apply element to spread element
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsMedia.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsText.js
Due: jest, flow, frontend

[ADD] file svg
  app/Resources/svg/file.svg
Due: none

[ADD] fileIcon & size
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsMedia.js
  app/Resources/js/components/Ui/Icons/FileIcon.js
  app/Resources/js/utils/colors.js
  app/Resources/svg/file.svg
  src/Capco/AppBundle/Resources/views/Default/custom.css.twig
Due: php, jest, flow, backend, frontend

[ADD] function for media size
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsMedia.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsText.js
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResults-test.js.snap
  app/Resources/js/components/Utils/FormattedMediaSize.js
Due: jest, flow, frontend

[ADD] test for text responses
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsText-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsText.js
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResultsText-test.js.snap
Due: jest, flow, frontend

[ADD] test for medias responses
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsMedia-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsMedia.js
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResultsMedia-test.js.snap
Due: jest, flow, frontend

[RBS]
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
  src/Capco/AppBundle/Resources/views/Default/custom.css.twig
Due: graphql, php, backend

[RMV] useless in_array
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
Due: graphql, php, backend

[RBS]
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
Due: graphql, php, backend

[ADD] default striped props for list group flush
  app/Resources/js/components/Project/Page/__snapshots__/UserGroupModal-test.js.snap
  app/Resources/js/components/Project/Page/__snapshots__/UserInGroupModal-test.js.snap
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailLikersModal-test.js.snap
  app/Resources/js/components/Ui/List/ListGroupFlush.js
Due: jest, flow, frontend

#7307-QUESTION fix
  app/Resources/js/components/Project/Page/__snapshots__/UserGroupModal-test.js.snap
  app/Resources/js/components/Project/Page/__snapshots__/UserInGroupModal-test.js.snap
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailLikersModal-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsMedia-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsMedia.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsText-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsText.js
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResults-test.js.snap
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResultsMedia-test.js.snap
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResultsText-test.js.snap
  app/Resources/js/components/Ui/Icons/FileIcon.js
  app/Resources/js/components/Ui/List/ListGroupFlush.js
  app/Resources/js/components/Utils/FormattedMediaSize.js
  app/Resources/js/components/Vote/VoteListProfile.js
  app/Resources/js/utils/colors.js
  app/Resources/scss/base/_bootstrap4.scss
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/Resources/views/Default/custom.css.twig
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #7305 from cap-collectif/7059-feat-elasticsearch-profiler
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/DataCollector/ElasticsearchCollector.php
  src/Capco/AppBundle/Elasticsearch/Client.php
  src/Capco/AppBundle/Elasticsearch/ElasticsearchLogger.php
  src/Capco/AppBundle/Resources/config/services/data_collectors.yml
  src/Capco/AppBundle/Resources/config/services/elasticsearch.yml
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch.html.twig
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch_logo.svg.twig
Due: php, backend

Merge pull request #7306 from cap-collectif/7235-FIX-sort-consultation
  app/Resources/js/components/Consultation/OpinionList.js
Due: jest, flow, frontend

Merge pull request #7230 from cap-collectif/7081-admin-questionnaire-results
  app/Resources/js/components/Project/Page/__snapshots__/UserGroupModal-test.js.snap
  app/Resources/js/components/Project/Page/__snapshots__/UserInGroupModal-test.js.snap
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailLikersModal-test.js.snap
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsMedia-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsMedia.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsText-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsText.js
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResults-test.js.snap
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResultsMedia-test.js.snap
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResultsText-test.js.snap
  app/Resources/js/components/Ui/Icons/FileIcon.js
  app/Resources/js/components/Ui/List/ListGroupFlush.js
  app/Resources/js/components/Utils/FormattedMediaSize.js
  app/Resources/js/components/Vote/VoteListProfile.js
  app/Resources/js/utils/colors.js
  app/Resources/scss/base/_bootstrap4.scss
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/Resources/views/Default/custom.css.twig
Due: graphql, php, jest, flow, backend, frontend

[ADD] autoPanPadding for popup on leaflet
  app/Resources/js/components/Consultation/OpinionList.js
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Project/Page/__snapshots__/UserGroupModal-test.js.snap
  app/Resources/js/components/Project/Page/__snapshots__/UserInGroupModal-test.js.snap
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailLikersModal-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsMedia-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsMedia.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsText-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsText.js
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResults-test.js.snap
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResultsMedia-test.js.snap
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResultsText-test.js.snap
  app/Resources/js/components/Ui/Icons/FileIcon.js
  app/Resources/js/components/Ui/List/ListGroupFlush.js
  app/Resources/js/components/Utils/FormattedMediaSize.js
  app/Resources/js/components/Vote/VoteListProfile.js
  app/Resources/js/utils/colors.js
  app/Resources/scss/base/_bootstrap4.scss
  app/Resources/scss/modules/_event.scss
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/DataCollector/ElasticsearchCollector.php
  src/Capco/AppBundle/Elasticsearch/Client.php
  src/Capco/AppBundle/Elasticsearch/ElasticsearchLogger.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/Resources/config/services/data_collectors.yml
  src/Capco/AppBundle/Resources/config/services/elasticsearch.yml
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch.html.twig
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch_logo.svg.twig
  src/Capco/AppBundle/Resources/views/Default/custom.css.twig
Due: graphql, php, jest, flow, backend, frontend

[RMV] useless lines
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/scss/modules/_event.scss
Due: jest, flow, frontend

Merge pull request #7312 from cap-collectif/7202-event-map-vignette
  app/Resources/js/components/Consultation/OpinionList.js
  app/Resources/js/components/Project/Page/__snapshots__/UserGroupModal-test.js.snap
  app/Resources/js/components/Project/Page/__snapshots__/UserInGroupModal-test.js.snap
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailLikersModal-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsMedia-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsMedia.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsText-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsText.js
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResults-test.js.snap
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResultsMedia-test.js.snap
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResultsText-test.js.snap
  app/Resources/js/components/Ui/Icons/FileIcon.js
  app/Resources/js/components/Ui/List/ListGroupFlush.js
  app/Resources/js/components/Utils/FormattedMediaSize.js
  app/Resources/js/components/Vote/VoteListProfile.js
  app/Resources/js/utils/colors.js
  app/Resources/scss/base/_bootstrap4.scss
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/DataCollector/ElasticsearchCollector.php
  src/Capco/AppBundle/Elasticsearch/Client.php
  src/Capco/AppBundle/Elasticsearch/ElasticsearchLogger.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/Resources/config/services/data_collectors.yml
  src/Capco/AppBundle/Resources/config/services/elasticsearch.yml
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch.html.twig
  src/Capco/AppBundle/Resources/views/DataCollector/elasticsearch_logo.svg.twig
  src/Capco/AppBundle/Resources/views/Default/custom.css.twig
Due: graphql, php, jest, flow, backend, frontend

#7309-SONATA display 1000 users with best match
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Project/Page/__snapshots__/UserGroupModal-test.js.snap
  app/Resources/js/components/Project/Page/__snapshots__/UserInGroupModal-test.js.snap
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailLikersModal-test.js.snap
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsMedia-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsMedia.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsText-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsText.js
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResults-test.js.snap
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResultsMedia-test.js.snap
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResultsText-test.js.snap
  app/Resources/js/components/Ui/Icons/FileIcon.js
  app/Resources/js/components/Ui/List/ListGroupFlush.js
  app/Resources/js/components/Utils/FormattedMediaSize.js
  app/Resources/js/components/Vote/VoteListProfile.js
  app/Resources/js/utils/colors.js
  app/Resources/scss/base/_bootstrap4.scss
  app/Resources/scss/modules/_event.scss
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/Resources/views/Default/custom.css.twig
  src/Capco/AppBundle/Search/UserSearch.php
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #7311 from cap-collectif/7309-sonata-search-users
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Project/Page/__snapshots__/UserGroupModal-test.js.snap
  app/Resources/js/components/Project/Page/__snapshots__/UserInGroupModal-test.js.snap
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailLikersModal-test.js.snap
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsMedia-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsMedia.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsText-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsText.js
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResults-test.js.snap
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResultsMedia-test.js.snap
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResultsText-test.js.snap
  app/Resources/js/components/Ui/Icons/FileIcon.js
  app/Resources/js/components/Ui/List/ListGroupFlush.js
  app/Resources/js/components/Utils/FormattedMediaSize.js
  app/Resources/js/components/Vote/VoteListProfile.js
  app/Resources/js/utils/colors.js
  app/Resources/scss/base/_bootstrap4.scss
  app/Resources/scss/modules/_event.scss
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/Resources/views/Default/custom.css.twig
Due: graphql, php, jest, flow, backend, frontend

improve hasParticipativeStep method in project entity
  src/Capco/AppBundle/Entity/Project.php
Due: php, backend
