Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: auto
        threshold: null
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

EXPORT-EVENTS 2eme tentative
  app/Resources/js-server/registration.js
  app/Resources/js/components/Event/Admin/AdminExportButton-test.js
  app/Resources/js/components/Event/Admin/AdminExportButton.js
  app/Resources/js/registration.js
  app/Resources/js/startup/AdminExportButtonApp.js
  schema.internal.graphql
  src/Capco/AdminBundle/Resources/views/standard_layout.html.twig
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
Due: php, jest, flow, backend, frontend

EXPORT-EVENTS requested changes
  app/Resources/js/components/Event/Admin/AdminExportButton.js
Due: jest, flow, frontend

EXPORT-EVENTS missing snapshots
  app/Resources/js/components/Event/Admin/__snapshots__/AdminExportButton-test.js.snap
Due: jest, flow, frontend

Add cache for fusion count
  app/DoctrineMigrations/Version20190205145653.php
  app/Resources/js-server/registration.js
  app/Resources/js/components/Event/Admin/AdminExportButton-test.js
  app/Resources/js/components/Event/Admin/AdminExportButton.js
  app/Resources/js/components/Event/Admin/__snapshots__/AdminExportButton-test.js.snap
  app/Resources/js/registration.js
  app/Resources/js/startup/AdminExportButtonApp.js
  schema.internal.graphql
  src/Capco/AdminBundle/Resources/views/standard_layout.html.twig
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/GraphQL/DataLoader/ProposalForm/ProposalFormProposalsDataLoader.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
Due: graphql, php, jest, flow, backend, frontend

7171-EXPORT fix exports
  app/DoctrineMigrations/Version20190205145653.php
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/GraphQL/DataLoader/ProposalForm/ProposalFormProposalsDataLoader.php
Due: graphql, php, backend

Fix consultation votes count not updating
  src/Capco/AppBundle/Command/RecalculateCountersCommand.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectVotesResolver.php
Due: graphql, php, backend

Merge pull request #7177 from cap-collectif/add-cache-for-fusion-count
  app/DoctrineMigrations/Version20190205145653.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/GraphQL/DataLoader/ProposalForm/ProposalFormProposalsDataLoader.php
Due: graphql, php, backend

fix bug
  app/Resources/js/components/User/Profile/NotificationsForm.js
Due: jest, flow, frontend

Merge pull request #7175 from cap-collectif/export-events
  app/Resources/js-server/registration.js
  app/Resources/js/components/Event/Admin/AdminExportButton-test.js
  app/Resources/js/components/Event/Admin/AdminExportButton.js
  app/Resources/js/components/Event/Admin/__snapshots__/AdminExportButton-test.js.snap
  app/Resources/js/components/User/Profile/NotificationsForm.js
  app/Resources/js/registration.js
  app/Resources/js/startup/AdminExportButtonApp.js
  schema.internal.graphql
  src/Capco/AdminBundle/Resources/views/standard_layout.html.twig
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
Due: php, jest, flow, backend, frontend

Use an API driven transport for swiftmailer and Mandrill instead of SMTP
  app/AppKernel.php
  app/config/config.yml
  app/config/config_prod.yml
  app/config/swiftmailer.yml
  composer.json
  composer.lock
Due: none

Add an index for reply counter
  app/AppKernel.php
  app/DoctrineMigrations/Version20190205163530.php
  app/config/config.yml
  app/config/config_prod.yml
  app/config/swiftmailer.yml
  composer.json
  composer.lock
Due: none

Add index for reply counter
  app/DoctrineMigrations/Version20190206111531.php
  src/Capco/AppBundle/Entity/Reply.php
Due: php, backend

Clean
  app/DoctrineMigrations/Version20190206111531.php
Due: none

fix trad
  app/DoctrineMigrations/Version20190206111531.php
  app/Resources/js-server/registration.js
  app/Resources/js/components/Event/Admin/AdminExportButton-test.js
  app/Resources/js/components/Event/Admin/AdminExportButton.js
  app/Resources/js/components/Event/Admin/__snapshots__/AdminExportButton-test.js.snap
  app/Resources/js/components/User/Profile/NotificationsForm.js
  app/Resources/js/registration.js
  app/Resources/js/startup/AdminExportButtonApp.js
  schema.internal.graphql
  src/Capco/AdminBundle/Resources/views/standard_layout.html.twig
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/Entity/Reply.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
Due: php, jest, flow, backend, frontend

[ADD] class for userpreview
  app/Resources/js-server/registration.js
  app/Resources/js/components/Event/Admin/AdminExportButton-test.js
  app/Resources/js/components/Event/Admin/AdminExportButton.js
  app/Resources/js/components/Event/Admin/__snapshots__/AdminExportButton-test.js.snap
  app/Resources/js/components/User/Profile/NotificationsForm.js
  app/Resources/js/components/User/UserPreview.js
  app/Resources/js/registration.js
  app/Resources/js/startup/AdminExportButtonApp.js
  schema.internal.graphql
  src/Capco/AdminBundle/Resources/views/standard_layout.html.twig
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
Due: php, jest, flow, backend, frontend

Merge pull request #7174 from cap-collectif/7167-swiftmailer-mandrill
  app/AppKernel.php
  app/Resources/js/components/User/UserPreview.js
  app/config/config.yml
  app/config/config_prod.yml
  app/config/swiftmailer.yml
  composer.json
  composer.lock
Due: jest, flow, frontend

Merge pull request #7179 from cap-collectif/add-index-for-reply-counter
  app/DoctrineMigrations/Version20190206111531.php
  src/Capco/AppBundle/Entity/Reply.php
Due: php, backend

Add user email index
  app/DoctrineMigrations/Version20190206152535.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
Due: php, backend

Fix index not used correctly
  app/DoctrineMigrations/Version20190206152914.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
Due: php, backend

Fetch more data to avoid hasNetPage=false
  app/DoctrineMigrations/Version20190206152914.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/GraphQL/DataLoader/ProposalForm/ProposalFormProposalsDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
Due: graphql, php, backend

update bower to 1.8.8 because of security break
  infrastructure/services/remote/Dockerfile
  src/Capco/AppBundle/GraphQL/DataLoader/ProposalForm/ProposalFormProposalsDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
Due: graphql, php, backend

update sentry bundle to 2.3.0 to solve sentry binary bug
  app/config/config_prod.yml
  composer.lock
Due: none

[ADD] inline list for event theme
  app/Resources/js/components/Event/EventPreview.js
  app/Resources/js/components/Event/__snapshots__/EventPreview-test.js.snap
  app/Resources/js/components/Ui/List/InlineList.js
  app/Resources/scss/base/_base.scss
  app/config/config_prod.yml
  composer.lock
  infrastructure/services/remote/Dockerfile
Due: jest, flow, frontend

Merge pull request #7187 from cap-collectif/7183-text-author-vote
  app/Resources/js/components/Event/EventPreview.js
  app/Resources/js/components/Event/__snapshots__/EventPreview-test.js.snap
  app/Resources/js/components/Ui/List/InlineList.js
  app/Resources/js/components/User/UserPreview.js
  app/Resources/scss/base/_base.scss
  app/config/config_prod.yml
  composer.lock
  infrastructure/services/remote/Dockerfile
Due: jest, flow, frontend

Merge pull request #7195 from cap-collectif/fetch-more-to-avoid-has-next-page-error
  src/Capco/AppBundle/GraphQL/DataLoader/ProposalForm/ProposalFormProposalsDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
Due: graphql, php, backend

Merge pull request #7186 from cap-collectif/6819-bug-consent-display
  app/Resources/js/components/User/Profile/NotificationsForm.js
Due: jest, flow, frontend

More
  schema.internal.graphql
  src/Capco/AppBundle/Controller/Site/DeveloperController.php
  src/Capco/AppBundle/Resources/config/graphql/preview/PreviewQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/decorator/PreviewWithProposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/enums/PreviewProjectOrderField.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/enums/PreviewProposalOrderField.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewProjectOrder.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewProposalOrder.types.yml
  src/Capco/AppBundle/Resources/config/graphql/public/enums/NotPublishedReason.types.yml
  src/Capco/AppBundle/Resources/config/graphql/public/enums/OrderDirection.types.yml
Due: php, backend

Fix
  src/Capco/AppBundle/Resources/config/graphql/public/enums/OrderDirection.types.yml
Due: php, backend

ADD-ERRORS display errors import csv events
  app/AppKernel.php
  app/DoctrineMigrations/Version20190206111531.php
  app/Resources/js-server/registration.js
  app/Resources/js/components/Event/Admin/AdminExportButton-test.js
  app/Resources/js/components/Event/Admin/AdminExportButton.js
  app/Resources/js/components/Event/Admin/AdminImportEventsCsvInput.js
  app/Resources/js/components/Event/Admin/AdminImportEventsForm.js
  app/Resources/js/components/Event/Admin/__snapshots__/AdminExportButton-test.js.snap
  app/Resources/js/components/Event/EventPreview.js
  app/Resources/js/components/Event/__snapshots__/EventPreview-test.js.snap
  app/Resources/js/components/Ui/List/InlineList.js
  app/Resources/js/mutations/AddEventsMutation.js
  app/Resources/js/registration.js
  app/Resources/js/startup/AdminExportButtonApp.js
  app/Resources/scss/base/_base.scss
  app/Resources/scss/base/_utils.scss
  app/config/config.yml
  app/config/config_prod.yml
  app/config/swiftmailer.yml
  composer.json
  composer.lock
  schema.internal.graphql
  src/Capco/AdminBundle/Resources/views/standard_layout.html.twig
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/Entity/Reply.php
  src/Capco/AppBundle/GraphQL/Mutation/AddEventsMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/InternalAddEventsPayload.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #7197 from cap-collectif/add-user-email-index
  app/DoctrineMigrations/Version20190206152535.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
Due: php, backend

Merge pull request #7196 from cap-collectif/fix-proposal-query-not-using-index
  app/DoctrineMigrations/Version20190206152914.php
  src/Capco/AppBundle/Entity/Proposal.php
Due: php, backend

[7043-TRASH] Add frontend logic to trashed.
  app/Resources/js/components/Argument/ArgumentItem.js
  app/Resources/js/components/Argument/__snapshots__/ArgumentItem-test.js.snap
  app/Resources/js/components/Opinion/OpinionBodyDiffContent.js
  app/Resources/js/components/Opinion/OpinionBox.js
  app/Resources/js/components/Opinion/Source/OpinionSource.js
  app/Resources/js/components/Opinion/Source/__snapshots__/OpinionSource-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalPageHeader.js
  app/Resources/js/components/Proposal/Page/ProposalPageTabs.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageHeader-test.js.snap
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageTabs-test.js.snap
  app/Resources/js/components/Trashed/TrashedMessage.js
Due: jest, flow, frontend

[7043-TRASH] Add E2E tests.
  features/front/opinion_versions.feature
Due: none

[7043-TRASH] Add more E2E test.
  src/Capco/AppBundle/Behat/Page/OpinionVersionPage.php
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
  src/Capco/AppBundle/Controller/Api/OpinionsController.php
  src/Capco/AppBundle/Resources/views/Argument/blockArgument.html.twig
Due: php, backend

disabled button
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  app/Resources/js/components/Argument/ArgumentItem.js
  app/Resources/js/components/Argument/__snapshots__/ArgumentItem-test.js.snap
  app/Resources/js/components/Opinion/OpinionBodyDiffContent.js
  app/Resources/js/components/Opinion/OpinionBox.js
  app/Resources/js/components/Opinion/Source/OpinionSource.js
  app/Resources/js/components/Opinion/Source/__snapshots__/OpinionSource-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalPageHeader.js
  app/Resources/js/components/Proposal/Page/ProposalPageTabs.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageHeader-test.js.snap
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageTabs-test.js.snap
  app/Resources/js/components/Trashed/TrashedMessage.js
  features/front/opinion_versions.feature
  src/Capco/AppBundle/Behat/Page/OpinionVersionPage.php
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
  src/Capco/AppBundle/Controller/Api/OpinionsController.php
  src/Capco/AppBundle/Resources/views/Argument/blockArgument.html.twig
Due: php, jest, flow, backend, frontend

[7043-TRASH] Update snapshots.
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  app/Resources/js/components/Argument/ArgumentItem.js
  app/Resources/js/components/Argument/__snapshots__/ArgumentItem-test.js.snap
  app/Resources/js/components/Opinion/OpinionBodyDiffContent.js
  app/Resources/js/components/Opinion/OpinionBox.js
  app/Resources/js/components/Opinion/Source/OpinionSource.js
  app/Resources/js/components/Opinion/Source/__snapshots__/OpinionSource-test.js.snap
  app/Resources/js/components/Opinion/__snapshots__/OpinionBox-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalPageHeader.js
  app/Resources/js/components/Proposal/Page/ProposalPageTabs.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageHeader-test.js.snap
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageTabs-test.js.snap
  app/Resources/js/components/Trashed/TrashedMessage.js
  features/front/opinion_versions.feature
  src/Capco/AppBundle/Behat/Page/OpinionVersionPage.php
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
  src/Capco/AppBundle/Controller/Api/OpinionsController.php
  src/Capco/AppBundle/Resources/views/Argument/blockArgument.html.twig
Due: php, jest, flow, backend, frontend
