Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

Merge pull request #7792 from cap-collectif/add-command-to-generate-a-public-api-token
  features/commands/api.feature
  src/Capco/AppBundle/Command/Api/CreatePublicApiTokenCommand.php
Due: php, backend

Merge pull request #7784 from cap-collectif/7776-export-proposalstep
  spec/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolverSpec.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalStatusDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Post/PostRelatedContentTypeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalStatusResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/public/PublicQuery.types.yml
Due: graphql, php, backend

Correct some types in API reference
  src/Capco/AppBundle/Controller/Site/DeveloperController.php
  src/Capco/AppBundle/Resources/views/Developer/guides.html.twig
Due: php, backend

REMOVE-SENSITIVE Remove varnish Via header because of sending version number of Varnish.
  infrastructure/services/remote/varnish/capco.vcl
  src/Capco/AppBundle/Controller/Site/DeveloperController.php
  src/Capco/AppBundle/Resources/views/Developer/guides.html.twig
Due: php, backend

Merge pull request #7794 from cap-collectif/fix-api-reference
  infrastructure/services/remote/varnish/capco.vcl
  src/Capco/AppBundle/Controller/Site/DeveloperController.php
  src/Capco/AppBundle/Resources/views/Developer/guides.html.twig
Due: php, backend

Make sure we throw an exception when JS condition failed, instead of continue execution
  app/Resources/js/components/Opinion/OpinionBox.js
  app/Resources/js/components/Opinion/__snapshots__/OpinionBox-test.js.snap
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Proposal/Page/ProposalPageContent.js
  app/Resources/js/components/Proposal/Page/ProposalPageHeader.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageContent-test.js.snap
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageHeader-test.js.snap
  features/front/project.feature
  features/front/proposal_votes.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/DefaultContext.php
  src/Capco/AppBundle/Behat/Page/CollectPage.php
  src/Capco/AppBundle/Behat/Page/OpinionPage.php
  src/Capco/AppBundle/Behat/Page/OpinionVersionPage.php
  src/Capco/AppBundle/Behat/Page/SelectionPage.php
  src/Capco/AppBundle/Behat/Traits/AdminProposalFormTrait.php
  src/Capco/AppBundle/Behat/Traits/AdminProposalTrait.php
  src/Capco/AppBundle/Behat/Traits/AdminTrait.php
  src/Capco/AppBundle/Behat/Traits/AdminUserTrait.php
  src/Capco/AppBundle/Behat/Traits/CookiesTrait.php
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
  src/Capco/AppBundle/Behat/Traits/ProposalEvaluationTrait.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
  src/Capco/AppBundle/Behat/Traits/QuestionnaireStepsTrait.php
  src/Capco/AppBundle/Behat/Traits/ReportingStepsTrait.php
  src/Capco/AppBundle/Behat/Traits/SharingStepsTrait.php
  src/Capco/AppBundle/Behat/UserContext.php
Due: jest, flow, backend, frontend

Add usage of new method when appropriate
  app/Resources/js/components/Project/Votes/ProposalsUserVotesPage.js
  features/front/arguments.feature
  features/front/profile.feature
  features/front/proposal_votes.feature
  features/graphql/query/project_comments.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Page/CollectPage.php
  src/Capco/AppBundle/Behat/Page/OpinionPage.php
  src/Capco/AppBundle/Behat/Page/OpinionVersionPage.php
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
  src/Capco/AppBundle/Behat/Traits/ProjectStepsTrait.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: jest, flow, backend, frontend

Remove sonata controller form user admin edit page
  src/Capco/AdminBundle/Admin/UserAdmin.php
  src/Capco/AdminBundle/Controller/UserController.php
  src/Capco/AdminBundle/Resources/views/User/edit.html.twig
  src/Capco/AppBundle/Twig/ThemeExtension.php
Due: php, backend

7616-NOTFICATION - Change email template
  src/Capco/AdminBundle/Admin/UserAdmin.php
  src/Capco/AdminBundle/Controller/UserController.php
  src/Capco/AdminBundle/Resources/views/User/edit.html.twig
  src/Capco/AppBundle/Mailer/Message/User/UserConfirmEmailChangedMessage.php
  src/Capco/AppBundle/Mailer/templates/confirmEmailChange.html.twig
  src/Capco/AppBundle/Notifier/UserNotifier.php
  src/Capco/AppBundle/Twig/ThemeExtension.php
Due: php, backend

7616-NOTFICATION add notifier
  app/config/rabbitmq.yml
  app/config/swarrot.yml
  features/api/email.feature
  features/commands/consumers/user.feature
  src/Capco/AppBundle/Behat/snapshots/confirmEmailChange.html
  src/Capco/AppBundle/Controller/Api/UsersController.php
  src/Capco/AppBundle/Processor/User/UserEmailProcessor.php
Due: php, backend

7616-NOTFICATION fix tests
  src/Capco/AppBundle/Behat/snapshots/confirmPasswordChange.html
  src/Capco/AppBundle/Controller/Api/UsersController.php
  src/Capco/AppBundle/Mailer/templates/confirmPasswordChange.html.twig
Due: php, backend

7616-NOTFICATION fix tests
  infrastructure/services/local/supervisord/user.conf
  infrastructure/services/remote/supervisord/user.conf
  src/Capco/AppBundle/Behat/snapshots/confirmEmailChange.html
  src/Capco/AppBundle/Behat/snapshots/confirmPasswordChange.html
Due: backend

7616-NOTFICATION fix tests
  features/commands/consumers/user.feature
  src/Capco/AppBundle/Behat/snapshots/confirmEmailChange.html
  src/Capco/AppBundle/Behat/snapshots/confirmPasswordChange.html
  src/Capco/AppBundle/DataFixtures/ORM/Dev/User.yml
  src/Capco/AppBundle/Mailer/templates/confirmEmailChange.html.twig
  src/Capco/AppBundle/Mailer/templates/confirmPasswordChange.html.twig
Due: php, backend

Merge pull request #7796 from cap-collectif/remove-sensitive-header-varnish-via
  infrastructure/services/remote/varnish/capco.vcl
Due: none

Remove versions_count from opinion table
  app/DoctrineMigrations/Version20190515120509.php
  app/config/rabbitmq.yml
  app/config/swarrot.yml
  app/config/twig.yml
  features/api/email.feature
  features/commands/consumers/user.feature
  infrastructure/services/local/supervisord/user.conf
  infrastructure/services/remote/supervisord/user.conf
  infrastructure/services/remote/varnish/capco.vcl
  src/Capco/AppBundle/Behat/snapshots/confirmEmailChange.html
  src/Capco/AppBundle/Behat/snapshots/confirmPasswordChange.html
  src/Capco/AppBundle/Command/RecalculateCountersCommand.php
  src/Capco/AppBundle/Controller/Api/UsersController.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/User.yml
  src/Capco/AppBundle/Entity/Opinion.php
  src/Capco/AppBundle/GraphQL/Resolver/Opinion/OpinionVersionsResolver.php
  src/Capco/AppBundle/Mailer/Message/User/UserConfirmEmailChangedMessage.php
  src/Capco/AppBundle/Mailer/templates/confirmEmailChange.html.twig
  src/Capco/AppBundle/Mailer/templates/confirmPasswordChange.html.twig
  src/Capco/AppBundle/Notifier/UserNotifier.php
  src/Capco/AppBundle/Processor/User/UserEmailProcessor.php
  src/Capco/AppBundle/Resources/views/Opinion/blockOpinion.html.twig
  src/Capco/AppBundle/Resources/views/Project/show_trashed.html.twig
  src/Capco/AppBundle/Resources/views/Step/opinions_ranking.html.twig
  src/Capco/AppBundle/Resources/views/Step/ranking.html.twig
  src/Capco/AppBundle/Resources/views/Step/versions_ranking.html.twig
  src/Capco/UserBundle/Resources/views/Profile/opinionVersions.html.twig
  src/Capco/UserBundle/Resources/views/Profile/opinions.html.twig
  src/Capco/UserBundle/Resources/views/Profile/showProfile.html.twig
Due: graphql, php, backend

Merge pull request #7730 from cap-collectif/optimize-users-bo
  app/DoctrineMigrations/Version20190515120509.php
  app/config/rabbitmq.yml
  app/config/swarrot.yml
  app/config/twig.yml
  features/api/email.feature
  features/commands/consumers/user.feature
  infrastructure/services/local/supervisord/user.conf
  infrastructure/services/remote/supervisord/user.conf
  infrastructure/services/remote/varnish/capco.vcl
  src/Capco/AdminBundle/Admin/UserAdmin.php
  src/Capco/AdminBundle/Controller/UserController.php
  src/Capco/AdminBundle/Resources/views/User/edit.html.twig
  src/Capco/AppBundle/Behat/snapshots/confirmEmailChange.html
  src/Capco/AppBundle/Command/RecalculateCountersCommand.php
  src/Capco/AppBundle/Controller/Api/UsersController.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/User.yml
  src/Capco/AppBundle/Entity/Opinion.php
  src/Capco/AppBundle/GraphQL/Resolver/Opinion/OpinionVersionsResolver.php
  src/Capco/AppBundle/Mailer/Message/User/UserConfirmEmailChangedMessage.php
  src/Capco/AppBundle/Mailer/templates/confirmEmailChange.html.twig
  src/Capco/AppBundle/Notifier/UserNotifier.php
  src/Capco/AppBundle/Processor/User/UserEmailProcessor.php
  src/Capco/AppBundle/Resources/views/Opinion/blockOpinion.html.twig
  src/Capco/AppBundle/Resources/views/Project/show_trashed.html.twig
  src/Capco/AppBundle/Resources/views/Step/opinions_ranking.html.twig
  src/Capco/AppBundle/Resources/views/Step/ranking.html.twig
  src/Capco/AppBundle/Resources/views/Step/versions_ranking.html.twig
  src/Capco/AppBundle/Twig/ThemeExtension.php
  src/Capco/UserBundle/Resources/views/Profile/opinionVersions.html.twig
  src/Capco/UserBundle/Resources/views/Profile/opinions.html.twig
  src/Capco/UserBundle/Resources/views/Profile/showProfile.html.twig
Due: graphql, php, backend

Make sure to use only index in remind-user-account-confirmation command
  src/Capco/AppBundle/Command/RemindUserAccountConfirmationCommand.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: php, backend

Merge pull request #7805 from cap-collectif/remove-opinion-versionsCount
  app/DoctrineMigrations/Version20190515120509.php
  app/config/twig.yml
  src/Capco/AppBundle/Command/RecalculateCountersCommand.php
  src/Capco/AppBundle/Command/RemindUserAccountConfirmationCommand.php
  src/Capco/AppBundle/Entity/Opinion.php
  src/Capco/AppBundle/GraphQL/Resolver/Opinion/OpinionVersionsResolver.php
  src/Capco/AppBundle/Resources/views/Opinion/blockOpinion.html.twig
  src/Capco/AppBundle/Resources/views/Project/show_trashed.html.twig
  src/Capco/AppBundle/Resources/views/Step/opinions_ranking.html.twig
  src/Capco/AppBundle/Resources/views/Step/ranking.html.twig
  src/Capco/AppBundle/Resources/views/Step/versions_ranking.html.twig
  src/Capco/UserBundle/Repository/UserRepository.php
  src/Capco/UserBundle/Resources/views/Profile/opinionVersions.html.twig
  src/Capco/UserBundle/Resources/views/Profile/opinions.html.twig
  src/Capco/UserBundle/Resources/views/Profile/showProfile.html.twig
Due: graphql, php, backend

Fix find user in BO
  app/config/sonata.yml
  src/Capco/AdminBundle/Controller/UserController.php
  src/Capco/AppBundle/GraphQL/Resolver/UserIsGrantedResolver.php
Due: graphql, php, backend

FIX-REMOTE fix remote supervisord
  infrastructure/services/remote/supervisord/user.conf
Due: none

FIX-REMOTE fix security js
  package.json
  yarn.lock
Due: none

FIX-VARNISH Fix vcl_deliver code from Varnish.
  infrastructure/services/remote/supervisord/user.conf
  infrastructure/services/remote/varnish/capco.vcl
  package.json
  yarn.lock
Due: none

FIX-REMOTE fix ci security js
  infrastructure/services/remote/supervisord/user.conf
  infrastructure/services/remote/varnish/capco.vcl
  package.json
  yarn.lock
Due: none

Merge pull request #7807 from cap-collectif/optimize-remind-user-account-confirmation
  infrastructure/services/remote/supervisord/user.conf
  package.json
  src/Capco/AppBundle/Command/RemindUserAccountConfirmationCommand.php
  src/Capco/UserBundle/Repository/UserRepository.php
  yarn.lock
Due: php, backend

[7783-FIX] Replace styled-spinkit with a fork.
  package.json
  yarn.lock
Due: none

[7783-FIX] Revert fork, replace by official library.
  package.json
  yarn.lock
Due: none

Merge pull request #7814 from cap-collectif/fix-varnish-vcl-deliver
  infrastructure/services/remote/varnish/capco.vcl
  package.json
  yarn.lock
Due: none

Merge pull request #7813 from cap-collectif/fix-remote-consumer
  infrastructure/services/remote/supervisord/user.conf
  package.json
  yarn.lock
Due: none

Merge pull request #7809 from cap-collectif/7783-fix-ie
  package.json
  yarn.lock
Due: none

Add CORS e2e tests
  app/config/cors.yml
  features/graphql/cors.feature
  src/Capco/AppBundle/Behat/GraphQLContext.php
Due: backend

7820-PROPOSAL fix integer values
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/config/cors.yml
  features/graphql/cors.feature
  src/Capco/AppBundle/Behat/GraphQLContext.php
Due: jest, flow, backend, frontend

Bump styled-components to v4
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  package.json
  yarn.lock
Due: jest, flow, frontend

Create Tag component and replace .tags-list__tag class
  app/Resources/js/components/Event/List/__snapshots__/EventListStatusFilter-test.js.snap
  app/Resources/js/components/Project/Page/RenderCustomAccess.js
  app/Resources/js/components/Project/Page/RenderPrivateAccess.js
  app/Resources/js/components/Project/Page/__snapshots__/RenderCustomAccess-test.js.snap
  app/Resources/js/components/Project/Page/__snapshots__/RenderPrivateAccess-test.js.snap
  app/Resources/js/components/Project/Preview/ProjectPreviewCounter.js
  app/Resources/js/components/Project/Preview/ProjectPreviewCounters.js
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewCounters-test.js.snap
  app/Resources/js/components/Proposal/Detail/ProposalDetailEstimation.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailLikers.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailLikersLabel-test.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailLikersLabel.js
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailEstimation-test.js.snap
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailLikers-test.js.snap
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailLikersLabel-test.js.snap
  app/Resources/js/components/Proposal/Preview/ProposalPreviewBody.js
  app/Resources/js/components/Ui/FeedbacksIndicators/__snapshots__/Loader-test.js.snap
  app/Resources/js/components/Ui/Labels/Tag-test.js
  app/Resources/js/components/Ui/Labels/Tag.js
  app/Resources/js/components/Ui/Labels/__snapshots__/Tag-test.js.snap
  app/Resources/js/components/Ui/List/TagsList.js
  app/Resources/js/stories/List-stories.js
  app/Resources/js/stories/Tag-stories.js
Due: jest, flow, frontend

Add unit tests
  app/Resources/js/components/Project/Preview/ProjectPreviewCounter-test.js
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewCounter-test.js.snap
Due: jest, flow, frontend

7820-PROPOSAL add tests
  app/Resources/js/components/Event/List/__snapshots__/EventListStatusFilter-test.js.snap
  app/Resources/js/components/Project/Page/RenderCustomAccess.js
  app/Resources/js/components/Project/Page/RenderPrivateAccess.js
  app/Resources/js/components/Project/Page/__snapshots__/RenderCustomAccess-test.js.snap
  app/Resources/js/components/Project/Page/__snapshots__/RenderPrivateAccess-test.js.snap
  app/Resources/js/components/Project/Preview/ProjectPreviewCounter-test.js
  app/Resources/js/components/Project/Preview/ProjectPreviewCounter.js
  app/Resources/js/components/Project/Preview/ProjectPreviewCounters.js
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewCounter-test.js.snap
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewCounters-test.js.snap
  app/Resources/js/components/Proposal/Detail/ProposalDetailEstimation.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailLikers.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailLikersLabel-test.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailLikersLabel.js
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailEstimation-test.js.snap
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailLikers-test.js.snap
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailLikersLabel-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/components/Proposal/Preview/ProposalPreviewBody.js
  app/Resources/js/components/Ui/FeedbacksIndicators/__snapshots__/Loader-test.js.snap
  app/Resources/js/components/Ui/Labels/Tag-test.js
  app/Resources/js/components/Ui/Labels/Tag.js
  app/Resources/js/components/Ui/Labels/__snapshots__/Tag-test.js.snap
  app/Resources/js/components/Ui/List/TagsList.js
  app/Resources/js/stories/List-stories.js
  app/Resources/js/stories/Tag-stories.js
  features/front/proposals.feature
  package.json
  src/Capco/AppBundle/Behat/Traits/QuestionnaireStepsTrait.php
  yarn.lock
Due: jest, flow, backend, frontend

Fix opinion and version page when non-unique slugs
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  features/front/proposals.feature
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
  src/Capco/AppBundle/Behat/Traits/QuestionnaireStepsTrait.php
  src/Capco/AppBundle/Controller/Site/OpinionController.php
  src/Capco/AppBundle/Repository/OpinionRepository.php
  src/Capco/AppBundle/Repository/OpinionVersionRepository.php
Due: php, jest, flow, backend, frontend

Merge pull request #7825 from cap-collectif/7820-proposal-reply
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  features/front/proposals.feature
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
  src/Capco/AppBundle/Behat/Traits/QuestionnaireStepsTrait.php
  src/Capco/AppBundle/Controller/Site/OpinionController.php
  src/Capco/AppBundle/Repository/OpinionRepository.php
  src/Capco/AppBundle/Repository/OpinionVersionRepository.php
Due: php, jest, flow, backend, frontend

Fix styled-component v4 issue and an e2e selector
  app/Resources/js/components/Event/List/__snapshots__/EventListStatusFilter-test.js.snap
  app/Resources/js/components/Form/DateDropdownPicker.js
  app/Resources/js/components/Project/Page/RenderCustomAccess.js
  app/Resources/js/components/Project/Page/RenderPrivateAccess.js
  app/Resources/js/components/Project/Page/__snapshots__/RenderCustomAccess-test.js.snap
  app/Resources/js/components/Project/Page/__snapshots__/RenderPrivateAccess-test.js.snap
  app/Resources/js/components/Project/Preview/ProjectPreviewCounter-test.js
  app/Resources/js/components/Project/Preview/ProjectPreviewCounter.js
  app/Resources/js/components/Project/Preview/ProjectPreviewCounters.js
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewCounter-test.js.snap
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewCounters-test.js.snap
  app/Resources/js/components/Project/Votes/ProposalsUserVotesTable.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailEstimation.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailLikers.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailLikersLabel-test.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailLikersLabel.js
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailEstimation-test.js.snap
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailLikers-test.js.snap
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailLikersLabel-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/components/Proposal/Preview/ProposalPreviewBody.js
  app/Resources/js/components/Ui/FeedbacksIndicators/__snapshots__/Loader-test.js.snap
  app/Resources/js/components/Ui/Labels/Tag-test.js
  app/Resources/js/components/Ui/Labels/Tag.js
  app/Resources/js/components/Ui/Labels/__snapshots__/Tag-test.js.snap
  app/Resources/js/components/Ui/List/TagsList.js
  app/Resources/js/components/User/Admin/UserAdminPersonalData.js
  app/Resources/js/components/User/Profile/PersonalData.js
  app/Resources/js/stories/List-stories.js
  app/Resources/js/stories/Tag-stories.js
  features/front/proposals.feature
  package.json
  src/Capco/AppBundle/Behat/Page/CollectPage.php
  src/Capco/AppBundle/Behat/Traits/QuestionnaireStepsTrait.php
  yarn.lock
Due: jest, flow, backend, frontend

Merge pull request #7821 from cap-collectif/add-cors-tests
  app/Resources/js/components/Event/List/__snapshots__/EventListStatusFilter-test.js.snap
  app/Resources/js/components/Form/DateDropdownPicker.js
  app/Resources/js/components/Project/Page/RenderCustomAccess.js
  app/Resources/js/components/Project/Page/RenderPrivateAccess.js
  app/Resources/js/components/Project/Page/__snapshots__/RenderCustomAccess-test.js.snap
  app/Resources/js/components/Project/Page/__snapshots__/RenderPrivateAccess-test.js.snap
  app/Resources/js/components/Project/Preview/ProjectPreviewCounter-test.js
  app/Resources/js/components/Project/Preview/ProjectPreviewCounter.js
  app/Resources/js/components/Project/Preview/ProjectPreviewCounters.js
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewCounter-test.js.snap
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewCounters-test.js.snap
  app/Resources/js/components/Project/Votes/ProposalsUserVotesTable.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailEstimation.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailLikers.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailLikersLabel-test.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailLikersLabel.js
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailEstimation-test.js.snap
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailLikers-test.js.snap
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailLikersLabel-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/components/Proposal/Preview/ProposalPreviewBody.js
  app/Resources/js/components/Ui/FeedbacksIndicators/__snapshots__/Loader-test.js.snap
  app/Resources/js/components/Ui/Labels/Tag-test.js
  app/Resources/js/components/Ui/Labels/Tag.js
  app/Resources/js/components/Ui/Labels/__snapshots__/Tag-test.js.snap
  app/Resources/js/components/Ui/List/TagsList.js
  app/Resources/js/components/User/Admin/UserAdminPersonalData.js
  app/Resources/js/components/User/Profile/PersonalData.js
  app/Resources/js/stories/List-stories.js
  app/Resources/js/stories/Tag-stories.js
  app/config/cors.yml
  features/front/proposals.feature
  features/graphql/cors.feature
  package.json
  src/Capco/AppBundle/Behat/GraphQLContext.php
  src/Capco/AppBundle/Behat/Page/CollectPage.php
  src/Capco/AppBundle/Behat/Traits/QuestionnaireStepsTrait.php
  yarn.lock
Due: jest, flow, backend, frontend

- Added relay-compiler-language-js-flow-uncommented to export relay generated files without comment, because some IDEs does not understand the comment syntax
  package.json
  yarn.lock
Due: none

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
