Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

Merge pull request #7725 from cap-collectif/7721-fix-admin-settings
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
Due: php, jest, flow, backend, frontend

7441-EXCEL fix export
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  src/Capco/AdminBundle/Controller/OpinionTypeController.php
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
Due: php, jest, flow, backend, frontend

7441-EXCEL fix test
  features/commands/__snapshots__/croissance-innovation-disruption_collecte-des-avis.csv
Due: none

7441-EXCEL add tests
  features/commands/__snapshots__/croissance-innovation-disruption_collecte-des-avis.csv
  spec/Capco/AppBundle/Entity/OpinionSpec.php
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Opinion.yml
  src/Capco/AppBundle/Traits/TextableTrait.php
Due: php, backend

7441-EXCEL fix tests
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_collecte-avec-vote-simple-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_selection-avec-vote-budget-limite.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-privee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_selection-avec-vote-selon-le-budget.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
Due: none

7441-EXCEL missing csv
  features/commands/__snapshots__/ambition-strategique_consultation-3.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-privee.csv
  features/commands/__snapshots__/events.csv
Due: none

7441-EXCEL fix snapshtos
  spec/Capco/AppBundle/Entity/OpinionSpec.php
Due: none

7441-EXCEL fix snapshots
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_selection-avec-vote-budget-limite.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-avec-questions.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-privee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/croissance-innovation-disruption_collecte-des-avis.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_selection-avec-vote-selon-le-budget.csv
  features/commands/__snapshots__/participants_appel-a-projets.csv
  features/commands/__snapshots__/participants_bp-avec-vote-classement.csv
  features/commands/__snapshots__/participants_budget-avec-vote-limite.csv
  features/commands/__snapshots__/participants_budget-participatif-rennes.csv
  features/commands/__snapshots__/participants_croissance-innovation-disruption.csv
  features/commands/__snapshots__/participants_depot-avec-selection-vote-budget.csv
  features/commands/__snapshots__/participants_projet-avec-questionnaire.csv
  features/commands/__snapshots__/participants_projet-de-loi-renseignement.csv
  features/commands/__snapshots__/participants_questions-responses.csv
  features/commands/__snapshots__/participants_strategie-technologique-de-letat-et-services-publics.csv
  features/commands/__snapshots__/participants_transformation-numerique-des-relations.csv
  features/commands/__snapshots__/projet-de-loi-renseignement_elaboration-de-la-loi.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
  features/commands/__snapshots__/strategie-technologique-de-letat-et-services-publics_collecte-des-avis-pour-une-meilleur-strategie.csv
  features/commands/__snapshots__/transformation-numerique-des-relations_ma-futur-collecte-de-proposition.csv
  features/commands/__snapshots__/users.csv
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
Due: php, backend

7441-EXCEL - Fix snapshots.
  features/commands/__snapshots__/thematiques-a-aborder_consultation-2.csv
  features/commands/__snapshots__/valeurs_consultation.csv
Due: none

7441-EXCEL - Fix snapshots
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-avec-questions.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/croissance-innovation-disruption_collecte-des-avis.csv
  features/commands/__snapshots__/participants_appel-a-projets.csv
  features/commands/__snapshots__/participants_bp-avec-vote-classement.csv
  features/commands/__snapshots__/participants_budget-avec-vote-limite.csv
  features/commands/__snapshots__/participants_budget-participatif-rennes.csv
  features/commands/__snapshots__/participants_croissance-innovation-disruption.csv
  features/commands/__snapshots__/participants_depot-avec-selection-vote-budget.csv
  features/commands/__snapshots__/participants_projet-avec-questionnaire.csv
  features/commands/__snapshots__/participants_projet-de-loi-renseignement.csv
  features/commands/__snapshots__/participants_questions-responses.csv
  features/commands/__snapshots__/participants_strategie-technologique-de-letat-et-services-publics.csv
  features/commands/__snapshots__/participants_transformation-numerique-des-relations.csv
  features/commands/__snapshots__/projet-de-loi-renseignement_elaboration-de-la-loi.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
  features/commands/__snapshots__/strategie-technologique-de-letat-et-services-publics_collecte-des-avis-pour-une-meilleur-strategie.csv
  features/commands/__snapshots__/transformation-numerique-des-relations_ma-futur-collecte-de-proposition.csv
  features/commands/__snapshots__/users.csv
Due: none

7441-EXCEL rebase & regenerate snapshots
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-avec-questions.csv
  features/commands/__snapshots__/croissance-innovation-disruption_collecte-des-avis.csv
  features/commands/__snapshots__/projet-de-loi-renseignement_elaboration-de-la-loi.csv
  features/commands/__snapshots__/strategie-technologique-de-letat-et-services-publics_collecte-des-avis-pour-une-meilleur-strategie.csv
  features/commands/__snapshots__/transformation-numerique-des-relations_ma-futur-collecte-de-proposition.csv
  features/commands/__snapshots__/users.csv
Due: none

Merge pull request #7607 from cap-collectif/7441-excel-cancer
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  src/Capco/AdminBundle/Controller/OpinionTypeController.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
Due: php, jest, flow, backend, frontend

Use unique slugs for events
  app/DoctrineMigrations/Version20190503144016.php
  app/Resources/js/components/Comment/CommentForm.js
  app/Resources/js/components/Comment/__snapshots__/CommentForm-test.js.snap
  features/front/event.feature
  features/front/profile.feature
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Repository/EventRepository.php
Due: php, jest, flow, backend, frontend

Update app/DoctrineMigrations/Version20190503144016.php
  app/DoctrineMigrations/Version20190503144016.php
Due: none

Remove brunch deps
  app/DoctrineMigrations/Version20190503144016.php
  app/Resources/js/components/Comment/CommentForm.js
  app/Resources/js/components/Comment/__snapshots__/CommentForm-test.js.snap
  app/Resources/js/components/Ui/FeedbacksIndicators/__snapshots__/Loader-test.js.snap
  features/front/event.feature
  features/front/profile.feature
  package.json
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Repository/EventRepository.php
  yarn.lock
Due: php, jest, flow, backend, frontend

Merge pull request #7727 from cap-collectif/events-use-unique-slugs
  app/DoctrineMigrations/Version20190503144016.php
  app/Resources/js/components/Comment/CommentForm.js
  app/Resources/js/components/Comment/__snapshots__/CommentForm-test.js.snap
  features/front/event.feature
  features/front/profile.feature
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Repository/EventRepository.php
Due: php, jest, flow, backend, frontend

7422 fix text field
  app/Resources/js/components/Proposal/Page/ProposalResponse-test.js
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalResponse-test.js.snap
  features/graphql/mutations/updateQuestionnaire.feature
  src/Capco/AppBundle/Form/QuestionnaireConfigurationUpdateType.php
Due: php, jest, flow, backend, frontend

7446-SSO Add feature toggle for disconnect openid.
  app/DoctrineMigrations/Version20190325110000.php
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Toggle/Manager.php
  src/Capco/AppBundle/Twig/ParametersExtension.php
Due: php, backend

7446-SSO Add Open ID modal.
  app/Resources/js/components/User/Login/LoginButton-test.js
  app/Resources/js/components/User/Login/LoginButton.js
  app/Resources/js/components/User/Login/OpenIDLoginModal.js
  app/Resources/js/redux/modules/__snapshots__/user-test.js.snap
  app/Resources/js/redux/modules/default.js
  app/Resources/js/redux/modules/user-test.js
  app/Resources/js/redux/modules/user.js
  app/Resources/js/types.js
  app/config/config.yml
  src/Capco/UserBundle/Controller/OauthConnectController.php
  src/Capco/UserBundle/OpenID/Mapping/DevOpenIDMapping.php
  src/Capco/UserBundle/OpenID/OpenIDPathMapper.php
  src/Capco/UserBundle/Security/Http/Logout/LogoutSuccessHandler.php
Due: php, jest, flow, backend, frontend

7446-SSO Fix design of login modal.
  app/Resources/js/components/User/Login/LoginButton.js
  app/Resources/js/components/User/Login/OpenIDLoginModal.js
  app/Resources/js/redux/modules/default.js
  app/Resources/js/types.js
  src/Capco/AppBundle/Controller/Site/DefaultController.php
Due: php, jest, flow, backend, frontend

7446-SSO Add query for user info of open id.
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/User/OpenID/UserInfoResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/OpenIDUserInfos.types.yml
Due: graphql, php, backend

7446-SSO Move modal content to a dedicated page$
  app/Resources/js/components/Page/SSOSwitchUserPage-test.js
  app/Resources/js/components/Page/SSOSwitchUserPage.js
  app/Resources/js/components/User/Login/LoginButton-test.js
  app/Resources/js/components/User/Login/LoginButton.js
  app/Resources/js/components/User/Login/OpenIDLoginModal.js
  app/Resources/js/redux/modules/user.js
  app/Resources/js/registration.js
  app/Resources/js/startup/SSOSwitchUserApp.js
  app/config/hwi_oauth.yml
  src/Capco/AppBundle/Controller/Site/SSOController.php
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/views/Default/sso_switch_user.html.twig
  src/Capco/UserBundle/Resources/config/services.yml
  src/Capco/UserBundle/Security/Http/Logout/LogoutSuccessHandler.php
Due: php, jest, flow, backend, frontend

7446-SSO Update migration to the current date
  app/DoctrineMigrations/Version20190426200000.php
Due: none

7446-SSO Update state of switch user open id toggle at creation
  app/Resources/js/components/Page/__snapshots__/SSOSwitchUserPage-test.js.snap
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
Due: php, jest, flow, backend, frontend

7446-SSO Clean up
  app/Resources/js/redux/modules/__snapshots__/user-test.js.snap
  app/Resources/js/redux/modules/user-test.js
  app/config/config.yml
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/User/OpenID/UserInfoResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/OpenIDUserInfos.types.yml
  src/Capco/UserBundle/Security/Http/Logout/LogoutSuccessHandler.php
Due: graphql, php, jest, flow, backend, frontend

7446-SSO review from @mauriau and @spyl94
  app/Resources/js/components/Page/SSOSwitchUserPage.js
  app/Resources/js/components/Page/__snapshots__/SSOSwitchUserPage-test.js.snap
  src/Capco/UserBundle/Security/Http/Logout/LogoutSuccessHandler.php
Due: php, jest, flow, backend, frontend

7446-SSO Clean up Logout Handler
  src/Capco/UserBundle/Security/Http/Logout/LogoutSuccessHandler.php
Due: php, backend

# This is a combination of 7 commits. # The first commit's message is: #7514-LEGA Add cookie fixtures
  app/DoctrineMigrations/Version20190426200000.php
  app/Resources/js/components/Page/SSOSwitchUserPage-test.js
  app/Resources/js/components/Page/SSOSwitchUserPage.js
  app/Resources/js/components/Page/__snapshots__/SSOSwitchUserPage-test.js.snap
  app/Resources/js/components/StaticPage/CookieModal-test.js
  app/Resources/js/components/StaticPage/CookieModal.js
  app/Resources/js/components/StaticPage/__snapshots__/CookieModal-test.js.snap
  app/Resources/js/components/User/Login/LoginButton-test.js
  app/Resources/js/components/User/Login/LoginButton.js
  app/Resources/js/redux/modules/default.js
  app/Resources/js/registration.js
  app/Resources/js/startup/SSOSwitchUserApp.js
  app/Resources/js/types.js
  app/config/config.yml
  app/config/hwi_oauth.yml
  features/front/shield.feature
  src/Capco/AdminBundle/Admin/SiteParameterAdmin.php
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Controller/Site/SSOController.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
  src/Capco/AppBundle/Resources/views/Default/legalMentions.html.twig
  src/Capco/AppBundle/Resources/views/Default/privacyPolicy.html.twig
  src/Capco/AppBundle/Resources/views/Default/sso_switch_user.html.twig
  src/Capco/AppBundle/Toggle/Manager.php
  src/Capco/AppBundle/Twig/FooterExtension.php
  src/Capco/AppBundle/Twig/ParametersExtension.php
  src/Capco/UserBundle/Controller/OauthConnectController.php
  src/Capco/UserBundle/OpenID/Mapping/DevOpenIDMapping.php
  src/Capco/UserBundle/OpenID/OpenIDPathMapper.php
  src/Capco/UserBundle/Resources/config/services.yml
  src/Capco/UserBundle/Security/Http/Logout/LogoutSuccessHandler.php
Due: php, jest, flow, backend, frontend

#7514-LEGA add database migration
  app/DoctrineMigrations/Version20190502122156.php
  app/Resources/js/components/Page/ShieldPage.js
  app/Resources/js/components/Page/__snapshots__/ShieldPage-test.js.snap
  features/front/shield.feature
Due: jest, flow, frontend

#7514-LEGA Update cookie page content only if there is no value
  app/DoctrineMigrations/Version20190502122156.php
Due: none

#7514-LEGA replace 'du grand debat' by 'de la plateforme' in cookie page content
  app/DoctrineMigrations/Version20190502122156.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
Due: php, backend

#7514-LEGA add e2e for privacy and legal page
  features/front/rgpd.feature
  src/Capco/AppBundle/Behat/Page/LegalPage.php
  src/Capco/AppBundle/Behat/Page/PrivacyPage.php
Due: backend

Merge pull request #7470 from cap-collectif/7446-sso-change-user
  app/DoctrineMigrations/Version20190426200000.php
  app/Resources/js/components/Page/SSOSwitchUserPage-test.js
  app/Resources/js/components/Page/SSOSwitchUserPage.js
  app/Resources/js/components/Page/__snapshots__/SSOSwitchUserPage-test.js.snap
  app/Resources/js/components/User/Login/LoginButton-test.js
  app/Resources/js/components/User/Login/LoginButton.js
  app/Resources/js/redux/modules/default.js
  app/Resources/js/registration.js
  app/Resources/js/startup/SSOSwitchUserApp.js
  app/Resources/js/types.js
  app/config/config.yml
  app/config/hwi_oauth.yml
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Controller/Site/SSOController.php
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/views/Default/sso_switch_user.html.twig
  src/Capco/AppBundle/Toggle/Manager.php
  src/Capco/AppBundle/Twig/ParametersExtension.php
  src/Capco/UserBundle/Controller/OauthConnectController.php
  src/Capco/UserBundle/OpenID/Mapping/DevOpenIDMapping.php
  src/Capco/UserBundle/OpenID/OpenIDPathMapper.php
  src/Capco/UserBundle/Resources/config/services.yml
  src/Capco/UserBundle/Security/Http/Logout/LogoutSuccessHandler.php
Due: php, jest, flow, backend, frontend

Add custom scalars support to Relay's Flow genetated files
  app/Resources/js/components/Proposal/Admin/ProposalAdminSelections-test.js
  app/Resources/js/components/Proposal/List/ProposalListTable-test.js
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalListTable-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalFusionList-test.js
  app/Resources/js/components/Proposal/Page/ProposalPageContent-test.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalFusionList-test.js.snap
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageContent-test.js.snap
  app/Resources/js/components/Ui/Dates/DateIcon.js
  package.json
  patches/relay-compiler+4.0.0.patch
  yarn.lock
Due: jest, flow, frontend

7742-FIX quickfix
  app/DoctrineMigrations/Version20190426200000.php
  app/Resources/js/components/Page/SSOSwitchUserPage-test.js
  app/Resources/js/components/Page/SSOSwitchUserPage.js
  app/Resources/js/components/Page/__snapshots__/SSOSwitchUserPage-test.js.snap
  app/Resources/js/components/Proposal/Admin/ProposalAdminSelections-test.js
  app/Resources/js/components/Proposal/List/ProposalListTable-test.js
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalListTable-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalFusionList-test.js
  app/Resources/js/components/Proposal/Page/ProposalPageContent-test.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalFusionList-test.js.snap
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageContent-test.js.snap
  app/Resources/js/components/Ui/Dates/DateIcon.js
  app/Resources/js/components/User/Login/LoginButton-test.js
  app/Resources/js/components/User/Login/LoginButton.js
  app/Resources/js/redux/modules/default.js
  app/Resources/js/registration.js
  app/Resources/js/startup/SSOSwitchUserApp.js
  app/Resources/js/types.js
  app/config/config.yml
  app/config/hwi_oauth.yml
  package.json
  patches/relay-compiler+4.0.0.patch
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Controller/Site/SSOController.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/views/Default/sso_switch_user.html.twig
  src/Capco/AppBundle/Toggle/Manager.php
  src/Capco/AppBundle/Twig/ParametersExtension.php
  src/Capco/UserBundle/Controller/OauthConnectController.php
  src/Capco/UserBundle/OpenID/Mapping/DevOpenIDMapping.php
  src/Capco/UserBundle/OpenID/OpenIDPathMapper.php
  src/Capco/UserBundle/Resources/config/services.yml
  src/Capco/UserBundle/Security/Http/Logout/LogoutSuccessHandler.php
  yarn.lock
Due: php, jest, flow, backend, frontend

FIX-SSO Fix wrong usage of request object in Logout Handler
  app/DoctrineMigrations/Version20190426200000.php
  app/Resources/js/components/Page/SSOSwitchUserPage-test.js
  app/Resources/js/components/Page/SSOSwitchUserPage.js
  app/Resources/js/components/Page/__snapshots__/SSOSwitchUserPage-test.js.snap
  app/Resources/js/components/User/Login/LoginButton-test.js
  app/Resources/js/components/User/Login/LoginButton.js
  app/Resources/js/redux/modules/default.js
  app/Resources/js/registration.js
  app/Resources/js/startup/SSOSwitchUserApp.js
  app/Resources/js/types.js
  app/config/config.yml
  app/config/hwi_oauth.yml
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Controller/Site/SSOController.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/views/Default/sso_switch_user.html.twig
  src/Capco/AppBundle/Toggle/Manager.php
  src/Capco/AppBundle/Twig/ParametersExtension.php
  src/Capco/UserBundle/Controller/OauthConnectController.php
  src/Capco/UserBundle/OpenID/Mapping/DevOpenIDMapping.php
  src/Capco/UserBundle/OpenID/OpenIDPathMapper.php
  src/Capco/UserBundle/Resources/config/services.yml
  src/Capco/UserBundle/Security/Http/Logout/LogoutSuccessHandler.php
Due: php, jest, flow, backend, frontend

Merge pull request #7736 from cap-collectif/add-custom-scalar-support-for-flow-with-relayjs
  app/Resources/js/components/Proposal/Admin/ProposalAdminSelections-test.js
  app/Resources/js/components/Proposal/List/ProposalListTable-test.js
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalListTable-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalFusionList-test.js
  app/Resources/js/components/Proposal/Page/ProposalPageContent-test.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalFusionList-test.js.snap
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageContent-test.js.snap
  app/Resources/js/components/Ui/Dates/DateIcon.js
  package.json
  patches/relay-compiler+4.0.0.patch
  yarn.lock
Due: jest, flow, frontend

7742-FIX fix spec
  app/DoctrineMigrations/Version20190426200000.php
  app/Resources/js/components/Page/SSOSwitchUserPage-test.js
  app/Resources/js/components/Page/SSOSwitchUserPage.js
  app/Resources/js/components/Page/__snapshots__/SSOSwitchUserPage-test.js.snap
  app/Resources/js/components/Proposal/Admin/ProposalAdminSelections-test.js
  app/Resources/js/components/Proposal/List/ProposalListTable-test.js
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalListTable-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalFusionList-test.js
  app/Resources/js/components/Proposal/Page/ProposalPageContent-test.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalFusionList-test.js.snap
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageContent-test.js.snap
  app/Resources/js/components/Ui/Dates/DateIcon.js
  app/Resources/js/components/User/Login/LoginButton-test.js
  app/Resources/js/components/User/Login/LoginButton.js
  app/Resources/js/redux/modules/default.js
  app/Resources/js/registration.js
  app/Resources/js/startup/SSOSwitchUserApp.js
  app/Resources/js/types.js
  app/config/config.yml
  app/config/hwi_oauth.yml
  package.json
  patches/relay-compiler+4.0.0.patch
  spec/Capco/AppBundle/Entity/ProjectSpec.php
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Controller/Site/SSOController.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/views/Default/sso_switch_user.html.twig
  src/Capco/AppBundle/Toggle/Manager.php
  src/Capco/AppBundle/Twig/ParametersExtension.php
  src/Capco/UserBundle/Controller/OauthConnectController.php
  src/Capco/UserBundle/OpenID/Mapping/DevOpenIDMapping.php
  src/Capco/UserBundle/OpenID/OpenIDPathMapper.php
  src/Capco/UserBundle/Resources/config/services.yml
  src/Capco/UserBundle/Security/Http/Logout/LogoutSuccessHandler.php
  yarn.lock
Due: php, jest, flow, backend, frontend

[7424-MULTICONTACT] Fix redux form customPageFields.
  app/Resources/js/components/Admin/Contact/ContactAdminPage.js
  app/Resources/js/components/Admin/Field/CustomPageFields.js
Due: jest, flow, frontend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
