Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: auto
        threshold: null
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

[8002-FIX] Test with wrong E2E test.
  features/front/opinions.feature
Due: none

Bump storybook version to v5
  app/Resources/js/utils/invariant.js
  composer.lock
  package.json
  yarn.lock
Due: jest, flow, frontend

7924 Add new type TimeRange (#7981)
  app/Resources/js/components/Consultation/ConsultationPropositionBox.js
  app/Resources/js/components/Event/EventPreview-test.js
  app/Resources/js/components/Event/EventPreview.js
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Project/Preview/ProjectPreviewBody-test.js
  app/Resources/js/components/Project/Preview/ProjectPreviewBody.js
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewBody-test.js.snap
  app/Resources/js/components/Questionnaire/QuestionnaireResults-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireResults.js
  app/Resources/js/components/Steps/Page/StepPageHeader-test.js
  app/Resources/js/components/Steps/Page/StepPageHeader.js
  app/Resources/js/components/Steps/Page/__snapshots__/StepPageHeader-test.js.snap
  app/Resources/js/utils/invariant.js
  composer.lock
  features/front/blog.feature
  features/graphql/mutations/addEvents.feature
  package.json
  schema.internal.graphql
  schema.preview.graphql
  spec/Capco/AppBundle/GraphQL/Resolver/TimeRangeResolverSpec.php
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Entity/Interfaces/TimeRangeable.php
  src/Capco/AppBundle/Entity/Steps/AbstractStep.php
  src/Capco/AppBundle/GraphQL/Resolver/TimeRangeResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Step.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/decorator/PreviewTimeRangeable.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewTimeRange.types.yml
  yarn.lock
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #8058 from cap-collectif/7345-storybook-v5
  app/Resources/js/utils/invariant.js
  package.json
  yarn.lock
Due: jest, flow, frontend

Add Cerebro and perform some performances improvements
  infrastructure/environments/base.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Proposal.yml
  src/Capco/AppBundle/Elasticsearch/Indexer.php
  src/Capco/AppBundle/GraphQL/DataLoader/ProposalForm/ProposalFormProposalsDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
Due: graphql, php, backend

Revert more fixtures
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Proposal.yml
Due: php, backend

Clean different yaml files
  app/config/routes/sonata_admin.yaml
  app/config/routing.yml
  infrastructure/environments/production.yml
  infrastructure/services/elasticsearch/elasticsearch.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalFormNotificationConfiguration.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AddUsersToGroupFromEmailInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AddUsersToGroupFromEmailPayload.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ChangeProposalContentInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateProfilePersonalDataInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/public/Node.types.yml
  src/Capco/AppBundle/Resources/config/graphql/public/interfaces/Draftable.types.yml
  src/Capco/AppBundle/Resources/config/services/processors.yml
Due: php, backend

Add HTTPS to cerebro
  infrastructure/environments/base.yml
  infrastructure/environments/development.yml
  infrastructure/services/local/nginx/nginx.conf
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
Due: php, backend

Fix sonata routing loading
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
Due: php, backend

Remove another __factory warn
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/MultipleChoiceQuestion.yml
Due: php, backend

Update src/Capco/AppBundle/Resources/config/services/processors.yml
  src/Capco/AppBundle/Resources/config/services/processors.yml
Due: php, backend

Clean legacy
  app/config/routes/sonata_admin.yaml
  app/config/routing.yml
  infrastructure/environments/base.yml
  infrastructure/environments/development.yml
  infrastructure/environments/production.yml
  infrastructure/services/elasticsearch/elasticsearch.yml
  infrastructure/services/local/nginx/nginx.conf
  src/Capco/AppBundle/Command/RecalculateCountersCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalFormNotificationConfiguration.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/Elasticsearch/Indexer.php
  src/Capco/AppBundle/GraphQL/DataLoader/ProposalForm/ProposalFormProposalsDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AddUsersToGroupFromEmailInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AddUsersToGroupFromEmailPayload.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ChangeProposalContentInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateProfilePersonalDataInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/public/Node.types.yml
  src/Capco/AppBundle/Resources/config/graphql/public/interfaces/Draftable.types.yml
  src/Capco/AppBundle/Resources/config/services/processors.yml
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, backend

Better wording
  src/Capco/AppBundle/Command/RecalculateCountersCommand.php
Due: php, backend

Remove antother unused method
  src/Capco/UserBundle/Repository/UserRepository.php
Due: php, backend

Update JS Deps
  package.json
  yarn.lock
Due: none

Merge pull request #7631 from cap-collectif/minorElasticsearchFixes
  app/config/routes/sonata_admin.yaml
  app/config/routing.yml
  infrastructure/environments/base.yml
  infrastructure/environments/development.yml
  infrastructure/environments/production.yml
  infrastructure/services/elasticsearch/elasticsearch.yml
  infrastructure/services/local/nginx/nginx.conf
  package.json
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalFormNotificationConfiguration.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/Elasticsearch/Indexer.php
  src/Capco/AppBundle/GraphQL/DataLoader/ProposalForm/ProposalFormProposalsDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AddUsersToGroupFromEmailInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AddUsersToGroupFromEmailPayload.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ChangeProposalContentInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateProfilePersonalDataInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/public/Node.types.yml
  src/Capco/AppBundle/Resources/config/graphql/public/interfaces/Draftable.types.yml
  src/Capco/AppBundle/Resources/config/services/processors.yml
  yarn.lock
Due: graphql, php, backend

Clean legacy anonymous votes (#7804)
  src/Capco/AppBundle/Command/RecalculateCountersCommand.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: php, backend

7749-SSO Add SSO configuration admin page.
  app/config/sonata.yml
  src/Capco/AdminBundle/Admin/SSOAdmin.php
  src/Capco/AdminBundle/Controller/SSOController.php
  src/Capco/AdminBundle/Controller/SiteFaviconController.php
  src/Capco/AdminBundle/Resources/config/admin.yml
  src/Capco/AdminBundle/Resources/views/SSO/list.html.twig
Due: php, backend

7749-SSO Add GraphQL Queries for SSO Configurations.
  app/config/graphql.yml
  app/config/sonata.yml
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/SSOAdmin.php
  src/Capco/AdminBundle/Controller/SSOController.php
  src/Capco/AdminBundle/Resources/config/admin.yml
  src/Capco/AdminBundle/Resources/views/SSO/list.html.twig
  src/Capco/AppBundle/Entity/SSO/AbstractSSOConfiguration.php
  src/Capco/AppBundle/Entity/SSO/Oauth2SSOConfiguration.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/SSOConfigurationQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/SSO/TypeResolver.php
  src/Capco/AppBundle/Repository/AbstractSSOConfigurationRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalSSOConfiguration.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalOauth2SSOConfiguration.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/relay-connection/InternalSSOConfigurationConnection.types.yml
  src/Capco/AppBundle/Resources/config/services/repositories.yml
Due: graphql, php, backend

7749-SSO Add query tests.
  features/graphql/query/ssoConfigurations.feature
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SSOConfiguration.yml
Due: php, backend

7749-SSO Use GlobalID.
  features/graphql/query/ssoConfigurations.feature
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalOauth2SSOConfiguration.types.yml
Due: graphql, php, backend

7749-SSO Refactoring ShieldAdminPage to AuthentificationAdminPage.
  app/Resources/js-server/registration.js
  app/Resources/js/components/Admin/Authentification/AuthentificationAdminPage-test.js
  app/Resources/js/components/Admin/Authentification/AuthentificationAdminPage.js
  app/Resources/js/components/Admin/Authentification/ShieldAdminForm-test.js
  app/Resources/js/components/Admin/Authentification/ShieldAdminForm.js
  app/Resources/js/components/Admin/Authentification/__snapshots__/AuthentificationAdminPage-test.js.snap
  app/Resources/js/components/Admin/Authentification/__snapshots__/ShieldAdminForm-test.js.snap
  app/Resources/js/components/Admin/ShieldAdminPage-test.js
  app/Resources/js/registration.js
  app/Resources/js/startup/AuthentificationAdminApp.js
  src/Capco/AdminBundle/Resources/views/Settings/shield.html.twig
Due: php, jest, flow, backend, frontend

7749-SSO Add missing typehint in SSOConfigurationQueryResolver and TypeResolver.
  src/Capco/AppBundle/GraphQL/Resolver/Query/SSOConfigurationQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/SSO/TypeResolver.php
Due: graphql, php, backend

7749-SSO Use name key.
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalSSOConfiguration.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalOauth2SSOConfiguration.types.yml
Due: graphql, php, backend

7749-SSO Fix graphql tests.
  features/graphql/query/ssoConfigurations.feature
Due: none

[8002-FIX] Add new step to behat with random failing tests. (#8012)
  app/Resources/js/components/Consultation/OpinionList.js
  behat.yml
  features/front/opinions.feature
  features/front/profile.feature
  features/front/proposal_votes.feature
  features/front/proposals.feature
  features/front/shield.feature
  features/graphql/query/project_comments.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Page/ConsultationPage.php
Due: jest, flow, backend, frontend

Fix empty questionnaire on BO
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestions.js
Due: jest, flow, frontend

Merge pull request #8071 from cap-collectif/update-js-deps-now
  package.json
  yarn.lock
Due: none

#8057-FIX fix sonata admin
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestions.js
  composer.lock
  package.json
  src/Capco/AdminBundle/Resources/views/CRUD/base_edit_form.html.twig
  yarn.lock
Due: php, jest, flow, backend, frontend

#8057-FIX fix sonata admin (#8074)
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestions.js
  package.json
  yarn.lock
Due: jest, flow, frontend

Remove user.repliesCount and use a resolver instead
  app/DoctrineMigrations/Version20190607121021.php
  app/config/twig.yml
  features/graphql-public/User/User_replies.js
  features/graphql-public/User/__snapshots__/User_replies.js.snap
  infrastructure/environments/base.yml
  infrastructure/environments/development.yml
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
  src/Capco/AppBundle/Command/RecalculateUsersCountersCommand.php
  src/Capco/AppBundle/Entity/Steps/QuestionnaireStep.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserRepliesResolver.php
  src/Capco/AppBundle/Repository/ReplyRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
  src/Capco/UserBundle/Controller/ProfileController.php
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
  src/Capco/UserBundle/Resources/views/Profile/showProfile.html.twig
Due: graphql, php, backend

Fix container crash without kibana and cerebro
  infrastructure/environments/base.yml
  infrastructure/environments/development.yml
  infrastructure/services/local/nginx/nginx.conf
Due: none
