Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: auto
        threshold: null
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

[RBS]
  schema.internal.graphql
Due: none

[CHG] naming
  app/Resources/js/components/Admin/RegistrationCommunicationForm.js
Due: jest, flow, frontend

[RMV] useless change
  app/Resources/js/components/Admin/RegistrationCommunicationForm.js
Due: jest, flow, frontend

FIX-SNAPSHOT replace snapshots exports (#6664)
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/RegistrationCommunicationForm.js
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  app/Resources/js/components/Admin/__snapshots__/RegistrationCommunicationForm-test.js.snap
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestions.js
  app/Resources/scss/base/_sonata.scss
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_collecte-avec-vote-simple-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_selection-avec-vote-budget-limite.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-privee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_depot-avec-vote.csv
  features/commands/__snapshots__/budget-participatif-rennes_fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection-a-venir.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/budget-participatif-rennes_vainqueur.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_collecte-des-propositions-1.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_selection-avec-vote-selon-le-budget.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_depot-ferme.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_selection-avec-vote-simple.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
  src/Capco/AdminBundle/Admin/SiteParameterAdmin.php
  src/Capco/AdminBundle/Resources/views/Block/help.html.twig
  src/Capco/AdminBundle/Resources/views/Settings/list.html.twig
  src/Capco/AdminBundle/Resources/views/Settings/registration.html.twig
  src/Capco/AppBundle/Behat/ExportContext.php
Due: php, jest, flow, backend, frontend

6628-REDIRECT fix redirect
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_collecte-avec-vote-simple-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_selection-avec-vote-budget-limite.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-privee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_depot-avec-vote.csv
  features/commands/__snapshots__/budget-participatif-rennes_fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection-a-venir.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/budget-participatif-rennes_vainqueur.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_collecte-des-propositions-1.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_selection-avec-vote-selon-le-budget.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_depot-ferme.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_selection-avec-vote-simple.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
  src/Capco/AdminBundle/Controller/CRUDController.php
  src/Capco/AppBundle/Behat/ExportContext.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/SelectionStepProposalResolver.php
Due: graphql, php, backend

Fix version pagination
  app/Resources/js/components/Opinion/OpinionVersionListViewPaginated.js
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_collecte-avec-vote-simple-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_selection-avec-vote-budget-limite.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-privee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_depot-avec-vote.csv
  features/commands/__snapshots__/budget-participatif-rennes_fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection-a-venir.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/budget-participatif-rennes_vainqueur.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_collecte-des-propositions-1.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_selection-avec-vote-selon-le-budget.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_depot-ferme.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_selection-avec-vote-simple.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
  src/Capco/AdminBundle/Controller/CRUDController.php
  src/Capco/AppBundle/Behat/ExportContext.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/SelectionStepProposalResolver.php
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #6652 from cap-collectif/5984-connection
  app/Resources/js/components/Comment/__snapshots__/CommentForm-test.js.snap
  app/Resources/js/components/Form/Field.js
  app/Resources/js/components/Form/ReactBootstrapInput.js
  app/Resources/js/components/Navbar/Navbar.js
  app/Resources/js/components/Navbar/NavbarRight-test.js
  app/Resources/js/components/Navbar/NavbarRight.js
  app/Resources/js/components/Navbar/__snapshots__/NavbarRight-test.js.snap
  app/Resources/js/components/Page/__snapshots__/ShieldPage-test.js.snap
  app/Resources/js/components/Reply/Form/__snapshots__/ReplyCreateFormWrapper-test.js.snap
  app/Resources/js/components/User/Login/FacebookLoginButton.js
  app/Resources/js/components/User/Login/GoogleLoginButton.js
  app/Resources/js/components/User/Login/LoginButton-test.js
  app/Resources/js/components/User/Login/LoginButton.js
  app/Resources/js/components/User/Login/LoginForm.js
  app/Resources/js/components/User/Login/__snapshots__/FacebookLoginButton-test.js.snap
  app/Resources/js/components/User/Login/__snapshots__/GoogleLoginButton-test.js.snap
  app/Resources/js/components/User/Login/__snapshots__/LoginButton-test.js.snap
  app/Resources/js/components/User/Login/__snapshots__/LoginForm-test.js.snap
  app/Resources/js/components/User/Registration/RegistrationButton-test.js
  app/Resources/js/components/User/Registration/RegistrationButton.js
  app/Resources/js/components/User/Registration/RegistrationForm.js
  app/Resources/js/components/User/Registration/__snapshots__/RegistrationForm-test.js.snap
  app/Resources/js/components/User/UserAvatar.js
  app/Resources/js/components/Utils/__snapshots__/LoginOverlay-test.js.snap
  app/Resources/js/components/Utils/__snapshots__/VisibilityBox-test.js.snap
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
  src/Capco/AppBundle/Resources/views/base.html.twig
Due: php, jest, flow, backend, frontend

Merge pull request #6662 from cap-collectif/6535-usergroup
  app/Resources/js/components/Group/Admin/GroupAdminAddUsersForm.js
  schema.internal.graphql
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/User.yml
  src/Capco/AppBundle/GraphQL/Resolver/Query/UserSearchQueryResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Search/UserSearch.php
Due: graphql, php, jest, flow, backend, frontend

KILL-JMS update serializer
  composer.json
Due: none

Add fork
  composer.json
Due: none

KILL-JMS fix
  src/Capco/AppBundle/Controller/Site/BlogController.php
  src/Capco/AppBundle/Resources/config/serialization/OpinionVersion.yml
  src/Capco/AppBundle/Resources/config/services/listeners.yml
  src/Capco/UserBundle/Resources/config/serialization/FOSUserBundle/Model.User.xml
Due: php, backend

KILL-JMS delete useless
  src/Capco/AppBundle/Resources/config/serialization/RegistrationForm.yml
  src/Capco/AppBundle/Resources/config/serialization/Responses.MediaResponse.yml
Due: php, backend

KILL-JMS add normalizers
  app/config/config.yml
  src/Capco/AppBundle/Normalizer/OpinionTypeNormalizer.php
  src/Capco/AppBundle/Normalizer/ProjectNormalizer.php
  src/Capco/AppBundle/Normalizer/ThemeNormalizer.php
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
  src/Capco/AppBundle/Resources/config/serialization/Steps.AbstractStep.yml
  src/Capco/AppBundle/Resources/config/serialization/Steps.CollectStep.yml
  src/Capco/AppBundle/Resources/config/serialization/Steps.SelectionStep.yml
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Twig/RegistrationFormExtension.php
Due: php, backend

KILL-JMS fix some tests
  app/config/routing.yml
  features/api/questionnaire.feature
  features/api/selection_steps.feature
  features/api/synthesis.feature
  src/Capco/AppBundle/Controller/Api/OpinionsController.php
  src/Capco/AppBundle/Controller/Api/QuestionnairesController.php
  src/Capco/AppBundle/Controller/Api/SelectionStepsController.php
  src/Capco/AppBundle/Entity/Opinion.php
  src/Capco/AppBundle/Normalizer/SelectionStepNormalizer.php
  src/Capco/AppBundle/Normalizer/SynthesisElementNormalizer.php
  src/Capco/AppBundle/Normalizer/SynthesisNormalizer.php
  src/Capco/AppBundle/Resources/config/serialization/Synthesis.Synthesis.yml
  src/Capco/AppBundle/Resources/config/serialization/Synthesis.SynthesisElement.yml
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/config/services/normalizers.yml
Due: php, backend

KILL-JMS lumiere au bout du tunnel
  composer.lock
  src/Capco/AppBundle/Elasticsearch/Indexer.php
  src/Capco/AppBundle/Normalizer/CollectStepNormalizer.php
  src/Capco/AppBundle/Normalizer/CommentNormalizer.php
  src/Capco/AppBundle/Normalizer/OpinionTypeNormalizer.php
  src/Capco/AppBundle/Normalizer/ProjectNormalizer.php
  src/Capco/AppBundle/Normalizer/ProposalNormalizer.php
  src/Capco/AppBundle/Normalizer/SelectionStepNormalizer.php
  src/Capco/AppBundle/Normalizer/ThemeNormalizer.php
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
  src/Capco/AppBundle/Resources/config/services/normalizers.yml
Due: php, backend

KILL-JMS fix serializing groups
  app/config/routing.yml
  src/Capco/AppBundle/Controller/Api/SelectionStepsController.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/EventListener/OpinionTypeSerializationListener.php
  src/Capco/AppBundle/Normalizer/CollectStepNormalizer.php
  src/Capco/AppBundle/Resources/config/serialization/OpinionType.yml
  src/Capco/AppBundle/Resources/config/serialization/Questions.MediaQuestion.yml
Due: php, backend

KILL-JMS fix carousel
  src/Capco/AppBundle/Controller/Site/HomepageController.php
  src/Capco/AppBundle/Controller/Site/ProposalController.php
  src/Capco/AppBundle/Entity/HighlightedContent.php
  src/Capco/AppBundle/Resources/config/serialization/Event.yml
  src/Capco/AppBundle/Resources/config/serialization/HighlightedEvent.yml
  src/Capco/AppBundle/Resources/config/serialization/HighlightedPost.yml
  src/Capco/AppBundle/Resources/config/serialization/HighlightedProject.yml
  src/Capco/AppBundle/Resources/config/serialization/HighlightedTheme.yml
  src/Capco/AppBundle/Resources/config/serialization/HiglightedContent.yml
  src/Capco/MediaBundle/Resources/config/serialization/Media.yml
Due: php, backend

KILL-JMS forgot to delete yml
  src/Capco/AdminBundle/Resources/config/admin.yml
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/config/services/listeners.yml
Due: php, backend

KILL-JMS fix mistakes
  composer.lock
  src/Capco/AppBundle/EventListener/GraphQlAclListener.php
  src/Capco/AppBundle/EventListener/ProjectAccessDeniedExceptionListener.php
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/config/services/listeners.yml
Due: php, backend

KILL-JMS fix db
  src/Capco/AppBundle/EventListener/DiffSubscriber.php
  src/Capco/AppBundle/EventListener/ModerationTokenListener.php
  src/Capco/AppBundle/Resources/config/services/listeners.yml
Due: php, backend

KILL-JMS recreate some listeners
  src/Capco/AppBundle/EventListener/CommentSubscriber.php
  src/Capco/AppBundle/EventListener/DynamicRelationSubscriber.php
  src/Capco/AppBundle/EventListener/ParisAuthenticationExceptionListener.php
  src/Capco/AppBundle/EventListener/ReferenceEventListener.php
  src/Capco/AppBundle/EventListener/ShieldListener.php
  src/Capco/AppBundle/EventListener/SoftDeleteEventListener.php
  src/Capco/AppBundle/EventListener/SynthesisLoggableListener.php
  src/Capco/AppBundle/EventListener/VoteSubscriber.php
  src/Capco/AppBundle/Resources/config/services/listeners.yml
Due: php, backend

KILL-JMS return to regular
  src/Capco/AppBundle/EventListener/EmptyUsernameListener.php
  src/Capco/AppBundle/EventListener/FeatureToggleListener.php
  src/Capco/AppBundle/EventListener/LocaleListener.php
  src/Capco/AppBundle/Resources/config/services/listeners.yml
Due: php, backend

KILL-JMS fix synthesis
  app/Resources/js/actions/SynthesisElementActions.js
  src/Capco/AppBundle/Controller/Api/SynthesisController.php
  src/Capco/AppBundle/Normalizer/SynthesisElementNormalizer.php
  src/Capco/AppBundle/Resources/config/serialization/Synthesis.SynthesisElement.yml
Due: php, jest, flow, backend, frontend

KILL-JMS fix logentry synthesis
  src/Capco/AppBundle/Normalizer/LogEntryNormalizer.php
  src/Capco/AppBundle/Resources/config/serialization/GedmoLoggable.yml
  src/Capco/AppBundle/Resources/config/services/normalizers.yml
Due: php, backend

KILL-JMS add graphql stuff
  schema.internal.graphql
Due: none

KILL-JMS fix broken serializer
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/serialization/Project.yml
  src/Capco/AppBundle/Resources/config/serialization/Questions.MultipleChoiceQuestion.yml
Due: php, backend

KILL-JMS fix merde jean
  features/graphql/query/projects.feature
  src/Capco/AppBundle/Resources/config/serialization/Event.yml
  src/Capco/AppBundle/Resources/config/serialization/Project.yml
  src/Capco/AppBundle/Resources/config/serialization/ProjectType.yml
Due: php, backend

KILL-JMS fix projects
  src/Capco/AppBundle/Normalizer/ProjectNormalizer.php
  src/Capco/AppBundle/Resources/config/serialization/Theme.yml
Due: php, backend

KILL-JMS fix test api
  features/api/themes.feature
  features/api/users.feature
  src/Capco/AppBundle/Normalizer/SynthesisElementNormalizer.php
Due: php, backend

KILL-JMS fix tests synthese
  features/api/synthesis.feature
Due: none

KILL-JMS fix rabbitmq
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/config/services/listeners.yml
Due: php, backend

KILL-JMS fix exports
  src/Capco/AppBundle/Resources/config/services/listeners.yml
Due: php, backend

KILL-JMS requested changes
  composer.json
  src/Capco/AppBundle/Controller/Site/HomepageController.php
  src/Capco/AppBundle/Entity/Opinion.php
  src/Capco/AppBundle/EventListener/ShieldListener.php
Due: php, backend

KILL-JMS fix opinions
  src/Capco/AppBundle/Entity/Opinion.php
Due: php, backend

KILL-JMS upgrade symfo
  composer.lock
Due: none
