Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

Fix ProposalStatusDataLoader
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalStatusDataLoader.php
Due: graphql, php, backend

Fix ProposalCurrentVotableStepDataLoader
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalCurrentVotableStepDataLoader.php
Due: graphql, php, backend

Fixes
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalVotesDataLoader.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
Due: graphql, php, backend

Fix
  src/Capco/AppBundle/Entity/Proposal.php
Due: php, backend

Add some comments
  src/Capco/AppBundle/GraphQL/DataLoader/User/ViewerProposalVotesDataLoader.php
Due: graphql, php, backend

#6814 - fix event page
  app/Resources/js/components/Event/EventPage-test.js
  app/Resources/js/components/Event/EventPage.js
  app/Resources/js/components/Event/EventPageHeader-test.js
  app/Resources/js/components/Event/EventPageHeader.js
  app/Resources/js/components/Event/__snapshots__/EventPageHeader-test.js.snap
  app/Resources/js/startup/EventApp.js
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
  src/Capco/AppBundle/Resources/views/Event/index.html.twig
Due: php, jest, flow, backend, frontend

#6814 - add migration
  app/DoctrineMigrations/Version20190110092156.php
Due: none

Fix migration order
  app/DoctrineMigrations/Version20190110092156.php
  app/DoctrineMigrations/Version20190110163822.php
Due: none

#6814 - fix event page title
  app/Resources/js/components/Event/EventPageHeader-test.js
  app/Resources/js/components/Event/EventPageHeader.js
  app/Resources/js/components/Event/__snapshots__/EventPageHeader-test.js.snap
Due: jest, flow, frontend

#6816 - fix link in footer
  app/Resources/js/components/Event/EventPageHeader-test.js
  app/Resources/js/components/Event/EventPageHeader.js
  app/Resources/js/components/Event/__snapshots__/EventPageHeader-test.js.snap
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
Due: php, jest, flow, backend, frontend

[6840-PROFILE] Replace getVotesCount in SelectionStepNormalizer by correct resolver.
  src/Capco/AppBundle/GraphQL/DataLoader/Step/StepVotesCountDataLoader.php
  src/Capco/AppBundle/Normalizer/SelectionStepNormalizer.php
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
Due: graphql, php, backend

Fix redis.yml
  app/config/redis.yml
  src/Capco/AppBundle/GraphQL/DataLoader/Step/StepVotesCountDataLoader.php
  src/Capco/AppBundle/Normalizer/SelectionStepNormalizer.php
Due: graphql, php, backend

Merge pull request #6873 from cap-collectif/6715-fix-trash-comment
  src/Capco/AppBundle/Notifier/ContributionNotifier.php
Due: php, backend

Merge pull request #6881 from cap-collectif/6840-profile-error-serialize
  src/Capco/AppBundle/GraphQL/DataLoader/Step/StepVotesCountDataLoader.php
  src/Capco/AppBundle/Normalizer/SelectionStepNormalizer.php
Due: graphql, php, backend

Merge pull request #6880 from cap-collectif/6816-fix-cookie-page
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
Due: php, backend

Merge pull request #6879 from cap-collectif/6814-fix-eevnt
  app/Resources/js/components/Event/EventPageHeader-test.js
  app/Resources/js/components/Event/EventPageHeader.js
  app/Resources/js/components/Event/__snapshots__/EventPageHeader-test.js.snap
Due: jest, flow, frontend

fix fixture of SiteParameter for bench data
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
Due: php, backend

reorder response by question position
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolver.php
Due: graphql, php, backend

#6814 - delete event body on event archived page
  app/config/redis.yml
  src/Capco/AppBundle/GraphQL/DataLoader/Step/StepVotesCountDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolver.php
  src/Capco/AppBundle/Normalizer/SelectionStepNormalizer.php
  src/Capco/AppBundle/Notifier/ContributionNotifier.php
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
  src/Capco/AppBundle/Resources/views/Event/show_archived.html.twig
Due: graphql, php, backend

Merge pull request #6887 from cap-collectif/fix-event-siteParameter
  app/config/redis.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/GraphQL/DataLoader/Step/StepVotesCountDataLoader.php
  src/Capco/AppBundle/Normalizer/SelectionStepNormalizer.php
  src/Capco/AppBundle/Notifier/ContributionNotifier.php
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
  src/Capco/AppBundle/Resources/views/Event/show_archived.html.twig
Due: graphql, php, backend

Adding internal consent in export
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
Due: php, backend

Merge pull request #6886 from cap-collectif/6588-bug-section-order
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolver.php
Due: graphql, php, backend

Merge pull request #6888 from cap-collectif/6814-fix-eevnt
  src/Capco/AppBundle/Resources/views/Event/show_archived.html.twig
Due: php, backend

[ADD] class for home page
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolver.php
  src/Capco/AppBundle/Resources/views/Event/show_archived.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/custom_section.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
Due: graphql, php, backend

Merge pull request #6891 from cap-collectif/home-page-class
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolver.php
  src/Capco/AppBundle/Resources/views/Event/show_archived.html.twig
Due: graphql, php, backend

6801-EXPORT fix export
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolver.php
  src/Capco/AppBundle/Resources/views/Event/show_archived.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/custom_section.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
Due: graphql, php, backend

hotfix on eventSearch
  features/graphql/query/events.feature
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolver.php
  src/Capco/AppBundle/Resources/views/Event/show_archived.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/custom_section.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
  src/Capco/AppBundle/Search/EventSearch.php
Due: graphql, php, backend

Merge pull request #6893 from cap-collectif/6801-export-user
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
Due: php, backend

6777-TAG use cache tag on dataloader
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalCurrentVotableStepDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/Step/CollectStep/CollectStepContributorCountDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/Step/StepVotesCountDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/User/ViewerProposalVotesDataLoader.php
Due: graphql, php, backend

FIx
  app/Resources/js/components/Event/EventPageHeader-test.js
  app/Resources/js/components/Event/EventPageHeader.js
  app/Resources/js/components/Event/__snapshots__/EventPageHeader-test.js.snap
  app/Resources/js/components/User/Registration/RegistrationForm-test.js
  app/Resources/js/components/User/Registration/RegistrationForm.js
  app/Resources/js/components/User/Registration/__snapshots__/RegistrationForm-test.js.snap
  app/Resources/js/redux/modules/default.js
  app/Resources/js/types.js
  features/graphql/query/events.feature
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalCurrentVotableStepDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/Step/CollectStep/CollectStepContributorCountDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/Step/StepVotesCountDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/User/ViewerProposalVotesDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolver.php
  src/Capco/AppBundle/Normalizer/SelectionStepNormalizer.php
  src/Capco/AppBundle/Notifier/ContributionNotifier.php
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
  src/Capco/AppBundle/Resources/views/Event/show_archived.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/custom_section.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
  src/Capco/AppBundle/Search/EventSearch.php
  src/Capco/AppBundle/Toggle/Manager.php
Due: graphql, php, jest, flow, backend, frontend

#6789 - :construction: globalId for CollecStep and Proposal
  app/Resources/js/components/Event/EventPageHeader-test.js
  app/Resources/js/components/Event/EventPageHeader.js
  app/Resources/js/components/Event/__snapshots__/EventPageHeader-test.js.snap
  app/Resources/js/components/User/Registration/RegistrationForm-test.js
  app/Resources/js/components/User/Registration/RegistrationForm.js
  app/Resources/js/components/User/Registration/__snapshots__/RegistrationForm-test.js.snap
  app/Resources/js/redux/modules/default.js
  app/Resources/js/types.js
  features/graphql/query/events.feature
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Command/EncodeGlobalIdCommand.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/GraphQL/DataLoader/Step/StepVotesCountDataLoader.php
  src/Capco/AppBundle/GraphQL/Mutation/AddProposalVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProposalVotesMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolver.php
  src/Capco/AppBundle/Normalizer/SelectionStepNormalizer.php
  src/Capco/AppBundle/Notifier/ContributionNotifier.php
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
  src/Capco/AppBundle/Resources/views/Event/show_archived.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/custom_section.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
  src/Capco/AppBundle/Search/EventSearch.php
  src/Capco/AppBundle/Toggle/Manager.php
  src/Capco/AppBundle/Utils/Str.php
Due: graphql, php, jest, flow, backend, frontend

#6789 - WIP restore graphql test
  src/Capco/AppBundle/GraphQL/Mutation/DeleteProposalMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalEvaluationMutation.php
  src/Capco/AppBundle/Resources/config/services/graphql_mutations.yml
Due: graphql, php, backend

#6789 - fix some graphql tests
  features/graphql/query/proposalOrder.feature
  features/graphql/types/proposal_step/proposal_step_proposals.feature
  features/graphql/types/selection_step/selection_step_proposals_votes.feature
  src/Capco/AppBundle/GraphQL/Mutation/DeleteProposalMutation.php
Due: graphql, php, backend

#6789 - continue to resolve global id for proposal and steps
  app/Resources/js/mutations/DeleteProposalMutation.js
  features/graphql/mutations/deleteProposal.feature
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Mutation/AddProposalVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteProposalMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/FollowProposalMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/Helper/ProposalHelper.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
Due: graphql, php, jest, flow, backend, frontend

#6789 - :fire: finish global id for proposal and Collect/Selection|Step
  src/Capco/AppBundle/Controller/Site/ProposalController.php
  src/Capco/AppBundle/Resources/views/Project/layout_with_widget.html.twig
  src/Capco/AppBundle/Resources/views/Proposal/show.html.twig
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
  src/Capco/AppBundle/Resources/views/redux_store.html.twig
  src/Capco/AppBundle/Twig/ThemeExtension.php
Due: php, backend

#6789 - catch step from globalId in Proposal dataLoaders
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalViewerHasVoteDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalViewerVoteDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalVotesDataLoader.php
Due: graphql, php, backend

#6789 - fix grpahql e2e
  features/graphql/mutations/addArgument.feature
  features/graphql/mutations/updateProposal.feature
  features/graphql/query/node.feature
  features/graphql/query/step_contributors.feature
  schema.internal.graphql
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectContributorResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/StepContributorResolver.php
  src/Capco/AppBundle/Repository/ReplyRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/ProposalStep.types.yml
  src/Capco/AppBundle/Resources/views/redux_store.html.twig
  src/Capco/AppBundle/Search/ProposalSearch.php
Due: graphql, php, backend

#6789 - disable cache for every dataloader
  src/Capco/AppBundle/GraphQL/DataLoader/Step/CollectStep/CollectStepContributorCountDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/Step/StepVotesCountDataLoader.php
  src/Capco/AppBundle/Resources/config/services/graphql_dataloaders.yml
Due: graphql, php, backend

#6789 - some fix after rebase
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalViewerHasVoteDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalViewerVoteDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalVotesDataLoader.php
Due: graphql, php, backend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
