Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: auto
        threshold: null
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

Merge pull request #8318 from cap-collectif/update-paris-api-to-69
  app/Resources/js/components/Argument/ArgumentButtons.js
  app/Resources/js/components/Ui/Button/ShareButton.js
  app/Resources/js/components/Ui/Button/ShareButtonAction.js
  app/Resources/js/components/Utils/ShareButtonDropdown.js
  app/Resources/js/startup/ShareButtonDropdownApp.js
  app/Resources/js/stories/Actions-stories.js
  app/Resources/js/stories/OpinionArgumentList-stories.js
  app/Resources/js/stories/OpinionBox-stories.js
Due: jest, flow, frontend

- Added new Address type to easily work with address from Google Maps API
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm-test.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/Resources/js/components/Proposal/Page/ProposalPageContent.js
  app/Resources/js/mutations/ChangeProposalContentMutation.js
  schema.internal.graphql
  src/Capco/AppBundle/Enum/GoogleMapsAddressType.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalAddressResolver.php
  src/Capco/AppBundle/GraphQL/Type/AddressType.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ChangeProposalContentInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CreateProposalInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/public/custom-scalar/Address.types.yml
  src/Capco/AppBundle/Resources/config/graphql/public/enums/GoogleMapsAddressType.types.yml
  src/Capco/AppBundle/Resources/config/graphql/public/objects/GoogleMapsAddress.types.yml
Due: graphql, php, jest, flow, backend, frontend

- Fixed ProposalForm
  app/Resources/js/components/Proposal/Form/ProposalForm.js
Due: jest, flow, frontend

- Moved Proposal display map list into its own component, now using GraphQL
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Page/__snapshots__/ProposalStepPage-test.js.snap
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
  app/Resources/js/components/Proposal/List/ProposalList.js
  app/Resources/js/components/Proposal/List/ProposalListToggleViewBtn.js
  app/Resources/js/components/Proposal/List/ProposalListView.js
  app/Resources/js/components/Proposal/List/ProposalListViewPaginated.js
  app/Resources/js/components/Proposal/Map/LeafletMap-test.js
  app/Resources/js/components/Proposal/Map/LeafletMap.js
  app/Resources/js/components/Proposal/Map/__snapshots__/LeafletMap-test.js.snap
  app/Resources/js/redux/modules/proposal.js
Due: jest, flow, frontend

- Fixed case-insensitive bug with flow
  app/Resources/js/components/Page/ProposalsDisplayMap.js
  app/Resources/js/components/Proposal/Map/LeafletMap-test.js
  app/Resources/js/components/Proposal/Map/LeafletMap.js
Due: jest, flow, frontend

- Fixed exports commands
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
Due: php, backend

- Fixed bp e2e test
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  features/front/proposals.feature
Due: jest, flow, frontend

- Fixed lint-js
  app/Resources/js/redux/modules/proposal.js
Due: jest, flow, frontend

- Added a GoogleMapsAddress model to extract conversion from resolver to the DTO
  src/Capco/AppBundle/DTO/GoogleMapsAddress.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalAddressResolver.php
Due: graphql, php, backend

- Added PHPSpec tests
  spec/Capco/AppBundle/DTO/GoogleMapsAddressSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalAddressResolverSpec.php
  src/Capco/AppBundle/DTO/GoogleMapsAddress.php
Due: php, backend

- Added missing typehint in GoogleMapsAddress and fixed docblock for ProposalAddressResolver and GoogleMapsAddressType description
  src/Capco/AppBundle/DTO/GoogleMapsAddress.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalAddressResolver.php
  src/Capco/AppBundle/Resources/config/graphql/public/enums/GoogleMapsAddressType.types.yml
Due: graphql, php, backend

- Added unit test for getProposalsMarkers method - Updated GraphQL schema
  app/Resources/js/components/Page/ProposalsDisplayMap-test.js
  app/Resources/js/components/Page/ProposalsDisplayMap.js
  app/Resources/js/components/Page/__snapshots__/ProposalsDisplayMap-test.js.snap
  schema.internal.graphql
Due: jest, flow, frontend

- Renamed `raw` field into `json` in GoogleMapsAddress GraphQL type - Removed useless phpdoc
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/Resources/js/mutations/ChangeProposalContentMutation.js
  schema.internal.graphql
  spec/Capco/AppBundle/DTO/GoogleMapsAddressSpec.php
  src/Capco/AppBundle/DTO/GoogleMapsAddress.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalAddressResolver.php
  src/Capco/AppBundle/Resources/config/graphql/public/objects/GoogleMapsAddress.types.yml
Due: graphql, php, jest, flow, backend, frontend

Bump babel-plugin-dev-expression from 0.2.1 to 0.2.2 (#8315)
  package.json
  yarn.lock
Due: none

Bump jolicode/jolitypo from 1.0.4 to 1.0.5 (#8314)
  composer.lock
Due: none

Bump phpstan/phpstan-doctrine from 0.11.2 to 0.11.5 (#8109)
  composer.lock
Due: none

Add sentry release.
  app/config/config_prod.yml
Due: none

[Security] Bump simplesamlphp/simplesamlphp from 1.17.2 to 1.17.3
  composer.lock
Due: none

Bump twig/twig from 2.11.2 to 2.11.3
  composer.lock
Due: none

#7824-THEME Create ThemeFilter components
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  app/Resources/js/components/Utils/ThemeFilter.js
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryThemesResolver.php
Due: graphql, php, jest, flow, backend, frontend

#7824-THEME Create ProjectFilter components
  app/Resources/js/components/Event/EventPage.js
  app/Resources/js/components/Event/EventPageContainer.js
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  app/Resources/js/components/Event/__snapshots__/EventPage-test.js.snap
  app/Resources/js/components/Utils/ProjectFilter.js
Due: jest, flow, frontend

#7824-THEME prefer naming as Select rather Filter
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  app/Resources/js/components/Utils/SelectProject.js
  app/Resources/js/components/Utils/SelectTheme.js
Due: jest, flow, frontend

#7824-THEME fix tests
  features/front/event.feature
Due: none

#7824-THEME update simplesamlphp
  composer.lock
Due: none

#7824-THEME fix composer
  composer.lock
Due: none

Fix border styling of main navbar
  app/Resources/js/components/Event/EventPage.js
  app/Resources/js/components/Event/EventPageContainer.js
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  app/Resources/js/components/Event/__snapshots__/EventPage-test.js.snap
  app/Resources/js/components/Navbar/styles.js
  app/Resources/js/components/Ui/TabsBar/styles.js
  app/Resources/js/components/Utils/SelectProject.js
  app/Resources/js/components/Utils/SelectTheme.js
  app/Resources/js/stories/Navbar-stories.js
  features/front/event.feature
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryThemesResolver.php
Due: graphql, php, jest, flow, backend, frontend

#7824-THEME Add jest
  .editorconfig
  app/Resources/js/components/Event/EventPage.js
  app/Resources/js/components/Event/EventPageContainer.js
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  app/Resources/js/components/Event/__snapshots__/EventPage-test.js.snap
  app/Resources/js/components/Navbar/styles.js
  app/Resources/js/components/Ui/TabsBar/styles.js
  app/Resources/js/components/Utils/SelectProject-test.js
  app/Resources/js/components/Utils/SelectProject.js
  app/Resources/js/components/Utils/SelectTheme-test.js
  app/Resources/js/components/Utils/SelectTheme.js
  app/Resources/js/components/Utils/__snapshots__/SelectProject-test.js.snap
  app/Resources/js/components/Utils/__snapshots__/SelectTheme-test.js.snap
  app/Resources/js/stories/Navbar-stories.js
  features/front/event.feature
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryThemesResolver.php
Due: graphql, php, jest, flow, backend, frontend

Handle mounting of navbar when logo is in error
  .editorconfig
  app/Resources/js/components/Event/EventPage.js
  app/Resources/js/components/Event/EventPageContainer.js
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  app/Resources/js/components/Event/__snapshots__/EventPage-test.js.snap
  app/Resources/js/components/Navbar/Navbar.js
  app/Resources/js/components/Navbar/__snapshots__/Navbar-test.js.snap
  app/Resources/js/components/Navbar/styles.js
  app/Resources/js/components/Ui/TabsBar/styles.js
  app/Resources/js/components/Utils/SelectProject-test.js
  app/Resources/js/components/Utils/SelectProject.js
  app/Resources/js/components/Utils/SelectTheme-test.js
  app/Resources/js/components/Utils/SelectTheme.js
  app/Resources/js/components/Utils/__snapshots__/SelectProject-test.js.snap
  app/Resources/js/components/Utils/__snapshots__/SelectTheme-test.js.snap
  app/Resources/js/stories/Navbar-stories.js
  app/Resources/js/stories/TabsBar-stories.js
  features/front/event.feature
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryThemesResolver.php
Due: graphql, php, jest, flow, backend, frontend

7824 theme project components (#8321)
  .editorconfig
  app/Resources/js/components/Event/EventPage.js
  app/Resources/js/components/Event/EventPageContainer.js
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  app/Resources/js/components/Event/__snapshots__/EventPage-test.js.snap
  app/Resources/js/components/Navbar/Navbar.js
  app/Resources/js/components/Navbar/__snapshots__/Navbar-test.js.snap
  app/Resources/js/components/Navbar/styles.js
  app/Resources/js/components/Ui/TabsBar/styles.js
  app/Resources/js/components/Utils/SelectProject-test.js
  app/Resources/js/components/Utils/SelectProject.js
  app/Resources/js/components/Utils/SelectTheme-test.js
  app/Resources/js/components/Utils/SelectTheme.js
  app/Resources/js/components/Utils/__snapshots__/SelectProject-test.js.snap
  app/Resources/js/components/Utils/__snapshots__/SelectTheme-test.js.snap
  app/Resources/js/stories/Navbar-stories.js
  app/Resources/js/stories/TabsBar-stories.js
  features/front/event.feature
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryThemesResolver.php
Due: graphql, php, jest, flow, backend, frontend

Merge branch 'master' of github.com:cap-collectif/platform into init-dockerfile
  .editorconfig
  app/Resources/js/components/Event/EventPage.js
  app/Resources/js/components/Event/EventPageContainer.js
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  app/Resources/js/components/Event/__snapshots__/EventPage-test.js.snap
  app/Resources/js/components/Utils/SelectProject-test.js
  app/Resources/js/components/Utils/SelectProject.js
  app/Resources/js/components/Utils/SelectTheme-test.js
  app/Resources/js/components/Utils/SelectTheme.js
  app/Resources/js/components/Utils/__snapshots__/SelectProject-test.js.snap
  app/Resources/js/components/Utils/__snapshots__/SelectTheme-test.js.snap
  composer.lock
  features/front/event.feature
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryThemesResolver.php
Due: graphql, php, jest, flow, backend, frontend
