Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

KILL-JMS fix fork srymfo
  composer.json
  composer.lock
Due: none

KILL-JMS fix users test
  features/api/users.feature
Due: none

KILL-JMS fix after rebase
  app/Resources/serializer/District.yml
  app/Resources/serializer/Proposal.yml
  src/Capco/AppBundle/EventListener/ProposalSerializationListener.php
  src/Capco/AppBundle/Normalizer/ProposalNormalizer.php
  src/Capco/AppBundle/Resources/config/serialization/District.yml
  src/Capco/AppBundle/Resources/config/serialization/Proposal.yml
Due: php, backend

KILL-JMS fix cancer jean
  app/Resources/js/components/Project/List/ProjectsList.js
  composer.lock
  src/Capco/AppBundle/Controller/Site/ThemeController.php
Due: php, jest, flow, backend, frontend

KILL-JMS opinion normalizer missing
  app/Resources/js/components/Project/List/ProjectsList.js
  src/Capco/AppBundle/Normalizer/OpinionNormalizer.php
  src/Capco/AppBundle/Resources/config/services/normalizers.yml
Due: php, jest, flow, backend, frontend

KILL-JMS requested changes
  src/Capco/AppBundle/Normalizer/CollectStepNormalizer.php
  src/Capco/AppBundle/Normalizer/CommentNormalizer.php
  src/Capco/AppBundle/Normalizer/LogEntryNormalizer.php
  src/Capco/AppBundle/Normalizer/OpinionNormalizer.php
  src/Capco/AppBundle/Normalizer/OpinionTypeNormalizer.php
  src/Capco/AppBundle/Normalizer/ProjectNormalizer.php
  src/Capco/AppBundle/Normalizer/ProposalNormalizer.php
  src/Capco/AppBundle/Normalizer/SelectionStepNormalizer.php
  src/Capco/AppBundle/Normalizer/SynthesisElementNormalizer.php
  src/Capco/AppBundle/Normalizer/ThemeNormalizer.php
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
Due: php, backend

fix delete sub section on submit form
  src/Capco/AdminBundle/Admin/ConsultationStepTypeAdmin.php
Due: php, backend

Merge pull request #6670 from cap-collectif/5648-bug-sub-section
  src/Capco/AdminBundle/Admin/ConsultationStepTypeAdmin.php
Due: php, backend

Merge pull request #6234 from cap-collectif/kill-jms
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/RegistrationCommunicationForm.js
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  app/Resources/js/components/Admin/__snapshots__/RegistrationCommunicationForm-test.js.snap
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestions.js
  app/Resources/scss/base/_sonata.scss
  src/Capco/AdminBundle/Admin/ConsultationStepTypeAdmin.php
  src/Capco/AdminBundle/Admin/SiteParameterAdmin.php
  src/Capco/AdminBundle/Controller/CRUDController.php
  src/Capco/AdminBundle/Resources/views/Block/help.html.twig
  src/Capco/AdminBundle/Resources/views/Settings/list.html.twig
  src/Capco/AdminBundle/Resources/views/Settings/registration.html.twig
Due: php, jest, flow, backend, frontend

Clean proposal step page
  .babelrc
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Proposal/List/ProposalListFilters.js
  app/Resources/js/redux/modules/project.js
  app/Resources/js/startup/ProposalStepPageApp.js
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/ProposalStep.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/SelectionStep.types.yml
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
  src/Capco/AppBundle/Resources/views/redux_store.html.twig
  yarn.lock
Due: php, jest, flow, backend, frontend

Increase waiting time for test
  src/Capco/AppBundle/Behat/Traits/AdminProposalTrait.php
Due: backend

Merge pull request #6672 from cap-collectif/6569-opinion-text-space
  .babelrc
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Form/MultipleChoiceRadio.js
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Proposal/List/ProposalListFilters.js
  app/Resources/js/components/Reply/Form/ButtonBody.js
  app/Resources/js/redux/modules/project.js
  app/Resources/js/startup/ProposalStepPageApp.js
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/Behat/Traits/AdminProposalTrait.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/ProposalStep.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/SelectionStep.types.yml
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
  src/Capco/AppBundle/Resources/views/redux_store.html.twig
  yarn.lock
Due: php, jest, flow, backend, frontend

Better flow coverage
  .babelrc
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Form/MultipleChoiceRadio.js
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminFollowers.js
  app/Resources/js/components/Proposal/List/ProposalListFilters.js
  app/Resources/js/components/Proposal/Page/ProposalPageFollowers-test.js
  app/Resources/js/components/Proposal/Page/ProposalPageFollowers.js
  app/Resources/js/components/Reply/Form/ButtonBody.js
  app/Resources/js/redux/modules/project.js
  app/Resources/js/startup/ProposalStepPageApp.js
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/Behat/Traits/AdminProposalTrait.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/ProposalStep.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/SelectionStep.types.yml
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
  src/Capco/AppBundle/Resources/views/redux_store.html.twig
  yarn.lock
Due: php, jest, flow, backend, frontend

Disable contributors page for now
  .babelrc
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Form/MultipleChoiceRadio.js
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminFollowers.js
  app/Resources/js/components/Proposal/List/ProposalListFilters.js
  app/Resources/js/components/Proposal/Page/ProposalPageFollowers-test.js
  app/Resources/js/components/Proposal/Page/ProposalPageFollowers.js
  app/Resources/js/components/Reply/Form/ButtonBody.js
  app/Resources/js/redux/modules/project.js
  app/Resources/js/startup/ProposalStepPageApp.js
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/Behat/Traits/AdminProposalTrait.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/ProposalStep.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/SelectionStep.types.yml
  src/Capco/AppBundle/Resources/views/Project/show_title.html.twig
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/presentation.html.twig
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
  src/Capco/AppBundle/Resources/views/redux_store.html.twig
  yarn.lock
Due: php, jest, flow, backend, frontend

Merge pull request #6660 from cap-collectif/clean-proposal-step-page
  .babelrc
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminFollowers.js
  app/Resources/js/components/Proposal/List/ProposalListFilters.js
  app/Resources/js/components/Proposal/Page/ProposalPageFollowers-test.js
  app/Resources/js/components/Proposal/Page/ProposalPageFollowers.js
  app/Resources/js/redux/modules/project.js
  app/Resources/js/startup/ProposalStepPageApp.js
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/Behat/Traits/AdminProposalTrait.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/ProposalStep.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/SelectionStep.types.yml
  src/Capco/AppBundle/Resources/views/Project/show_title.html.twig
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/presentation.html.twig
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
  src/Capco/AppBundle/Resources/views/redux_store.html.twig
  yarn.lock
Due: php, jest, flow, backend, frontend

Merge pull request #6675 from cap-collectif/disable-contributors-page
  src/Capco/AppBundle/Resources/views/Project/show_title.html.twig
  src/Capco/AppBundle/Resources/views/Step/presentation.html.twig
Due: php, backend

Cache all tasks of redux_store.html.twig for 1 min
  infrastructure/deploylib/app.py
  infrastructure/services/builder/build.sh
  package.json
  src/Capco/AppBundle/Cache/RedisCache.php
  src/Capco/AppBundle/GraphQL/DataLoader/BatchDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalVotesDataLoader.php
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/config/services/cache.yml
  src/Capco/AppBundle/Resources/config/services/resolvers.yml
  src/Capco/AppBundle/Resources/config/services/twig.yml
  src/Capco/AppBundle/Twig/ParametersExtension.php
  src/Capco/AppBundle/Twig/ReactIntlExtension.php
  src/Capco/AppBundle/Twig/RegistrationFormExtension.php
  src/Capco/AppBundle/Twig/ThemeExtension.php
  src/Capco/AppBundle/Twig/UserTypeExtension.php
Due: graphql, php, backend

Fix defaultOrderBy on consultation
  app/Resources/js/components/Consultation/OpinionList-test.js
  app/Resources/js/components/Consultation/OpinionList.js
  app/Resources/js/components/Consultation/__snapshots__/OpinionList-test.js.snap
  infrastructure/deploylib/app.py
  infrastructure/services/builder/build.sh
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/Entity/OpinionType.php
  src/Capco/AppBundle/GraphQL/DataLoader/BatchDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalVotesDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/ConsultationResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Section/SectionOpinionsResolver.php
  src/Capco/AppBundle/Manager/RedisCacheManager.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Section.types.yml
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/config/services/cache.yml
  src/Capco/AppBundle/Resources/config/services/resolvers.yml
  src/Capco/AppBundle/Resources/config/services/twig.yml
  src/Capco/AppBundle/Twig/ParametersExtension.php
  src/Capco/AppBundle/Twig/ReactIntlExtension.php
  src/Capco/AppBundle/Twig/RegistrationFormExtension.php
  src/Capco/AppBundle/Twig/ThemeExtension.php
  src/Capco/AppBundle/Twig/UserTypeExtension.php
Due: graphql, php, jest, flow, backend, frontend

Set arguments before versions
  app/Resources/js/components/Consultation/OpinionList-test.js
  app/Resources/js/components/Consultation/OpinionList.js
  app/Resources/js/components/Consultation/__snapshots__/OpinionList-test.js.snap
  app/Resources/js/components/Opinion/OpinionTabs.js
  infrastructure/deploylib/app.py
  infrastructure/services/builder/build.sh
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/Cache/RedisCache.php
  src/Capco/AppBundle/Entity/OpinionType.php
  src/Capco/AppBundle/GraphQL/DataLoader/BatchDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalVotesDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/ConsultationResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Section/SectionOpinionsResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Section.types.yml
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/config/services/cache.yml
  src/Capco/AppBundle/Resources/config/services/resolvers.yml
  src/Capco/AppBundle/Resources/config/services/twig.yml
  src/Capco/AppBundle/Twig/ParametersExtension.php
  src/Capco/AppBundle/Twig/ReactIntlExtension.php
  src/Capco/AppBundle/Twig/RegistrationFormExtension.php
  src/Capco/AppBundle/Twig/ThemeExtension.php
  src/Capco/AppBundle/Twig/UserTypeExtension.php
Due: graphql, php, jest, flow, backend, frontend

Fix GraphQL tests
  app/Resources/js/components/Consultation/OpinionList-test.js
  app/Resources/js/components/Consultation/OpinionList.js
  app/Resources/js/components/Consultation/__snapshots__/OpinionList-test.js.snap
  app/Resources/js/components/Opinion/OpinionTabs.js
  features/graphql/types/consultation/consultations.feature
  features/graphql/types/section/section_opinions.feature
  infrastructure/deploylib/app.py
  infrastructure/services/builder/build.sh
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/Entity/OpinionType.php
  src/Capco/AppBundle/GraphQL/DataLoader/BatchDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalVotesDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/ConsultationResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Section/SectionOpinionsResolver.php
  src/Capco/AppBundle/Manager/RedisCacheManager.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Section.types.yml
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/config/services/cache.yml
  src/Capco/AppBundle/Resources/config/services/resolvers.yml
  src/Capco/AppBundle/Resources/config/services/twig.yml
  src/Capco/AppBundle/Twig/ParametersExtension.php
  src/Capco/AppBundle/Twig/ReactIntlExtension.php
  src/Capco/AppBundle/Twig/RegistrationFormExtension.php
  src/Capco/AppBundle/Twig/ThemeExtension.php
  src/Capco/AppBundle/Twig/UserTypeExtension.php
Due: graphql, php, jest, flow, backend, frontend

Increase delay again
  src/Capco/AppBundle/Behat/Traits/AdminProposalTrait.php
Due: backend

Merge pull request #6679 from cap-collectif/fix-consultation-default-orderBy
  infrastructure/deploylib/app.py
  infrastructure/services/builder/build.sh
  package.json
  src/Capco/AppBundle/Cache/RedisCache.php
  src/Capco/AppBundle/GraphQL/DataLoader/BatchDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalVotesDataLoader.php
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/config/services/cache.yml
  src/Capco/AppBundle/Resources/config/services/resolvers.yml
  src/Capco/AppBundle/Resources/config/services/twig.yml
  src/Capco/AppBundle/Twig/ParametersExtension.php
  src/Capco/AppBundle/Twig/ReactIntlExtension.php
  src/Capco/AppBundle/Twig/RegistrationFormExtension.php
  src/Capco/AppBundle/Twig/ThemeExtension.php
  src/Capco/AppBundle/Twig/UserTypeExtension.php
Due: graphql, php, backend

Merge pull request #6680 from cap-collectif/arguments-before-versions
  app/Resources/js/components/Opinion/OpinionTabs.js
Due: jest, flow, frontend

add fixtures benchmark
  app/config/config.yml
  src/Capco/AppBundle/Command/LoadBenchmarkDataCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Argument.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Category.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CollectStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Opinion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Project.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProjectAbstractStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Proposal.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalForm.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalFormNotificationConfiguration.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalSelectionVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Reply.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Response.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SelectionStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Source.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Theme.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/UserType.yml
Due: php, backend

fix
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalSelectionVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
Due: php, backend

add somme fixtures
  package.json
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CommentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Proposal.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalComment.yml
Due: php, backend

fix users
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/User.yml
Due: php, backend

add districts & selectionstep
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/District.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProjectAbstractStep.yml
Due: php, backend

fix
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CollectStep.yml
Due: php, backend

fix tests
  features/graphql/mutations/createProposal.feature
Due: none

BENCHMARK_CLERMONT update lock files
  yarn.lock
Due: none

Fix benchmark fixtures
  app/config/config.yml
  features/graphql/mutations/createProposal.feature
  package.json
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CollectStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Proposal.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalCollectVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalDistrict.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalForm.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalSelectionVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/QuestionChoice.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/User.yml
  yarn.lock
Due: php, backend

Put arguments tab before opinion version
  .eslintrc.js
  app/Resources/js/components/Opinion/OpinionTabs.js
  app/config/config.yml
  src/Capco/AppBundle/Command/LoadBenchmarkDataCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Argument.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Category.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CollectStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CommentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Opinion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Project.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProjectAbstractStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Proposal.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalCollectVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalComment.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalDistrict.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalForm.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalFormNotificationConfiguration.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalSelectionVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/QuestionChoice.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Reply.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Response.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SelectionStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Source.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Theme.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/User.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/UserType.yml
Due: php, jest, flow, backend, frontend

Fix
  .eslintrc.js
  app/Resources/js/components/Opinion/OpinionTabs.js
  app/config/config.yml
  src/Capco/AppBundle/Command/LoadBenchmarkDataCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Argument.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Category.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CollectStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CommentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Opinion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Project.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProjectAbstractStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Proposal.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalCollectVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalComment.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalDistrict.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalForm.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalFormNotificationConfiguration.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalSelectionVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/QuestionChoice.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Reply.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Response.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SelectionStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Source.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Theme.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/User.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/UserType.yml
Due: php, jest, flow, backend, frontend

fix CVE for simplesaml
  .eslintrc.js
  app/Resources/js/components/Opinion/OpinionTabs.js
  app/config/config.yml
  composer.json
  composer.lock
  src/Capco/AppBundle/Command/LoadBenchmarkDataCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Argument.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Category.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CollectStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CommentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Opinion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Project.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProjectAbstractStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Proposal.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalCollectVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalComment.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalDistrict.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalForm.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalFormNotificationConfiguration.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalSelectionVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/QuestionChoice.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Reply.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Response.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SelectionStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Source.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Theme.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/User.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/UserType.yml
Due: php, jest, flow, backend, frontend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
