Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: auto
        threshold: null
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

[FIX-REDUX] Update snapshots.
  features/graphql-public/query/__snapshots__/Query_projects.js.snap
Due: none

- Add logoutUrl to configuration form - Modify GraphQL types - Toggle `enabled` value of SSO Configuration on feature toggle
  apollo.config.js
  app/DoctrineMigrations/Version20190902120511.php
  app/Resources/js/components/Admin/Authentification/FranceConnectConfigurationModal.js
  app/Resources/js/components/Admin/Authentification/ListPublicSSO.js
  app/Resources/js/components/Admin/Authentification/__snapshots__/ListPublicSSO-test.js.snap
  app/Resources/js/components/Project/ProjectTrashProposal.js
  app/Resources/js/components/Project/__snapshots__/ProjectTrashProposal-test.js.snap
  app/Resources/js/components/Proposal/Admin/ProposalAdminSelections.js
  app/Resources/js/components/Proposal/Page/ProposalPageHeader.js
  app/Resources/js/components/User/Following/FollowingsProposals.js
  app/Resources/js/components/User/Following/ProposalProjectRow.js
  app/Resources/js/mutations/UpdateFranceConnectSSOConfigurationMutation.js
  app/config/sonata.yml
  composer.json
  composer.lock
  features/graphql-public/query/__snapshots__/Query_projects.js.snap
  relay.config.js
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/PostAdmin.php
  src/Capco/AdminBundle/Controller/SettingsController.php
  src/Capco/AdminBundle/Resources/config/services.xml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/FranceConnectSSOConfiguration.yml
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Entity/SSO/FranceConnectSSOConfiguration.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalFranceConnectSSOConfiguration.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalOauth2SSOConfiguration.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposal.types.yml
Due: php, jest, flow, backend, frontend

Merge pull request #8737 from cap-collectif/1611-feedback-front
  app/DoctrineMigrations/Version20190902120511.php
  app/Resources/js/components/Admin/Authentification/FranceConnectConfigurationModal.js
  app/Resources/js/components/Admin/Authentification/ListPublicSSO.js
  app/Resources/js/components/Admin/Authentification/__snapshots__/ListPublicSSO-test.js.snap
  app/Resources/js/mutations/UpdateFranceConnectSSOConfigurationMutation.js
  schema.internal.graphql
  src/Capco/AdminBundle/Controller/SettingsController.php
  src/Capco/AdminBundle/Resources/config/services.xml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/FranceConnectSSOConfiguration.yml
  src/Capco/AppBundle/Entity/SSO/FranceConnectSSOConfiguration.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalFranceConnectSSOConfiguration.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalOauth2SSOConfiguration.types.yml
Due: php, jest, flow, backend, frontend

Use phpredis instead of predis for sessions (#8725)
  app/config/redis.yml
Due: none

Merge pull request #8736 from cap-collectif/8704-fix-IE-bug-propositions-pages
  app/config/sonata.yml
Due: none

Merge pull request #8693 from cap-collectif/6088-fix-input-field-lenght
  app/Resources/js/components/Form/MultipleChoiceRadio.js
  app/Resources/js/components/Form/Other.js
  app/Resources/js/components/Form/__snapshots__/MultipleChoiceRadio-test.js.snap
  app/Resources/js/utils/__snapshots__/responsesHelper-test.js.snap
  app/Resources/js/utils/responsesHelper.js
  app/Resources/scss/modules/_form.scss
Due: jest, flow, frontend

8436-FIX conditional display consltation plan
  app/DoctrineMigrations/Version20190902120511.php
  app/Resources/js/components/Admin/Authentification/FranceConnectConfigurationModal.js
  app/Resources/js/components/Admin/Authentification/ListPublicSSO.js
  app/Resources/js/components/Admin/Authentification/__snapshots__/ListPublicSSO-test.js.snap
  app/Resources/js/components/Consultation/ConsultationPlan.js
  app/Resources/js/components/Consultation/ConsultationPropositionStep-test.js
  app/Resources/js/components/Consultation/ConsultationPropositionStep.js
  app/Resources/js/components/Consultation/SectionRecursiveList-test.js
  app/Resources/js/components/Consultation/SectionRecursiveList.js
  app/Resources/js/components/Consultation/__snapshots__/ConsultationPlan-test.js.snap
  app/Resources/js/components/Consultation/__snapshots__/ConsultationPropositionStep-test.js.snap
  app/Resources/js/components/Consultation/__snapshots__/SectionRecursiveList-test.js.snap
  app/Resources/js/components/Form/MultipleChoiceRadio.js
  app/Resources/js/components/Form/Other.js
  app/Resources/js/components/Form/__snapshots__/MultipleChoiceRadio-test.js.snap
  app/Resources/js/mutations/UpdateFranceConnectSSOConfigurationMutation.js
  app/Resources/js/utils/__snapshots__/responsesHelper-test.js.snap
  app/Resources/js/utils/responsesHelper.js
  app/Resources/scss/modules/_form.scss
  app/config/redis.yml
  app/config/sonata.yml
  schema.internal.graphql
  src/Capco/AdminBundle/Controller/SettingsController.php
  src/Capco/AdminBundle/Resources/config/services.xml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/FranceConnectSSOConfiguration.yml
  src/Capco/AppBundle/Entity/SSO/FranceConnectSSOConfiguration.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalFranceConnectSSOConfiguration.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalOauth2SSOConfiguration.types.yml
Due: php, jest, flow, backend, frontend

Fix SSO fixtures, add SSOConfigurations to prod fixtures test
  app/DoctrineMigrations/Version20190902120511.php
  app/Resources/js/components/Admin/Authentification/FranceConnectConfigurationModal.js
  app/Resources/js/components/Admin/Authentification/ListPublicSSO.js
  app/Resources/js/components/Admin/Authentification/__snapshots__/ListPublicSSO-test.js.snap
  app/Resources/js/components/Consultation/ConsultationPlan.js
  app/Resources/js/components/Consultation/ConsultationPropositionStep-test.js
  app/Resources/js/components/Consultation/ConsultationPropositionStep.js
  app/Resources/js/components/Consultation/SectionRecursiveList-test.js
  app/Resources/js/components/Consultation/SectionRecursiveList.js
  app/Resources/js/components/Consultation/__snapshots__/ConsultationPlan-test.js.snap
  app/Resources/js/components/Consultation/__snapshots__/ConsultationPropositionStep-test.js.snap
  app/Resources/js/components/Consultation/__snapshots__/SectionRecursiveList-test.js.snap
  app/Resources/js/components/Form/MultipleChoiceRadio.js
  app/Resources/js/components/Form/Other.js
  app/Resources/js/components/Form/__snapshots__/MultipleChoiceRadio-test.js.snap
  app/Resources/js/mutations/UpdateFranceConnectSSOConfigurationMutation.js
  app/Resources/js/utils/__snapshots__/responsesHelper-test.js.snap
  app/Resources/js/utils/responsesHelper.js
  app/Resources/scss/modules/_form.scss
  app/config/redis.yml
  app/config/sonata.yml
  schema.internal.graphql
  src/Capco/AdminBundle/Controller/SettingsController.php
  src/Capco/AdminBundle/Resources/config/services.xml
  src/Capco/AppBundle/Command/LoadProdDataCommand.php
  src/Capco/AppBundle/Entity/SSO/AbstractSSOConfiguration.php
  src/Capco/AppBundle/Entity/SSO/FranceConnectSSOConfiguration.php
  src/Capco/AppBundle/Entity/SSO/Oauth2SSOConfiguration.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalFranceConnectSSOConfiguration.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalOauth2SSOConfiguration.types.yml
Due: php, jest, flow, backend, frontend

Add SSOType enum
  src/Capco/AppBundle/Entity/SSO/FranceConnectSSOConfiguration.php
  src/Capco/AppBundle/Entity/SSO/Oauth2SSOConfiguration.php
  src/Capco/AppBundle/Enum/SSOType.php
Due: php, backend

Upgrade Flow to 106.3 with relay support
  .flowconfig
  app/DoctrineMigrations/Version20190902120511.php
  package.json
  src/Capco/AppBundle/Command/LoadProdDataCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Prod/FranceConnectSSOConfiguration.yml
  src/Capco/AppBundle/Entity/SSO/AbstractSSOConfiguration.php
  src/Capco/AppBundle/Entity/SSO/FranceConnectSSOConfiguration.php
  src/Capco/AppBundle/Entity/SSO/Oauth2SSOConfiguration.php
  src/Capco/AppBundle/Enum/SSOType.php
  yarn.lock
Due: php, backend

- Added default provider for `media` form field in `PostAdmin` and changed label
  .flowconfig
  package.json
  src/Capco/AdminBundle/Admin/PostAdmin.php
  yarn.lock
Due: php, backend

Modify toggle sso button logic
  app/DoctrineMigrations/Version20190902120511.php
  app/Resources/js/components/Admin/Authentification/ListPublicSSO.js
  app/Resources/js/components/Admin/Authentification/__snapshots__/ListPublicSSO-test.js.snap
  app/Resources/js/mutations/ToggleSSOConfigurationStatusMutation.js
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/PostAdmin.php
  src/Capco/AppBundle/Command/LoadProdDataCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Prod/FranceConnectSSOConfiguration.yml
  src/Capco/AppBundle/Entity/SSO/AbstractSSOConfiguration.php
  src/Capco/AppBundle/Entity/SSO/FranceConnectSSOConfiguration.php
  src/Capco/AppBundle/Entity/SSO/Oauth2SSOConfiguration.php
  src/Capco/AppBundle/Enum/SSOType.php
  src/Capco/AppBundle/GraphQL/Mutation/ToggleSSOConfigurationStatusMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/InternalToggleSSOConfigurationStatusInput.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/InternalToggleSSOConfigurationStatusPayload.types.yml
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #8743 from cap-collectif/upgrade-to-flow-106
  .flowconfig
  app/DoctrineMigrations/Version20190902120511.php
  app/Resources/js/components/Admin/Authentification/ListPublicSSO.js
  app/Resources/js/components/Admin/Authentification/__snapshots__/ListPublicSSO-test.js.snap
  app/Resources/js/mutations/ToggleSSOConfigurationStatusMutation.js
  package.json
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/PostAdmin.php
  src/Capco/AppBundle/Command/LoadProdDataCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Prod/FranceConnectSSOConfiguration.yml
  src/Capco/AppBundle/Entity/SSO/AbstractSSOConfiguration.php
  src/Capco/AppBundle/Entity/SSO/FranceConnectSSOConfiguration.php
  src/Capco/AppBundle/Entity/SSO/Oauth2SSOConfiguration.php
  src/Capco/AppBundle/Enum/SSOType.php
  src/Capco/AppBundle/GraphQL/Mutation/ToggleSSOConfigurationStatusMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/InternalToggleSSOConfigurationStatusInput.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/InternalToggleSSOConfigurationStatusPayload.types.yml
  yarn.lock
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #8742 from cap-collectif/fix-france-connect-fixtures
  app/DoctrineMigrations/Version20190902120511.php
  app/Resources/js/components/Admin/Authentification/ListPublicSSO.js
  app/Resources/js/components/Admin/Authentification/__snapshots__/ListPublicSSO-test.js.snap
  app/Resources/js/mutations/ToggleSSOConfigurationStatusMutation.js
  schema.internal.graphql
  src/Capco/AppBundle/Command/LoadProdDataCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Prod/FranceConnectSSOConfiguration.yml
  src/Capco/AppBundle/Entity/SSO/AbstractSSOConfiguration.php
  src/Capco/AppBundle/Entity/SSO/FranceConnectSSOConfiguration.php
  src/Capco/AppBundle/Entity/SSO/Oauth2SSOConfiguration.php
  src/Capco/AppBundle/Enum/SSOType.php
  src/Capco/AppBundle/GraphQL/Mutation/ToggleSSOConfigurationStatusMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/InternalToggleSSOConfigurationStatusInput.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/InternalToggleSSOConfigurationStatusPayload.types.yml
Due: graphql, php, jest, flow, backend, frontend

- Added memory_limit=-1 to download-translations script to avoid memory error in CI
  package.json
Due: none

- Renamed useWindowWidth to a more generic useWindowSize and fixed hook to avoid unnecessary addition of event handlers
  app/Resources/js/components/Event/List/EventListPaginated.js
  app/Resources/js/utils/hooks/useWindowWidth.js
  package.json
Due: jest, flow, frontend

- Added strict type flow
  app/Resources/js/utils/hooks/useWindowWidth.js
Due: jest, flow, frontend

- Fixed typo
  app/Resources/js/utils/hooks/useWindowWidth.js
Due: jest, flow, frontend

[FIX] Erreur mémoire sur la CI lors du script `download-transla… (#8750)
  app/Resources/js/components/Event/List/EventListPaginated.js
  app/Resources/js/utils/hooks/useWindowWidth.js
  package.json
Due: jest, flow, frontend

Merge pull request #8753 from cap-collectif/fix-useWindow-hook
  app/Resources/js/components/Event/List/EventListPaginated.js
  app/Resources/js/utils/hooks/useWindowWidth.js
Due: jest, flow, frontend

8681-EVENT Add arg orderBy on event
  app/Resources/js/components/Event/EventPage.js
  app/Resources/js/components/Event/EventPageContainer.js
  app/Resources/js/components/Event/List/EventListCounter.js
  app/Resources/js/components/Event/List/EventListFilter-test.js
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/EventListPaginated.js
  app/Resources/js/components/Event/List/EventPagePassedEventsPreview.js
  app/Resources/js/components/Event/List/EventRefetch.js
  app/Resources/js/components/Event/Map/EventMap.js
  app/Resources/js/components/Event/Profile/EventListProfileRefetch.js
  app/Resources/js/components/Event/__snapshots__/EventPage-test.js.snap
  app/Resources/js/utils/hooks/useWindowWidth.js
Due: jest, flow, frontend

8648-FIX fix sonata search form
  app/Resources/js/components/Event/EventPage.js
  app/Resources/js/components/Event/EventPageContainer.js
  app/Resources/js/components/Event/List/EventListCounter.js
  app/Resources/js/components/Event/List/EventListFilter-test.js
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/EventListPaginated.js
  app/Resources/js/components/Event/List/EventPagePassedEventsPreview.js
  app/Resources/js/components/Event/List/EventRefetch.js
  app/Resources/js/components/Event/Map/EventMap.js
  app/Resources/js/components/Event/Profile/EventListProfileRefetch.js
  app/Resources/js/components/Event/__snapshots__/EventPage-test.js.snap
  app/Resources/js/utils/hooks/useWindowWidth.js
  app/config/sonata.yml
  features/back/parameter/admin.feature
  src/Capco/AdminBundle/Admin/SiteFaviconAdmin.php
  src/Capco/AdminBundle/Resources/config/admin.yml
  src/Capco/AdminBundle/Resources/views/standard_layout.html.twig
  src/Capco/AppBundle/Behat/Traits/AdminDashboardTait.php
Due: php, jest, flow, backend, frontend

6541-EVENT-NOTIFY-NEW :tada: - :construction:
  app/config/sonata.yml
  features/back/parameter/admin.feature
  src/Capco/AdminBundle/Admin/SiteFaviconAdmin.php
  src/Capco/AdminBundle/Resources/config/admin.yml
  src/Capco/AdminBundle/Resources/views/standard_layout.html.twig
  src/Capco/AppBundle/Behat/Traits/AdminDashboardTait.php
  src/Capco/AppBundle/GraphQL/Resolver/Event/EventUrlResolver.php
  src/Capco/AppBundle/Mailer/Message/Event/EventCreateAdminMessage.php
  src/Capco/AppBundle/Notifier/EventNotifier.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, backend

6541-EVENT-NOTIFY-NEW :constrution: create email view
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/GraphQL/Resolver/Event/EventUrlResolver.php
  src/Capco/AppBundle/Mailer/Message/Event/EventCreateAdminMessage.php
  src/Capco/AppBundle/Mailer/templates/notifyAdminOfNewEvent.html.twig
  src/Capco/AppBundle/Notifier/EventNotifier.php
Due: graphql, php, backend

6541-EVENT-NOTIFY-NEW create event template for new event
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Mailer/templates/notifyAdminOfNewEvent.html.twig
  src/Capco/AppBundle/Mailer/templates/standardLayout.html.twig
Due: php, backend

6541-EVENT-NOTIFY-NEW Init swarrot for event
  app/config/rabbitmq.yml
  app/config/swarrot.yml
  src/Capco/AppBundle/Processor/Event/EventCreateProcessor.php
  src/Capco/AppBundle/Processor/Event/EventDeleteProcessor.php
  src/Capco/AppBundle/Processor/Event/EventUpdateProcessor.php
Due: php, backend

6541-EVENT-NOTIFY-NEW update notifiers and processor
  src/Capco/AppBundle/GraphQL/Mutation/AddEventMutation.php
  src/Capco/AppBundle/Mailer/Message/Event/EventCreateAdminMessage.php
  src/Capco/AppBundle/Mailer/templates/standardLayout.html.twig
  src/Capco/AppBundle/Notifier/ArgumentNotifier.php
  src/Capco/AppBundle/Notifier/BaseNotifier.php
  src/Capco/AppBundle/Notifier/CommentNotifier.php
  src/Capco/AppBundle/Notifier/ContributionNotifier.php
  src/Capco/AppBundle/Notifier/EventNotifier.php
  src/Capco/AppBundle/Notifier/FOSNotifier.php
  src/Capco/AppBundle/Notifier/FollowerNotifier.php
  src/Capco/AppBundle/Notifier/OpinionNotifier.php
  src/Capco/AppBundle/Notifier/ProjectNotifier.php
  src/Capco/AppBundle/Notifier/ProposalNotifier.php
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
  src/Capco/AppBundle/Notifier/ReportNotifier.php
  src/Capco/AppBundle/Notifier/UserArchiveNotifier.php
  src/Capco/AppBundle/Notifier/UserNotifier.php
  src/Capco/AppBundle/Processor/Event/EventCreateProcessor.php
Due: graphql, php, backend

6541-EVENT Add event create notifier with e2e test
  __snapshots__/emails/notifyAdminOfNewEvent.html
  features/graphql/mutation/addEvent.feature
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Mailer/Message/Event/EventCreateAdminMessage.php
  src/Capco/AppBundle/Mailer/Message/Message.php
  src/Capco/AppBundle/Mailer/templates/Admin/notifyAdminOfNewEvent.html.twig
  src/Capco/AppBundle/Notifier/BaseNotifier.php
  src/Capco/AppBundle/Notifier/EventNotifier.php
  src/Capco/AppBundle/Notifier/FollowerNotifier.php
  src/Capco/AppBundle/Processor/Event/EventCreateProcessor.php
Due: php, backend

6541-EVENT fix
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Mailer/Message/Message.php
Due: php, backend

6541-EVENT update action to integrate emails
  __snapshots__/exports/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  __snapshots__/exports/un-avenir-meilleur-pour-les-nains-de-jardins-custom-access_collecte-des-propositions-liberer-les-nains-de-jardin.csv
  __snapshots__/rgpd_user_archives/user1/user.csv
  __snapshots__/rgpd_user_archives/user5/user.csv
  __snapshots__/rgpd_user_archives/userAdmin/user.csv
  features/commands/consumers/event.feature
  spec/Capco/AppBundle/GraphQL/Mutation/AddEventMutationSpec.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/GraphQL/Mutation/AddEventMutation.php
  src/Capco/AppBundle/Mailer/Message/Event/EventCreateAdminMessage.php
  src/Capco/AppBundle/Mailer/Message/MessagesList.php
  src/Capco/AppBundle/Notifier/EventNotifier.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, backend

6541-EVENT fix snapshots
  __snapshots__/exports/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  __snapshots__/exports/un-avenir-meilleur-pour-les-nains-de-jardins-custom-access_collecte-des-propositions-liberer-les-nains-de-jardin.csv
  __snapshots__/rgpd_user_archives/user1/user.csv
  __snapshots__/rgpd_user_archives/user5/user.csv
  __snapshots__/rgpd_user_archives/userAdmin/user.csv
  infrastructure/services/builder/build.sh
  infrastructure/services/remote/Dockerfile
  src/Capco/AppBundle/Processor/Event/EventCreateProcessor.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: php, backend

- Fixed wrong import of GroupCreateButton (was not importing redux form connected component) - Added e2e tests and e2e-group testsuite
  __snapshots__/emails/notifyAdminOfNewEvent.html
  app/Resources/js/startup/GroupCreateButtonApp.js
  app/config/rabbitmq.yml
  app/config/swarrot.yml
  behat.yml
  features/back/group/group.feature
  features/commands/consumers/event.feature
  features/graphql/mutation/addEvent.feature
  infrastructure/services/builder/build.sh
  infrastructure/services/remote/Dockerfile
  spec/Capco/AppBundle/GraphQL/Mutation/AddEventMutationSpec.php
  src/Capco/AppBundle/Behat/Page/AdminGroupListPage.php
  src/Capco/AppBundle/Behat/Traits/AdminTrait.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/GraphQL/Mutation/AddEventMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Event/EventUrlResolver.php
  src/Capco/AppBundle/Mailer/Message/Event/EventCreateAdminMessage.php
  src/Capco/AppBundle/Mailer/Message/Message.php
  src/Capco/AppBundle/Mailer/Message/MessagesList.php
  src/Capco/AppBundle/Mailer/templates/Admin/notifyAdminOfNewEvent.html.twig
  src/Capco/AppBundle/Notifier/ArgumentNotifier.php
  src/Capco/AppBundle/Notifier/BaseNotifier.php
  src/Capco/AppBundle/Notifier/CommentNotifier.php
  src/Capco/AppBundle/Notifier/ContributionNotifier.php
  src/Capco/AppBundle/Notifier/EventNotifier.php
  src/Capco/AppBundle/Notifier/FOSNotifier.php
  src/Capco/AppBundle/Notifier/FollowerNotifier.php
  src/Capco/AppBundle/Notifier/OpinionNotifier.php
  src/Capco/AppBundle/Notifier/ProjectNotifier.php
  src/Capco/AppBundle/Notifier/ProposalNotifier.php
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
  src/Capco/AppBundle/Notifier/ReportNotifier.php
  src/Capco/AppBundle/Notifier/UserArchiveNotifier.php
  src/Capco/AppBundle/Notifier/UserNotifier.php
  src/Capco/AppBundle/Processor/Event/EventCreateProcessor.php
  src/Capco/AppBundle/Processor/Event/EventDeleteProcessor.php
  src/Capco/AppBundle/Processor/Event/EventUpdateProcessor.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, jest, flow, backend, frontend

- Removed @dev tag
  features/back/group/group.feature
Due: none

Merge pull request #8660 from cap-collectif/8648-fix-sonata-search
  app/config/sonata.yml
  features/back/parameter/admin.feature
  src/Capco/AdminBundle/Admin/SiteFaviconAdmin.php
  src/Capco/AdminBundle/Resources/config/admin.yml
  src/Capco/AdminBundle/Resources/views/standard_layout.html.twig
  src/Capco/AppBundle/Behat/Traits/AdminDashboardTait.php
Due: php, backend

Merge pull request #8620 from cap-collectif/6541-event-notify-new
  __snapshots__/emails/notifyAdminOfNewEvent.html
  app/config/rabbitmq.yml
  app/config/swarrot.yml
  features/commands/consumers/event.feature
  features/graphql/mutation/addEvent.feature
  infrastructure/services/builder/build.sh
  infrastructure/services/remote/Dockerfile
  spec/Capco/AppBundle/GraphQL/Mutation/AddEventMutationSpec.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/GraphQL/Mutation/AddEventMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Event/EventUrlResolver.php
  src/Capco/AppBundle/Mailer/Message/Event/EventCreateAdminMessage.php
  src/Capco/AppBundle/Mailer/Message/Message.php
  src/Capco/AppBundle/Mailer/Message/MessagesList.php
  src/Capco/AppBundle/Mailer/templates/Admin/notifyAdminOfNewEvent.html.twig
  src/Capco/AppBundle/Notifier/ArgumentNotifier.php
  src/Capco/AppBundle/Notifier/BaseNotifier.php
  src/Capco/AppBundle/Notifier/CommentNotifier.php
  src/Capco/AppBundle/Notifier/ContributionNotifier.php
  src/Capco/AppBundle/Notifier/EventNotifier.php
  src/Capco/AppBundle/Notifier/FOSNotifier.php
  src/Capco/AppBundle/Notifier/FollowerNotifier.php
  src/Capco/AppBundle/Notifier/OpinionNotifier.php
  src/Capco/AppBundle/Notifier/ProjectNotifier.php
  src/Capco/AppBundle/Notifier/ProposalNotifier.php
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
  src/Capco/AppBundle/Notifier/ReportNotifier.php
  src/Capco/AppBundle/Notifier/UserArchiveNotifier.php
  src/Capco/AppBundle/Notifier/UserNotifier.php
  src/Capco/AppBundle/Processor/Event/EventCreateProcessor.php
  src/Capco/AppBundle/Processor/Event/EventDeleteProcessor.php
  src/Capco/AppBundle/Processor/Event/EventUpdateProcessor.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, backend

WIP: Working mutation in login
  app/DoctrineMigrations/Version20190826090615.php
  app/Resources/js/components/User/Login/LoginForm.js
  app/Resources/js/components/User/Login/LoginModal.js
  app/Resources/js/mutations/AddUserConnectionAttemptMutation.js
  app/Resources/js/redux/modules/user.js
  schema.internal.graphql
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Entity/UserConnection.php
  src/Capco/AppBundle/GraphQL/Mutation/AddUserConnectionAttemptMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserConnectionResolver.php
  src/Capco/AppBundle/Repository/UserConnectionRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AddUserConnectionAttempt.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AddUserConnectionAttemptPayload.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/UserConnectionAttempt.yml
  src/Capco/AppBundle/Resources/config/services/repositories.yml
Due: graphql, php, jest, flow, backend, frontend

Fix flow errors for userLink and displaying captcha
  app/Resources/js/components/Comment/CommentInfos-test.js
  app/Resources/js/components/Comment/CommentInfos.js
  app/Resources/js/components/Opinion/OpinionInfos.js
  app/Resources/js/components/Proposal/Page/ProposalPageHeader-test.js
  app/Resources/js/components/Proposal/Page/ProposalPageHeader.js
  app/Resources/js/components/Proposal/Preview/ProposalPreviewUser.js
  app/Resources/js/components/User/Login/LoginForm.js
  app/Resources/js/components/User/Profile/EditProfileTabs.js
  app/Resources/js/components/User/UserAvatar-test.js
  app/Resources/js/components/User/UserPreview.js
  app/Resources/js/components/Vote/VoteItem-test.js
  app/Resources/js/components/Vote/VoteItem.js
  app/Resources/js/mutations/AddUserConnectionAttemptMutation.js
  app/Resources/js/redux/modules/user.js
  app/Resources/js/stores/AppStore.js
  app/config/config.yml
  app/config/security.yml
  composer.json
  composer.lock
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/EventListener/AuthenticationHandler.php
  src/Capco/AppBundle/EventListener/AuthenticationListener.php
  src/Capco/AppBundle/GraphQL/Mutation/AddUserConnectionAttemptMutation.php
  src/Capco/AppBundle/Repository/UserConnectionRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AddUserConnectionAttempt.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AddUserConnectionAttemptPayload.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/UserConnectionAttempt.yml
  yarn.lock
Due: graphql, php, jest, flow, backend, frontend

Rebasing
  app/DoctrineMigrations/Version20190829101043.php
  app/Resources/js/components/Admin/Field/__snapshots__/CustomPageFields-test.js.snap
  app/Resources/js/components/Comment/__snapshots__/CommentInfos-test.js.snap
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  app/Resources/js/components/Event/List/__snapshots__/EventListStatusFilter-test.js.snap
  app/Resources/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorsModal-test.js.snap
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageHeader-test.js.snap
  app/Resources/js/components/User/Login/LoginForm-test.js
  app/Resources/js/components/User/Login/LoginForm.js
  app/Resources/js/components/User/Login/__snapshots__/LoginBox-test.js.snap
  app/Resources/js/components/User/Login/__snapshots__/LoginForm-test.js.snap
  app/Resources/js/components/User/__snapshots__/ConfirmPasswordModal-test.js.snap
  app/Resources/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  app/Resources/js/components/Vote/__snapshots__/VoteItem-test.js.snap
  app/Resources/js/redux/modules/default.js
  app/Resources/js/redux/modules/user.js
  app/Resources/js/stores/AppStore.js
  app/Resources/js/types.js
  app/Resources/js/utils/__snapshots__/responsesHelper-test.js.snap
  features/graphql-public/Media/__snapshots__/Media_url.js.snap
  features/graphql-public/MediaQuestion/__snapshots__/MediaQuestion_responses.js.snap
  features/graphql-public/MultipleChoiceQuestion/__snapshots__/MultipleChoiceQuestion_choices.js.snap
  features/graphql-public/MultipleChoiceQuestion/__snapshots__/MultipleChoiceQuestion_responses.js.snap
  features/graphql-public/SimpleQuestion/__snapshots__/SimpleQuestion_responses.js.snap
  features/graphql-public/User/__snapshots__/User_replies.js.snap
  features/graphql/query/users_connections.feature
  schema.internal.graphql
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Entity/UserConnection.php
  src/Capco/AppBundle/EventListener/AuthenticationHandler.php
  src/Capco/AppBundle/EventListener/AuthenticationListener.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserConnectionResolver.php
  src/Capco/AppBundle/Repository/UserConnectionRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/UserConnectionAttempt.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/relay-connection/UserConnectionAttemptConnection.types.yml
  src/Capco/AppBundle/Toggle/Manager.php
Due: graphql, php, jest, flow, backend, frontend
