Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: auto
        threshold: null
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

#6898 - fix event test
  app/Resources/js/components/Event/List/EventListFilters.js
  features/front/event.feature
  features/graphql/query/events.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Event.yml
Due: php, jest, flow, backend, frontend

#6898 - fix reindex event in elastaictsearch after deleted event
  schema.internal.graphql
  schema.preview.graphql
  src/Capco/AdminBundle/Admin/EventAdmin.php
  src/Capco/AdminBundle/Resources/config/admin.yml
  src/Capco/AppBundle/Elasticsearch/mapping.yml
  src/Capco/AppBundle/Normalizer/ProjectNormalizer.php
  src/Capco/AppBundle/Repository/EventRepository.php
  src/Capco/AppBundle/Resources/config/graphql/preview/PreviewQuery.types.yml
Due: php, backend

#6904 - can search google address with city and zipCode only in address validor
  src/Capco/AdminBundle/Admin/EventAdmin.php
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Validator/Constraints/HasValidAddressValidator.php
Due: php, backend

#6878 - optimize event search result
  src/Capco/AppBundle/Repository/EventRepository.php
  src/Capco/AppBundle/Search/EventSearch.php
Due: php, backend

#6878 - add event fixture for benchmark
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Event.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/LoaderDataFixture.php
Due: php, backend

#6789 - fix eventPage
  app/Resources/js/components/Event/EventPage-test.js
  app/Resources/js/components/Event/EventPage.js
  app/Resources/js/components/Event/EventPageHeader-test.js
  app/Resources/js/components/Event/EventPageHeader.js
  app/Resources/js/components/Event/__snapshots__/EventPage-test.js.snap
  app/Resources/js/components/Event/__snapshots__/EventPageHeader-test.js.snap
Due: jest, flow, frontend

#6895 - pick author's email for event's author
  src/Capco/AdminBundle/Admin/EventAdmin.php
Due: php, backend

events - somes fix
  app/Resources/js/components/Event/Map/EventMap.js
  app/Resources/js/components/Event/Map/LeafletMap.js
  src/Capco/AdminBundle/Admin/EventAdmin.php
  src/Capco/AdminBundle/Admin/ProjectAdmin.php
  src/Capco/AdminBundle/Admin/ThemeAdmin.php
  src/Capco/AdminBundle/Resources/config/admin.yml
  src/Capco/AppBundle/Elasticsearch/ElasticsearchDoctrineListener.php
  src/Capco/AppBundle/Entity/Event.php
Due: php, jest, flow, backend, frontend

Clean user roles in API
  app/Resources/js/components/Event/List/EventListFilters.js
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryThemesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserRolesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserRolesTextResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/UserResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
  src/Capco/AppBundle/Resources/views/GraphiQL/index.html.twig
  src/Capco/UserBundle/Resources/config/serialization/Entity.User.yml
  src/Capco/UserBundle/Resources/config/serializer/Entity.User.yml
Due: graphql, php, jest, flow, backend, frontend

Fix PHPSpec
  spec/Capco/AppBundle/Elasticsearch/ElasticsearchDoctrineListenerSpec.php
  spec/Capco/AppBundle/GraphQL/Dataloader/Proposal/ProposalViewerHasVoteDataLoaderSpec.php
  spec/Capco/AppBundle/GraphQL/Dataloader/Proposal/ProposalViewerIsFollowingDataLoaderSpec.php
  spec/Capco/AppBundle/GraphQL/Dataloader/Proposal/ProposalViewerVoteDataLoaderSpec.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalViewerHasVoteDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalViewerVoteDataLoader.php
  src/Capco/AppBundle/Repository/EventRepository.php
Due: graphql, php, backend

Remove not used var
  app/Resources/js/components/Page/ProposalStepPage.js
Due: jest, flow, frontend

Fix filters
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  features/front/event.feature
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectsResolver.php
Due: graphql, php, jest, flow, backend, frontend

Fix rest tests
  features/api/synthesis.feature
  src/Capco/AppBundle/Resources/config/serialization/Synthesis.SynthesisUser.yml
Due: php, backend

Fix visibility
  src/Capco/AppBundle/GraphQL/Resolver/User/UserRolesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserRolesTextResolver.php
Due: graphql, php, backend

Fix viewerValue included if not authenticated
  app/Resources/js/components/Requirements/RequirementsForm.js
Due: jest, flow, frontend

Fix UserRolesTextResolver
  src/Capco/AppBundle/GraphQL/Resolver/User/UserRolesTextResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
Due: graphql, php, backend

Fix React selector
  app/Resources/js/components/Form/Select.js
  features/front/event.feature
  features/front/project.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
Due: jest, flow, backend, frontend

Fix css selector
  app/Resources/js/components/Form/Select.js
  app/Resources/js/components/Proposal/Form/ProposalFusionForm.js
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Traits/AdminTrait.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
Due: php, jest, flow, backend, frontend

Fix e2e-consultation and remove I wait
  features/front/arguments.feature
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
Due: backend

Merge pull request #6986 from cap-collectif/6975-cookie-page
  app/Resources/js/components/StaticPage/Cookie.js
  src/Capco/AppBundle/Resources/views/base.html.twig
Due: php, jest, flow, backend, frontend

Add some debounce and html fixes
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/EventListPaginated.js
  app/Resources/js/components/Event/List/EventRefetch.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Event/Map/__snapshots__/LeafletMap-test.js.snap
  app/Resources/js/components/Filters/FiltersContainer.js
  src/Capco/AdminBundle/Controller/ReportingController.php
  src/Capco/AppBundle/Elasticsearch/mapping.yml
  src/Capco/AppBundle/Repository/EventRepository.php
  src/Capco/AppBundle/Search/EventSearch.php
Due: php, jest, flow, backend, frontend

update CSV
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/budget-participatif-rennes_vainqueur.csv
Due: none

6838-FIX fix test notifier
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Proposal.yml
  src/Capco/AppBundle/Traits/TimestampableTrait.php
Due: php, backend

6838-FIX regenerate snapshots
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_collecte-avec-vote-simple-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_selection-avec-vote-budget-limite.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-privee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_depot-avec-vote.csv
  features/commands/__snapshots__/budget-participatif-rennes_fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection-a-venir.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/budget-participatif-rennes_vainqueur.csv
  features/commands/__snapshots__/croissance-innovation-disruption_collecte-des-avis.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_collecte-des-propositions-1.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_selection-avec-vote-selon-le-budget.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_depot-ferme.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_selection-avec-vote-simple.csv
  features/commands/__snapshots__/projet-de-loi-renseignement_elaboration-de-la-loi.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
  features/commands/__snapshots__/strategie-technologique-de-letat-et-services-publics_collecte-des-avis-pour-une-meilleur-strategie.csv
  features/commands/__snapshots__/transformation-numerique-des-relations_ma-futur-collecte-de-proposition.csv
  features/commands/__snapshots__/users.csv
Due: none

6838-FIX fix tests
  features/commands/__snapshots__/users.csv
  src/Capco/AppBundle/DataFixtures/ORM/Dev/User.yml
  src/Capco/AppBundle/Mailer/Message/Opinion/UpdateOpinionModeratorMessage.php
  src/Capco/AppBundle/Mailer/Message/Proposal/ProposalUpdateAdminMessage.php
Due: php, backend

6838-FIX snapshot
  features/commands/__snapshots__/users.csv
Due: none

6838-FIX fix test
  features/commands/__snapshots__/users.csv
Due: none

Adding appendix type help text in front
  app/Resources/js/components/Opinion/OpinionAppendix.js
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_collecte-avec-vote-simple-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_selection-avec-vote-budget-limite.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-privee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_depot-avec-vote.csv
  features/commands/__snapshots__/budget-participatif-rennes_fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection-a-venir.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/budget-participatif-rennes_vainqueur.csv
  features/commands/__snapshots__/croissance-innovation-disruption_collecte-des-avis.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_collecte-des-propositions-1.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_selection-avec-vote-selon-le-budget.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_depot-ferme.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_selection-avec-vote-simple.csv
  features/commands/__snapshots__/projet-de-loi-renseignement_elaboration-de-la-loi.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
  features/commands/__snapshots__/strategie-technologique-de-letat-et-services-publics_collecte-des-avis-pour-une-meilleur-strategie.csv
  features/commands/__snapshots__/transformation-numerique-des-relations_ma-futur-collecte-de-proposition.csv
  features/commands/__snapshots__/users.csv
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/AppendixTypeAdmin.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Proposal.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/User.yml
  src/Capco/AppBundle/Mailer/Message/Opinion/UpdateOpinionModeratorMessage.php
  src/Capco/AppBundle/Mailer/Message/Proposal/ProposalUpdateAdminMessage.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/AppendixType.types.yml
  src/Capco/AppBundle/Traits/TimestampableTrait.php
Due: php, jest, flow, backend, frontend

ALL : add some sub domain to test cookies
  app/Resources/js/components/Opinion/OpinionAppendix.js
  infrastructure/deploylib/system.py
  infrastructure/services/local/nginx/nginx.conf
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/AppendixTypeAdmin.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/AppendixType.types.yml
Due: php, jest, flow, backend, frontend

#6934 : set GA cookie expire +13 months
  app/Resources/js/cookieMonster.js
  src/Capco/AppBundle/Resources/views/base.html.twig
Due: php, jest, flow, backend, frontend

change google analytcs script in fixtures
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
Due: php, backend

Fix moderation email
  app/Resources/js/cookieMonster.js
  infrastructure/deploylib/system.py
  infrastructure/services/local/nginx/nginx.conf
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/Mailer/Message/Contribution/ContributionModerationMessage.php
  src/Capco/AppBundle/Notifier/ContributionNotifier.php
  src/Capco/AppBundle/Resources/views/base.html.twig
Due: php, jest, flow, backend, frontend

#6975 - hide button cookie save when there is no gpdr sctipt
  app/Resources/js/components/StaticPage/Cookie.js
  src/Capco/AppBundle/Mailer/Message/Contribution/ContributionModerationMessage.php
  src/Capco/AppBundle/Notifier/ContributionNotifier.php
Due: php, jest, flow, backend, frontend

Merge pull request #7000 from cap-collectif/fix-moderation-email
  app/Resources/js/components/StaticPage/Cookie.js
  src/Capco/AppBundle/Mailer/Message/Contribution/ContributionModerationMessage.php
  src/Capco/AppBundle/Notifier/ContributionNotifier.php
Due: php, jest, flow, backend, frontend

#5667 - Add google tag manager
  app/Resources/js/components/StaticPage/Cookie.js
  app/Resources/js/cookieMonster.js
  infrastructure/deploylib/system.py
  infrastructure/services/local/nginx/nginx.conf
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/Mailer/Message/Contribution/ContributionModerationMessage.php
  src/Capco/AppBundle/Notifier/ContributionNotifier.php
  src/Capco/AppBundle/Resources/views/base.html.twig
Due: php, jest, flow, backend, frontend

Update with spec
  app/Resources/js/components/Opinion/Form/OpinionCreateForm-test.js
  app/Resources/js/components/Opinion/Form/OpinionCreateForm.js
  app/Resources/js/components/Opinion/Form/__snapshots__/OpinionCreateForm-test.js.snap
  app/Resources/js/components/StaticPage/Cookie.js
  app/Resources/js/cookieMonster.js
  infrastructure/deploylib/system.py
  infrastructure/services/local/nginx/nginx.conf
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/AppendixTypeAdmin.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/Entity/OpinionTypeAppendixType.php
  src/Capco/AppBundle/GraphQL/Resolver/ConsultationResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/SectionAppendixType.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
  src/Capco/AppBundle/Resources/views/base.html.twig
Due: graphql, php, jest, flow, backend, frontend
