Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: auto
        threshold: null
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

wip
  infrastructure/environments/development.yml
Due: none

add projects steps type into redis cache during indexation
  infrastructure/services/local/blackfire/blackfire-agent.ini
  infrastructure/services/local/blackfire/blackfire-php.ini
  infrastructure/services/local/blackfire/run
  src/Capco/AppBundle/Elasticsearch/Indexer.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserContributionByProjectResolver.php
  src/Capco/AppBundle/Repository/ArgumentRepository.php
  src/Capco/AppBundle/Repository/ArgumentVoteRepository.php
  src/Capco/AppBundle/Repository/OpinionRepository.php
  src/Capco/AppBundle/Repository/OpinionVersionRepository.php
  src/Capco/AppBundle/Repository/OpinionVersionVoteRepository.php
  src/Capco/AppBundle/Repository/OpinionVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalCollectVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/AppBundle/Repository/ProposalSelectionVoteRepository.php
  src/Capco/AppBundle/Repository/ReplyRepository.php
  src/Capco/AppBundle/Repository/SourceRepository.php
  src/Capco/AppBundle/Repository/SourceVoteRepository.php
Due: graphql, php, backend

@spyl94 review
  infrastructure/services/local/blackfire/blackfire-php.ini
  src/Capco/AppBundle/GraphQL/Resolver/User/UserContributionByProjectResolver.php
Due: graphql, php, backend

@spyl94 review
  infrastructure/services/local/blackfire/blackfire-php.ini
Due: none

Update production config
  infrastructure/services/local/varnish/capco.vcl
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remote/varnish/capco.vcl
Due: none

Add custom naming strategy for newrelic
  app/DoctrineMigrations/Version20181221140354.php
  app/config/newrelic.yml
  infrastructure/environments/development.yml
  infrastructure/services/local/Dockerfile
  infrastructure/services/local/blackfire/blackfire-agent.ini
  spec/Capco/AppBundle/NewRelic/CapcoNamingStrategySpec.php
  src/Capco/AppBundle/Elasticsearch/Indexer.php
  src/Capco/AppBundle/Entity/AbstractVote.php
  src/Capco/AppBundle/Entity/Argument.php
  src/Capco/AppBundle/Entity/Comment.php
  src/Capco/AppBundle/Entity/Opinion.php
  src/Capco/AppBundle/Entity/OpinionVersion.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Entity/Reply.php
  src/Capco/AppBundle/Entity/Source.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserContributionByProjectResolver.php
  src/Capco/AppBundle/NewRelic/CapcoNamingStrategy.php
  src/Capco/AppBundle/Normalizer/ProposalNormalizer.php
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
  src/Capco/AppBundle/Repository/ArgumentRepository.php
  src/Capco/AppBundle/Repository/ArgumentVoteRepository.php
  src/Capco/AppBundle/Repository/OpinionRepository.php
  src/Capco/AppBundle/Repository/OpinionVersionRepository.php
  src/Capco/AppBundle/Repository/OpinionVersionVoteRepository.php
  src/Capco/AppBundle/Repository/OpinionVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalCollectVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalCommentRepository.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/AppBundle/Repository/ProposalSelectionVoteRepository.php
  src/Capco/AppBundle/Repository/ReplyRepository.php
  src/Capco/AppBundle/Repository/SourceRepository.php
  src/Capco/AppBundle/Repository/SourceVoteRepository.php
  src/Capco/AppBundle/Resources/config/services.yml
Due: graphql, php, backend

Better benchmark dataset
  app/DoctrineMigrations/Version20181221140354.php
  app/config/newrelic.yml
  infrastructure/environments/development.yml
  infrastructure/services/local/Dockerfile
  infrastructure/services/local/blackfire/blackfire-agent.ini
  spec/Capco/AppBundle/NewRelic/CapcoNamingStrategySpec.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CommentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Follower.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalCollectVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalComment.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalSelectionVote.yml
  src/Capco/AppBundle/Elasticsearch/Indexer.php
  src/Capco/AppBundle/Entity/AbstractVote.php
  src/Capco/AppBundle/Entity/Argument.php
  src/Capco/AppBundle/Entity/Comment.php
  src/Capco/AppBundle/Entity/Opinion.php
  src/Capco/AppBundle/Entity/OpinionVersion.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Entity/Reply.php
  src/Capco/AppBundle/Entity/Source.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserContributionByProjectResolver.php
  src/Capco/AppBundle/NewRelic/CapcoNamingStrategy.php
  src/Capco/AppBundle/Normalizer/ProposalNormalizer.php
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
  src/Capco/AppBundle/Repository/ArgumentRepository.php
  src/Capco/AppBundle/Repository/ArgumentVoteRepository.php
  src/Capco/AppBundle/Repository/OpinionRepository.php
  src/Capco/AppBundle/Repository/OpinionVersionRepository.php
  src/Capco/AppBundle/Repository/OpinionVersionVoteRepository.php
  src/Capco/AppBundle/Repository/OpinionVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalCollectVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalCommentRepository.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/AppBundle/Repository/ProposalSelectionVoteRepository.php
  src/Capco/AppBundle/Repository/ReplyRepository.php
  src/Capco/AppBundle/Repository/SourceRepository.php
  src/Capco/AppBundle/Repository/SourceVoteRepository.php
  src/Capco/AppBundle/Resources/config/services.yml
Due: graphql, php, backend

Fix GraphQL tests
  features/graphql/mutations/changeEvent.feature
  features/graphql/mutations/removeCommentVote.feature
  features/graphql/query/events.feature
  features/graphql/query/opinion_followers.feature
  features/graphql/query/projects.feature
  features/graphql/query/proposal_followers.feature
Due: none

Clean already logged error
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectContributorResolver.php
Due: graphql, php, backend

Merge pull request #6720 from cap-collectif/cache-http-post-requests
  app/config/cache.yml
  app/config/config.yml
  app/config/routing.yml
  composer.json
  composer.lock
  features/graphql/mutations/changeEvent.feature
  features/graphql/mutations/removeCommentVote.feature
  features/graphql/query/events.feature
  features/graphql/query/opinion_followers.feature
  features/graphql/query/projects.feature
  features/graphql/query/proposal_followers.feature
  infrastructure/services/local/Dockerfile
  infrastructure/services/local/varnish/capco.vcl
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remote/varnish/capco.vcl
  src/Capco/AppBundle/Controller/Api/GraphQLController.php
  src/Capco/AppBundle/Controller/Site/BlogController.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Controller/Site/HomepageController.php
  src/Capco/AppBundle/Controller/Site/OpinionController.php
  src/Capco/AppBundle/Controller/Site/PageController.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/Controller/Site/ProposalController.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CommentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Follower.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalCollectVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalComment.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalSelectionVote.yml
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectContributorResolver.php
  src/Capco/UserBundle/Controller/MembersController.php
  src/Capco/UserBundle/Controller/ProfileController.php
Due: graphql, php, backend

Merge pull request #6722 from cap-collectif/6694-newrelic-naming-route
  app/config/newrelic.yml
  spec/Capco/AppBundle/NewRelic/CapcoNamingStrategySpec.php
  src/Capco/AppBundle/NewRelic/CapcoNamingStrategy.php
  src/Capco/AppBundle/Resources/config/services.yml
Due: php, backend

Merge pull request #6723 from cap-collectif/better-benchmark-dataset
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CommentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Follower.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalCollectVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalComment.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalSelectionVote.yml
Due: php, backend

Fix Ambiguous class resolution
  app/config/cache.yml
  app/config/config.yml
  app/config/newrelic.yml
  app/config/routing.yml
  composer.json
  composer.lock
  features/graphql/mutations/changeEvent.feature
  features/graphql/mutations/removeCommentVote.feature
  features/graphql/query/events.feature
  features/graphql/query/opinion_followers.feature
  features/graphql/query/projects.feature
  features/graphql/query/proposal_followers.feature
  infrastructure/services/local/Dockerfile
  infrastructure/services/local/varnish/capco.vcl
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remote/varnish/capco.vcl
  spec/Capco/AppBundle/NewRelic/CapcoNamingStrategySpec.php
  src/Capco/AppBundle/Controller/Api/GraphQLController.php
  src/Capco/AppBundle/Controller/Site/BlogController.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Controller/Site/HomepageController.php
  src/Capco/AppBundle/Controller/Site/OpinionController.php
  src/Capco/AppBundle/Controller/Site/PageController.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/Controller/Site/ProposalController.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Prod/LoaderDataFixture.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectContributorResolver.php
  src/Capco/AppBundle/NewRelic/CapcoNamingStrategy.php
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/UserBundle/Controller/MembersController.php
  src/Capco/UserBundle/Controller/ProfileController.php
Due: graphql, php, backend

Fix benchmark dataset
  app/config/cache.yml
  app/config/config.yml
  app/config/newrelic.yml
  app/config/routing.yml
  composer.json
  composer.lock
  features/graphql/mutations/changeEvent.feature
  features/graphql/mutations/removeCommentVote.feature
  features/graphql/query/events.feature
  features/graphql/query/opinion_followers.feature
  features/graphql/query/projects.feature
  features/graphql/query/proposal_followers.feature
  infrastructure/services/local/Dockerfile
  infrastructure/services/local/varnish/capco.vcl
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remote/varnish/capco.vcl
  spec/Capco/AppBundle/NewRelic/CapcoNamingStrategySpec.php
  src/Capco/AppBundle/Controller/Api/GraphQLController.php
  src/Capco/AppBundle/Controller/Site/BlogController.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Controller/Site/HomepageController.php
  src/Capco/AppBundle/Controller/Site/OpinionController.php
  src/Capco/AppBundle/Controller/Site/PageController.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/Controller/Site/ProposalController.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CommentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalCollectVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Prod/LoaderDataFixture.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectContributorResolver.php
  src/Capco/AppBundle/NewRelic/CapcoNamingStrategy.php
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/UserBundle/Controller/MembersController.php
  src/Capco/UserBundle/Controller/ProfileController.php
Due: graphql, php, backend

Perf fixes
  infrastructure/environments/development.yml
  infrastructure/services/local/blackfire/run
  src/Capco/AppBundle/Controller/Api/GraphQLController.php
  src/Capco/AppBundle/Repository/ProjectRepository.php
  src/Capco/AppBundle/Resources/views/GraphiQL/index.html.twig
Due: php, backend

Merge pull request #6717 from cap-collectif/6657-improve-proposal-request
  app/Resources/js/components/Page/ProposalStepPage.js
  infrastructure/environments/development.yml
  infrastructure/services/local/blackfire/run
  src/Capco/AppBundle/Controller/Api/GraphQLController.php
  src/Capco/AppBundle/Repository/ProjectRepository.php
  src/Capco/AppBundle/Resources/views/GraphiQL/index.html.twig
Due: php, jest, flow, backend, frontend

Work on param converter
  app/Resources/js/components/Page/ProposalStepPage.js
  infrastructure/environments/development.yml
  infrastructure/services/local/blackfire/run
  src/Capco/AppBundle/Controller/Api/GraphQLController.php
  src/Capco/AppBundle/Controller/Site/ProposalController.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/Repository/CollectStepRepository.php
  src/Capco/AppBundle/Repository/ProjectRepository.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/AppBundle/Resources/views/GraphiQL/index.html.twig
Due: php, jest, flow, backend, frontend

6696-FOOTER add extension + delete controller render
  infrastructure/environments/development.yml
  infrastructure/services/local/blackfire/run
  src/Capco/AppBundle/Controller/Api/GraphQLController.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Controller/Site/ProposalController.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/Repository/CollectStepRepository.php
  src/Capco/AppBundle/Repository/FooterSocialNetworkRepository.php
  src/Capco/AppBundle/Repository/ProjectRepository.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/AppBundle/Resources/config/services/repositories.yml
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
  src/Capco/AppBundle/Resources/views/GraphiQL/index.html.twig
  src/Capco/AppBundle/Resources/views/base.html.twig
  src/Capco/AppBundle/Twig/FooterExtension.php
Due: php, backend

6696-FOOTER requested changes
  src/Capco/AppBundle/Resources/views/base.html.twig
  src/Capco/AppBundle/Twig/FooterExtension.php
Due: php, backend

Merge pull request #6735 from cap-collectif/6696-footer-include
  app/Resources/js/components/Page/ProposalStepPage.js
Due: jest, flow, frontend

Fixes
  app/Resources/js/components/Page/ProposalStepPage.js
  src/Capco/AppBundle/Controller/Api/GraphQLController.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Controller/Site/ProposalController.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/Repository/CollectStepRepository.php
  src/Capco/AppBundle/Repository/FooterSocialNetworkRepository.php
  src/Capco/AppBundle/Repository/ProjectRepository.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/AppBundle/Resources/config/services/repositories.yml
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
  src/Capco/AppBundle/Resources/views/GraphiQL/index.html.twig
  src/Capco/AppBundle/Resources/views/base.html.twig
  src/Capco/AppBundle/Twig/FooterExtension.php
Due: php, jest, flow, backend, frontend

Merge pull request #6731 from cap-collectif/perf-fixes
  app/Resources/js/components/Page/ProposalStepPage.js
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Repository/FooterSocialNetworkRepository.php
  src/Capco/AppBundle/Resources/config/services/repositories.yml
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
  src/Capco/AppBundle/Resources/views/base.html.twig
  src/Capco/AppBundle/Twig/FooterExtension.php
Due: php, jest, flow, backend, frontend

Merge pull request #6725 from cap-collectif/fix-graphql-tests
  features/graphql/mutations/changeEvent.feature
  features/graphql/mutations/removeCommentVote.feature
  features/graphql/query/events.feature
  features/graphql/query/opinion_followers.feature
  features/graphql/query/projects.feature
  features/graphql/query/proposal_followers.feature
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Prod/LoaderDataFixture.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectContributorResolver.php
Due: graphql, php, backend

[5890-FILTER] Mutualise FiltersContainer with /events.
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  app/Resources/js/components/Filters/FiltersContainer.js
Due: jest, flow, frontend

[5890-FILTER] Rework projects queries.
  app/Resources/js/components/Project/Page/ProjectListPage.js
  app/Resources/js/components/Project/Page/ProjectRestrictedAccess.js
  app/Resources/js/components/Project/Page/ProjectRestrictedAccessFragment.js
  app/Resources/js/components/Project/Preview/ProjectPreviewCounters.js
Due: jest, flow, frontend

[5890-FILTER] Fix tests and CSS.
  app/Resources/js/constants/ProjectStatusConstants.js
  app/Resources/js/redux/modules/project.js
  app/Resources/scss/modules/_project.scss
  features/front/project.feature
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectsResolver.php
Due: graphql, php, jest, flow, backend, frontend

[5890-FILTER] Fix flow.
  app/Resources/js/components/Project/List/Filters/ProjectListFilterOrder.js
  app/Resources/js/components/Project/List/Filters/ProjectListFilterTypes.js
  app/Resources/js/components/Project/List/Filters/ProjectListFilters.js
  app/Resources/js/components/Project/List/Filters/ProjectListFiltersContainer.js
  app/Resources/js/components/Project/List/ProjectListFilter.js
  app/Resources/js/components/Project/List/ProjectListFilterTypes.js
  app/Resources/js/startup/ProjectsListAppClient.js
Due: jest, flow, frontend

[5890-FILTER] More flow coverage.
  app/Resources/js/components/Project/List/Filters/ProjectListFilterOrder.js
  app/Resources/js/components/Project/List/Filters/ProjectListFilterTypes.js
  app/Resources/js/components/Project/List/ProjectListSearch.js
Due: jest, flow, frontend

[5890-FILTER] Fix CSS bug.
  app/Resources/js/components/Project/List/Filters/ProjectListFiltersContainer.js
Due: jest, flow, frontend

[5890-FILTER] Review from @spyl94
  app/Resources/js/components/Project/List/Filters/ProjectListFilters.js
  app/Resources/js/components/Project/List/Filters/ProjectListFiltersContainer.js
  app/Resources/js/components/Project/List/ProjectsList.js
  app/Resources/js/startup/ProjectsListAppClient.js
Due: jest, flow, frontend

[5890-FILTER] Review from @amelie.
  app/Resources/js/components/Filters/FiltersContainer.js
Due: jest, flow, frontend

FIX-USER fix circular reference
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  app/Resources/js/components/Filters/FiltersContainer.js
  app/Resources/js/components/Project/List/Filters/ProjectListFilterAuthors.js
  app/Resources/js/components/Project/List/Filters/ProjectListFilterOrder.js
  app/Resources/js/components/Project/List/Filters/ProjectListFilterStatus.js
  app/Resources/js/components/Project/List/Filters/ProjectListFilterThemes.js
  app/Resources/js/components/Project/List/Filters/ProjectListFilterTypes.js
  app/Resources/js/components/Project/List/Filters/ProjectListFilters.js
  app/Resources/js/components/Project/List/Filters/ProjectListFiltersContainer.js
  app/Resources/js/components/Project/List/ProjectListFilter.js
  app/Resources/js/components/Project/List/ProjectListFilterTypes.js
  app/Resources/js/components/Project/List/ProjectListFilterTypesContainer.js
  app/Resources/js/components/Project/List/ProjectListSearch.js
  app/Resources/js/components/Project/List/ProjectListView.js
  app/Resources/js/components/Project/List/ProjectListViewPaginated.js
  app/Resources/js/components/Project/List/ProjectsList.js
  app/Resources/js/components/Project/Page/ProjectListPage.js
  app/Resources/js/components/Project/Page/ProjectRestrictedAccess.js
  app/Resources/js/components/Project/Page/ProjectRestrictedAccessFragment.js
  app/Resources/js/components/Project/Preview/ProjectPreviewCounters.js
  app/Resources/js/constants/ProjectStatusConstants.js
  app/Resources/js/redux/modules/project.js
  app/Resources/scss/modules/_project.scss
  features/front/project.feature
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectsResolver.php
  src/Capco/AppBundle/Repository/FooterSocialNetworkRepository.php
  src/Capco/AppBundle/Resources/config/serialization/Project.yml
  src/Capco/AppBundle/Resources/config/serialization/Selection.yml
  src/Capco/AppBundle/Resources/config/services/repositories.yml
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
  src/Capco/AppBundle/Resources/views/base.html.twig
  src/Capco/AppBundle/Twig/FooterExtension.php
  src/Capco/UserBundle/Controller/ProfileController.php
Due: graphql, php, jest, flow, backend, frontend

[6705-REQUIREMENT] Add requirement to opinionVote.
  src/Capco/AdminBundle/Admin/StepAdmin.php
  src/Capco/AppBundle/Controller/Api/OpinionsController.php
  src/Capco/AppBundle/Entity/Steps/ConsultationStep.php
  src/Capco/AppBundle/GraphQL/Resolver/Requirement/StepRequirementsResolver.php
  src/Capco/AppBundle/Traits/RequirementTrait.php
  src/Capco/AppBundle/Traits/VoteTypeTrait.php
Due: graphql, php, backend

[6705-REQUIREMENT] Add decorator RequirementStep.
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalConsultation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/ProposalStep.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/RequirementStep.types.yml
Due: php, backend

[6705-REQUIREMENT] Ugly code but works, please halp.
  app/Resources/js/components/Opinion/Form/OpinionCreateForm-test.js
  app/Resources/js/components/Opinion/Form/OpinionCreateForm.js
  app/Resources/js/components/Opinion/Form/__snapshots__/OpinionCreateForm-test.js.snap
  app/Resources/js/components/Requirements/RequirementsFormConsultation.js
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/RequirementStep.types.yml
Due: php, jest, flow, backend, frontend
