Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: auto
        threshold: null
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

- Disabled foreign key checks in migration to allow deletion of old table and creation of new table
  app/DoctrineMigrations/Version20190417154237.php
  app/DoctrineMigrations/Version20190418160453.php
Due: none

- Added userHasVote field in Consultation to avoid BC GraphQL API
  schema.internal.graphql
  schema.preview.graphql
  schema.public.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalConsultation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/public/objects/PublicConsultation.types.yml
Due: php, backend

- Added votesCount field in Consultation to avoid BC GraphQL API
  schema.internal.graphql
  schema.preview.graphql
  schema.public.graphql
  src/Capco/AppBundle/Entity/Consultation.php
  src/Capco/AppBundle/Resources/config/graphql/public/objects/PublicConsultation.types.yml
Due: php, backend

- Fixed wrong FQCN in ConsultationStepUserHasVoteResolverSpec
  spec/Capco/AppBundle/GraphQL/Resolver/Consultation/ConsultationStepUserHasVoteResolverSpec.php
Due: none

- Removed forgotten dump and fixed GlobalId and NodeType resolvers based on @spyl94 reviews
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
  src/Capco/AppBundle/Resources/views/Consultation/show.html.twig
Due: graphql, php, backend

- Fixed `ConsultationStepUserHasVoteResolverSpec` test
  spec/Capco/AppBundle/GraphQL/Resolver/ConsultationStep/ConsultationStepUserHasVoteResolverSpec.php
Due: none

- Added `contributions` field for Consultation, and deprecate `contributionConnection` - Added ConsultationsQueryResolver and ConsultationStepsQueryResolver - Fixed gql e2e tests
  features/graphql/query/step_contributors.feature
  features/graphql/types/consultation/consultation_userHasVote.feature
  features/graphql/types/consultation/consultation_viewerUnpublishedOpinions.feature
  features/graphql/types/consultation/consultations.feature
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Query/ConsultationStepsQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/ConsultationsQueryResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalConsultation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalConsultationStep.types.yml
Due: graphql, php, backend

- Fixed commands e2e tests
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
Due: php, backend

- Fixed outdated internal graphql schema
  schema.internal.graphql
Due: none

- Renamed migration
  app/DoctrineMigrations/Version20190426160453.php
Due: none

[7651-SECTION] Add new babel plugin for arrow functions.
  .babelrc
  package.json
Due: none

[7651-SECTION] Try without es-promise and fetch in webpack.
  app/Resources/js/app.js
  webpack/rules/webpack.jsx.js
  webpack/webpack.client.js
Due: jest, flow, frontend

[7651-SECTION] Try to fix cookie monster bug.
  app/Resources/js/CookieMonster.js
Due: jest, flow, frontend

#6897-NEW Add author filter and Registration filter on event page
  app/Resources/js/components/Comment/CommentForm.js
  app/Resources/js/components/Comment/__snapshots__/CommentForm-test.js.snap
  app/Resources/js/components/Event/EventPage.js
  app/Resources/js/components/Event/EventPageContainer.js
  app/Resources/js/components/Event/List/EventListCounter.js
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/EventListPaginated.js
  app/Resources/js/components/Event/List/EventRefetch.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  app/Resources/js/components/Event/Map/EventMap.js
  app/Resources/js/components/Event/__snapshots__/EventPage-test.js.snap
  app/Resources/js/components/Filters/FiltersContainer.js
  features/graphql/query/projects.feature
  features/graphql/query/query_users.feature
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Resolver/Project/ProjectEventResolver.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Event.yml
  src/Capco/AppBundle/Elasticsearch/mapping.yml
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/GraphQL/DataLoader/User/UserAuthorsOfEventDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/UserQueryResolver.php
  src/Capco/AppBundle/Normalizer/EventNormalizer.php
  src/Capco/AppBundle/Repository/EventRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yml
  src/Capco/AppBundle/Resources/config/serialization/Project.yml
  src/Capco/AppBundle/Resources/config/services/graphql_dataloaders.yml
  src/Capco/AppBundle/Search/EventSearch.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, jest, flow, backend, frontend

#6897-NEW search user as author of event
  app/Resources/js/components/Admin/Field/UserListField.js
  app/Resources/js/components/Event/List/EventListFilter-test.js
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  app/Resources/js/components/Group/Admin/GroupAdminAddUsersForm.js
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminAddUsersForm-test.js.snap
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminNotationForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminNotationForm-test.js.snap
  features/graphql/query/query_users.feature
  schema.internal.graphql
  src/Capco/AppBundle/Elasticsearch/mapping.yml
  src/Capco/AppBundle/GraphQL/Resolver/Query/UserQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/UserSearchQueryResolver.php
  src/Capco/AppBundle/Normalizer/EventNormalizer.php
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Search/EventSearch.php
  src/Capco/AppBundle/Search/UserSearch.php
Due: graphql, php, jest, flow, backend, frontend

#6897-NEW fix tests on event
  app/Resources/js/components/Admin/Field/UserListField.js
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  app/Resources/js/components/Group/Admin/GroupAdminAddUsersForm.js
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminAddUsersForm-test.js.snap
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminNotationForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminNotationForm-test.js.snap
  features/graphql/query/events.feature
  src/Capco/AppBundle/GraphQL/DataLoader/User/UserAuthorsOfEventDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectEventsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/UserQueryResolver.php
  src/Capco/AppBundle/Resources/config/services/graphql_dataloaders.yml
  src/Capco/AppBundle/Search/EventSearch.php
  src/Capco/AppBundle/Search/UserSearch.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, jest, flow, backend, frontend

#6897-NEW disable debounce on search user
  app/Resources/js/components/Admin/Field/UserListField.js
Due: jest, flow, frontend

#6897-NEW add debounce promise on React select Async
  app/Resources/js/components/Form/Select.js
  flow-typed/npm/debounce-promise_vx.x.x.js
  package.json
  yarn.lock
Due: jest, flow, frontend

#6897-NEW add debounce on userListFilter
  app/Resources/js/components/Admin/Field/UserListField.js
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/EventRefetch.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminAddUsersForm-test.js.snap
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminNotationForm-test.js.snap
Due: jest, flow, frontend

#6897-NEW delete unused code
  app/Resources/js/components/Event/List/EventListFilter-test.js
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  features/graphql/query/projects.feature
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectEventsResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yml
  src/Capco/AppBundle/Resources/config/serialization/Project.yml
Due: graphql, php, jest, flow, backend, frontend

#6897-NEW Adding label on event filter
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  schema.internal.graphql
  spec/Capco/AppBundle/Entity/EventSpec.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
Due: php, jest, flow, backend, frontend

#6897-NEW fix e2e test on event
  features/graphql/query/events.feature
Due: none

#6897-EVENT fix
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/EventRefetch.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  app/Resources/js/components/Filters/FiltersContainer.js
  app/Resources/js/components/Form/Select.js
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Search/EventSearch.php
  src/Capco/AppBundle/Search/UserSearch.php
Due: php, jest, flow, backend, frontend

Upgrade Relay 4
  app/Resources/js/components/Argument/ArgumentListView.js
  app/Resources/js/components/Argument/ArgumentListViewPaginated.js
  app/Resources/js/components/Argument/UnpublishedArgumentList.js
  app/Resources/js/components/Opinion/OpinionVersionListViewPaginated.js
  app/Resources/js/components/Opinion/Source/OpinionSourceListViewPaginated.js
  app/Resources/js/components/Proposal/List/ProposalListTable.js
  app/Resources/js/components/Proposal/Page/ProposalVotes.js
  app/Resources/js/components/Proposal/Preview/ProposalPreview.js
  app/Resources/js/components/Proposal/Preview/ProposalPreviewFooter.js
  app/Resources/js/components/Proposal/Preview/ProposalPreviewStatus.js
  app/Resources/js/components/Proposal/Vote/ProposalVoteBasketWidget.js
  app/Resources/js/components/Proposal/Vote/ProposalVoteButton.js
  app/Resources/js/components/Proposal/Vote/ProposalVoteButtonWrapperFragment.js
  app/Resources/js/components/Proposal/Vote/ProposalVoteModal.js
  app/Resources/js/startup/ArgumentListApp.js
  app/Resources/js/startup/VoteListApp.js
  package.json
  yarn.lock
Due: jest, flow, frontend

[7708-FIX] Fix map with z-index.
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Proposal/Map/LeafletMap.js
  app/Resources/scss/base/_utils.scss
Due: jest, flow, frontend

[7708-FIX] Add classname to LeaftMap.
  app/Resources/js/components/Page/ProposalStepPage.js
Due: jest, flow, frontend

# This is a combination of 2 commits. # The first commit's message is:
  app/Resources/js/components/StaticPage/CookieModal.js
  src/Capco/AppBundle/Resources/views/Default/cookies.html.twig
Due: php, jest, flow, backend, frontend

#7526-COOKIE start to edit cookie page
  app/Resources/js/components/StaticPage/CookieModal.js
  src/Capco/AppBundle/Resources/views/Default/cookies.html.twig
Due: php, jest, flow, backend, frontend

Remore fork "cap-collectif/DoctrineExtensions" using our own SluggableListener
  app/config/doctrine_extensions.yml
  composer.json
  composer.lock
  src/Capco/AppBundle/Command/Nantes/NantesImportUsersCommand.php
  src/Capco/AppBundle/Command/Nantes/NantesResetOpenIdCommand.php
  src/Capco/AppBundle/Command/Paris/ParisImportUsersCommand.php
  src/Capco/AppBundle/Sluggable/SluggableListener.php
  src/Capco/AppBundle/Sluggable/Transliterator.php
Due: php, backend

Migrate Proposal's slug to be unique in database
  app/DoctrineMigrations/Version20190426160454.php
  composer.json
  composer.lock
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-avec-questions.csv
  features/commands/__snapshots__/budget-participatif-rennes_depot-avec-vote.csv
  features/commands/__snapshots__/croissance-innovation-disruption_collecte-des-avis.csv
  features/commands/__snapshots__/projet-de-loi-renseignement_elaboration-de-la-loi.csv
  features/commands/__snapshots__/strategie-technologique-de-letat-et-services-publics_collecte-des-avis-pour-une-meilleur-strategie.csv
  features/commands/__snapshots__/transformation-numerique-des-relations_ma-futur-collecte-de-proposition.csv
  features/commands/__snapshots__/users.csv
  features/graphql/query/projects.feature
  src/Capco/AppBundle/Controller/Site/SitemapsController.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Proposal.yml
  src/Capco/AppBundle/Entity/OpinionType.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/GraphQL/Mutation/CreateProposalFusionMutation.php
  src/Capco/AppBundle/Sluggable/CapcoORMSluggableAdapter.php
  src/Capco/AppBundle/Sluggable/SluggableListener.php
Due: graphql, php, backend

#7422-FIX fix question description
  features/graphql/mutations/updateQuestionnaire.feature
  src/Capco/AppBundle/Form/MultipleChoiceQuestionType.php
  src/Capco/AppBundle/Form/SectionQuestionType.php
  src/Capco/AppBundle/Form/SimpleQuestionType.php
Due: php, backend

Fix step ParamConverter
  features/graphql/mutations/updateQuestionnaire.feature
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/Controller/Site/ProposalController.php
  src/Capco/AppBundle/Form/MultipleChoiceQuestionType.php
  src/Capco/AppBundle/Form/SectionQuestionType.php
  src/Capco/AppBundle/Form/SimpleQuestionType.php
Due: php, backend

Merge pull request #7718 from cap-collectif/7422-fix-text-field
  features/graphql/mutations/updateQuestionnaire.feature
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/Controller/Site/ProposalController.php
  src/Capco/AppBundle/Form/MultipleChoiceQuestionType.php
  src/Capco/AppBundle/Form/SectionQuestionType.php
  src/Capco/AppBundle/Form/SimpleQuestionType.php
Due: php, backend

Merge pull request #7720 from cap-collectif/fix-step-param-converter
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/Controller/Site/ProposalController.php
Due: php, backend

#7707-FIX fix redirection route after adding consultation step
  src/Capco/AdminBundle/Controller/OpinionTypeController.php
Due: php, backend

Merge pull request #7710 from cap-collectif/7672-at-internet
  app/Resources/js/CookieMonster.js
  src/Capco/AdminBundle/Controller/OpinionTypeController.php
Due: php, jest, flow, backend, frontend

#7721-FIX Active captcha and internal communcation by default
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
Due: php, jest, flow, backend, frontend

Merge pull request #7723 from cap-collectif/7707-fix-error-500-consultation
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  src/Capco/AdminBundle/Controller/OpinionTypeController.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
Due: php, jest, flow, backend, frontend
