Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

Hide questionnaire end date if its timeless
  app/DoctrineMigrations/Version20190618121022.php
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  app/Resources/js/components/Page/ProposalStepPage-test.js
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Page/__snapshots__/ProposalStepPage-test.js.snap
  app/Resources/js/utils/warning.js
  composer.json
  composer.lock
  features/commands/__snapshots__/users.csv
  features/front/proposals.feature
  features/graphql/query/allContributions.feature
  jest-setup.js
  package.json
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
  src/Capco/AppBundle/Mailer/Message/Project/QuestionnaireAcknowledgeReplyMessage.php
  src/Capco/AppBundle/Mailer/templates/acknowledgeReply.html.twig
  src/Capco/UserBundle/OpenID/OpenIDPathMapper.php
  yarn.lock
Due: php, jest, flow, backend, frontend

Fix tests
  app/DoctrineMigrations/Version20190607121020.php
  app/DoctrineMigrations/Version20190618121022.php
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  app/Resources/js/components/Page/ProposalStepPage-test.js
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Page/__snapshots__/ProposalStepPage-test.js.snap
  app/Resources/js/utils/warning.js
  composer.json
  composer.lock
  features/commands/__snapshots__/users.csv
  jest-setup.js
  package.json
  src/Capco/AppBundle/Mailer/Message/Project/QuestionnaireAcknowledgeReplyMessage.php
  src/Capco/AppBundle/Mailer/templates/acknowledgeReply.html.twig
  src/Capco/UserBundle/OpenID/OpenIDPathMapper.php
  yarn.lock
Due: php, jest, flow, backend, frontend

Update snapshot
  features/commands/__snapshots__/users.csv
Due: none

Replace questionnaire title by questionnaire step title
  app/DoctrineMigrations/Version20190618121022.php
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  app/Resources/js/components/Page/ProposalStepPage-test.js
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Page/__snapshots__/ProposalStepPage-test.js.snap
  app/Resources/js/utils/warning.js
  composer.json
  composer.lock
  features/commands/consumers/questionnaire.feature
  jest-setup.js
  package.json
  src/Capco/AppBundle/GraphQL/Mutation/DeleteReplyMutation.php
  src/Capco/AppBundle/Mailer/Message/Project/QuestionnaireAcknowledgeReplyMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyAdminMessage.php
  src/Capco/AppBundle/Mailer/templates/acknowledgeReply.html.twig
  src/Capco/AppBundle/Mailer/templates/notifyQuestionnaireReply.html.twig
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
  src/Capco/UserBundle/OpenID/OpenIDPathMapper.php
  yarn.lock
Due: graphql, php, jest, flow, backend, frontend

Remove text box in RegistrationAdminPage
  app/DoctrineMigrations/Version20190607121020.php
  app/DoctrineMigrations/Version20190618121022.php
  app/Resources/js/components/Page/ProposalStepPage-test.js
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Page/__snapshots__/ProposalStepPage-test.js.snap
  app/Resources/js/utils/warning.js
  features/commands/consumers/questionnaire.feature
  jest-setup.js
  package.json
  src/Capco/AppBundle/GraphQL/Mutation/DeleteReplyMutation.php
  src/Capco/AppBundle/Mailer/Message/Project/QuestionnaireAcknowledgeReplyMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyAdminMessage.php
  src/Capco/AppBundle/Mailer/templates/acknowledgeReply.html.twig
  src/Capco/AppBundle/Mailer/templates/notifyQuestionnaireReply.html.twig
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
  yarn.lock
Due: graphql, php, jest, flow, backend, frontend

Avoid exception when geojson is invalid
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  app/Resources/js/components/Page/ProposalStepPage-test.js
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Page/__snapshots__/ProposalStepPage-test.js.snap
  app/Resources/js/utils/warning.js
  jest-setup.js
Due: jest, flow, frontend

Merge pull request #7801 from cap-collectif/remove-user-repliesCount
  app/Resources/js/components/Page/ProposalStepPage-test.js
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Page/__snapshots__/ProposalStepPage-test.js.snap
  app/Resources/js/utils/warning.js
  composer.json
  composer.lock
  jest-setup.js
  src/Capco/UserBundle/OpenID/OpenIDPathMapper.php
Due: php, jest, flow, backend, frontend

Bump knplabs/knp-menu-bundle from 2.2.1 to 2.2.2
  composer.json
  composer.lock
Due: none

Bump symfony/swiftmailer-bundle from 3.2.5 to 3.2.8
  composer.json
  composer.lock
Due: none

Bump php-http/httplug-bundle from 1.14.0 to 1.15.2
  composer.lock
Due: none

Bump symfony/swiftmailer-bundle from 3.2.5 to 3.2.8 (#8088)
  composer.lock
Due: none

Bump knplabs/knp-menu-bundle from 2.2.1 to 2.2.2 (#8066)
  composer.json
  composer.lock
Due: none

#8076-FIX fix migration
  app/DoctrineMigrations/Version20190618121022.php
  src/Capco/UserBundle/OpenID/OpenIDPathMapper.php
Due: php, backend

More JS deps update
  app/DoctrineMigrations/Version20190607121020.php
  app/DoctrineMigrations/Version20190618121022.php
  package.json
  src/Capco/UserBundle/OpenID/OpenIDPathMapper.php
  yarn.lock
Due: php, backend

Update snapshots
  app/DoctrineMigrations/Version20190618121022.php
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  app/Resources/js/components/Page/ProposalStepPage-test.js
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Page/__snapshots__/ProposalStepPage-test.js.snap
  app/Resources/js/utils/warning.js
  features/commands/consumers/questionnaire.feature
  jest-setup.js
  src/Capco/AppBundle/Behat/snapshots/notifyQuestionnaireReply_create.html.twig
  src/Capco/AppBundle/Behat/snapshots/notifyQuestionnaireReply_update.html.twig
  src/Capco/AppBundle/Behat/snapshots/notifyUserQuestionnaireReply_create.html.twig
  src/Capco/AppBundle/Behat/snapshots/notifyUserQuestionnaireReply_update.html.twig
  src/Capco/AppBundle/GraphQL/Mutation/DeleteReplyMutation.php
  src/Capco/AppBundle/Mailer/Message/Project/QuestionnaireAcknowledgeReplyMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyAdminMessage.php
  src/Capco/AppBundle/Mailer/templates/acknowledgeReply.html.twig
  src/Capco/AppBundle/Mailer/templates/notifyQuestionnaireReply.html.twig
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
  src/Capco/UserBundle/OpenID/OpenIDPathMapper.php
Due: graphql, php, jest, flow, backend, frontend

ADD-SSO Add NL Decathlon instance to Open ID Mapping.
  app/DoctrineMigrations/Version20190607121020.php
  app/DoctrineMigrations/Version20190618121022.php
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  app/Resources/js/components/Page/ProposalStepPage-test.js
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Page/__snapshots__/ProposalStepPage-test.js.snap
  app/Resources/js/utils/warning.js
  features/commands/consumers/questionnaire.feature
  jest-setup.js
  package.json
  src/Capco/AppBundle/Behat/snapshots/notifyQuestionnaireReply_create.html.twig
  src/Capco/AppBundle/Behat/snapshots/notifyQuestionnaireReply_update.html.twig
  src/Capco/AppBundle/Behat/snapshots/notifyUserQuestionnaireReply_create.html.twig
  src/Capco/AppBundle/Behat/snapshots/notifyUserQuestionnaireReply_update.html.twig
  src/Capco/AppBundle/GraphQL/Mutation/DeleteReplyMutation.php
  src/Capco/AppBundle/Mailer/Message/Project/QuestionnaireAcknowledgeReplyMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyAdminMessage.php
  src/Capco/AppBundle/Mailer/templates/acknowledgeReply.html.twig
  src/Capco/AppBundle/Mailer/templates/notifyQuestionnaireReply.html.twig
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
  yarn.lock
Due: graphql, php, jest, flow, backend, frontend

Add snapshot tag and update snapshot
  app/DoctrineMigrations/Version20190618121022.php
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  app/Resources/js/components/Page/ProposalStepPage-test.js
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Page/__snapshots__/ProposalStepPage-test.js.snap
  app/Resources/js/utils/warning.js
  features/commands/consumers/questionnaire.feature
  jest-setup.js
  package.json
  src/Capco/AppBundle/Behat/snapshots/notifyQuestionnaireReply_create.html.twig
  src/Capco/AppBundle/Behat/snapshots/notifyQuestionnaireReply_delete.html.twig
  src/Capco/AppBundle/Behat/snapshots/notifyQuestionnaireReply_update.html.twig
  src/Capco/AppBundle/Behat/snapshots/notifyUserQuestionnaireReply_create.html.twig
  src/Capco/AppBundle/Behat/snapshots/notifyUserQuestionnaireReply_update.html.twig
  src/Capco/AppBundle/GraphQL/Mutation/DeleteReplyMutation.php
  src/Capco/AppBundle/Mailer/Message/Project/QuestionnaireAcknowledgeReplyMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyAdminMessage.php
  src/Capco/AppBundle/Mailer/templates/acknowledgeReply.html.twig
  src/Capco/AppBundle/Mailer/templates/notifyQuestionnaireReply.html.twig
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
  yarn.lock
Due: graphql, php, jest, flow, backend, frontend

Avoid exception when geojson is invalid on proposal step page (#8080)
  app/DoctrineMigrations/Version20190607121020.php
  app/DoctrineMigrations/Version20190618121022.php
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  features/commands/consumers/questionnaire.feature
  package.json
  src/Capco/AppBundle/Behat/snapshots/notifyQuestionnaireReply_create.html.twig
  src/Capco/AppBundle/Behat/snapshots/notifyQuestionnaireReply_delete.html.twig
  src/Capco/AppBundle/Behat/snapshots/notifyQuestionnaireReply_update.html.twig
  src/Capco/AppBundle/Behat/snapshots/notifyUserQuestionnaireReply_create.html.twig
  src/Capco/AppBundle/Behat/snapshots/notifyUserQuestionnaireReply_update.html.twig
  src/Capco/AppBundle/GraphQL/Mutation/DeleteReplyMutation.php
  src/Capco/AppBundle/Mailer/Message/Project/QuestionnaireAcknowledgeReplyMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyAdminMessage.php
  src/Capco/AppBundle/Mailer/templates/acknowledgeReply.html.twig
  src/Capco/AppBundle/Mailer/templates/notifyQuestionnaireReply.html.twig
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
  yarn.lock
Due: graphql, php, jest, flow, backend, frontend

#8076-FIX fix migration (#8078)
  app/DoctrineMigrations/Version20190618121022.php
Due: none

Merge pull request #8081 from cap-collectif/8011-add-more-fields-text
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
Due: jest, flow, frontend

More JS deps update (#8099)
  package.json
  yarn.lock
Due: none

7506 fix email args (#8079)
  features/commands/consumers/questionnaire.feature
  src/Capco/AppBundle/Behat/snapshots/notifyQuestionnaireReply_create.html.twig
  src/Capco/AppBundle/Behat/snapshots/notifyQuestionnaireReply_delete.html.twig
  src/Capco/AppBundle/Behat/snapshots/notifyQuestionnaireReply_update.html.twig
  src/Capco/AppBundle/Behat/snapshots/notifyUserQuestionnaireReply_create.html.twig
  src/Capco/AppBundle/Behat/snapshots/notifyUserQuestionnaireReply_update.html.twig
  src/Capco/AppBundle/GraphQL/Mutation/DeleteReplyMutation.php
  src/Capco/AppBundle/Mailer/Message/Project/QuestionnaireAcknowledgeReplyMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyAdminMessage.php
  src/Capco/AppBundle/Mailer/templates/acknowledgeReply.html.twig
  src/Capco/AppBundle/Mailer/templates/notifyQuestionnaireReply.html.twig
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
Due: graphql, php, backend

Add a download button for questionnaire results in BO
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults.js
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResults-test.js.snap
  infrastructure/deploylib/qa.py
  infrastructure/services/local/Dockerfile
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Resolver/Questionnaire/QuestionnaireExportResultsUrlResolverSpec.php
  src/Capco/AppBundle/Command/CreateCsvFromQuestionnaireStepCommand.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/GraphQL/Resolver/Questionnaire/QuestionnaireExportResultsUrlResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalQuestionnaire.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
Due: graphql, php, jest, flow, backend, frontend

Remove User.votesCount, use User.votes.totalCount
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults.js
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResults-test.js.snap
  app/Resources/js/components/User/DeleteAccountModal-test.js
  app/Resources/js/components/User/DeleteAccountModal.js
  infrastructure/deploylib/qa.py
  infrastructure/services/local/Dockerfile
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Resolver/Questionnaire/QuestionnaireExportResultsUrlResolverSpec.php
  src/Capco/AppBundle/Command/CreateCsvFromQuestionnaireStepCommand.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/GraphQL/Resolver/Questionnaire/QuestionnaireExportResultsUrlResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalQuestionnaire.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
  src/Capco/UserBundle/Resources/views/Profile/showProfile.html.twig
Due: graphql, php, jest, flow, backend, frontend

Remove last occurences of user.votesCount
  src/Capco/AppBundle/Resources/views/Default/user_thumbnail.html.twig
  src/Capco/UserBundle/Entity/User.php
Due: php, backend

Use userVotesResolver in twig templates
  app/config/twig.yml
  src/Capco/AppBundle/Resources/views/Default/user_thumbnail.html.twig
  src/Capco/UserBundle/Resources/views/Profile/showProfile.html.twig
Due: php, backend

Set first args to 1000000 by default in userVotesResolver
  src/Capco/AppBundle/GraphQL/Resolver/User/UserVotesResolver.php
  src/Capco/UserBundle/Resources/views/Profile/showProfile.html.twig
Due: graphql, php, backend

Merge pull request #8107 from cap-collectif/download-export-from-questionnaire-results-page
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults-test.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults.js
  app/Resources/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResults-test.js.snap
  app/Resources/js/components/User/DeleteAccountModal-test.js
  app/Resources/js/components/User/DeleteAccountModal.js
  app/config/twig.yml
  infrastructure/deploylib/qa.py
  infrastructure/services/local/Dockerfile
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Resolver/Questionnaire/QuestionnaireExportResultsUrlResolverSpec.php
  src/Capco/AppBundle/Command/CreateCsvFromQuestionnaireStepCommand.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/GraphQL/Resolver/Questionnaire/QuestionnaireExportResultsUrlResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserVotesResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalQuestionnaire.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
  src/Capco/AppBundle/Resources/views/Default/user_thumbnail.html.twig
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Resources/views/Profile/showProfile.html.twig
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #8105 from cap-collectif/7948-total-count
  app/Resources/js/components/User/DeleteAccountModal-test.js
  app/Resources/js/components/User/DeleteAccountModal.js
  app/config/twig.yml
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/User/UserVotesResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
  src/Capco/AppBundle/Resources/views/Default/user_thumbnail.html.twig
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Resources/views/Profile/showProfile.html.twig
Due: graphql, php, jest, flow, backend, frontend

Refactor main navbar to remove bootstrap
  app/Resources/js/components/Navbar/Navbar.js
  app/Resources/js/components/Navbar/NavbarItem.js
  app/Resources/js/components/Navbar/NavbarRight.js
  app/Resources/js/components/Navbar/NavbarToggle.js
  app/Resources/js/components/Navbar/NavigationSkip.js
  app/Resources/js/components/Navbar/__snapshots__/NavbarRight-test.js.snap
  app/Resources/js/components/Navbar/styles.js
  app/Resources/js/components/Ui/TabsBar/TabsBar.js
  app/Resources/js/components/Ui/TabsBar/TabsBarDropdown.js
  app/Resources/js/components/Ui/TabsBar/TabsItem.js
  app/Resources/js/components/Ui/TabsBar/styles.js
  app/Resources/js/startup/NavbarAppClient.js
  app/Resources/js/stories/Navbar-stories.js
  app/Resources/js/stories/TabsBar-stories.js
  app/Resources/js/stories/mocks/navbarItems.js
  app/Resources/js/stories/mocks/users.js
Due: jest, flow, frontend

Add ThemeProvider in Navbar
  app/Resources/js/components/Navbar/styles.js
  app/Resources/js/components/Ui/TabsBar/TabsBarDropdown.js
  app/Resources/js/components/Ui/TabsBar/styles.js
  app/Resources/js/startup/NavbarAppClient.js
  app/Resources/js/stories/Navbar-stories.js
  src/Capco/AppBundle/Twig/ParametersExtension.php
Due: php, jest, flow, backend, frontend

Add comments to TabsBar & fix typos
  app/Resources/js/components/Navbar/Navbar.js
  app/Resources/js/components/Navbar/NavbarRight.js
  app/Resources/js/components/Navbar/NavbarToggle.js
  app/Resources/js/components/Navbar/styles.js
  app/Resources/js/components/Ui/TabsBar/TabsBar.js
  app/Resources/js/components/Ui/TabsBar/TabsBarDropdown.js
  app/Resources/js/components/Ui/TabsBar/TabsItem.js
  app/Resources/js/startup/NavbarAppClient.js
  app/Resources/js/stories/Navbar-stories.js
  app/Resources/js/stories/TabsBar-stories.js
Due: jest, flow, frontend

Fiw Flow and Jest
  app/Resources/js/components/Navbar/NavbarRight.js
  app/Resources/js/components/Navbar/__snapshots__/NavbarRight-test.js.snap
  features/front/login.feature
  flow-typed/npm/storybook-addon-intl_vx.x.x.js
  src/Capco/AppBundle/Behat/Page/HomePage.php
  src/Capco/AppBundle/Behat/UserContext.php
Due: jest, flow, backend, frontend

Fix TabsDropdown click outside
  app/Resources/js/components/Navbar/NavbarRight-test.js
  app/Resources/js/components/Navbar/NavbarRight.js
  app/Resources/js/components/Navbar/__snapshots__/NavbarRight-test.js.snap
  app/Resources/js/components/Reply/Form/ReplyCreateFormWrapper-test.js
  app/Resources/js/components/Ui/TabsBar/TabsBar.js
  app/Resources/js/components/Ui/TabsBar/TabsBarDropdown.js
  app/Resources/js/redux/modules/user.js
  app/Resources/js/stories/Navbar-stories.js
Due: jest, flow, frontend

Flow and Jest everywhere
  app/Resources/js/components/Navbar/Navbar-test.js
  app/Resources/js/components/Navbar/Navbar.js
  app/Resources/js/components/Navbar/NavbarRight.js
  app/Resources/js/components/Navbar/NavbarToggle-test.js
  app/Resources/js/components/Navbar/NavigationSkip-test.js
  app/Resources/js/components/Navbar/__snapshots__/Navbar-test.js.snap
  app/Resources/js/components/Navbar/__snapshots__/NavbarRight-test.js.snap
  app/Resources/js/components/Navbar/__snapshots__/NavbarToggle-test.js.snap
  app/Resources/js/components/Navbar/__snapshots__/NavigationSkip-test.js.snap
  app/Resources/js/components/Ui/TabsBar/TabsBar-test.js
  app/Resources/js/components/Ui/TabsBar/TabsBarDropdown-test.js
  app/Resources/js/components/Ui/TabsBar/TabsBarDropdown.js
  app/Resources/js/components/Ui/TabsBar/TabsItem-test.js
  app/Resources/js/components/Ui/TabsBar/TabsItem.js
  app/Resources/js/components/Ui/TabsBar/__snapshots__/TabsBar-test.js.snap
  app/Resources/js/components/Ui/TabsBar/__snapshots__/TabsBarDropdown-test.js.snap
  app/Resources/js/components/Ui/TabsBar/__snapshots__/TabsItem-test.js.snap
  app/Resources/js/components/Ui/TabsBar/styles.js
  app/Resources/js/stories/Navbar-stories.js
Due: jest, flow, frontend

Fix navbar default colors
  app/Resources/js/startup/NavbarAppClient.js
  src/Capco/AppBundle/Resources/views/Default/custom.css.twig
Due: php, jest, flow, backend, frontend

Fix ESLint
  app/Resources/js/stories/Navbar-stories.js
Due: jest, flow, frontend

Fix styling of navbar on IE11
  app/Resources/js/components/Ui/TabsBar/styles.js
  features/front/login.feature
Due: jest, flow, frontend

#8118-FIX fix sonta call formExtension
  src/Capco/AdminBundle/Controller/OpinionController.php
Due: php, backend

#8118-FIX Add test to check admin opinion list
  features/back/general.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Page/AdminOpinionListPage.php
  src/Capco/AppBundle/Behat/Traits/AdminOpinionTait.php
Due: backend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
