Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

#FIX-CIRCLE fix circle test e2e
  spec/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyViewerCanUpdateResolverSpec.php
  src/Capco/AppBundle/Entity/OpinionVersion.php
  src/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyViewerCanDeleteResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyViewerCanUpdateResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Argumentable.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Sourceable.types.yml
Due: graphql, php, backend

7452-QUESTION id are not string
  app/Resources/js/components/QuestionJump/QuestionJumpConditionsAdminForm.js
  src/Capco/AppBundle/Entity/OpinionVersion.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Argumentable.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Sourceable.types.yml
Due: php, jest, flow, backend, frontend

Merge pull request #7511 from cap-collectif/7504-fix-edit-survey
  app/Resources/js/components/QuestionJump/QuestionJumpConditionsAdminForm.js
  spec/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyViewerCanUpdateResolverSpec.php
  src/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyViewerCanDeleteResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyViewerCanUpdateResolver.php
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #7520 from cap-collectif/fix-circle
  src/Capco/AppBundle/Entity/OpinionVersion.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Argumentable.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Sourceable.types.yml
Due: php, backend

Merge pull request #7521 from cap-collectif/7452-question-cible
  app/Resources/js/components/QuestionJump/QuestionJumpConditionsAdminForm.js
Due: jest, flow, frontend

Update create users account to support custom fields
  features/commands/import.feature
  src/Capco/AppBundle/Behat/UserContext.php
  src/Capco/AppBundle/Command/CreateUserAccountsFromCSVCommand.php
Due: php, backend

Skip existing users in capco:create-users-account-from-csv
  features/commands/import.feature
  src/Capco/AppBundle/Command/CreateUserAccountsFromCSVCommand.php
Due: php, backend

Confirm before asking password
  src/Capco/UserBundle/Controller/ConfirmationController.php
Due: php, backend

7510-FIX nullable description
  src/Capco/AppBundle/Entity/Questionnaire.php
  src/Capco/AppBundle/Entity/Questions/AbstractQuestion.php
Due: php, backend

7515-AUTHOR fix select
  app/Resources/js/components/Admin/Field/UserListField.js
  app/Resources/js/components/Form/Select.js
  src/Capco/AppBundle/Entity/Questionnaire.php
  src/Capco/AppBundle/Entity/Questions/AbstractQuestion.php
Due: php, jest, flow, backend, frontend

Preview API can now generate open data exports
  app/Resources/js/components/Admin/Field/UserListField.js
  app/Resources/js/components/Form/Select.js
  app/config/graphql.yml
  schema.internal.graphql
  schema.preview.graphql
  src/Capco/AppBundle/Entity/Questionnaire.php
  src/Capco/AppBundle/Entity/Questions/AbstractQuestion.php
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalValueResponse.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/PreviewQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/decorator/PreviewWithProposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/interfaces/PreviewQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewConsultation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewProject.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewProposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewQuestionnaire.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewReply.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewUser.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewValueResponse.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/relay-connection/PreviewUserConnection.types.yml
Due: graphql, php, jest, flow, backend, frontend

7515-AUTHOR fix
  app/Resources/js/components/Admin/Field/UserListField.js
  app/Resources/js/components/Form/Select.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/config/graphql.yml
  schema.internal.graphql
  schema.preview.graphql
  src/Capco/AppBundle/Entity/Questionnaire.php
  src/Capco/AppBundle/Entity/Questions/AbstractQuestion.php
  src/Capco/AppBundle/Form/ProposalAdminType.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalValueResponse.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/PreviewQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/decorator/PreviewWithProposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/interfaces/PreviewQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewConsultation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewProject.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewProposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewQuestionnaire.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewReply.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewUser.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewValueResponse.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/relay-connection/PreviewUserConnection.types.yml
Due: graphql, php, jest, flow, backend, frontend

7515-AUTHOR fix test
  features/graphql/mutations/updateProposal.feature
Due: none

Merge pull request #7536 from cap-collectif/7515-author-modification
  src/Capco/AppBundle/Entity/Questionnaire.php
  src/Capco/AppBundle/Entity/Questions/AbstractQuestion.php
Due: php, backend

Add PoC of Public GraphQL API testing using Jest
  app/Resources/js/components/Admin/Field/UserListField.js
  app/Resources/js/components/Form/Select.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/config/graphql.yml
  features/graphql-public/__snapshots__/index.js.snap
  features/graphql-public/index.js
  features/graphql/mutations/updateProposal.feature
  infrastructure/deploylib/database.py
  jest.config.e2e.js
  jsconfig.json
  package.json
  schema.internal.graphql
  schema.preview.graphql
  src/Capco/AppBundle/Command/ReinitCommand.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Form/ProposalAdminType.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalValueResponse.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/PreviewQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/decorator/PreviewWithProposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/interfaces/PreviewQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewConsultation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewProject.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewProposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewQuestionnaire.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewReply.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewUser.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewValueResponse.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/relay-connection/PreviewUserConnection.types.yml
  yarn.lock
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #7527 from cap-collectif/add-poc-to-check-graphql-public-api
  app/Resources/js/components/Admin/Field/UserListField.js
  app/Resources/js/components/Form/Select.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  features/graphql/mutations/updateProposal.feature
  src/Capco/AppBundle/Form/ProposalAdminType.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
Due: graphql, php, jest, flow, backend, frontend

7515-ADMIN admin can edit proposal authhor (#7546)
  app/Resources/js/components/Admin/Field/UserListField.js
  app/Resources/js/components/Form/Select.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm-test.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
Due: jest, flow, frontend

All changed files should nnot decrease coverage and reach 70% (#7535)
  .codecov.yml
Due: none

7515-FIX retours (#7554)
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
Due: graphql, php, jest, flow, backend, frontend

7437-FIX fix proposal theme
  app/Resources/js/components/Proposal/Page/ProposalPageTabs-test.js
  app/Resources/js/components/Proposal/Page/ProposalPageTabs.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageTabs-test.js.snap
Due: jest, flow, frontend

Docker build should fail if crontab is not valid
  app/Resources/js/components/Proposal/Page/ProposalPageTabs-test.js
  app/Resources/js/components/Proposal/Page/ProposalPageTabs.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageTabs-test.js.snap
  infrastructure/services/remote/Dockerfile
Due: jest, flow, frontend

Fix remote crontab
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remote/cron/crontab
  infrastructure/services/remote/cron/run
Due: none

Merge pull request #7558 from cap-collectif/7437-fix-themes
  app/Resources/js/components/Proposal/Page/ProposalPageTabs-test.js
  app/Resources/js/components/Proposal/Page/ProposalPageTabs.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageTabs-test.js.snap
Due: jest, flow, frontend

7555-FIX fix multiselect
  app/Resources/js/components/Group/Admin/GroupAdminAddUsersForm.js
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminAddUsersForm-test.js.snap
  app/Resources/js/components/Proposal/Admin/ProposalAdminNotationForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminNotationForm-test.js.snap
Due: jest, flow, frontend

Fix critical issue in `<ProposalResponse />` by unit testing it
  app/Resources/js/components/Group/Admin/GroupAdminAddUsersForm.js
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminAddUsersForm-test.js.snap
  app/Resources/js/components/Proposal/Admin/ProposalAdminNotationForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminNotationForm-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalResponse-test.js
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalResponse-test.js.snap
Due: jest, flow, frontend

Merge pull request #7566 from cap-collectif/7555-fix-multifields
  app/Resources/js/components/Group/Admin/GroupAdminAddUsersForm.js
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminAddUsersForm-test.js.snap
  app/Resources/js/components/Proposal/Admin/ProposalAdminNotationForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminNotationForm-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalResponse-test.js
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalResponse-test.js.snap
Due: jest, flow, frontend

Add an orderBy option to make this test stable
  app/Resources/js/components/Group/Admin/GroupAdminAddUsersForm.js
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminAddUsersForm-test.js.snap
  app/Resources/js/components/Proposal/Admin/ProposalAdminNotationForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminNotationForm-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalResponse-test.js
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalResponse-test.js.snap
  features/graphql/query/project_comments.feature
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectCommentsResolver.php
  src/Capco/AppBundle/Repository/ProposalCommentRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yml
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #7567 from cap-collectif/fix-proposal-responses-when-not-valid
  app/Resources/js/components/Group/Admin/GroupAdminAddUsersForm.js
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminAddUsersForm-test.js.snap
  app/Resources/js/components/Proposal/Admin/ProposalAdminNotationForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminNotationForm-test.js.snap
Due: jest, flow, frontend

Fix security:js
  package.json
  yarn.lock
Due: none

[6239-WEBPACK] Unable consultation test on synthesis.
  behat.yml
Due: none

[6239-WEBPACK] Fix fonts for webpack.
  app/Resources/scss/style.scss
Due: none

[6239-WEBPACK] Update snapshots.
  app/Resources/js/components/District/__snapshots__/DistrictAdminFields-test.js.snap
  app/Resources/js/components/Form/__snapshots__/ColorPicker-test.js.snap
Due: jest, flow, frontend

[6239-WEBPACK] Fix proposal E2E tests.
  features/back/proposal.feature
Due: none

[6239-WEBPACK] Add react-toggle to back office.
  webpack/webpack.client.js
Due: none

[6239-WEBPACK] Remove useless test line.
  features/back/proposal.feature
Due: none

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
