Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

#6459-MIGRATE update some dependencies
  composer.lock
Due: none

#6459-MIGRATE compouser update sonata admin
  composer.lock
  src/Capco/AdminBundle/Resources/config/admin.yml
Due: php, backend

#6459-MIGRATE update test e2e on BO
  features/back/general.feature
Due: none

#6459-MIGRATE composer update
  composer.lock
Due: none

#6459-SF4 migrate exercise/htmlpurifier-bundle updated from v0.2.4 to V2.0.4
  composer.json
  composer.lock
  src/Capco/AdminBundle/Admin/PageAdmin.php
  src/Capco/AppBundle/Form/ApiQuestionChoiceType.php
  src/Capco/AppBundle/Form/ApiQuestionType.php
  src/Capco/AppBundle/Form/ApiSourceType.php
  src/Capco/AppBundle/Form/AppendixType.php
  src/Capco/AppBundle/Form/ArgumentType.php
  src/Capco/AppBundle/Form/CommentType.php
  src/Capco/AppBundle/Form/ContactType.php
  src/Capco/AppBundle/Form/EventType.php
  src/Capco/AppBundle/Form/GroupCreateType.php
  src/Capco/AppBundle/Form/LogicJumpType.php
  src/Capco/AppBundle/Form/MediaQuestionType.php
  src/Capco/AppBundle/Form/MultipleChoiceQuestionType.php
  src/Capco/AppBundle/Form/OpinionForm.php
  src/Capco/AppBundle/Form/OpinionVersionType.php
  src/Capco/AppBundle/Form/ProgessStepType.php
  src/Capco/AppBundle/Form/ProjectType.php
  src/Capco/AppBundle/Form/ProposalDistrictAdminType.php
  src/Capco/AppBundle/Form/ProposalFormCreateType.php
  src/Capco/AppBundle/Form/ProposalFormUpdateType.php
  src/Capco/AppBundle/Form/ProposalType.php
  src/Capco/AppBundle/Form/QuestionChoiceType.php
  src/Capco/AppBundle/Form/QuestionnaireConfigurationUpdateType.php
  src/Capco/AppBundle/Form/QuestionnaireCreateType.php
  src/Capco/AppBundle/Form/ReportingType.php
  src/Capco/AppBundle/Form/SectionQuestionType.php
  src/Capco/AppBundle/Form/SimpleQuestionType.php
  src/Capco/AppBundle/Form/Type/PurifiedTextareaType.php
  src/Capco/UserBundle/Form/Type/ApiAdminRegistrationFormType.php
  src/Capco/UserBundle/Form/Type/ApiRegistrationFormType.php
  src/Capco/UserBundle/Form/Type/PersonalDataFormType.php
  src/Capco/UserBundle/Form/Type/ProfileFormType.php
  src/Capco/UserBundle/Form/Type/PublicDataType.php
  src/Capco/UserBundle/Form/Type/UserFormType.php
Due: php, backend

#6459-SF4 fix migration of htmlpurifier
  src/Capco/AppBundle/Form/Type/PurifiedTextType.php
  src/Capco/UserBundle/Form/Type/ApiAdminRegistrationFormType.php
  src/Capco/UserBundle/Form/Type/ApiRegistrationFormType.php
  src/Capco/UserBundle/Form/Type/PersonalDataFormType.php
  src/Capco/UserBundle/Form/Type/ProfileFormType.php
  src/Capco/UserBundle/Form/Type/PublicDataType.php
  src/Capco/UserBundle/Form/Type/UserFormType.php
Due: php, backend

#6459-MIGRATE update php-translation/symfony-bundle and php-translation/loco-adapter to 0.5
  composer.json
  composer.lock
Due: none

#6459-MIGRATE update some dependencies
  app/AppKernel.php
  composer.json
  composer.lock
Due: none

#6459-MIGRATE fix delete a question
  src/Capco/AppBundle/Traits/SluggableUpdatableTitleTrait.php
Due: php, backend

#6459-MIGRATE try to fix phpstan
  phpstan.neon
Due: none

#6459-MIGRATE replace Datetime by DateTime
  src/Capco/AppBundle/Entity/Answer.php
  src/Capco/AppBundle/Entity/Category.php
  src/Capco/AppBundle/Entity/Comment.php
  src/Capco/AppBundle/Entity/District/AbstractDistrict.php
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Entity/EventRegistration.php
  src/Capco/AppBundle/Entity/FooterSocialNetwork.php
  src/Capco/AppBundle/Entity/Group.php
  src/Capco/AppBundle/Entity/MenuItem.php
  src/Capco/AppBundle/Entity/Opinion.php
  src/Capco/AppBundle/Entity/OpinionType.php
  src/Capco/AppBundle/Entity/OpinionVersionVote.php
  src/Capco/AppBundle/Entity/Page.php
  src/Capco/AppBundle/Entity/Post.php
  src/Capco/AppBundle/Entity/ProposalCategory.php
  src/Capco/AppBundle/Entity/Questionnaire.php
  src/Capco/AppBundle/Entity/Reply.php
  src/Capco/AppBundle/Entity/Section.php
  src/Capco/AppBundle/Entity/SiteColor.php
  src/Capco/AppBundle/Entity/SiteImage.php
  src/Capco/AppBundle/Entity/SiteParameter.php
  src/Capco/AppBundle/Entity/SocialNetwork.php
  src/Capco/AppBundle/Entity/Status.php
  src/Capco/AppBundle/Entity/Steps/AbstractStep.php
  src/Capco/AppBundle/Entity/Steps/ConsultationStepType.php
  src/Capco/AppBundle/Entity/Theme.php
  src/Capco/AppBundle/Entity/Video.php
  src/Capco/AppBundle/EventListener/SoftDeleteEventListener.php
  src/Capco/UserBundle/Entity/UserType.php
Due: php, backend

#6459-MIGRATE update phpstan and fix phptypehint
  phpstan.neon
  src/Capco/AppBundle/Resolver/ProposalStepVotesResolver.php
Due: php, backend

#6459-MIGRATE ty to fix phpstan errors
  src/Capco/AppBundle/PhpStan/PropertiesFromAnnotationsClassReflectionExtension.php
  src/Capco/AppBundle/PhpStan/Reflection/PropertyReflection.php
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/config/services/phpstan.yaml
  src/Capco/UserBundle/Entity/User.php
Due: php, backend

#6459-MIGRATE configure phpstan after updated
  package.json
  phpstan.neon
  src/Capco/AppBundle/PhpStan/PropertiesFromAnnotationsClassReflectionExtension.php
  src/Capco/AppBundle/PhpStan/Reflection/PropertyReflection.php
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/config/services/phpstan.yaml
Due: php, backend

#6459-MIGRATE fix errors found by phpstan
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Elasticsearch/Client.php
  src/Capco/AppBundle/Elasticsearch/ElasticsearchLogger.php
  src/Capco/AppBundle/Traits/AnonymousableTrait.php
Due: php, backend

#6459-MIGRATE fix yarn trad
  infrastructure/services/builder/build.sh
  infrastructure/services/remote/Dockerfile
  package.json
Due: none

#6459-MIGRATE fix htmlpurifier
  src/Capco/AdminBundle/Admin/PageAdmin.php
  src/Capco/AdminBundle/Admin/StepAdmin.php
  src/Capco/AppBundle/Controller/Api/UsersController.php
  src/Capco/AppBundle/Form/MediaQuestionType.php
  src/Capco/AppBundle/Form/MultipleChoiceQuestionType.php
  src/Capco/AppBundle/Form/QuestionnaireConfigurationUpdateType.php
  src/Capco/AppBundle/Form/SectionQuestionType.php
  src/Capco/AppBundle/Form/SimpleQuestionType.php
  src/Capco/AppBundle/Form/Type/PurifiedTextType.php
  src/Capco/AppBundle/Traits/SluggableTitleTrait.php
  src/Capco/AppBundle/Traits/SluggableUpdatableTitleTrait.php
  src/Capco/UserBundle/Form/Type/ApiAdminRegistrationFormType.php
  src/Capco/UserBundle/Form/Type/ApiRegistrationFormType.php
  src/Capco/UserBundle/Form/Type/PersonalDataFormType.php
  src/Capco/UserBundle/Form/Type/ProfileFormType.php
  src/Capco/UserBundle/Form/Type/PublicDataType.php
  src/Capco/UserBundle/Form/Type/UserFormType.php
Due: php, backend

#6459-MIGRATE update doctrine migration
  app/DoctrineMigrations/Version20190319174838.php
Due: none

#6459-MIGRATE fix
  features/graphql/mutations/updateProposalForm.feature
Due: none

#6459-MIGRATE fix a deprecated
  src/Capco/AppBundle/Resources/config/services/repositories.yml
Due: php, backend

#6459-MIGRATE upgrade symfony/security-acl updated from v3.0.1 to dev-master
  app/DoctrineMigrations/Version20190320141741.php
  composer.json
  composer.lock
Due: none

#6459-MIGRATE fix composer
  composer.json
  composer.lock
Due: none

Merge pull request #7438 from cap-collectif/6620-refactor-streamed-exports
  features/commands/__snapshots__/participants_appel-a-projets.csv
  features/commands/__snapshots__/participants_bp-avec-vote-classement.csv
  features/commands/__snapshots__/participants_budget-avec-vote-limite.csv
  features/commands/__snapshots__/participants_budget-participatif-rennes.csv
  features/commands/__snapshots__/participants_croissance-innovation-disruption.csv
  features/commands/__snapshots__/participants_depot-avec-selection-vote-budget.csv
  features/commands/__snapshots__/participants_depot-avec-selection-vote-simple.csv
  features/commands/__snapshots__/participants_le-p16-un-projet-a-base-de-riz.csv
  features/commands/__snapshots__/participants_project-pour-la-creation-de-la-capcobeer-visible-par-admin-seulement.csv
  features/commands/__snapshots__/participants_project-pour-la-force-visible-par-mauriau-seulement.csv
  features/commands/__snapshots__/participants_projet-a-venir.csv
  features/commands/__snapshots__/participants_projet-avec-questionnaire.csv
  features/commands/__snapshots__/participants_projet-avec-une-etape-de-participation-en-continue.csv
  features/commands/__snapshots__/participants_projet-de-loi-renseignement.csv
  features/commands/__snapshots__/participants_projet-sans-etapes-participatives.csv
  features/commands/__snapshots__/participants_projet-vide.csv
  features/commands/__snapshots__/participants_questions-responses.csv
  features/commands/__snapshots__/participants_qui-doit-conquerir-le-monde-visible-par-les-admins-seulement.csv
  features/commands/__snapshots__/participants_strategie-technologique-de-letat-et-services-publics.csv
  features/commands/__snapshots__/participants_transformation-numerique-des-relations.csv
  features/commands/__snapshots__/participants_un-avenir-meilleur-pour-les-nains-de-jardins-custom-access.csv
  features/commands/export.feature
  infrastructure/services/local/cron/crontab
  infrastructure/services/remote/cron/crontab
  schema.internal.graphql
  src/Capco/AppBundle/Command/CreateCsvFromProjectsContributorsCommand.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/GraphQL/ConnectionTraversor.php
  src/Capco/AppBundle/Repository/ProjectRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yml
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/config/services/commands.yml
Due: graphql, php, backend

- Updated relay to v2
  package.json
  yarn.lock
Due: none

- Updated relay to 2.0.0 and fixed flow types
  app/Resources/js/components/ProjectDistrict/ProjectDistrictForm.js
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/components/User/Admin/UserAdminPersonalData.js
  app/Resources/js/components/User/Admin/UserAdminProfile.js
  app/Resources/js/components/User/Following/FollowingsProposals.js
  app/Resources/js/components/User/Following/OpinionProjectRow.js
  app/Resources/js/components/User/Following/UserFollowingsOpinions.js
  app/Resources/js/types.js
  app/Resources/js/utils/responsesHelper.js
  flow-typed/npm/relay-runtime_vx.x.x.js
  package.json
  yarn.lock
Due: jest, flow, frontend

- Added watchman false to disable watchman when not running :watch command for relay
  package.json
Due: none

- Rebased after security fixes
  yarn.lock
Due: none

- Re updated flow after rebase
  package.json
  yarn.lock
Due: none

Merge pull request #7399 from cap-collectif/6655-districts-modal-project
  app/Resources/js/components/Project/ProjectHeaderDistricts-test.js
  app/Resources/js/components/Project/ProjectHeaderDistricts.js
  app/Resources/js/components/Project/ProjectHeaderDistrictsList-test.js
  app/Resources/js/components/Project/ProjectHeaderDistrictsList.js
  app/Resources/js/components/Project/__snapshots__/ProjectHeaderDistricts-test.js.snap
  app/Resources/js/components/Project/__snapshots__/ProjectHeaderDistrictsList-test.js.snap
  app/Resources/js/registration.js
  app/Resources/js/startup/ProjectHeaderDistrictsApp.js
  app/Resources/scss/modules/_project.scss
  src/Capco/AppBundle/Resources/views/Project/show_districts.html.twig
  src/Capco/AppBundle/Resources/views/Project/show_title.html.twig
Due: php, jest, flow, backend, frontend

#7462-FIX fix formType after htmlPurifier migration
  src/Capco/AdminBundle/Admin/StepAdmin.php
Due: php, backend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
