Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: auto
        threshold: null
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

COMMENTABLE-DATALOADER phpsec
  spec/Capco/AppBundle/GraphQL/Mutation/AddCommentMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/DeleteCommentMutationSpec.php
Due: none

[CHG] see more button position
  app/Resources/js/components/Form/Checkbox.js
  app/Resources/js/components/Form/ReactBootstrapInput.js
  app/Resources/js/components/Project/List/ProjectListViewPaginated.js
  app/Resources/js/components/Project/List/ProjectsList.js
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/stores/AppStore.js
  app/Resources/js/utils/responsesHelper.js
  spec/Capco/AppBundle/GraphQL/Mutation/AddCommentMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/DeleteCommentMutationSpec.php
  src/Capco/AdminBundle/Resources/views/standard_layout.html.twig
  src/Capco/AppBundle/Command/LoadBenchmarkDataCommand.php
  src/Capco/AppBundle/Controller/Site/CommentController.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CommentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/FooterSocialNetwork.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/MenuItem.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Post.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Proposal.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalCollectVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalComment.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteColor.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Source.yml
  src/Capco/AppBundle/GraphQL/DataLoader/Commentable/CommentableCommentsDataLoader.php
  src/Capco/AppBundle/GraphQL/Mutation/AddCommentMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteCommentMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Commentable/CommentableCommentsResolver.php
  src/Capco/AppBundle/Resources/config/services/graphql_dataloaders.yml
  src/Capco/AppBundle/Resources/views/layout.html.twig
  src/Capco/AppBundle/Resources/views/redux_store.html.twig
  src/Capco/AppBundle/Twig/ReactIntlExtension.php
  xlf2-to-json.mjs
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #6752 from cap-collectif/commentable-dataloader
  spec/Capco/AppBundle/GraphQL/Mutation/AddCommentMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/DeleteCommentMutationSpec.php
  src/Capco/AppBundle/Controller/Site/CommentController.php
  src/Capco/AppBundle/GraphQL/DataLoader/Commentable/CommentableCommentsDataLoader.php
  src/Capco/AppBundle/GraphQL/Mutation/AddCommentMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteCommentMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Commentable/CommentableCommentsResolver.php
  src/Capco/AppBundle/Resources/config/services/graphql_dataloaders.yml
Due: graphql, php, backend

[6705-REQUIREMENT] Add requirement to opinionVote.
  src/Capco/AppBundle/Controller/Api/OpinionsController.php
Due: php, backend

[6705-REQUIREMENT] WIP
  app/Resources/js/mutations/AddOpinionVoteMutation.js
  app/Resources/js/mutations/RemoveOpinionVoteMutation.js
Due: jest, flow, frontend

WIP
  app/Resources/js/components/Opinion/Votes/OpinionVotesBar.js
  app/Resources/js/mutations/AddOpinionVoteMutation.js
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/OpinionVote.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/VersionVote.types.yml
Due: php, jest, flow, backend, frontend

[6705-REQUIREMENT] Fix updater commit of add/remove opinion.
  app/Resources/js/components/Opinion/Votes/OpinionVotesBar.js
  app/Resources/js/mutations/AddOpinionVoteMutation.js
  app/Resources/js/mutations/RemoveOpinionVoteMutation.js
Due: jest, flow, frontend

[6705-REQUIREMENT] Fix rebase & add disable on button vote opinion.
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton.js
  src/Capco/AppBundle/Controller/Api/OpinionsController.php
  src/Capco/AppBundle/Controller/Site/StepController.php
Due: php, jest, flow, backend, frontend

[6705-REQUIREMENT] Add API requirements on opinionVote.
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton.js
  src/Capco/AppBundle/GraphQL/Mutation/AddOpinionVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/RemoveOpinionVoteMutation.php
Due: graphql, php, jest, flow, backend, frontend

[6705-REQUIREMENT] Add test for remove & add opinion with requirement.
  features/graphql/mutations/addOpinionVote.feature
  features/graphql/mutations/removeOpinionVote.feature
  src/Capco/AppBundle/Behat/GraphQLContext.php
  src/Capco/AppBundle/Behat/UserContext.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/OpinionVote.yml
Due: php, backend

[6705-REQUIREMENT] Add RequirementsModal to opinionVote.
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton.js
  app/Resources/js/components/Requirements/RequirementsForm.js
  app/Resources/js/components/Requirements/RequirementsModal.js
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Version.types.yml
Due: php, jest, flow, backend, frontend

[6705-REQUIREMENT] Fix flow & tests.
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton-test.js
  app/Resources/js/components/Opinion/Votes/__snapshots__/OpinionVotesButton-test.js.snap
Due: jest, flow, frontend

[6705-REQUIREMENT] Add requirement to API argument.
  src/Capco/AppBundle/GraphQL/Mutation/AddArgumentMutation.php
  src/Capco/AppBundle/Model/Argumentable.php
Due: graphql, php, backend

[6705-REQUIREMENT] Add tests to addArgument without requirements.
  features/graphql/mutations/addArgument.feature
  src/Capco/AppBundle/GraphQL/Mutation/AddArgumentMutation.php
Due: graphql, php, backend

WIP
  app/Resources/js/components/Opinion/Votes/OpinionVotesBar.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton-test.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton.js
  app/Resources/js/components/Opinion/Votes/__snapshots__/OpinionVotesButton-test.js.snap
  app/Resources/js/components/Requirements/RequirementsForm.js
  app/Resources/js/components/Requirements/RequirementsModal.js
  app/Resources/js/mutations/AddOpinionVoteMutation.js
  app/Resources/js/mutations/RemoveOpinionVoteMutation.js
  features/graphql/mutations/addArgument.feature
  features/graphql/mutations/addOpinionVote.feature
  features/graphql/mutations/removeOpinionVote.feature
  schema.internal.graphql
  src/Capco/AppBundle/Behat/GraphQLContext.php
  src/Capco/AppBundle/Behat/UserContext.php
  src/Capco/AppBundle/Controller/Api/GraphQLController.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/OpinionVote.yml
  src/Capco/AppBundle/GraphQL/Mutation/AddArgumentMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddOpinionVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/RemoveOpinionVoteMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalProgressStepsResolver.php
  src/Capco/AppBundle/Model/Argumentable.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/OpinionVote.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Proposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Version.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/VersionVote.types.yml
Due: graphql, php, jest, flow, backend, frontend

Adding progress step in proposal
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalProgressStepDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalProgressStepsResolver.php
  src/Capco/AppBundle/Resources/config/services/graphql_dataloaders.yml
Due: graphql, php, backend

add comment
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalProgressStepDataLoader.php
Due: graphql, php, backend

review
  src/Capco/AppBundle/Controller/Api/GraphQLController.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalProgressStepDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalProgressStepsResolver.php
Due: graphql, php, backend

[6705-REQUIREMENT] Add modal to ArgumentCreate.
  app/Resources/js/components/Argument/Creation/ArgumentCreate.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesBar.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton-test.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton.js
  app/Resources/js/components/Opinion/Votes/__snapshots__/OpinionVotesButton-test.js.snap
  app/Resources/js/components/Requirements/RequirementsForm.js
  app/Resources/js/components/Requirements/RequirementsModal.js
  app/Resources/js/mutations/AddOpinionVoteMutation.js
  app/Resources/js/mutations/RemoveOpinionVoteMutation.js
  features/graphql/mutations/addArgument.feature
  features/graphql/mutations/addOpinionVote.feature
  features/graphql/mutations/removeOpinionVote.feature
  schema.internal.graphql
  src/Capco/AppBundle/Behat/GraphQLContext.php
  src/Capco/AppBundle/Behat/UserContext.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/OpinionVote.yml
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalProgressStepDataLoader.php
  src/Capco/AppBundle/GraphQL/Mutation/AddArgumentMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddOpinionVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/RemoveOpinionVoteMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalProgressStepsResolver.php
  src/Capco/AppBundle/Model/Argumentable.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/OpinionVote.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Proposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Version.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/VersionVote.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_dataloaders.yml
Due: graphql, php, jest, flow, backend, frontend

6778-FIX fix proposal normalizer
  app/Resources/js/components/Argument/Creation/ArgumentCreate.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesBar.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton-test.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton.js
  app/Resources/js/components/Opinion/Votes/__snapshots__/OpinionVotesButton-test.js.snap
  app/Resources/js/components/Requirements/RequirementsForm.js
  app/Resources/js/components/Requirements/RequirementsModal.js
  app/Resources/js/mutations/AddOpinionVoteMutation.js
  app/Resources/js/mutations/RemoveOpinionVoteMutation.js
  features/graphql/mutations/addArgument.feature
  features/graphql/mutations/addOpinionVote.feature
  features/graphql/mutations/removeOpinionVote.feature
  schema.internal.graphql
  src/Capco/AppBundle/Behat/GraphQLContext.php
  src/Capco/AppBundle/Behat/UserContext.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/OpinionVote.yml
  src/Capco/AppBundle/GraphQL/DataLoader/Commentable/CommentableCommentsDataLoader.php
  src/Capco/AppBundle/GraphQL/Mutation/AddArgumentMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddOpinionVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/RemoveOpinionVoteMutation.php
  src/Capco/AppBundle/Model/Argumentable.php
  src/Capco/AppBundle/Normalizer/ProposalNormalizer.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/OpinionVote.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Version.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/VersionVote.types.yml
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #6781 from cap-collectif/6778-fix-normalizer
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalProgressStepDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalProgressStepsResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Proposal.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_dataloaders.yml
Due: graphql, php, backend

Merge pull request #6780 from cap-collectif/6705-requirement-vote
  app/Resources/js/components/Argument/Creation/ArgumentCreate.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesBar.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton-test.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton.js
  app/Resources/js/components/Opinion/Votes/__snapshots__/OpinionVotesButton-test.js.snap
  app/Resources/js/components/Requirements/RequirementsForm.js
  app/Resources/js/components/Requirements/RequirementsModal.js
  app/Resources/js/mutations/AddOpinionVoteMutation.js
  app/Resources/js/mutations/RemoveOpinionVoteMutation.js
  features/graphql/mutations/addArgument.feature
  features/graphql/mutations/addOpinionVote.feature
  features/graphql/mutations/removeOpinionVote.feature
  schema.internal.graphql
  src/Capco/AppBundle/Behat/GraphQLContext.php
  src/Capco/AppBundle/Behat/UserContext.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/OpinionVote.yml
  src/Capco/AppBundle/GraphQL/Mutation/AddArgumentMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddOpinionVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/RemoveOpinionVoteMutation.php
  src/Capco/AppBundle/Model/Argumentable.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/OpinionVote.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Version.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/VersionVote.types.yml
Due: graphql, php, jest, flow, backend, frontend

optimizing ProposalStepPageQuery
  app/DoctrineMigrations/Version20190104092522.php
  app/config/config.yml
  src/Capco/AppBundle/Controller/Site/ProposalController.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/FooterSocialNetwork.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/HighlightedContent.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Proposal.yml
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/GraphQL/DataLoader/BatchDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalVotesDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/ProposalForm/ProposalFormProposalsDataLoader.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteProposalMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/ProposalForm/ProposalFormProposalsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/CollectStepProposalResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/SelectionStepProposalResolver.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Proposal.types.yml
  src/Capco/AppBundle/Resources/config/services/cache.yml
  src/Capco/AppBundle/Resources/config/services/graphql_dataloaders.yml
  src/Capco/AppBundle/Resources/views/Proposal/show.html.twig
  src/Capco/AppBundle/Search/ProposalSearch.php
  src/Capco/UserBundle/Resources/config/doctrine/Group.orm.xml
  xlf2-to-json.mjs
Due: graphql, php, backend

Fix ProposalProgressStepDataLoader
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalProgressStepDataLoader.php
Due: graphql, php, backend

6783-FIX fix daccord button
  app/Resources/js/components/Comment/CommentVoteButton.js
  app/Resources/js/components/Comment/__snapshots__/Comment-test.js.snap
Due: jest, flow, frontend

6783-FIX real fix
  app/Resources/js/components/Comment/CommentVoteButton.js
  app/Resources/js/components/Comment/__snapshots__/Comment-test.js.snap
Due: jest, flow, frontend

[ADD] intl for filter
  app/Resources/js/components/Comment/CommentVoteButton.js
  app/Resources/js/components/Project/Stats/ProjectStatsFilters-test.js
  app/Resources/js/components/Project/Stats/ProjectStatsFilters.js
  app/Resources/js/components/Project/Stats/__snapshots__/ProjectStatsFilters-test.js.snap
Due: jest, flow, frontend

[ADD] margin for proposal vote button
  app/Resources/js/components/Proposal/Vote/ProposalVoteButtonWrapperFragment.js
Due: jest, flow, frontend

[CHG] paragraph to span
  src/Capco/AppBundle/Resources/views/Project/show_title.html.twig
Due: php, backend

[CHG] margin for footer links
  app/Resources/scss/base/_footer.scss
Due: none

[RMV] wrong style
  app/Resources/scss/modules/_form.scss
Due: none

[ADD] row on profile for project list
  src/Capco/UserBundle/Resources/views/Profile/show.html.twig
Due: php, backend

[ADD] ellipsis for author on proposal list table
  app/Resources/js/components/Proposal/List/ProposalListTable.js
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalListTable-test.js.snap
Due: jest, flow, frontend

[CHG] title rank for better consistency
  app/Resources/js/components/Proposal/Page/ProposalPageFollowers.js
  app/Resources/js/components/Proposal/Page/ProposalVotes.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageFollowers-test.js.snap
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalVotes-test.js.snap
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
Due: php, jest, flow, backend, frontend

[ADD] margin for description on form
  app/Resources/js/components/Form/RankingBlock.js
  app/Resources/js/components/Form/__snapshots__/RankingBlock-test.js.snap
  app/Resources/js/components/Reply/Form/ButtonBody.js
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/utils/responsesHelper.js
Due: jest, flow, frontend

Merge pull request #6790 from cap-collectif/6783-fix-daccord
  app/Resources/js/components/Comment/CommentVoteButton.js
  app/Resources/js/components/Form/RankingBlock.js
  app/Resources/js/components/Form/__snapshots__/RankingBlock-test.js.snap
  app/Resources/js/components/Project/Stats/ProjectStatsFilters-test.js
  app/Resources/js/components/Project/Stats/ProjectStatsFilters.js
  app/Resources/js/components/Project/Stats/__snapshots__/ProjectStatsFilters-test.js.snap
  app/Resources/js/components/Proposal/List/ProposalListTable.js
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalListTable-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalPageFollowers.js
  app/Resources/js/components/Proposal/Page/ProposalVotes.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageFollowers-test.js.snap
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalVotes-test.js.snap
  app/Resources/js/components/Proposal/Vote/ProposalVoteButtonWrapperFragment.js
  app/Resources/js/components/Reply/Form/ButtonBody.js
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/utils/responsesHelper.js
  app/Resources/scss/base/_footer.scss
  app/Resources/scss/modules/_form.scss
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
  src/Capco/AppBundle/Resources/views/Project/show_title.html.twig
  src/Capco/UserBundle/Resources/views/Profile/show.html.twig
Due: php, jest, flow, backend, frontend

Delete off toic choice in reporting form
  app/Resources/js/components/Comment/CommentVoteButton.js
  app/Resources/js/components/Report/ReportForm.js
  src/Capco/AppBundle/Entity/Reporting.php
Due: php, jest, flow, backend, frontend

revert back office for off subject signalement
  src/Capco/AppBundle/Entity/Reporting.php
Due: php, backend

revert
  src/Capco/AppBundle/Entity/Reporting.php
Due: php, backend

split config.yml into smaller yaml files
  app/Resources/js/components/Comment/CommentVoteButton.js
  app/Resources/js/components/Report/ReportForm.js
  app/config/config.yml
  app/config/doctrine.yml
  app/config/doctrine_extensions.yml
  app/config/fos_rest.yml
  app/config/fos_user.yml
  app/config/graphql.yml
  app/config/hautelook_alice.yml
  app/config/html_purifier.yml
  app/config/http_plug.yml
  app/config/hwi_oauth.yml
  app/config/ivory_ck_editor.yml
  app/config/jms.yml
  app/config/limenius_react.yml
  app/config/prometheus.yml
  app/config/redis.yml
  app/config/saml.yml
  app/config/swiftmailer.yml
  app/config/toggle.yml
  app/config/translation.yml
  app/config/twig.yml
  src/Capco/AppBundle/Entity/Reporting.php
Due: php, jest, flow, backend, frontend
