Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: auto
        threshold: null
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

[8177-ARGUMENT] Add E2E test to admin consultation.
  features/back/general.feature
  src/Capco/AppBundle/Behat/Page/AdminContributionArgumentPage.php
  src/Capco/AppBundle/Behat/Traits/AdminGeneralTait.php
Due: backend

[8177-ARGUMENT] Add verification of opinion parent.
  src/Capco/AppBundle/Entity/Argument.php
Due: php, backend

[8177-ARGUMENT] Fix of @mauriau review.
  src/Capco/AppBundle/Entity/Argument.php
Due: php, backend

Fix missing 404 on dev docs (#8170)
  features/front/developer.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Page/DeveloperCategoryPage.php
  src/Capco/AppBundle/Behat/Page/DeveloperCategoryTypePage.php
  src/Capco/AppBundle/Behat/Page/DeveloperExplorerPage.php
  src/Capco/AppBundle/Behat/Page/DeveloperGuidePage.php
  src/Capco/AppBundle/Behat/Page/DeveloperGuidesPage.php
  src/Capco/AppBundle/Behat/Page/DeveloperPage.php
  src/Capco/AppBundle/Controller/Site/DeveloperController.php
Due: php, backend

8177 argument fix (#8180)
  features/back/general.feature
  src/Capco/AdminBundle/Admin/ArgumentAdmin.php
  src/Capco/AppBundle/Behat/Page/AdminContributionArgumentPage.php
  src/Capco/AppBundle/Behat/Traits/AdminGeneralTait.php
  src/Capco/AppBundle/Entity/Argument.php
Due: php, backend

Modify SectionAdmin's call to QueryEventsResolver
  src/Capco/AdminBundle/Admin/SectionAdmin.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
Due: graphql, php, backend

Add e2e tests to admin section pages
  features/back/general.feature
  src/Capco/AppBundle/Behat/Page/AdminSectionListPage.php
  src/Capco/AppBundle/Behat/Page/AdminSectionPage.php
  src/Capco/AppBundle/Behat/Traits/AdminPageTrait.php
  src/Capco/AppBundle/Behat/Traits/AdminTrait.php
Due: backend

Add typehint on getEventsConnection
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
Due: graphql, php, backend

Remove translation in backend of flash messages
  features/back/general.feature
  src/Capco/AdminBundle/Admin/SectionAdmin.php
  src/Capco/AppBundle/Behat/Page/AdminSectionListPage.php
  src/Capco/AppBundle/Behat/Page/AdminSectionPage.php
  src/Capco/AppBundle/Behat/Traits/AdminPageTrait.php
  src/Capco/AppBundle/Behat/Traits/AdminTrait.php
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
  src/Capco/AppBundle/Resources/views/base.html.twig
  src/Capco/UserBundle/Resources/views/layout.html.twig
Due: graphql, php, backend

Fix key figures edition on Homepage/Site page (#8193)
  features/back/general.feature
  src/Capco/AdminBundle/Admin/SectionAdmin.php
  src/Capco/AppBundle/Behat/Page/AdminSectionListPage.php
  src/Capco/AppBundle/Behat/Page/AdminSectionPage.php
  src/Capco/AppBundle/Behat/Traits/AdminPageTrait.php
  src/Capco/AppBundle/Behat/Traits/AdminTrait.php
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
  src/Capco/AppBundle/Resources/views/base.html.twig
  src/Capco/UserBundle/Resources/views/layout.html.twig
Due: graphql, php, backend

Fix dinghy IP not guessed correctly
  infrastructure/deploylib/environments.py
Due: none

Merge pull request #8188 from cap-collectif/remove-translator-from-flash-messages
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/Resources/views/base.html.twig
  src/Capco/UserBundle/Resources/views/layout.html.twig
Due: php, backend

Fix some installation steps
  infrastructure/deploylib/app.py
  infrastructure/deploylib/system.py
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/Resources/views/base.html.twig
  src/Capco/UserBundle/Resources/views/layout.html.twig
Due: php, backend

Merge pull request #8206 from cap-collectif/fix-some-installation-steps
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/Resources/views/base.html.twig
  src/Capco/UserBundle/Resources/views/layout.html.twig
Due: php, backend

Override some templates and replace preview.
  app/config/twig.yml
  src/Capco/AdminBundle/Admin/ProjectAdmin.php
  src/Capco/AdminBundle/Resources/views/Project/base_edit_form.tml.twig
  src/Capco/AdminBundle/Resources/views/Project/edit.html.twig
  src/Capco/AdminBundle/Resources/views/Project/list__action_display.html.twig
Due: php, backend

Add e2e tests to project use cases in BO
  features/back/general.feature
  src/Capco/AppBundle/Behat/Traits/AdminTrait.php
Due: backend

Add closeWindows method to AfterScenario
  features/back/general.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
Due: backend

Call closeWindows after localStorage has been cleaned
  src/Capco/AppBundle/Behat/ApplicationContext.php
Due: backend

Fix afterScenario error
  features/back/general.feature
  src/Capco/AdminBundle/Resources/views/Project/base_edit_form.html.twig
  src/Capco/AdminBundle/Resources/views/Project/edit.html.twig
  src/Capco/AppBundle/Behat/ApplicationContext.php
Due: php, backend

Fix ProposalStepTrait
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: backend

Fix sort direction in UserSearch
  src/Capco/AppBundle/Search/UserSearch.php
Due: php, backend

Add e2e jest test, create enum, add orderBy param to user
  features/graphql-public/query/__snapshots__/users.js.snap
  features/graphql-public/query/users.js
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryUsersResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/UserOrderField.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/UserOrder.types.yml
  src/Capco/AppBundle/Search/UserSearch.php
Due: graphql, php, backend

Add constants for sort fields, update snapshots
  features/commands/__snapshots__/users.csv
  features/graphql-public/query/users.js
  features/graphql/query/query_users.feature
  src/Capco/AppBundle/Enum/SortField.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/UserOrder.types.yml
  src/Capco/AppBundle/Search/UserSearch.php
Due: php, backend

Fix CreateCsvUsersCommand, update snapshots
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
  features/commands/__snapshots__/users.csv
  features/graphql-public/query/__snapshots__/users.js.snap
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
Due: php, backend

update snapshots behat, jest
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/participants_appel-a-projets.csv
  features/commands/__snapshots__/participants_bp-avec-vote-classement.csv
  features/commands/__snapshots__/participants_budget-avec-vote-limite.csv
  features/commands/__snapshots__/participants_budget-participatif-rennes.csv
  features/commands/__snapshots__/participants_croissance-innovation-disruption.csv
  features/commands/__snapshots__/participants_depot-avec-selection-vote-budget.csv
  features/commands/__snapshots__/participants_project-pour-la-force-visible-par-mauriau-seulement.csv
  features/commands/__snapshots__/participants_projet-avec-questionnaire.csv
  features/commands/__snapshots__/participants_projet-de-loi-renseignement.csv
  features/commands/__snapshots__/participants_questions-responses.csv
  features/commands/__snapshots__/participants_qui-doit-conquerir-le-monde-visible-par-les-admins-seulement.csv
  features/commands/__snapshots__/participants_strategie-technologique-de-letat-et-services-publics.csv
  features/commands/__snapshots__/participants_transformation-numerique-des-relations.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
  features/commands/__snapshots__/users.csv
  features/graphql-public/query/__snapshots__/users.js.snap
Due: none

Update snapshots ... again
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/participants_appel-a-projets.csv
  features/commands/__snapshots__/participants_bp-avec-vote-classement.csv
  features/commands/__snapshots__/participants_budget-avec-vote-limite.csv
  features/commands/__snapshots__/participants_budget-participatif-rennes.csv
  features/commands/__snapshots__/participants_croissance-innovation-disruption.csv
  features/commands/__snapshots__/participants_depot-avec-selection-vote-budget.csv
  features/commands/__snapshots__/participants_project-pour-la-force-visible-par-mauriau-seulement.csv
  features/commands/__snapshots__/participants_projet-avec-questionnaire.csv
  features/commands/__snapshots__/participants_projet-de-loi-renseignement.csv
  features/commands/__snapshots__/participants_questions-responses.csv
  features/commands/__snapshots__/participants_qui-doit-conquerir-le-monde-visible-par-les-admins-seulement.csv
  features/commands/__snapshots__/participants_strategie-technologique-de-letat-et-services-publics.csv
  features/commands/__snapshots__/participants_transformation-numerique-des-relations.csv
  features/commands/__snapshots__/users.csv
Due: none

Fix clickArgumentReportButton
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
Due: backend

Revert changes on OpinionStepsTrait
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
Due: backend

Replace commentVotesCount by commentVotes in InternalUser
  schema.internal.graphql
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
  src/Capco/AppBundle/Command/RecalculateUsersCountersCommand.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserCommentVotesResolver.php
  src/Capco/AppBundle/Repository/CommentVoteRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
Due: graphql, php, backend

Update snapshots, add migration, fix resolver
  app/DoctrineMigrations/Version20190628154700.php
  features/commands/__snapshots__/users.csv
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserCommentVotesResolver.php
Due: graphql, php, backend

Add test, refactor repository, add description on user type
  features/graphql/query/query_users.feature
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/User/UserCommentVotesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserVotesResolver.php
  src/Capco/AppBundle/Repository/CommentVoteRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
Due: graphql, php, backend

Update snapshots
  features/graphql/query/query_users.feature
Due: none

Fix query_user test
  features/graphql/query/query_users.feature
Due: none

Update behat and export snapshots
  features/commands/__snapshots__/users.csv
  features/graphql/query/query_users.feature
Due: none

Fixing space problem between avatar and username
  app/Resources/js/components/Event/EventPreview.js
  app/Resources/js/components/Event/__snapshots__/EventPreview-test.js.snap
  app/Resources/js/components/User/UserAvatarDeprecated.js
  app/Resources/js/components/User/__snapshots__/UserAvatarDeprecated-test.js.snap
Due: jest, flow, frontend

Add non-null assert on author attribute of opinions
  app/Resources/js/components/Event/EventPreview.js
  app/Resources/js/components/Event/__snapshots__/EventPreview-test.js.snap
  app/Resources/js/components/User/UserAvatarDeprecated.js
  app/Resources/js/components/User/__snapshots__/UserAvatarDeprecated-test.js.snap
  src/Capco/AppBundle/Entity/Opinion.php
Due: php, jest, flow, backend, frontend

Fixing space problem between avatar and username (#8226)
  app/Resources/js/components/Event/EventPreview.js
  app/Resources/js/components/Event/__snapshots__/EventPreview-test.js.snap
  app/Resources/js/components/User/UserAvatarDeprecated.js
  app/Resources/js/components/User/__snapshots__/UserAvatarDeprecated-test.js.snap
Due: jest, flow, frontend
