Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

#6789 - somes fix
  features/graphql/mutations/changeProposalNotation.feature
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalVotesDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalVotesResolver.php
  src/Capco/AppBundle/Repository/ProposalCollectVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalSelectionVoteRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Proposal.types.yml
Due: graphql, php, backend

fix
  src/Capco/AppBundle/Repository/ProposalCollectVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalSelectionVoteRepository.php
Due: php, backend

#6789 - fix tests on bp
  app/Resources/js/components/Proposal/Page/ProposalPage-test.js
  app/Resources/js/components/Proposal/Page/ProposalPage.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPage-test.js.snap
  spec/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolverSpec.php
  src/Capco/AppBundle/Behat/Page/SelectionPage.php
  src/Capco/AppBundle/Controller/Site/ProposalController.php
  src/Capco/AppBundle/GraphQL/Mutation/RemoveProposalVoteMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalVotesResolver.php
  src/Capco/AppBundle/Resources/views/Proposal/show.html.twig
Due: graphql, php, jest, flow, backend, frontend

#6789 - fix tests on followers
  features/front/proposal_follow.feature
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: backend

#6789 - fix somes test on bp
  app/Resources/js/components/Proposal/Page/ProposalPage-test.js
  app/Resources/js/components/Proposal/Page/ProposalPage.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPage-test.js.snap
  src/Capco/AppBundle/Behat/Page/SelectionPage.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
  src/Capco/AppBundle/Controller/Api/CollectStepsController.php
  src/Capco/AppBundle/Controller/Api/ProposalsController.php
  src/Capco/AppBundle/Controller/Api/SelectionStepsController.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalViewerHasVoteDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalViewerVoteDataLoader.php
  src/Capco/AppBundle/GraphQL/DataLoader/User/ViewerProposalVotesDataLoader.php
  src/Capco/AppBundle/GraphQL/Mutation/AddProposalVoteMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
  src/Capco/AppBundle/Resources/views/Proposal/show.html.twig
Due: graphql, php, jest, flow, backend, frontend

#6789 - fix test e2e on proposal_vote
  features/front/proposal_votes.feature
  src/Capco/AppBundle/Behat/Page/ProjectUserVotesPage.php
  src/Capco/AppBundle/Behat/Page/SelectionPage.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: backend

#6789 - fix bug on event graphql
  features/graphql/query/events.feature
Due: none

#6789 - fix graphql e2e project
  features/graphql/query/projects.feature
  src/Capco/AppBundle/GraphQL/Mutation/DeleteProposalMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectContributorResolver.php
Due: graphql, php, backend

#6789 - fix e2e graphql test
  features/graphql/mutations/removeCommentVote.feature
  src/Capco/AppBundle/DataFixtures/ORM/Dev/User.yml
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalStatusDataLoader.php
Due: graphql, php, backend

#6789 - fix after rebase
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Event.yml
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalStatusDataLoader.php
Due: graphql, php, backend

#6789 - rename isGlobalId to getDecodedId
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
Due: graphql, php, backend

#6789 - refacto countVotesByProposal
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalVotesDataLoader.php
  src/Capco/AppBundle/Repository/ProposalCollectVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalSelectionVoteRepository.php
Due: graphql, php, backend

#6789 - fix test on updateProposal
  features/graphql/mutations/updateProposal.feature
Due: none

#6789 - fix event e2e graphql
  features/graphql/query/events.feature
Due: none

Merge pull request #6889 from cap-collectif/bug-internal-consent-in-export
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
Due: php, backend

Merge pull request #6902 from cap-collectif/add-privacy-policy-page
  app/Resources/js/components/User/Registration/RegistrationForm-test.js
  app/Resources/js/components/User/Registration/RegistrationForm.js
  app/Resources/js/components/User/Registration/__snapshots__/RegistrationForm-test.js.snap
  app/Resources/js/redux/modules/default.js
  app/Resources/js/types.js
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Toggle/Manager.php
Due: php, jest, flow, backend, frontend

Clean contributors
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectContributorResolver.php
Due: graphql, php, backend

#6904 - add lat lng on EventAdmin
  src/Capco/AdminBundle/Admin/EventAdmin.php
  src/Capco/AppBundle/Entity/Event.php
Due: php, backend

Merge pull request #6903 from cap-collectif/make-ads-cookies-work
  app/Resources/js/cookieMonster.js
  src/Capco/AppBundle/Elasticsearch/Indexer.php
  src/Capco/AppBundle/GraphQL/Resolver/ProposalForm/ProposalFormProposalsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/CollectStepProposalResolver.php
  src/Capco/AppBundle/Normalizer/ProposalNormalizer.php
  src/Capco/AppBundle/Resources/views/base.html.twig
Due: graphql, php, jest, flow, backend, frontend

#6908 - fix phpspec on globalId
  spec/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolverSpec.php
Due: none

Fix
  spec/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolverSpec.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/CollectStepProposalResolver.php
  src/Capco/AppBundle/Normalizer/ProposalNormalizer.php
Due: graphql, php, backend

Merge pull request #6909 from cap-collectif/6908-fix-unittest
  spec/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolverSpec.php
Due: none

Fix ProposalStatusDataLoader
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalStatusDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalStatusResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Proposal.types.yml
Due: graphql, php, backend

Fix privacy page link
  app/Resources/js/components/User/Registration/RegistrationForm.js
  app/Resources/js/components/User/Registration/__snapshots__/RegistrationForm-test.js.snap
Due: jest, flow, frontend

FIX-NANTES fix nantes import
  app/config/doctrine.yml
  src/Capco/AppBundle/Command/Nantes/NantesSpecialInsertCommand.php
Due: php, backend

FIX-NANTES apcu back
  app/config/doctrine.yml
Due: none

6511-EXPORTS fix event export
  src/Capco/AppBundle/Command/Nantes/NantesSpecialInsertCommand.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/GraphQL/Resolver/Participant/ParticipantTypeResolver.php
Due: graphql, php, backend

6511-EXPORTS registeredAt
  src/Capco/AppBundle/Controller/Site/ExportController.php
Due: php, backend

Fix Flow coverage of EventPage
  app/Resources/js/components/Event/EventPage.js
  app/Resources/js/components/Event/EventPageHeader.js
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/GraphQL/Resolver/Participant/ParticipantTypeResolver.php
Due: graphql, php, jest, flow, backend, frontend

Disable fos_http_cache.cache_manager
  app/Resources/js/components/Event/EventPage.js
  app/Resources/js/components/Event/EventPageHeader.js
  src/Capco/AppBundle/Command/Nantes/NantesSpecialInsertCommand.php
  src/Capco/AppBundle/Controller/Api/FeaturesController.php
Due: php, jest, flow, backend, frontend

Merge pull request #6922 from cap-collectif/6511-exports-events
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/GraphQL/Resolver/Participant/ParticipantTypeResolver.php
Due: graphql, php, backend

6924-FIX fix globalid stuff
  src/Capco/AppBundle/Command/Nantes/NantesSpecialInsertCommand.php
  src/Capco/AppBundle/Controller/Api/FeaturesController.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Participant/ParticipantTypeResolver.php
Due: graphql, php, backend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
