Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

deleting color option in back office + reducing font weight of video titles
  app/DoctrineMigrations/Version20190723163646.php
  app/Resources/scss/modules/_video.scss
  package.json
  src/Capco/AdminBundle/Admin/VideoAdmin.php
  src/Capco/AppBundle/Entity/Video.php
Due: php, backend

deleting color parameter in video.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Video.yml
Due: php, backend

Merge pull request #8406 from cap-collectif/8405-add-runinbrand
  app/DoctrineMigrations/Version20190723163646.php
  app/Resources/scss/modules/_video.scss
  package.json
  src/Capco/AdminBundle/Admin/VideoAdmin.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Video.yml
  src/Capco/AppBundle/Entity/Video.php
Due: php, backend

Bump sonata-project/doctrine-extensions from 1.2.0 to 1.3.0
  composer.lock
Due: none

Style guide share button correction (#8402)
  app/Resources/js/components/Ui/Button/ShareButton.js
  app/Resources/js/components/Ui/Button/ShareButtonAction.js
  app/Resources/js/components/Ui/Icons/Icon.js
  app/Resources/js/components/Ui/Icons/SocialIcon.js
  app/Resources/js/components/Utils/ShareButtonDropdown.js
  app/Resources/js/stories/capcollectif/OpinionArgumentList-stories.js
  app/Resources/js/stories/capcollectif/OpinionBox-stories.js
  app/Resources/js/stories/core/buttons/ShareButton-stories.js
  composer.lock
Due: jest, flow, frontend

last modifications for video section (#8403)
  app/DoctrineMigrations/Version20190723163646.php
  app/Resources/scss/modules/_video.scss
  src/Capco/AdminBundle/Admin/VideoAdmin.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Video.yml
  src/Capco/AppBundle/Entity/Video.php
Due: php, backend

Added check over title in project before flushing
  app/DoctrineMigrations/Version20190719141326.php
  src/Capco/AppBundle/Entity/Project.php
Due: php, backend

renamed migration
  app/DoctrineMigrations/Version20190723163647.php
Due: none

#7824-MIGRATE :tada: migrate event address to address_json
  app/DoctrineMigrations/Version20190709140530.php
  app/Resources/js/components/Event/List/EventListPaginated-test.js
  app/Resources/js/components/Event/List/EventListPaginated.js
  app/Resources/js/components/Event/List/__snapshots__/EventListPaginated-test.js.snap
  schema.internal.graphql
  schema.preview.graphql
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Event.yml
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewEvent.types.yml
Due: php, jest, flow, backend, frontend

#7824-MIGRATE Replace doctrine miration by a command to migrate event address to jsonAddress
  app/DoctrineMigrations/Version20190709140530.php
  src/Capco/AppBundle/Command/Migrations/MigrateEventAddressesToJsonAddressesCommand.php
  src/Capco/AppBundle/Repository/EventRepository.php
Due: php, backend

#7824-MIGRATE update command to migrate event address to jsonAddress
  app/DoctrineMigrations/Version20190709103513.php
  app/DoctrineMigrations/Version20190710104247.php
  src/Capco/AppBundle/Command/Migrations/MigrateEventAddressesToJsonAddressesCommand.php
  src/Capco/AppBundle/Repository/EventRepository.php
Due: php, backend

#7824-MIGRATE change levenshtein by similar_text
  app/DoctrineMigrations/Version20190710104247.php
  src/Capco/AppBundle/Command/Migrations/MigrateEventAddressesToJsonAddressesCommand.php
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Utils/Map.php
Due: php, backend

#7824-MIGRATE show 2nd map on event show for superAdmin only
  app/DoctrineMigrations/Version20190711103135.php
  src/Capco/AdminBundle/Admin/EventAdmin.php
  src/Capco/AdminBundle/Resources/config/admin.yml
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Resources/views/Event/show.html.twig
Due: php, backend

#7824-MIGRATE #7824-MIGRATE Add display button on bo event list for superAdmin
  app/DoctrineMigrations/Version20190711173557.php
  app/config/twig.yml
  features/graphql-public/query/__snapshots__/events.js.snap
  infrastructure/services/remote/mysql/capco.cnf
  src/Capco/AdminBundle/Admin/EventAdmin.php
  src/Capco/AdminBundle/Resources/views/Event/list__action_display.html.twig
  src/Capco/AppBundle/Command/Migrations/MigrateEventAddressesToJsonAddressesCommand.php
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/DataFixtures/Processor/MediaProcessor.php
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Resources/views/Event/show.html.twig
Due: php, backend

#7824-MIGRATE fix test e2e
  features/graphql-public/query/__snapshots__/Query_projects.js.snap
Due: none

#7824-MIGRATE fix event view
  src/Capco/AppBundle/Resources/views/Event/show.html.twig
Due: php, backend

#7824-MIGRATE fix @kiroule
  infrastructure/services/remote/mysql/capco.cnf
  src/Capco/AppBundle/Command/Migrations/MigrateEventAddressesToJsonAddressesCommand.php
  src/Capco/AppBundle/Entity/Event.php
Due: php, backend

#7824-MIGRATE add migration
  app/DoctrineMigrations/Version20190722122700.php
  src/Capco/AppBundle/Entity/Event.php
Due: php, backend

#7824-MIGRATE fix
  app/DoctrineMigrations/Version20190709103513.php
  app/DoctrineMigrations/Version20190711173557.php
  features/graphql-public/query/__snapshots__/Query_projects.js.snap
  schema.internal.graphql
  schema.preview.graphql
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Repository/EventRepository.php
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewEvent.types.yml
Due: php, backend

#7824-MIGRATE pimp event FO for superAdmin
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Resources/views/Event/show.html.twig
Due: php, backend

#7824-MIGRATE update migration
  app/DoctrineMigrations/Version20190724112700.php
Due: none

#7824-MIGRATE fix tests
  .eslintrc.js
  features/graphql-public/query/__snapshots__/events.js.snap
Due: none

Update snapshots, fix indentation
  __snapshots__/exports/croissance-innovation-disruption_collecte-des-avis.csv
  __snapshots__/exports/projet-de-loi-renseignement_elaboration-de-la-loi.csv
  __snapshots__/exports/strategie-technologique-de-letat-et-services-publics_collecte-des-avis-pour-une-meilleur-strategie.csv
  __snapshots__/exports/transformation-numerique-des-relations_ma-futur-collecte-de-proposition.csv
  features/graphql-public/query/__snapshots__/events.js.snap
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
Due: php, backend

Add cursor on reportings edges
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
Due: php, backend

Regenerate snapshots
  __snapshots__/exports/croissance-innovation-disruption_collecte-des-avis.csv
  __snapshots__/exports/projet-de-loi-renseignement_elaboration-de-la-loi.csv
  __snapshots__/exports/strategie-technologique-de-letat-et-services-publics_collecte-des-avis-pour-une-meilleur-strategie.csv
  __snapshots__/exports/transformation-numerique-des-relations_ma-futur-collecte-de-proposition.csv
  features/graphql-public/query/__snapshots__/events.js.snap
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
Due: php, backend

Re-apply changes on csv consultation command
  __snapshots__/exports/projet-de-loi-renseignement_elaboration-de-la-loi.csv
  __snapshots__/exports/strategie-technologique-de-letat-et-services-publics_collecte-des-avis-pour-une-meilleur-strategie.csv
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
Due: php, backend

removing padding left
  app/Resources/js/components/User/UserAvatarList.js
Due: jest, flow, frontend

creating video UI component + adding it to style guide
  app/Resources/js/components/Ui/Medias/Video.js
  app/Resources/js/components/User/UserAvatarList.js
  app/Resources/js/stories/core/Medias/Medias-stories.js
  app/Resources/js/stories/core/Medias/Video-stories.js
  app/Resources/js/stories/mocks/video.js
Due: jest, flow, frontend

Fix security js
  app/Resources/js/components/Ui/Medias/Video.js
  app/Resources/js/stories/core/Medias-stories.js
  app/Resources/js/stories/core/Medias/Video-stories.js
  app/Resources/js/stories/mocks/video.js
  package.json
  yarn.lock
Due: jest, flow, frontend

Bump redux from 3.7.2 to 4.0.4
  package.json
  yarn.lock
Due: none

Bump sensio/distribution-bundle from 5.0.24 to 5.0.25
  composer.lock
  package.json
  yarn.lock
Due: none

Bump php-translation/loco-adapter from 0.5.0 to 0.6.3
  composer.json
  composer.lock
Due: none

Bump accord/mandrill-swiftmailer-bundle from 1.3.0 to 1.3.1
  composer.json
  composer.lock
Due: none

Starting implement User.proposals
  app/DoctrineMigrations/Version20190717031658.php
  composer.lock
  schema.internal.graphql
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Command/RecalculateUsersCountersCommand.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserProposalsResolver.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
  src/Capco/UserBundle/Entity/User.php
Due: graphql, php, backend

Revert "Starting implement User.proposals"
  app/DoctrineMigrations/Version20190717031658.php
  schema.internal.graphql
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Command/RecalculateUsersCountersCommand.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserProposalsResolver.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/UserBundle/Entity/User.php
Due: graphql, php, backend

Add methods to ProposalRepository
  app/DoctrineMigrations/Version20190717203118.php
  app/config/twig.yml
  schema.internal.graphql
  src/Capco/AppBundle/Command/RecalculateUsersCountersCommand.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserProposalsResolver.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
  src/Capco/UserBundle/Resources/views/Profile/showProfile.html.twig
Due: graphql, php, backend

add improvements from requested changes (too many to explain)
  app/DoctrineMigrations/Version20190723120318.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserContributionsCountResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserProposalsResolver.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
Due: graphql, php, backend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
