Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: auto
        threshold: null
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

[8506-SPEED] Fix syntax error in behat.
  behat.yml
Due: none

Remove drupal encoder integration. (#8498)
  __snapshots__/exports/participants_projet-a-acces-restreint-aux-admin-avec-une-consultation-a-linterieur.csv
  __snapshots__/exports/projet-a-acces-restreint-aux-admin-avec-une-consultation-a-linterieur_collecte-des-avis.csv
  __snapshots__/exports/users.csv
  __snapshots__/rgpd_user_archives/userAdmin/pictures/providerReference9.jpg
  app/DoctrineMigrations/Version20190813145427.php
  app/config/security.yml
  features/front/bp/proposal_page.feature
  features/front/user/login.feature
  features/graphql-public/query/__snapshots__/users.js.snap
  phpstan.neon
  src/Capco/AppBundle/Behat/UserContext.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/User.yml
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
  src/Capco/UserBundle/Resources/config/services.yml
  src/Capco/UserBundle/Security/DrupalEncoder.php
Due: php, backend

[8506-SPEED] Split graphQL tests E2E.
  behat.yml
Due: none

[8506-SPEED] Fix wrong context for graphQL tests.
  behat.yml
Due: none

[8506-SPEED] Add graphql-type to tests.
  behat.yml
  features/graphql/query/cors.feature
  features/graphql/type/argumentable/argumentable_arguments.feature
  features/graphql/type/argumentable/argumentable_viewerArgumentsUnpublished.feature
  features/graphql/type/collectStep/draftProposalsForUserInStep.feature
  features/graphql/type/comment/comment_reportings.feature
  features/graphql/type/commentable/commentable_comments.feature
  features/graphql/type/consultation/consultation_userHasVote.feature
  features/graphql/type/consultation/consultation_viewerUnpublishedOpinions.feature
  features/graphql/type/consultation/consultations.feature
  features/graphql/type/event/event_participants.feature
  features/graphql/type/opinion/opinion_url.feature
  features/graphql/type/opinion/opinion_versions.feature
  features/graphql/type/opinion/opinion_viewerVersionsUnpublished.feature
  features/graphql/type/opinion/opinion_votes.feature
  features/graphql/type/proposal/proposal_news_related_content.feature
  features/graphql/type/proposal/proposal_reportings.feature
  features/graphql/type/proposalForm/proposalForm.feature
  features/graphql/type/proposal_step/proposal_step_proposals.feature
  features/graphql/type/proposal_step/proposal_step_requirements.feature
  features/graphql/type/questionChoice/choice_ranking.feature
  features/graphql/type/questionnaire/questionnaire.feature
  features/graphql/type/questionnaire/userHasReply.feature
  features/graphql/type/reply/reply_responses.feature
  features/graphql/type/section/section_opinions.feature
  features/graphql/type/selection_step/selection_step_proposals_votes.feature
  features/graphql/type/sourceable/sourceable_sources.feature
  features/graphql/type/sourceable/sourceable_viewerSourcesUnpublished.feature
  features/graphql/type/version/version_votes.feature
Due: none

Add Comment in Storybook
  app/Resources/js/components/Ui/Medias/Media/Body.js
  app/Resources/js/stories/capcollectif/Comment-stories.js
  app/Resources/js/stories/mocks/comments.js
Due: jest, flow, frontend

Update styling of Comment
  app/Resources/js/components/Comment/Comment.js
  app/Resources/js/components/Comment/CommentAnswer.js
  app/Resources/js/components/Comment/CommentAnswers.js
  app/Resources/js/components/Comment/CommentDate.js
  app/Resources/js/components/Comment/CommentEdit.js
  app/Resources/js/components/Comment/CommentInfos.js
  app/Resources/js/components/Comment/CommentListView.js
  app/Resources/js/components/Comment/CommentListViewPaginated.js
  app/Resources/js/components/Comment/CommentReportButton.js
  app/Resources/js/components/Comment/CommentSectionFragmented.js
  app/Resources/js/components/Comment/CommentSectionView.js
  app/Resources/js/components/Comment/CommentVoteButton.js
  app/Resources/js/components/Comment/__snapshots__/Comment-test.js.snap
  app/Resources/js/components/Comment/__snapshots__/CommentAnswer-test.js.snap
  app/Resources/js/components/Comment/__snapshots__/CommentAnswers-test.js.snap
  app/Resources/js/components/Comment/__snapshots__/CommentDate-test.js.snap
  app/Resources/js/components/Comment/__snapshots__/CommentEdit-test.js.snap
  app/Resources/js/components/Comment/__snapshots__/CommentInfos-test.js.snap
  app/Resources/js/components/Comment/__snapshots__/CommentListViewPaginated-test.js.snap
  app/Resources/js/components/Comment/__snapshots__/CommentReportButton-test.js.snap
  app/Resources/js/components/Comment/styles.js
  app/Resources/js/components/Proposal/Page/ProposalPageComments.js
  app/Resources/js/stories/capcollectif/Comment-stories.js
Due: jest, flow, frontend

Add some flow and fix CI
  .flowconfig
  app/Resources/js/components/Comment/CommentAnswers.js
  app/Resources/js/components/Comment/CommentBody.js
  app/Resources/js/components/Comment/CommentEdit-test.js
  app/Resources/js/components/Comment/CommentEdit.js
  app/Resources/js/components/Comment/CommentInfos-test.js
  app/Resources/js/components/Comment/CommentInfos.js
  app/Resources/js/components/Comment/CommentListView.js
  app/Resources/js/components/Comment/CommentListViewPaginated.js
  app/Resources/js/components/Comment/CommentReportButton.js
  app/Resources/js/components/Comment/CommentSectionFragmented.js
  app/Resources/js/components/Comment/CommentSectionView.js
  app/Resources/js/components/Comment/CommentVoteButton.js
  app/Resources/js/components/Comment/__snapshots__/CommentEdit-test.js.snap
  app/Resources/js/components/Comment/__snapshots__/CommentListViewPaginated-test.js.snap
  app/Resources/js/components/Comment/styles.js
  app/Resources/js/redux/modules/report.js
  app/Resources/js/stories/mocks/comments.js
  features/front/bp/proposal_comment.feature
  features/front/features/event.feature
  src/Capco/AppBundle/Behat/Page/ProposalPage.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProposalComment.yml
Due: php, jest, flow, backend, frontend

pre-commit, change branch
  app/Resources/js/components/Comment/Comment.js
  app/Resources/js/components/Comment/CommentForm.js
Due: jest, flow, frontend

modifying comments style
  app/Resources/js/components/Comment/Comment.js
  app/Resources/js/components/Comment/CommentAnswer.js
  app/Resources/js/components/Comment/__snapshots__/Comment-test.js.snap
  app/Resources/js/components/Comment/__snapshots__/CommentAnswer-test.js.snap
  app/Resources/js/components/Comment/__snapshots__/CommentForm-test.js.snap
  app/Resources/js/components/Comment/styles.js
Due: jest, flow, frontend

correcting comments background color
  app/Resources/js/components/Comment/Comment.js
  app/Resources/js/components/Comment/CommentAnswer.js
  app/Resources/js/components/Comment/CommentAnswers-test.js
  app/Resources/js/components/Comment/CommentAnswers.js
  app/Resources/js/components/Comment/CommentListView.js
  app/Resources/js/components/Comment/CommentListViewPaginated.js
  app/Resources/js/components/Comment/CommentSection.js
  app/Resources/js/components/Comment/CommentSectionFragmented.js
  app/Resources/js/components/Comment/CommentSectionView.js
  app/Resources/js/components/Comment/__snapshots__/Comment-test.js.snap
  app/Resources/js/components/Comment/__snapshots__/CommentAnswer-test.js.snap
  app/Resources/js/components/Comment/__snapshots__/CommentAnswers-test.js.snap
  app/Resources/js/components/Comment/styles.js
  app/Resources/js/components/Proposal/Page/ProposalPageComments.js
  app/Resources/js/components/Utils/withColors.js
  app/Resources/js/stories/capcollectif/Comment-stories.js
  src/Capco/AppBundle/Twig/ParametersExtension.php
Due: php, jest, flow, backend, frontend

Add flow
  app/Resources/js/components/Comment/Comment-test.js
  app/Resources/js/components/Comment/Comment.js
  app/Resources/js/components/Comment/CommentAnswer-test.js
  app/Resources/js/components/Comment/CommentAnswer.js
  app/Resources/js/components/Comment/CommentListView-test.js
  app/Resources/js/components/Comment/CommentListView.js
  app/Resources/js/components/Comment/CommentListViewPaginated-test.js
  app/Resources/js/components/Comment/CommentListViewPaginated.js
  app/Resources/js/components/Comment/__snapshots__/CommentListView-test.js.snap
  app/Resources/js/components/Comment/__snapshots__/CommentListViewPaginated-test.js.snap
  app/Resources/js/stories/capcollectif/Comment-stories.js
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProposalComment.yml
Due: php, jest, flow, backend, frontend

Merge pull request #8559 from cap-collectif/event-card-correction
  app/Resources/js/components/Event/EventPreview.js
  app/Resources/js/components/Event/Profile/EventListProfileRefetch.js
  app/Resources/js/components/Event/__snapshots__/EventPreview-test.js.snap
  app/Resources/js/components/HomePage/HomePageEvents.js
  app/Resources/js/components/PresentationStep/PresentationStepEvents.js
  app/Resources/scss/modules/_event.scss
Due: jest, flow, frontend

[HOTFIX-CIRCLECI] Fix proposal_comment feature.
  features/front/bp/proposal_comment.feature
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProposalComment.yml
Due: php, backend

[HOTFIX-CIRCLECI] Update user snapshots.
  __snapshots__/exports/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  __snapshots__/rgpd_user_archives/user5/user.csv
Due: none

[HOTFIX-CIRCLECI] Fix proposal user votes E2E.
  features/front/bp/proposal_votes.feature
Due: none

[HOTFIX-CIRCLECI] Remove wait in CI.
  features/front/bp/proposal_votes.feature
Due: none

[8165-FIX] Replace old ReadyState syntax.
  app/Resources/js/components/Admin/Authentification/AuthentificationAdminPage.js
  app/Resources/js/components/Admin/Contact/ContactAdminPage.js
  app/Resources/js/components/Admin/SiteFavicon/SiteFaviconAdminPage.js
  app/Resources/js/components/Argument/ArgumentList.js
  app/Resources/js/components/Argument/UnpublishedArgumentListRenderer.js
  app/Resources/js/components/Comment/CommentSection.js
  app/Resources/js/components/Consultation/OpinionList.js
  app/Resources/js/components/Consultation/SectionPage.js
  app/Resources/js/components/Contact/ContactsList.js
  app/Resources/js/components/Evaluation/EvaluationsIndexPage.js
  app/Resources/js/components/Event/EventPage.js
  app/Resources/js/components/Event/Profile/EventListProfile.js
  app/Resources/js/components/HomePage/LastProposals.js
  app/Resources/js/components/Opinion/OpinionPage.js
  app/Resources/js/components/Opinion/OpinionVersionsBox.js
  app/Resources/js/components/Opinion/Source/OpinionSourceBox.js
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Page/QuestionnaireStepPage.js
  app/Resources/js/components/Project/List/Filters/ProjectListFilterTypesContainer.js
  app/Resources/js/components/Project/List/ProjectsList.js
  app/Resources/js/components/Project/Page/ProjectRestrictedAccess.js
  app/Resources/js/components/Project/ProjectHeaderDistricts.js
  app/Resources/js/components/Project/ProjectTrashComment.js
  app/Resources/js/components/Project/ProjectTrashProposal.js
  app/Resources/js/components/Proposal/Page/ProposalPage.js
  app/Resources/js/components/Proposal/Page/ProposalVotesByStep.js
  app/Resources/js/components/ProposalForm/ProposalFormAdminEvaluationForm.js
  app/Resources/js/components/ProposalForm/ProposalFormAdminPage.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminPage.js
  app/Resources/js/components/Section/SectionContainer.js
  app/Resources/js/components/User/Admin/MapAdminPage.js
  app/Resources/js/components/User/Admin/UserAdminPage.js
  app/Resources/js/startup/ArgumentListApp.js
  app/Resources/js/startup/ContactAdminPageApp.js
  app/Resources/js/startup/ProjectAdminApp.js
  app/Resources/js/startup/ProposalVoteBasketWidgetApp.js
  app/Resources/js/startup/ProposalsUserVotesPageApp.js
  app/Resources/js/startup/VoteListApp.js
Due: jest, flow, frontend

API working
  composer.json
  composer.lock
  features/graphql/query/users_registration.feature
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Query/RegistrationValidationResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
Due: graphql, php, backend

username is not necessary not null
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Query/RegistrationValidationResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
Due: graphql, php, backend

Change after PR review over naming and nullability
  features/graphql/query/users_registration.feature
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
Due: php, backend

Renaming and changing return according to description
  src/Capco/AppBundle/Entity/District/ProjectDistrict.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/PasswordComplexityScoreResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
Due: graphql, php, backend

Injecting zxcvbn instead of creating new instances
  src/Capco/AppBundle/GraphQL/Resolver/Query/PasswordComplexityScoreResolver.php
  src/Capco/AppBundle/Resources/config/services.yml
Due: graphql, php, backend

Not public for service
  src/Capco/AppBundle/Resources/config/services.yml
Due: php, backend

6538-EVENT-FEATURE-TOGGLE :tada:
  yarn.lock
Due: none

6538-EVENT-FEATURE-TOGGLE WIP
  src/Capco/AdminBundle/Controller/SettingsController.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
Due: php, backend

6538-EVENT-FEATURE-TOGGLE updateo
  app/Resources/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorsModal-test.js.snap
  app/Resources/js/components/User/Login/__snapshots__/LoginSocialButtons-test.js.snap
  app/Resources/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  app/Resources/js/redux/modules/default.js
  app/Resources/js/types.js
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/Toggle/Manager.php
Due: php, jest, flow, backend, frontend

8418-BUG-FILTER-PROJECT fix bug on projectType list
  app/Resources/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorsModal-test.js.snap
  app/Resources/js/components/Project/List/Filters/ProjectListFilterTypes-test.js
  app/Resources/js/components/Project/List/Filters/ProjectListFilterTypes.js
  app/Resources/js/components/Project/List/Filters/ProjectListFilterTypesContainer.js
  app/Resources/js/components/Project/List/Filters/ProjectListFiltersContainer.js
  app/Resources/js/components/Project/List/Filters/__snapshots__/ProjectListFilterTypes-test.js.snap
  app/Resources/js/components/User/Login/__snapshots__/LoginSocialButtons-test.js.snap
  app/Resources/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  app/Resources/js/redux/modules/default.js
  app/Resources/js/types.js
  features/graphql/query/projects_types.feature
  schema.internal.graphql
  src/Capco/AdminBundle/Controller/SettingsController.php
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectTypesResolver.php
  src/Capco/AppBundle/Repository/ProjectRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Toggle/Manager.php
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #8582 from cap-collectif/6538-event-feature-toggle
  app/Resources/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorsModal-test.js.snap
  app/Resources/js/components/Project/List/Filters/ProjectListFilterTypes-test.js
  app/Resources/js/components/Project/List/Filters/ProjectListFilterTypes.js
  app/Resources/js/components/Project/List/Filters/ProjectListFilterTypesContainer.js
  app/Resources/js/components/Project/List/Filters/ProjectListFiltersContainer.js
  app/Resources/js/components/Project/List/Filters/__snapshots__/ProjectListFilterTypes-test.js.snap
  app/Resources/js/components/User/Login/__snapshots__/LoginSocialButtons-test.js.snap
  app/Resources/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  app/Resources/js/redux/modules/default.js
  app/Resources/js/types.js
  features/graphql/query/projects_types.feature
  schema.internal.graphql
  src/Capco/AdminBundle/Controller/SettingsController.php
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectTypesResolver.php
  src/Capco/AppBundle/Repository/ProjectRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Toggle/Manager.php
Due: graphql, php, jest, flow, backend, frontend

8418-BUG-FILTER-PROJECT fix bug on projectType list
  app/Resources/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorsModal-test.js.snap
  app/Resources/js/components/Project/List/Filters/ProjectListFilterTypes-test.js
  app/Resources/js/components/Project/List/Filters/ProjectListFilterTypes.js
  app/Resources/js/components/Project/List/Filters/ProjectListFilterTypesContainer.js
  app/Resources/js/components/Project/List/Filters/ProjectListFiltersContainer.js
  app/Resources/js/components/Project/List/Filters/__snapshots__/ProjectListFilterTypes-test.js.snap
  app/Resources/js/components/User/Login/__snapshots__/LoginSocialButtons-test.js.snap
  app/Resources/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  app/Resources/js/redux/modules/default.js
  app/Resources/js/types.js
  features/graphql/query/projects_types.feature
  schema.internal.graphql
  src/Capco/AdminBundle/Controller/SettingsController.php
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Project.yml
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectTypesResolver.php
  src/Capco/AppBundle/Repository/ProjectRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Toggle/Manager.php
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #8572 from cap-collectif/8418-bug-filter-project
  app/Resources/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorsModal-test.js.snap
  app/Resources/js/components/User/Login/__snapshots__/LoginSocialButtons-test.js.snap
  app/Resources/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  app/Resources/js/redux/modules/default.js
  app/Resources/js/types.js
  src/Capco/AdminBundle/Controller/SettingsController.php
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Toggle/Manager.php
Due: php, jest, flow, backend, frontend

Update sentry sdk to v2. (#8592)
  app/AppKernel.php
  app/config/config_prod.yml
  composer.json
  composer.lock
  src/Capco/AppBundle/Sentry/SentryFactory.php
  src/Capco/AppBundle/Sentry/SentryListener.php
Due: php, backend

Add colors fields into DB model with migration.
  app/DoctrineMigrations/Version20190817213936.php
  src/Capco/AppBundle/Entity/SSO/AbstractSSOConfiguration.php
Due: php, backend

Update query and mutation.
  features/graphql/mutation/createOauth2SSOConfiguration.feature
  features/graphql/mutation/updateOauth2SSOConfiguration.feature
  features/graphql/query/ssoConfigurations.feature
  schema.internal.graphql
  src/Capco/AppBundle/Form/Oauth2SSOConfigurationFormType.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateOauth2SSOConfigurationMutation.php
  src/Capco/AppBundle/Repository/AbstractSSOConfigurationRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/decorator/InternalWithOauth2SSOConfiguration.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalSSOConfiguration.types.yml
Due: graphql, php, backend

Integrate front logic.
  app/Resources/js/components/User/Login/LoginSocialButtons-test.js
  app/Resources/js/components/User/Login/LoginSocialButtons.js
  app/Resources/js/components/User/Login/OpenIDLoginButton.js
  app/Resources/js/components/User/Login/__snapshots__/LoginSocialButtons-test.js.snap
  app/Resources/js/types.js
  app/Resources/scss/base/_variables.scss
  package.json
  src/Capco/AppBundle/Repository/AbstractSSOConfigurationRepository.php
  yarn.lock
Due: php, jest, flow, backend, frontend

Add color picker in BO.
  app/Resources/js/components/Admin/Authentification/Oauth2SSOConfigurationItem.js
  app/Resources/js/components/Admin/Authentification/Oauth2SSOConfigurationModal.js
  app/Resources/js/components/Form/ColorPickerInput-test.js
  app/Resources/js/components/Form/ColorPickerInput.js
  app/Resources/js/components/Form/__snapshots__/ColorPickerInput-test.js.snap
  app/Resources/js/mutations/UpdateOauth2SSOConfigurationMutation.js
Due: jest, flow, frontend

Fix schema definition.
  src/Capco/AppBundle/Entity/SSO/AbstractSSOConfiguration.php
Due: php, backend

Review @mauriau.
  src/Capco/AppBundle/Entity/SSO/AbstractSSOConfiguration.php
Due: php, backend

Reduce number of files in production build to reduce image size
  app/DoctrineMigrations/Version20190817213936.php
  app/Resources/js/components/Admin/Authentification/Oauth2SSOConfigurationItem.js
  app/Resources/js/components/Admin/Authentification/Oauth2SSOConfigurationModal.js
  app/Resources/js/components/Form/ColorPickerInput-test.js
  app/Resources/js/components/Form/ColorPickerInput.js
  app/Resources/js/components/Form/__snapshots__/ColorPickerInput-test.js.snap
  app/Resources/js/components/User/Login/LoginSocialButtons-test.js
  app/Resources/js/components/User/Login/LoginSocialButtons.js
  app/Resources/js/components/User/Login/OpenIDLoginButton.js
  app/Resources/js/components/User/Login/__snapshots__/LoginSocialButtons-test.js.snap
  app/Resources/js/mutations/UpdateOauth2SSOConfigurationMutation.js
  app/Resources/js/types.js
  app/Resources/scss/base/_variables.scss
  brunch-config.js
  composer.json
  composer.lock
  features/graphql/mutation/createOauth2SSOConfiguration.feature
  features/graphql/mutation/updateOauth2SSOConfiguration.feature
  features/graphql/query/ssoConfigurations.feature
  infrastructure/services/remote/Dockerfile
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/Entity/SSO/AbstractSSOConfiguration.php
  src/Capco/AppBundle/Form/Oauth2SSOConfigurationFormType.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateOauth2SSOConfigurationMutation.php
  src/Capco/AppBundle/Repository/AbstractSSOConfigurationRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/decorator/InternalWithOauth2SSOConfiguration.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalSSOConfiguration.types.yml
  webpack/webpack.prod.client.js
  yarn.lock
Due: graphql, php, jest, flow, backend, frontend
