Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

- Updated wrong type
  app/Resources/js/components/Event/Profile/EventListProfileRefetch.js
Due: jest, flow, frontend

Merge pull request #7823 from cap-collectif/fix-opinion-and-versions-urls
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
  src/Capco/AppBundle/Controller/Site/OpinionController.php
  src/Capco/AppBundle/Repository/OpinionRepository.php
  src/Capco/AppBundle/Repository/OpinionVersionRepository.php
Due: php, backend

[7786-FIX] Add fonts folder to dockerIgnore.
  .dockerignore
Due: none

[7786-FIX] Add E2E test for non-generated font.
  features/back/general.feature
Due: none

[7786-FIX] Revert useless E2E test on fonts.
  features/back/general.feature
Due: none

Merge pull request #7810 from cap-collectif/refactor/tag-list
  .dockerignore
  app/Resources/js/components/Event/List/__snapshots__/EventListStatusFilter-test.js.snap
  app/Resources/js/components/Form/DateDropdownPicker.js
  app/Resources/js/components/Form/__snapshots__/DateDropDownPicker-test.js.snap
  app/Resources/js/components/Project/Page/RenderCustomAccess.js
  app/Resources/js/components/Project/Page/RenderPrivateAccess.js
  app/Resources/js/components/Project/Page/__snapshots__/RenderCustomAccess-test.js.snap
  app/Resources/js/components/Project/Page/__snapshots__/RenderPrivateAccess-test.js.snap
  app/Resources/js/components/Project/Preview/ProjectPreviewCounter-test.js
  app/Resources/js/components/Project/Preview/ProjectPreviewCounter.js
  app/Resources/js/components/Project/Preview/ProjectPreviewCounters.js
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewCounter-test.js.snap
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewCounters-test.js.snap
  app/Resources/js/components/Project/Votes/ProposalsUserVotesTable.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailEstimation.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailLikers.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailLikersLabel-test.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailLikersLabel.js
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailEstimation-test.js.snap
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailLikers-test.js.snap
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailLikersLabel-test.js.snap
  app/Resources/js/components/Proposal/Preview/ProposalPreviewBody.js
  app/Resources/js/components/Ui/FeedbacksIndicators/__snapshots__/Loader-test.js.snap
  app/Resources/js/components/Ui/Labels/Tag-test.js
  app/Resources/js/components/Ui/Labels/Tag.js
  app/Resources/js/components/Ui/Labels/__snapshots__/Tag-test.js.snap
  app/Resources/js/components/Ui/List/TagsList.js
  app/Resources/js/components/User/Admin/UserAdminPersonalData.js
  app/Resources/js/components/User/Admin/__snapshots__/UserAdminPersonalData-test.js.snap
  app/Resources/js/components/User/Profile/PersonalData.js
  app/Resources/js/components/User/Profile/__snapshots__/PersonalData-test.js.snap
  app/Resources/js/stories/List-stories.js
  app/Resources/js/stories/Tag-stories.js
  features/back/general.feature
  package.json
  src/Capco/AppBundle/Behat/Page/CollectPage.php
  yarn.lock
Due: jest, flow, backend, frontend

Merge pull request #7637 from cap-collectif/complete-user-archive-responses
  app/Resources/js/components/Event/List/__snapshots__/EventListStatusFilter-test.js.snap
  app/Resources/js/components/Form/DateDropdownPicker.js
  app/Resources/js/components/Form/__snapshots__/DateDropDownPicker-test.js.snap
  app/Resources/js/components/Project/Page/RenderCustomAccess.js
  app/Resources/js/components/Project/Page/RenderPrivateAccess.js
  app/Resources/js/components/Project/Page/__snapshots__/RenderCustomAccess-test.js.snap
  app/Resources/js/components/Project/Page/__snapshots__/RenderPrivateAccess-test.js.snap
  app/Resources/js/components/Project/Preview/ProjectPreviewCounter-test.js
  app/Resources/js/components/Project/Preview/ProjectPreviewCounter.js
  app/Resources/js/components/Project/Preview/ProjectPreviewCounters.js
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewCounter-test.js.snap
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewCounters-test.js.snap
  app/Resources/js/components/Project/Votes/ProposalsUserVotesTable.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailEstimation.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailLikers.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailLikersLabel-test.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailLikersLabel.js
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailEstimation-test.js.snap
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailLikers-test.js.snap
  app/Resources/js/components/Proposal/Detail/__snapshots__/ProposalDetailLikersLabel-test.js.snap
  app/Resources/js/components/Proposal/Preview/ProposalPreviewBody.js
  app/Resources/js/components/Ui/FeedbacksIndicators/__snapshots__/Loader-test.js.snap
  app/Resources/js/components/Ui/Labels/Tag-test.js
  app/Resources/js/components/Ui/Labels/Tag.js
  app/Resources/js/components/Ui/Labels/__snapshots__/Tag-test.js.snap
  app/Resources/js/components/Ui/List/TagsList.js
  app/Resources/js/components/User/Admin/UserAdminPersonalData.js
  app/Resources/js/components/User/Admin/__snapshots__/UserAdminPersonalData-test.js.snap
  app/Resources/js/components/User/Profile/PersonalData.js
  app/Resources/js/components/User/Profile/__snapshots__/PersonalData-test.js.snap
  app/Resources/js/stories/List-stories.js
  app/Resources/js/stories/Tag-stories.js
  package.json
  src/Capco/AppBundle/Behat/Page/CollectPage.php
  yarn.lock
Due: jest, flow, backend, frontend

Merge pull request #7840 from cap-collectif/7786-fix-fonts
  .dockerignore
  features/back/general.feature
  package.json
Due: none

Use "verifyPage" method to wait pages to fully load during e2e tests (#7806)
  features/front/opinions.feature
  features/front/project.feature
  src/Capco/AppBundle/Behat/Page/CollectPage.php
  src/Capco/AppBundle/Behat/Page/ConsultationPage.php
  src/Capco/AppBundle/Behat/Page/OpinionPage.php
  src/Capco/AppBundle/Behat/Page/OpinionVersionPage.php
  src/Capco/AppBundle/Behat/Page/ProposalPage.php
  src/Capco/AppBundle/Behat/Page/SectionPage.php
  src/Capco/AppBundle/Behat/Page/SelectionPage.php
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: backend

Implement new ListGroup and add in storybook
  app/Resources/js/components/Ui/List/InlineList.js
  app/Resources/js/components/Ui/List/ListGroup.js
  app/Resources/js/components/Ui/List/ListGroupFlush.js
  app/Resources/js/stories/List-stories.js
  app/Resources/scss/base/_base.scss
Due: jest, flow, frontend

Forbid usage of {ListGroup} from "react-bootstrap" using ESLint
  .eslintrc.js
  app/Resources/js/components/Admin/Contact/ContactAdminList.js
  app/Resources/js/components/Argument/ArgumentListProfile.js
  app/Resources/js/components/Argument/ArgumentListViewPaginated.js
  app/Resources/js/components/Argument/UnpublishedArgumentList.js
  app/Resources/js/components/Comment/CommentTrashedListPaginated.js
  app/Resources/js/components/Form/RankingBlock.js
  app/Resources/js/components/Group/Admin/GroupAdminUsers.js
  app/Resources/js/components/Opinion/Follow/OpinionFollowButton.js
  app/Resources/js/components/Project/Stats/ProjectStatsList.js
  app/Resources/js/components/Project/Stats/ProjectStatsModal.js
  app/Resources/js/components/ProjectDistrict/ProjectDistrictAdminPage.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminNewsForm.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminProgressSteps.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminSelections.js
  app/Resources/js/components/Proposal/Follow/ProposalFollowButton.js
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/Resources/js/components/Proposal/List/ProposalListTableMobile.js
  app/Resources/js/components/Proposal/List/ProposalTrashedListPaginated.js
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalListTableMobile-test.js.snap
  app/Resources/js/components/ProposalForm/ProposalFormAdminCategories.js
  app/Resources/js/components/ProposalForm/ProposalFormAdminDistricts.js
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestions.js
  app/Resources/js/components/QuestionChoices/QuestionChoiceAdminForm.js
  app/Resources/js/components/QuestionJump/QuestionsJumpAdminForm.js
  app/Resources/js/components/Synthesis/Settings/SettingsSideMenu.js
  app/Resources/js/components/User/Admin/MapboxAdminConfig.js
  app/Resources/js/components/User/Profile/EditProfileTabs.js
  app/Resources/js/components/Vote/VoteListProfile.js
Due: jest, flow, frontend

Add support for id props
  app/Resources/js/components/Ui/List/ListGroup.js
Due: jest, flow, frontend

Update .gitignore
  .gitignore
Due: none

Add OpinionList example in Storybook
  app/Resources/js/stories/List-stories.js
Due: jest, flow, frontend

Add OpinionVersionList example in Storybook
  app/Resources/js/stories/List-stories.js
Due: jest, flow, frontend

Add ArgumentList example in Storybook
  app/Resources/js/stories/List-stories.js
Due: jest, flow, frontend

Add SourceList example in Storybook
  app/Resources/js/stories/List-stories.js
Due: jest, flow, frontend

Improve OpinionList example in Storybook
  app/Resources/js/components/Consultation/OpinionList.js
  app/Resources/js/components/Ui/Card/Card.js
  app/Resources/js/components/Ui/Card/Header.js
  app/Resources/js/components/Ui/List/ListGroup.js
  app/Resources/js/stories/Cards-stories.js
  app/Resources/js/stories/List-stories.js
  app/Resources/js/stories/OpinionList-stories.js
  app/Resources/js/stories/mocks/opinions.js
  app/Resources/js/stories/mocks/users.js
Due: jest, flow, frontend

Fix styling of OpinionList
  app/Resources/js/components/Consultation/OpinionList.js
  app/Resources/js/components/Opinion/NewOpinionButton.js
Due: jest, flow, frontend

Improve OpinionVersionList example in Storybook
  app/Resources/js/stories/List-stories.js
  app/Resources/js/stories/OpinionVersionList-stories.js
  app/Resources/js/stories/mocks/opinionVersions.js
Due: jest, flow, frontend

Improve ArgumentList example in Storybook
  app/Resources/js/stories/ArgumentList-stories.js
  app/Resources/js/stories/List-stories.js
  app/Resources/js/stories/mocks/arguments.js
Due: jest, flow, frontend

Improve OpinionSourceList example in Storybook
  app/Resources/js/stories/List-stories.js
  app/Resources/js/stories/OpinionArgumentList-stories.js
  app/Resources/js/stories/OpinionSourceList-stories.js
  app/Resources/js/stories/mocks/opinionArguments.js
  app/Resources/js/stories/mocks/opinionSources.js
Due: jest, flow, frontend

Fix styling of OpinionSource
  app/Resources/js/components/Opinion/Source/OpinionSource.js
  app/Resources/js/components/Opinion/Source/OpinionSourceButtons.js
  app/Resources/js/components/Opinion/Source/OpinionSourceContent.js
  app/Resources/js/components/Opinion/Source/OpinionSourceTitle.js
  app/Resources/js/components/Opinion/Source/OpinionSourceVoteBox.js
Due: jest, flow, frontend

Add more example for OpinionList
  app/Resources/js/components/Consultation/OpinionList.js
  app/Resources/js/stories/OpinionList-stories.js
  app/Resources/js/stories/mocks/opinions.js
Due: jest, flow, frontend

Add more example for OpinionVersionList
  app/Resources/js/stories/OpinionList-stories.js
  app/Resources/js/stories/OpinionVersionList-stories.js
  app/Resources/js/stories/mocks/opinionVersions.js
  app/Resources/js/stories/mocks/opinions.js
Due: jest, flow, frontend

Add more example for OpinionArgumentList
  app/Resources/js/stories/OpinionArgumentList-stories.js
  app/Resources/js/stories/OpinionVersionList-stories.js
  app/Resources/js/stories/mocks/opinionArguments.js
Due: jest, flow, frontend

Add more example for OpinionSourceList
  app/Resources/js/stories/OpinionArgumentList-stories.js
  app/Resources/js/stories/OpinionSourceList-stories.js
  app/Resources/js/stories/mocks/opinionSources.js
Due: jest, flow, frontend

Update Jest snapshots
  app/Resources/js/components/Consultation/__snapshots__/OpinionList-test.js.snap
  app/Resources/js/components/Opinion/Source/__snapshots__/OpinionSource-test.js.snap
  app/Resources/js/components/Ui/List/InlineList.js
Due: jest, flow, frontend

Fix styling of OpinionVersion
  app/Resources/js/components/Opinion/OpinionVersion.js
Due: jest, flow, frontend

Remove inline styles
  app/Resources/js/components/Argument/ArgumentListViewPaginated.js
  app/Resources/js/components/Consultation/OpinionList.js
  app/Resources/js/components/Consultation/__snapshots__/OpinionList-test.js.snap
  app/Resources/js/components/Consultation/__snapshots__/UnpublishedOpinionList-test.js.snap
  app/Resources/js/components/Opinion/NewOpinionButton.js
  app/Resources/js/components/Opinion/OpinionVersionListViewPaginated.js
  app/Resources/js/components/Opinion/Source/OpinionSourceContent.js
  app/Resources/js/components/Opinion/Source/OpinionSourceListViewPaginated.js
  app/Resources/js/components/Opinion/Source/__snapshots__/OpinionSourceBox-test.js.snap
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalListTableMobile-test.js.snap
  app/Resources/js/components/Ui/Card/Card.js
  app/Resources/js/components/Ui/List/ListGroup.js
  app/Resources/js/components/User/Following/__snapshots__/OpinionProjectRow-test.js.snap
  app/Resources/js/components/User/Following/__snapshots__/ProposalProjectRow-test.js.snap
  app/Resources/js/stories/OpinionArgumentList-stories.js
  app/Resources/js/stories/OpinionList-stories.js
  app/Resources/js/stories/OpinionSourceList-stories.js
  app/Resources/js/stories/OpinionVersionList-stories.js
Due: jest, flow, frontend

Improve style of all ListGroup
  app/Resources/js/components/Argument/ArgumentButtons.js
  app/Resources/js/components/Argument/ArgumentItem.js
  app/Resources/js/components/Argument/ArgumentListProfile.js
  app/Resources/js/components/Argument/ArgumentListViewPaginated.js
  app/Resources/js/components/Argument/__snapshots__/ArgumentItem-test.js.snap
  app/Resources/js/components/Consultation/Opinion.js
  app/Resources/js/components/Consultation/OpinionList.js
  app/Resources/js/components/Consultation/OpinionListPaginated.js
  app/Resources/js/components/Consultation/__snapshots__/Opinion-test.js.snap
  app/Resources/js/components/Consultation/__snapshots__/OpinionList-test.js.snap
  app/Resources/js/components/Consultation/__snapshots__/OpinionListPaginated-test.js.snap
  app/Resources/js/components/Event/List/__snapshots__/EventListStatusFilter-test.js.snap
  app/Resources/js/components/Opinion/OpinionPreview.js
  app/Resources/js/components/Opinion/OpinionVersion.js
  app/Resources/js/components/Opinion/OpinionVersionListViewPaginated.js
  app/Resources/js/components/Opinion/Source/OpinionSource.js
  app/Resources/js/components/Opinion/Source/OpinionSourceContent.js
  app/Resources/js/components/Opinion/Source/OpinionSourceListViewPaginated.js
  app/Resources/js/components/Opinion/Source/__snapshots__/OpinionSource-test.js.snap
  app/Resources/js/components/Publishable/UnpublishedLabel.js
  app/Resources/js/components/Publishable/__snapshots__/UnpublishedLabel-test.js.snap
  app/Resources/js/components/Ui/Card/Header.js
  app/Resources/js/components/Ui/FeedbacksIndicators/__snapshots__/Loader-test.js.snap
  app/Resources/js/stories/List-stories.js
  app/Resources/js/stories/OpinionArgumentList-stories.js
  app/Resources/js/stories/OpinionList-stories.js
  app/Resources/js/stories/OpinionSourceList-stories.js
  app/Resources/js/stories/OpinionVersionList-stories.js
  app/Resources/scss/base/_utils.scss
  app/Resources/scss/base/_variables.scss
  app/Resources/scss/modules/_opinion.scss
Due: jest, flow, frontend

Better typehint and fixes from @mrpandat
  app/Resources/js/components/Argument/ArgumentItem.js
  app/Resources/js/components/Argument/ArgumentList.js
  app/Resources/js/components/Argument/ArgumentListView.js
  app/Resources/js/components/Argument/ArgumentListViewPaginated.js
  app/Resources/js/components/Argument/ArgumentsBox.js
  app/Resources/js/components/Argument/Creation/ArgumentCreate.js
  app/Resources/js/components/Argument/UnpublishedArgumentList.js
  app/Resources/js/components/Argument/UnpublishedArgumentListRenderer.js
  app/Resources/js/components/Consultation/Opinion.js
  app/Resources/js/components/Opinion/OpinionPreview.js
  app/Resources/js/components/Opinion/Source/OpinionSource.js
  app/Resources/js/types.js
Due: jest, flow, frontend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
