Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

user public entity when in preview mode when preview entity doesnt exist in GraphQL
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
Due: graphql, php, backend

remove twig deprecated
  src/Capco/AppBundle/Twig/CommentExtension.php
  src/Capco/AppBundle/Twig/GlobalIdExtension.php
Due: php, backend

Fork jms serializer deprecated call on twig function
  composer.json
  composer.lock
  src/Capco/AppBundle/Twig/GlobalIdExtension.php
Due: php, backend

Merge pull request #6688 from cap-collectif/fix-tab-order-opinion
  app/config/config.yml
  src/Capco/AppBundle/Command/LoadBenchmarkDataCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Argument.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Category.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CollectStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CommentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Opinion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Project.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProjectAbstractStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Proposal.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalCollectVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalComment.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalDistrict.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalForm.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalFormNotificationConfiguration.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalSelectionVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/QuestionChoice.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Reply.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Response.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SelectionStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Source.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Theme.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/User.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/UserType.yml
Due: php, backend

Add newrelic php prob to prod docker
  infrastructure/services/remote/Dockerfile
Due: none

fix
  infrastructure/services/remote/Dockerfile
Due: none

Better benchmark fixtures
  .eslintrc.js
  app/Resources/js/components/Opinion/OpinionTabs.js
  composer.json
  composer.lock
  infrastructure/services/remote/Dockerfile
  src/Capco/AppBundle/Command/Elasticsearch/CreateIndexCommand.php
  src/Capco/AppBundle/Command/LoadBenchmarkDataCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CommentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Project.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Proposal.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalCollectVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalComment.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalSelectionVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/User.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ArgumentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/OpinionVersionVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/OpinionVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProposalCollectVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProposalSelectionVote.yml
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
  src/Capco/AppBundle/Normalizer/CollectStepNormalizer.php
  src/Capco/AppBundle/Twig/CommentExtension.php
  src/Capco/AppBundle/Twig/GlobalIdExtension.php
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #6689 from cap-collectif/add-newrelic
  .eslintrc.js
  app/Resources/js/components/Opinion/OpinionTabs.js
  composer.json
  composer.lock
  infrastructure/services/remote/Dockerfile
  src/Capco/AppBundle/Command/Elasticsearch/CreateIndexCommand.php
  src/Capco/AppBundle/Command/LoadBenchmarkDataCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CommentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Project.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Proposal.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalCollectVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalComment.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalSelectionVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/User.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ArgumentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/OpinionVersionVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/OpinionVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProposalCollectVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProposalSelectionVote.yml
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
  src/Capco/AppBundle/Normalizer/CollectStepNormalizer.php
  src/Capco/AppBundle/Twig/CommentExtension.php
  src/Capco/AppBundle/Twig/GlobalIdExtension.php
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #6690 from cap-collectif/better-benchmark-fixtures
  src/Capco/AppBundle/Command/Elasticsearch/CreateIndexCommand.php
  src/Capco/AppBundle/Command/LoadBenchmarkDataCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CommentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Project.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Proposal.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalCollectVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalComment.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalSelectionVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/User.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ArgumentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/OpinionVersionVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/OpinionVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProposalCollectVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProposalSelectionVote.yml
  src/Capco/AppBundle/Normalizer/CollectStepNormalizer.php
Due: php, backend

More benchmark fixes
  .eslintrc.js
  app/Resources/js/components/Opinion/OpinionTabs.js
  composer.json
  composer.lock
  infrastructure/services/remote/Dockerfile
  src/Capco/AppBundle/Command/LoadBenchmarkDataCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/User.yml
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
  src/Capco/AppBundle/Twig/CommentExtension.php
  src/Capco/AppBundle/Twig/GlobalIdExtension.php
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #6691 from cap-collectif/more-benchmark-fixes
  .eslintrc.js
  app/Resources/js/components/Opinion/OpinionTabs.js
  composer.json
  composer.lock
  infrastructure/services/remote/Dockerfile
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
  src/Capco/AppBundle/Twig/CommentExtension.php
  src/Capco/AppBundle/Twig/GlobalIdExtension.php
Due: graphql, php, jest, flow, backend, frontend

Add newrelicbundle
  app/AppKernel.php
  app/config/config.yml
  app/config/newrelic.yml
  composer.json
  composer.lock
Due: none

fix
  app/AppKernel.php
Due: none

remove old stuff
  app/config/config.yml
Due: none

More perf fixes
  app/AppKernel.php
  app/config/config.yml
  app/config/newrelic.yml
  composer.json
  composer.lock
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Project.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Proposal.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Theme.yml
  src/Capco/AppBundle/Manager/MenuItemResolver.php
  src/Capco/AppBundle/Repository/FooterSocialNetworkRepository.php
  src/Capco/AppBundle/Repository/MenuItemRepository.php
  src/Capco/AppBundle/Repository/SiteParameterRepository.php
  src/Capco/AppBundle/Resources/views/base.html.twig
  src/Capco/AppBundle/SiteParameter/Resolver.php
  src/Capco/AppBundle/Twig/SiteParameterExtension.php
Due: php, backend

fix argument tab order in an opinion
  app/Resources/js/components/Opinion/OpinionTabs.js
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Project.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Proposal.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Theme.yml
  src/Capco/AppBundle/Manager/MenuItemResolver.php
  src/Capco/AppBundle/Repository/FooterSocialNetworkRepository.php
  src/Capco/AppBundle/Repository/MenuItemRepository.php
  src/Capco/AppBundle/Repository/SiteParameterRepository.php
  src/Capco/AppBundle/Resources/views/base.html.twig
  src/Capco/AppBundle/SiteParameter/Resolver.php
  src/Capco/AppBundle/Twig/SiteParameterExtension.php
Due: php, jest, flow, backend, frontend

Merge pull request #6695 from cap-collectif/add-newrelicbundle
  app/AppKernel.php
  app/Resources/js/components/Opinion/OpinionTabs.js
  app/config/config.yml
  app/config/newrelic.yml
  composer.json
  composer.lock
Due: jest, flow, frontend

Clean
  app/AppKernel.php
  app/config/config.yml
  app/config/newrelic.yml
  composer.json
  composer.lock
  spec/Capco/AppBundle/Manager/MenuItemResolverSpec.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Controller/Site/ProposalController.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Project.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Proposal.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Theme.yml
  src/Capco/AppBundle/Manager/MenuItemResolver.php
  src/Capco/AppBundle/Repository/FooterSocialNetworkRepository.php
  src/Capco/AppBundle/Repository/MenuItemRepository.php
  src/Capco/AppBundle/Repository/SiteParameterRepository.php
  src/Capco/AppBundle/Resources/views/base.html.twig
  src/Capco/AppBundle/SiteParameter/Resolver.php
  src/Capco/AppBundle/Twig/SiteParameterExtension.php
Due: php, backend

Merge pull request #6697 from cap-collectif/more-benchmark-fixes
  app/AppKernel.php
  app/config/config.yml
  app/config/newrelic.yml
  composer.json
  composer.lock
Due: none

Do not create a session on homepage plz
  src/Capco/AppBundle/Controller/Site/HomepageController.php
  src/Capco/AppBundle/Manager/MenuItemResolver.php
  src/Capco/AppBundle/Resources/views/Default/header.html.twig
  src/Capco/AppBundle/Resources/views/Project/layout_with_widget.html.twig
Due: php, backend

Faster benchmark script import
  src/Capco/AppBundle/Command/LoadBenchmarkDataCommand.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/Controller/Site/ProposalController.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Category.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/CollectStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ConsultationStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Opinion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Project.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Proposal.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/ProposalForm.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Questionnaire.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/QuestionnaireStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SelectionStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Source.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Theme.yml
Due: php, backend

Some refacto for flashbag
  src/Capco/AdminBundle/Controller/GroupController.php
  src/Capco/AdminBundle/Controller/UserController.php
  src/Capco/AppBundle/Controller/Site/CommentController.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Controller/Site/ModerationController.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Category.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/Opinion.yml
  src/Capco/UserBundle/Controller/ConfirmationController.php
Due: php, backend

Some SimplePreAuthenticatorUserProvider fixes
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/User.yml
  src/Capco/UserBundle/Security/Core/User/SimplePreAuthenticatorUserProvider.php
Due: php, backend

Slug fixes
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/OpinionType.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/UserType.yml
Due: php, backend

Fixes
  src/Capco/AppBundle/Command/LoadBenchmarkDataCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/QuestionChoice.yml
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/UserType.yml
Due: php, backend

Enable FOSUserLisener
  src/Capco/AppBundle/Command/LoadBenchmarkDataCommand.php
Due: php, backend

Merge pull request #6699 from cap-collectif/fix-arguments-tabs-opinion
  app/Resources/js/components/Opinion/OpinionTabs.js
Due: jest, flow, frontend

Try to debug http cache
  app/Resources/js/components/Opinion/OpinionTabs.js
  app/config/config.yml
  app/config/cors.yml
  infrastructure/services/local/varnish/capco.vcl
  infrastructure/services/remote/varnish/capco.vcl
  web/app.php
Due: jest, flow, frontend

Merge pull request #6710 from cap-collectif/try-to-debug-http-cache
  app/Resources/js/components/Opinion/OpinionTabs.js
Due: jest, flow, frontend

Remove steps body from redux store
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Steps/Page/StepInfos.js
  app/Resources/js/components/Steps/Page/__snapshots__/StepInfos-test.js.snap
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Step.types.yml
  src/Capco/AppBundle/Twig/ThemeExtension.php
Due: php, jest, flow, backend, frontend

Clean districts from proposal list when map feature is disable
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Steps/Page/StepInfos.js
  app/Resources/js/components/Steps/Page/__snapshots__/StepInfos-test.js.snap
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Step.types.yml
  src/Capco/AppBundle/Twig/ThemeExtension.php
Due: php, jest, flow, backend, frontend

Downgrade Twig2 to 1
  app/Resources/js/components/Page/ProposalStepPage.js
  composer.json
  composer.lock
Due: jest, flow, frontend

Merge pull request #6716 from cap-collectif/fix-serialization-body-steps
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Steps/Page/StepInfos.js
  app/Resources/js/components/Steps/Page/__snapshots__/StepInfos-test.js.snap
  composer.json
  composer.lock
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Step.types.yml
  src/Capco/AppBundle/Twig/ThemeExtension.php
Due: php, jest, flow, backend, frontend

Merge pull request #6719 from cap-collectif/downgrade-twig-2-to-1
  composer.json
  composer.lock
Due: none

Cache API HTTP POST requests
  app/config/cache.yml
  app/config/config.yml
  infrastructure/services/local/Dockerfile
  infrastructure/services/local/varnish/capco.vcl
  src/Capco/AppBundle/Controller/Site/BlogController.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Controller/Site/HomepageController.php
  src/Capco/AppBundle/Controller/Site/OpinionController.php
  src/Capco/AppBundle/Controller/Site/PageController.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/Controller/Site/ProposalController.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/UserBundle/Controller/MembersController.php
  src/Capco/UserBundle/Controller/ProfileController.php
Due: php, backend

add indexes and optimize quer in User normalizer
  app/DoctrineMigrations/Version20181221140354.php
  app/config/cache.yml
  app/config/config.yml
  infrastructure/services/local/Dockerfile
  infrastructure/services/local/varnish/capco.vcl
  src/Capco/AppBundle/Controller/Site/BlogController.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Controller/Site/HomepageController.php
  src/Capco/AppBundle/Controller/Site/OpinionController.php
  src/Capco/AppBundle/Controller/Site/PageController.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/Controller/Site/ProposalController.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/Entity/AbstractVote.php
  src/Capco/AppBundle/Entity/Argument.php
  src/Capco/AppBundle/Entity/Opinion.php
  src/Capco/AppBundle/Entity/OpinionVersion.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Entity/Reply.php
  src/Capco/AppBundle/Entity/Source.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserContributionByProjectResolver.php
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
  src/Capco/AppBundle/Repository/ArgumentRepository.php
  src/Capco/AppBundle/Repository/ArgumentVoteRepository.php
  src/Capco/AppBundle/Repository/OpinionRepository.php
  src/Capco/AppBundle/Repository/OpinionVersionVoteRepository.php
  src/Capco/AppBundle/Repository/OpinionVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalCollectVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/AppBundle/Repository/ProposalSelectionVoteRepository.php
  src/Capco/AppBundle/Repository/ReplyRepository.php
  src/Capco/AppBundle/Repository/SourceRepository.php
  src/Capco/AppBundle/Repository/SourceVoteRepository.php
  src/Capco/UserBundle/Controller/MembersController.php
  src/Capco/UserBundle/Controller/ProfileController.php
Due: graphql, php, backend

add more indexes
  app/DoctrineMigrations/Version20181221140354.php
  src/Capco/AppBundle/Entity/AbstractVote.php
  src/Capco/AppBundle/Entity/Comment.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Normalizer/ProposalNormalizer.php
Due: php, backend

add query cache
  src/Capco/AppBundle/Normalizer/ProposalNormalizer.php
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
  src/Capco/AppBundle/Repository/ArgumentRepository.php
  src/Capco/AppBundle/Repository/ArgumentVoteRepository.php
  src/Capco/AppBundle/Repository/OpinionRepository.php
  src/Capco/AppBundle/Repository/OpinionVersionRepository.php
  src/Capco/AppBundle/Repository/OpinionVersionVoteRepository.php
  src/Capco/AppBundle/Repository/OpinionVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalCollectVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalCommentRepository.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/AppBundle/Repository/ProposalSelectionVoteRepository.php
  src/Capco/AppBundle/Repository/ReplyRepository.php
  src/Capco/AppBundle/Repository/SourceRepository.php
  src/Capco/AppBundle/Repository/SourceVoteRepository.php
Due: php, backend

wip
  infrastructure/environments/development.yml
  infrastructure/services/local/Dockerfile
  infrastructure/services/local/blackfire/blackfire-agent.ini
  infrastructure/services/local/blackfire/blackfire-php.ini
  infrastructure/services/local/blackfire/run
  src/Capco/AppBundle/Elasticsearch/Indexer.php
Due: php, backend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
