Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

[6705-REQUIREMENT] Refacto RequirementModal with fragment and rename state by showModal.
  app/Resources/js/components/Argument/Creation/ArgumentCreate.js
  app/Resources/js/components/Argument/Vote/ArgumentVoteButton-test.js
  app/Resources/js/components/Argument/Vote/ArgumentVoteButton.js
  app/Resources/js/components/Opinion/Source/OpinionSourceAdd.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton-test.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton.js
  app/Resources/js/components/Requirements/RequirementsModal.js
Due: jest, flow, frontend

[6705-REQUIREMENT] Update Snapshots.
  app/Resources/js/components/Argument/Vote/__snapshots__/ArgumentVoteButton-test.js.snap
  app/Resources/js/components/Opinion/Votes/__snapshots__/OpinionVotesButton-test.js.snap
Due: jest, flow, frontend

[6705-REQUIREMENT] Refacto argumentVoteButton.
  app/Resources/js/components/Argument/Vote/ArgumentVoteButton.js
Due: jest, flow, frontend

[6705-REQUIREMENT] Add SourveVote requirements backend.
  app/Resources/js/components/Argument/Vote/ArgumentVoteButton.js
  app/Resources/js/components/Argument/Vote/__snapshots__/ArgumentVoteButton-test.js.snap
  app/Resources/js/components/Requirements/RequirementsModal.js
  features/graphql/mutations/addSourceVote.feature
  features/graphql/mutations/removeSourceVote.feature
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Source.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SourceVote.yml
  src/Capco/AppBundle/GraphQL/Mutation/AddSourceVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/RemoveSourceVoteMutation.php
Due: graphql, php, jest, flow, backend, frontend

[6705-REQUIREMENT] Fix bug of modal OpinionSourceAdd update.
  app/Resources/js/components/Opinion/Source/OpinionSourceAdd.js
  app/Resources/js/components/Opinion/Source/OpinionSourceFormModal.js
  app/Resources/js/components/Opinion/Source/OpinionSourceVoteButton.js
Due: jest, flow, frontend

[6705-REQUIREMENT] Add requirementForm to sourceModal.
  app/Resources/js/components/Argument/Creation/ArgumentCreate.js
  app/Resources/js/components/Argument/Vote/ArgumentVoteButton.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton.js
  app/Resources/js/components/Requirements/RequirementsModal.js
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Source.types.yml
Due: php, jest, flow, backend, frontend

[6705-REQUIREMENT] Disable button of OpinionSourceModal when not meeting requirements.
  app/Resources/js/components/Opinion/Source/OpinionSourceFormModal.js
Due: jest, flow, frontend

Merge pull request #6853 from cap-collectif/6834-fix-presentation-step
  app/Resources/js/components/Argument/Creation/ArgumentCreate.js
  app/Resources/js/components/Argument/Vote/ArgumentVoteButton-test.js
  app/Resources/js/components/Argument/Vote/ArgumentVoteButton.js
  app/Resources/js/components/Argument/Vote/__snapshots__/ArgumentVoteButton-test.js.snap
  app/Resources/js/components/Opinion/Source/OpinionSourceFormModal.js
  app/Resources/js/components/Opinion/Source/OpinionSourceVoteButton.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton-test.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton.js
  app/Resources/js/components/Opinion/Votes/__snapshots__/OpinionVotesButton-test.js.snap
  app/Resources/js/components/Requirements/RequirementsModal.js
  features/graphql/mutations/addArgumentVote.feature
  features/graphql/mutations/addSource.feature
  features/graphql/mutations/addSourceVote.feature
  features/graphql/mutations/deleteSource.feature
  features/graphql/mutations/removeArgumentVote.feature
  features/graphql/mutations/removeSourceVote.feature
  schema.internal.graphql
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Argument.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ArgumentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Source.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SourceVote.yml
  src/Capco/AppBundle/GraphQL/Mutation/AddArgumentVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddSourceMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddSourceVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteSourceMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/RemoveArgumentVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/RemoveSourceVoteMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/CollectStepProposalCountResolver.php
  src/Capco/AppBundle/Model/Sourceable.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Sourceable.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Argument.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Source.types.yml
Due: graphql, php, jest, flow, backend, frontend

set-proposal-pagination
  app/Resources/js/components/Page/ProposalStepPage.js
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
Due: php, jest, flow, backend, frontend

Allow to configure pagination
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Proposal/List/ProposalListView.js
  app/Resources/js/components/Proposal/List/ProposalListViewPaginated.js
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
Due: php, jest, flow, backend, frontend

FIX-IMPORT fix dates proposals
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Proposal/List/ProposalListView.js
  app/Resources/js/components/Proposal/List/ProposalListViewPaginated.js
  src/Capco/AppBundle/Command/Nantes/NantesImportContributionsCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/GraphQL/Resolver/Step/CollectStepProposalCountResolver.php
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
Due: graphql, php, jest, flow, backend, frontend

Nantes Open ID (#6119)
  app/Resources/js/components/Page/ProposalStepPage.js
  src/Capco/AppBundle/Command/Nantes/NantesImportContributionsCommand.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/CollectStepProposalCountResolver.php
  src/Capco/UserBundle/OpenID/OpenIDResourceOwner.php
Due: graphql, php, jest, flow, backend, frontend

Add migration and BO
  app/DoctrineMigrations/Version20190108134848.php
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Proposal/List/ProposalListView.js
  app/Resources/js/components/Proposal/List/ProposalListViewPaginated.js
  app/Resources/js/redux/modules/default.js
  app/Resources/js/startup/ProposalStepPageApp.js
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
  src/Capco/UserBundle/OpenID/OpenIDResourceOwner.php
Due: php, jest, flow, backend, frontend

Fix
  app/DoctrineMigrations/Version20190108134848.php
Due: none

FIX-IMPORT fix pb des users duplicate
  app/DoctrineMigrations/Version20190108134848.php
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Proposal/List/ProposalListView.js
  app/Resources/js/components/Proposal/List/ProposalListViewPaginated.js
  app/Resources/js/redux/modules/default.js
  app/Resources/js/startup/ProposalStepPageApp.js
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/Nantes/NantesImportContributionsCommand.php
  src/Capco/AppBundle/Command/Nantes/NantesImportUsersCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
  src/Capco/AppBundle/GraphQL/Resolver/Step/CollectStepProposalCountResolver.php
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #6825 from cap-collectif/6705-requirement-source
  app/Resources/js/components/Argument/Creation/ArgumentCreate.js
  app/Resources/js/components/Argument/Vote/ArgumentVoteButton-test.js
  app/Resources/js/components/Argument/Vote/ArgumentVoteButton.js
  app/Resources/js/components/Argument/Vote/__snapshots__/ArgumentVoteButton-test.js.snap
  app/Resources/js/components/Opinion/Source/OpinionSourceFormModal.js
  app/Resources/js/components/Opinion/Source/OpinionSourceVoteButton.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton-test.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton.js
  app/Resources/js/components/Opinion/Votes/__snapshots__/OpinionVotesButton-test.js.snap
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Requirements/RequirementsModal.js
  features/graphql/mutations/addArgumentVote.feature
  features/graphql/mutations/addSource.feature
  features/graphql/mutations/addSourceVote.feature
  features/graphql/mutations/deleteSource.feature
  features/graphql/mutations/removeArgumentVote.feature
  features/graphql/mutations/removeSourceVote.feature
  schema.internal.graphql
  src/Capco/AppBundle/Command/Nantes/NantesImportContributionsCommand.php
  src/Capco/AppBundle/Command/Nantes/NantesImportUsersCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Argument.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ArgumentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Source.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SourceVote.yml
  src/Capco/AppBundle/GraphQL/Mutation/AddArgumentVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddSourceMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddSourceVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteSourceMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/RemoveArgumentVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/RemoveSourceVoteMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/CollectStepProposalCountResolver.php
  src/Capco/AppBundle/Model/Sourceable.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Sourceable.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Argument.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Source.types.yml
  src/Capco/UserBundle/OpenID/OpenIDResourceOwner.php
Due: graphql, php, jest, flow, backend, frontend

#6607 - change order of event sorted to startAt asc
  app/Resources/js/components/Argument/Creation/ArgumentCreate.js
  app/Resources/js/components/Argument/Vote/ArgumentVoteButton-test.js
  app/Resources/js/components/Argument/Vote/ArgumentVoteButton.js
  app/Resources/js/components/Argument/Vote/__snapshots__/ArgumentVoteButton-test.js.snap
  app/Resources/js/components/Opinion/Source/OpinionSourceFormModal.js
  app/Resources/js/components/Opinion/Source/OpinionSourceVoteButton.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton-test.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton.js
  app/Resources/js/components/Opinion/Votes/__snapshots__/OpinionVotesButton-test.js.snap
  app/Resources/js/components/Requirements/RequirementsModal.js
  features/graphql/mutations/addArgumentVote.feature
  features/graphql/mutations/addSource.feature
  features/graphql/mutations/addSourceVote.feature
  features/graphql/mutations/deleteSource.feature
  features/graphql/mutations/removeArgumentVote.feature
  features/graphql/mutations/removeSourceVote.feature
  schema.internal.graphql
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Argument.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ArgumentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Source.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SourceVote.yml
  src/Capco/AppBundle/GraphQL/Mutation/AddArgumentVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddSourceMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddSourceVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteSourceMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/RemoveArgumentVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/RemoveSourceVoteMutation.php
  src/Capco/AppBundle/Model/Sourceable.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Sourceable.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Argument.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Source.types.yml
  src/Capco/AppBundle/Search/EventSearch.php
Due: graphql, php, jest, flow, backend, frontend

[6812-FIX] Add validateresponse to registration form.
  app/Resources/js/components/Argument/Creation/ArgumentCreate.js
  app/Resources/js/components/Argument/Vote/ArgumentVoteButton-test.js
  app/Resources/js/components/Argument/Vote/ArgumentVoteButton.js
  app/Resources/js/components/Argument/Vote/__snapshots__/ArgumentVoteButton-test.js.snap
  app/Resources/js/components/Opinion/Source/OpinionSourceFormModal.js
  app/Resources/js/components/Opinion/Source/OpinionSourceVoteButton.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton-test.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton.js
  app/Resources/js/components/Opinion/Votes/__snapshots__/OpinionVotesButton-test.js.snap
  app/Resources/js/components/Requirements/RequirementsModal.js
  app/Resources/js/components/User/Registration/RegistrationForm.js
  features/graphql/mutations/addArgumentVote.feature
  features/graphql/mutations/addSource.feature
  features/graphql/mutations/addSourceVote.feature
  features/graphql/mutations/deleteSource.feature
  features/graphql/mutations/removeArgumentVote.feature
  features/graphql/mutations/removeSourceVote.feature
  schema.internal.graphql
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Argument.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ArgumentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Source.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SourceVote.yml
  src/Capco/AppBundle/GraphQL/Mutation/AddArgumentVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddSourceMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddSourceVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteSourceMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/RemoveArgumentVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/RemoveSourceVoteMutation.php
  src/Capco/AppBundle/Model/Sourceable.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Sourceable.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Argument.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Source.types.yml
  src/Capco/AppBundle/Search/EventSearch.php
Due: graphql, php, jest, flow, backend, frontend

[6812-FIX] Try to type little more validation of registration.
  app/Resources/js/components/User/Registration/RegistrationForm.js
Due: jest, flow, frontend

[6812-FIX] Add good traduction key in errrs of registration form.
  app/Resources/js/components/User/Registration/RegistrationForm.js
  app/Resources/js/utils/responsesHelper.js
Due: jest, flow, frontend

Merge pull request #6831 from cap-collectif/set-proposal-pagination
  app/Resources/js/components/Argument/Creation/ArgumentCreate.js
  app/Resources/js/components/Argument/Vote/ArgumentVoteButton-test.js
  app/Resources/js/components/Argument/Vote/ArgumentVoteButton.js
  app/Resources/js/components/Argument/Vote/__snapshots__/ArgumentVoteButton-test.js.snap
  app/Resources/js/components/Opinion/Source/OpinionSourceFormModal.js
  app/Resources/js/components/Opinion/Source/OpinionSourceVoteButton.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton-test.js
  app/Resources/js/components/Opinion/Votes/OpinionVotesButton.js
  app/Resources/js/components/Opinion/Votes/__snapshots__/OpinionVotesButton-test.js.snap
  app/Resources/js/components/Requirements/RequirementsModal.js
  features/graphql/mutations/addArgumentVote.feature
  features/graphql/mutations/addSource.feature
  features/graphql/mutations/addSourceVote.feature
  features/graphql/mutations/deleteSource.feature
  features/graphql/mutations/removeArgumentVote.feature
  features/graphql/mutations/removeSourceVote.feature
  schema.internal.graphql
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Argument.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ArgumentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Source.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SourceVote.yml
  src/Capco/AppBundle/GraphQL/Mutation/AddArgumentVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddSourceMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddSourceVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteSourceMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/RemoveArgumentVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/RemoveSourceVoteMutation.php
  src/Capco/AppBundle/Model/Sourceable.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Sourceable.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Argument.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Source.types.yml
  src/Capco/UserBundle/OpenID/OpenIDResourceOwner.php
Due: graphql, php, jest, flow, backend, frontend

FIX-TESTS fix 2 tests core
  app/DoctrineMigrations/Version20190108134848.php
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Proposal/List/ProposalListView.js
  app/Resources/js/components/Proposal/List/ProposalListViewPaginated.js
  app/Resources/js/redux/modules/default.js
  app/Resources/js/startup/ProposalStepPageApp.js
  app/config/config.yml
  app/config/swarrot.yml
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Behat/UserContext.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
  src/Capco/AppBundle/GraphQL/Mutation/AddProposalVoteMutation.php
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #6856 from cap-collectif/6507-fix-event-order-display
  src/Capco/AppBundle/Search/EventSearch.php
Due: php, backend

Merge pull request #6851 from cap-collectif/6801-fix-export-userdata
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
Due: php, backend

Fix last migration
  app/DoctrineMigrations/Version20190108134848.php
Due: none

#6814 - update cookie management
  app/Resources/js/cookieMonster.js
  features/front/rgpd.feature
  src/Capco/AppBundle/Behat/Page/CookiesPage.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MenuItem.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/MenuItem.yml
  src/Capco/AppBundle/Resources/views/Default/confidentialite.html.twig
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
  src/Capco/AppBundle/Resources/views/base.html.twig
Due: php, jest, flow, backend, frontend

[6812-FIX] Modify trad key to profile vote.
  app/DoctrineMigrations/Version20190108134848.php
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Project/Votes/ProposalsUserVotesStep.js
  app/Resources/js/components/Proposal/List/ProposalListView.js
  app/Resources/js/components/Proposal/List/ProposalListViewPaginated.js
  app/Resources/js/components/User/Registration/RegistrationForm.js
  app/Resources/js/cookieMonster.js
  app/Resources/js/redux/modules/default.js
  app/Resources/js/startup/ProposalStepPageApp.js
  app/Resources/js/utils/responsesHelper.js
  app/config/config.yml
  app/config/swarrot.yml
  features/front/rgpd.feature
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Behat/Page/ConfidentialitePage.php
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MenuItem.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/MenuItem.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
  src/Capco/AppBundle/GraphQL/DataLoader/BatchDataLoader.php
  src/Capco/AppBundle/GraphQL/Mutation/AddProposalVoteMutation.php
  src/Capco/AppBundle/Resources/views/Default/confidentialite.html.twig
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
  src/Capco/AppBundle/Resources/views/base.html.twig
  src/Capco/AppBundle/Search/EventSearch.php
Due: graphql, php, jest, flow, backend, frontend

#6814 - Add database migration for menu item
  app/DoctrineMigrations/Version20190108134848.php
  app/DoctrineMigrations/Version20190110093725.php
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Project/Votes/ProposalsUserVotesStep.js
  app/Resources/js/components/Proposal/List/ProposalListView.js
  app/Resources/js/components/Proposal/List/ProposalListViewPaginated.js
  app/Resources/js/components/User/Registration/RegistrationForm.js
  app/Resources/js/cookieMonster.js
  app/Resources/js/redux/modules/default.js
  app/Resources/js/startup/ProposalStepPageApp.js
  app/Resources/js/utils/responsesHelper.js
  app/config/config.yml
  app/config/swarrot.yml
  features/front/rgpd.feature
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Behat/Page/CookiesPage.php
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MenuItem.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/MenuItem.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
  src/Capco/AppBundle/GraphQL/DataLoader/BatchDataLoader.php
  src/Capco/AppBundle/GraphQL/Mutation/AddProposalVoteMutation.php
  src/Capco/AppBundle/Resources/views/Default/confidentialite.html.twig
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
  src/Capco/AppBundle/Resources/views/base.html.twig
  src/Capco/AppBundle/Search/EventSearch.php
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #6852 from cap-collectif/6812-fix-number-register
  app/DoctrineMigrations/Version20190110093725.php
  app/Resources/js/components/Project/Votes/ProposalsUserVotesStep.js
  app/Resources/js/components/User/Registration/RegistrationForm.js
  app/Resources/js/cookieMonster.js
  app/Resources/js/utils/responsesHelper.js
  features/front/rgpd.feature
  src/Capco/AppBundle/Behat/Page/ConfidentialitePage.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MenuItem.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/MenuItem.yml
  src/Capco/AppBundle/Resources/views/Default/confidentialite.html.twig
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
  src/Capco/AppBundle/Resources/views/base.html.twig
Due: php, jest, flow, backend, frontend

#6767 - :construction: add dataloader to ViewerProposalVote
  app/Resources/js/components/Project/Votes/ProposalsUserVotesStep.js
  app/Resources/js/components/User/Registration/RegistrationForm.js
  app/Resources/js/utils/responsesHelper.js
  src/Capco/AppBundle/GraphQL/DataLoader/User/ViewerProposalVotesDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/User/ViewerProposalVotesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/ViewerStepVotesResolver.php
  src/Capco/AppBundle/Resources/config/services/graphql_dataloaders.yml
Due: graphql, php, jest, flow, backend, frontend

[ADD] main tag
  app/Resources/js/components/Project/Votes/ProposalsUserVotesStep.js
  app/Resources/js/components/User/Registration/RegistrationForm.js
  app/Resources/js/utils/responsesHelper.js
  src/Capco/AppBundle/GraphQL/DataLoader/User/ViewerProposalVotesDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/User/ViewerProposalVotesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/ViewerStepVotesResolver.php
  src/Capco/AppBundle/Resources/config/services/graphql_dataloaders.yml
  src/Capco/AppBundle/Resources/views/base.html.twig
Due: graphql, php, jest, flow, backend, frontend

[ADD] h2 for footer title (ok for audit)
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
Due: php, backend

[RMV] alt on <a />
  src/Capco/AppBundle/DataFixtures/ORM/Benchmark/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
  src/Capco/AppBundle/Resources/views/Blog/blockPost.html.twig
Due: php, backend

[CHG] nav tag position
  app/Resources/js/components/Navbar/Navbar.js
Due: jest, flow, frontend

[RMV] style to have better zoom on footer
  app/Resources/scss/base/_footer.scss
Due: none

[RMV] useless popover
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
Due: jest, flow, frontend

[ADD] help text for form
  app/Resources/js/components/Comment/CommentForm.js
  app/Resources/js/components/Comment/__snapshots__/CommentForm-test.js.snap
  app/Resources/js/components/Form/ReactBootstrapInput.js
Due: jest, flow, frontend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
