Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: auto
        threshold: null
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

[CHG] wrong behat coat
  app/Resources/js/components/Admin/Field/UserListField.js
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  app/Resources/js/components/Form/Select.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminEvaluersForm.js
  app/Resources/js/components/Proposal/Admin/ProposalFusionEditForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminEvaluersForm-test.js.snap
  app/Resources/js/components/Proposal/Form/ProposalFusionForm.js
  app/Resources/js/components/User/Admin/UserAdminProfile.js
  app/Resources/scss/modules/_form.scss
  features/back/proposal.feature
  package.json
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Traits/AdminProposalTrait.php
  src/Capco/AppBundle/Behat/Traits/AdminTrait.php
  yarn.lock
Due: jest, flow, backend, frontend

Restore functionnality of filtered url on /projects page
  app/Resources/js/components/Admin/Field/UserListField.js
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  app/Resources/js/components/Form/Select.js
  app/Resources/js/components/Project/List/Filters/ProjectListFilters.js
  app/Resources/js/components/Project/List/ProjectsList.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminEvaluersForm.js
  app/Resources/js/components/Proposal/Admin/ProposalFusionEditForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminEvaluersForm-test.js.snap
  app/Resources/js/components/Proposal/Form/ProposalFusionForm.js
  app/Resources/js/redux/modules/project.js
  app/Resources/js/startup/ProjectsListAppClient.js
  app/Resources/scss/modules/_form.scss
  features/back/proposal.feature
  package.json
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Traits/AdminProposalTrait.php
  src/Capco/AppBundle/Behat/Traits/AdminTrait.php
  yarn.lock
Due: jest, flow, backend, frontend

Merge pull request #7078 from cap-collectif/6818-accessibility-react-select
  app/Resources/js/components/Admin/Field/UserListField.js
  app/Resources/js/components/Event/List/EventListFilters.js
  app/Resources/js/components/Event/List/__snapshots__/EventListFilter-test.js.snap
  app/Resources/js/components/Form/Select.js
  app/Resources/js/components/Project/List/Filters/ProjectListFilters.js
  app/Resources/js/components/Project/List/ProjectsList.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminEvaluersForm.js
  app/Resources/js/components/Proposal/Admin/ProposalFusionEditForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminEvaluersForm-test.js.snap
  app/Resources/js/components/Proposal/Form/ProposalFusionForm.js
  app/Resources/js/redux/modules/project.js
  app/Resources/js/startup/ProjectsListAppClient.js
  app/Resources/scss/modules/_form.scss
  features/back/proposal.feature
  package.json
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Traits/AdminProposalTrait.php
  src/Capco/AppBundle/Behat/Traits/AdminTrait.php
  yarn.lock
Due: jest, flow, backend, frontend

Merge pull request #7229 from cap-collectif/7111-fix-profil-name-length
  app/Resources/js/components/User/Admin/UserAdminProfile.js
Due: jest, flow, frontend

Merge pull request #7228 from cap-collectif/activate-internal-consent
  app/DoctrineMigrations/Version20190210203518.php
Due: none

Fix UserSearch hydrated results
  src/Capco/AppBundle/Search/UserSearch.php
Due: php, backend

Merge pull request #7231 from cap-collectif/fix-7101
  app/Resources/js/components/Project/List/Filters/ProjectListFilters.js
  app/Resources/js/components/Project/List/ProjectsList.js
  app/Resources/js/redux/modules/project.js
  app/Resources/js/startup/ProjectsListAppClient.js
  src/Capco/AppBundle/Search/UserSearch.php
Due: php, jest, flow, backend, frontend

Merge pull request #7233 from cap-collectif/fix-6019
  src/Capco/AppBundle/Search/UserSearch.php
Due: php, backend

Merge pull request #7203 from cap-collectif/add-errors-import-events
  app/Resources/js/components/Event/Admin/AdminImportEventsCsvInput.js
  app/Resources/js/components/Event/Admin/AdminImportEventsForm.js
  app/Resources/js/mutations/AddEventsMutation.js
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Mutation/AddEventsMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/InternalAddEventsPayload.types.yml
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #7222 from cap-collectif/fix-export-events
  app/Resources/js/components/Event/Admin/AdminExportButton.js
  app/Resources/js/components/Event/Admin/__snapshots__/AdminExportButton-test.js.snap
  infrastructure/services/remote/cron/crontab
  src/Capco/AppBundle/Command/CreateCsvFromEventsCommand.php
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/Resources/config/services/commands.yml
Due: php, jest, flow, backend, frontend

Merge pull request #7240 from cap-collectif/allow-to-specify-an-offset-to-populate
  src/Capco/AppBundle/Command/Elasticsearch/PopulateIndexCommand.php
  src/Capco/AppBundle/Elasticsearch/Indexer.php
Due: php, backend

Fix contributions that are not confirmed when the user changed his email
  spec/Capco/AppBundle/GraphQL/Dataloader/Proposal/ProposalViewerHasVoteDataLoaderSpec.php
  spec/Capco/AppBundle/GraphQL/Dataloader/Proposal/ProposalViewerIsFollowingDataLoaderSpec.php
  spec/Capco/AppBundle/GraphQL/Dataloader/Proposal/ProposalViewerVoteDataLoaderSpec.php
  spec/Capco/UserBundle/Controller/ConfirmationControllerSpec.php
  src/Capco/UserBundle/Controller/ConfirmationController.php
  src/Capco/UserBundle/Resources/config/services.yml
Due: php, backend

[ADD] custom code for consultation page
  spec/Capco/AppBundle/GraphQL/Dataloader/Proposal/ProposalViewerHasVoteDataLoaderSpec.php
  spec/Capco/AppBundle/GraphQL/Dataloader/Proposal/ProposalViewerIsFollowingDataLoaderSpec.php
  spec/Capco/AppBundle/GraphQL/Dataloader/Proposal/ProposalViewerVoteDataLoaderSpec.php
  spec/Capco/UserBundle/Controller/ConfirmationControllerSpec.php
  src/Capco/AppBundle/Resources/views/Consultation/show.html.twig
  src/Capco/UserBundle/Controller/ConfirmationController.php
  src/Capco/UserBundle/Resources/config/services.yml
Due: php, backend

Fix reporting links
  src/Capco/AdminBundle/Resources/views/Reporting/object_show_field.html.twig
  src/Capco/AppBundle/Resources/views/Consultation/show.html.twig
Due: php, backend

Merge pull request #7242 from cap-collectif/custom-code-consultation-page
  src/Capco/AdminBundle/Resources/views/Reporting/object_show_field.html.twig
  src/Capco/AppBundle/Resources/views/Consultation/show.html.twig
Due: php, backend

EXPORTS-TESTS fix tests
  app/Resources/js/components/Event/Admin/AdminExportButton.js
  app/Resources/js/components/Event/Admin/__snapshots__/AdminExportButton-test.js.snap
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
  features/commands/__snapshots__/users.csv
  infrastructure/services/remote/cron/crontab
  src/Capco/AppBundle/Command/CreateCsvFromEventsCommand.php
  src/Capco/AppBundle/Command/Elasticsearch/PopulateIndexCommand.php
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/Elasticsearch/Indexer.php
  src/Capco/AppBundle/Resources/config/services/commands.yml
  src/Capco/AppBundle/Resources/views/Consultation/show.html.twig
Due: php, jest, flow, backend, frontend

Hide followers tabs
  app/Resources/js/components/Event/Admin/AdminExportButton.js
  app/Resources/js/components/Event/Admin/__snapshots__/AdminExportButton-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalPageTabs-test.js
  app/Resources/js/components/Proposal/Page/ProposalPageTabs.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageTabs-test.js.snap
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
  features/commands/__snapshots__/users.csv
  infrastructure/services/remote/cron/crontab
  src/Capco/AppBundle/Command/CreateCsvFromEventsCommand.php
  src/Capco/AppBundle/Command/Elasticsearch/PopulateIndexCommand.php
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/Elasticsearch/Indexer.php
  src/Capco/AppBundle/Resources/config/services/commands.yml
Due: php, jest, flow, backend, frontend

Merge pull request #7246 from cap-collectif/7031-hide-followers-tab
  src/Capco/AppBundle/Resources/views/Consultation/show.html.twig
Due: php, backend

Add API guides
  src/Capco/AppBundle/Controller/Site/DeveloperController.php
  src/Capco/AppBundle/Resources/views/Developer/guides.html.twig
  src/Capco/AppBundle/Resources/views/Developer/menu.html.twig
Due: php, backend

Add GraphQL API guides
  app/config/graphql.yml
  schema.internal.graphql
  schema.preview.graphql
  src/Capco/AppBundle/Controller/Site/DeveloperController.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/CollectStepProposalResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Traits/ResolverTrait.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalSimpleQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/interfaces/PreviewQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/interfaces/PreviewResponse.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewProposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewSimpleQuestion.types.yml
  src/Capco/AppBundle/Resources/views/Developer/explorer.html.twig
  src/Capco/AppBundle/Resources/views/Developer/guides.html.twig
  src/Capco/AppBundle/Resources/views/Developer/guides/events.html.twig
  src/Capco/AppBundle/Resources/views/Developer/guides/proposals.html.twig
  src/Capco/AppBundle/Resources/views/Developer/header.html.twig
  src/Capco/AppBundle/Resources/views/Developer/index.html.twig
  src/Capco/AppBundle/Resources/views/Developer/menu.html.twig
  src/Capco/AppBundle/Resources/views/GraphiQL/index.html.twig
  src/Capco/AppBundle/Twig/GraphQLExtension.php
Due: graphql, php, backend

Merge pull request #7239 from cap-collectif/fix-contribution-not-published-when-first-email-was-not-confirmed
  app/config/graphql.yml
  schema.internal.graphql
  schema.preview.graphql
  spec/Capco/AppBundle/GraphQL/Dataloader/Proposal/ProposalViewerHasVoteDataLoaderSpec.php
  spec/Capco/AppBundle/GraphQL/Dataloader/Proposal/ProposalViewerIsFollowingDataLoaderSpec.php
  spec/Capco/AppBundle/GraphQL/Dataloader/Proposal/ProposalViewerVoteDataLoaderSpec.php
  spec/Capco/UserBundle/Controller/ConfirmationControllerSpec.php
  src/Capco/AppBundle/Controller/Site/DeveloperController.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/CollectStepProposalResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Traits/ResolverTrait.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/SimpleQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/interfaces/PreviewQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/interfaces/PreviewResponse.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewProposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewSimpleQuestion.types.yml
  src/Capco/AppBundle/Resources/views/Developer/explorer.html.twig
  src/Capco/AppBundle/Resources/views/Developer/guides.html.twig
  src/Capco/AppBundle/Resources/views/Developer/guides/events.html.twig
  src/Capco/AppBundle/Resources/views/Developer/guides/proposals.html.twig
  src/Capco/AppBundle/Resources/views/Developer/header.html.twig
  src/Capco/AppBundle/Resources/views/Developer/index.html.twig
  src/Capco/AppBundle/Resources/views/Developer/menu.html.twig
  src/Capco/AppBundle/Resources/views/GraphiQL/index.html.twig
  src/Capco/AppBundle/Twig/GraphQLExtension.php
  src/Capco/UserBundle/Controller/ConfirmationController.php
  src/Capco/UserBundle/Resources/config/services.yml
Due: graphql, php, backend

Merge pull request #7243 from cap-collectif/fix-7143
  src/Capco/AdminBundle/Resources/views/Reporting/object_show_field.html.twig
Due: php, backend

Merge pull request #7245 from cap-collectif/EXPORTS-tests-fix
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
  features/commands/__snapshots__/users.csv
Due: none

Add optionnal parameter to questionnaire export command to select a given step
  src/Capco/AppBundle/Command/CreateCsvFromQuestionnaireStepCommand.php
Due: php, backend

Merge pull request #7244 from cap-collectif/add-graphql-guides
  app/config/graphql.yml
  schema.internal.graphql
  schema.preview.graphql
  src/Capco/AppBundle/Controller/Site/DeveloperController.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Question/QuestionTypeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/CollectStepProposalResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Traits/ResolverTrait.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalSimpleQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/interfaces/PreviewQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/interfaces/PreviewResponse.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewProposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewSimpleQuestion.types.yml
  src/Capco/AppBundle/Resources/views/Developer/explorer.html.twig
  src/Capco/AppBundle/Resources/views/Developer/guides.html.twig
  src/Capco/AppBundle/Resources/views/Developer/guides/events.html.twig
  src/Capco/AppBundle/Resources/views/Developer/guides/proposals.html.twig
  src/Capco/AppBundle/Resources/views/Developer/header.html.twig
  src/Capco/AppBundle/Resources/views/Developer/index.html.twig
  src/Capco/AppBundle/Resources/views/Developer/menu.html.twig
  src/Capco/AppBundle/Resources/views/GraphiQL/index.html.twig
  src/Capco/AppBundle/Twig/GraphQLExtension.php
Due: graphql, php, backend

Fix command
  src/Capco/AppBundle/Command/CreateCsvFromQuestionnaireStepCommand.php
Due: php, backend

Clean legacy code + fix tests
  app/Resources/js/components/Requirements/__snapshots__/RequirementsForm-test.js.snap
  app/Resources/js/components/User/Registration/__snapshots__/ModalRegistrationFormQuestions-test.js.snap
  features/graphql/query/projects.feature
  package.json
  src/Capco/AppBundle/Command/RecalculateCountersCommand.php
  src/Capco/AppBundle/Entity/Steps/QuestionnaireStep.php
  yarn.lock
Due: php, jest, flow, backend, frontend

COUNTERS-OPTIMIZE change query
  src/Capco/AppBundle/Command/RecalculateCountersCommand.php
  src/Capco/AppBundle/Repository/AbstractVoteRepository.php
Due: php, backend

COUNTERS-OPTIMIZE requested changes
  infrastructure/environments/development.yml
  src/Capco/AppBundle/Repository/AbstractVoteRepository.php
Due: php, backend

COUNTERS-OPTIMIZE pour faire plaisir a maxime
  src/Capco/AppBundle/Repository/AbstractVoteRepository.php
Due: php, backend

COUNTERS-OPTIMIZE oops
  infrastructure/environments/development.yml
Due: none

COUNTERS-OPTIMIZE oops2
  src/Capco/AppBundle/Command/RecalculateCountersCommand.php
  src/Capco/AppBundle/Repository/AbstractVoteRepository.php
Due: php, backend

WIP
  app/Resources/js/CookieMonster.js
  app/Resources/js/app.js
  app/Resources/js/components/StaticPage/Cookie.js
  app/Resources/js/components/StaticPage/CookieModal.js
  app/Resources/js/startup/CookieApp.js
  app/Resources/scss/modules/_cnil.scss
  brunch-config.js
  package.json
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Resources/views/Default/confidentialite.html.twig
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
  src/Capco/AppBundle/Resources/views/base.html.twig
  yarn.lock
Due: php, jest, flow, backend, frontend

#6935 - WIP create rgpd modal
  app/Resources/js/components/StaticPage/Cookie.js
  app/Resources/js/components/StaticPage/CookieModal.js
  app/Resources/scss/base/_utils.scss
  src/Capco/AppBundle/Resources/views/base.html.twig
Due: php, jest, flow, backend, frontend

#6935 - change cookie page to a modal
  app/Resources/js/CookieMonster.js
  app/Resources/js/components/Form/CloseButton.js
  app/Resources/js/components/StaticPage/Cookie.js
  app/Resources/js/components/StaticPage/CookieModal.js
  app/Resources/scss/base/_utils.scss
  app/Resources/scss/modules/_cnil.scss
Due: jest, flow, frontend

#6935 - can open cookie modal from footer
  app/Resources/js/components/StaticPage/CookieModal.js
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
Due: php, jest, flow, backend, frontend

#6935 - fix e2e rgpd tests
  app/Resources/js/CookieMonster.js
  app/Resources/js/components/StaticPage/Cookie.js
  app/Resources/js/components/StaticPage/CookieModal.js
  app/Resources/scss/base/_utils.scss
  behat.yml
  features/front/rgpd.feature
  src/Capco/AppBundle/Behat/Page/CookiesPage.php
  src/Capco/AppBundle/Behat/PageTrait.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/Resources/views/Default/confidentialite.html.twig
Due: php, jest, flow, backend, frontend

#6935 - fix css for cookie banner/modal
  app/Resources/js/CookieMonster.js
  app/Resources/js/components/StaticPage/Cookie.js
  app/Resources/js/components/StaticPage/CookieModal.js
  app/Resources/scss/base/_utils.scss
  app/Resources/scss/modules/_cnil.scss
  src/Capco/AppBundle/Resources/views/Default/custom.css.twig
Due: php, jest, flow, backend, frontend
