Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: auto
        threshold: null
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

#6935 - fix rgpd e2e tests
  features/front/rgpd.feature
Due: none

#6984 - Adding cookie page
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
  src/Capco/AppBundle/Resources/views/Default/cookies.html.twig
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
Due: php, backend

#6984 - fix after rebase
  app/Resources/js/components/StaticPage/CookieModal.js
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Resources/views/Default/cookies.html.twig
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
Due: php, jest, flow, backend, frontend

#6984 - add cookie page on migration
  app/DoctrineMigrations/Version20190212115338.php
Due: none

#6984 - some fixs
  app/Resources/js/components/StaticPage/Cookie.js
  src/Capco/AppBundle/Resources/views/Default/cookies.html.twig
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
  src/Capco/AppBundle/Resources/views/base.html.twig
Due: php, jest, flow, backend, frontend

#6984 - add test js on cookies
  app/Resources/js/components/StaticPage/Cookie-test.js
  app/Resources/js/components/StaticPage/CookieModal-test.js
  app/Resources/js/components/StaticPage/__snapshots__/Cookie-test.js.snap
  app/Resources/js/components/StaticPage/__snapshots__/CookieModal-test.js.snap
  jest-setup.js
Due: jest, flow, frontend

fix yarn lock
  yarn.lock
Due: none

#6984 - fix migration and css
  app/DoctrineMigrations/Version20190212115338.php
  app/Resources/scss/modules/_cnil.scss
Due: none

#7212-DRAFT Add index on proposal
  app/DoctrineMigrations/Version20190212115338.php
  app/DoctrineMigrations/Version20190215115956.php
  app/Resources/js/app.js
  app/Resources/js/components/Form/CloseButton.js
  app/Resources/js/components/StaticPage/Cookie-test.js
  app/Resources/js/components/StaticPage/Cookie.js
  app/Resources/js/components/StaticPage/CookieModal-test.js
  app/Resources/js/components/StaticPage/CookieModal.js
  app/Resources/js/components/StaticPage/__snapshots__/Cookie-test.js.snap
  app/Resources/js/components/StaticPage/__snapshots__/CookieModal-test.js.snap
  app/Resources/js/cookieMonster.js
  app/Resources/js/startup/CookieApp.js
  app/Resources/scss/base/_utils.scss
  app/Resources/scss/modules/_cnil.scss
  behat.yml
  brunch-config.js
  features/front/rgpd.feature
  jest-setup.js
  package.json
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Behat/Page/CookiesPage.php
  src/Capco/AppBundle/Behat/PageTrait.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Entity/Reply.php
  src/Capco/AppBundle/Resources/views/Default/confidentialite.html.twig
  src/Capco/AppBundle/Resources/views/Default/cookies.html.twig
  src/Capco/AppBundle/Resources/views/Default/custom.css.twig
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
  src/Capco/AppBundle/Resources/views/base.html.twig
  yarn.lock
Due: php, jest, flow, backend, frontend

Hide Empty radio answer
  app/DoctrineMigrations/Version20190215115956.php
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Entity/Reply.php
Due: php, jest, flow, backend, frontend

add test
  app/Resources/js/components/Proposal/Page/ProposalResponse-test.js
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalResponse-test.js.snap
Due: jest, flow, frontend

Merge pull request #7004 from cap-collectif/6984-cookie-page
  app/DoctrineMigrations/Version20190212115338.php
  app/Resources/js/CookieMonster.js
  app/Resources/js/app.js
  app/Resources/js/components/Form/CloseButton.js
  app/Resources/js/components/Proposal/Page/ProposalResponse-test.js
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalResponse-test.js.snap
  app/Resources/js/components/StaticPage/Cookie-test.js
  app/Resources/js/components/StaticPage/Cookie.js
  app/Resources/js/components/StaticPage/CookieModal-test.js
  app/Resources/js/components/StaticPage/CookieModal.js
  app/Resources/js/components/StaticPage/__snapshots__/Cookie-test.js.snap
  app/Resources/js/components/StaticPage/__snapshots__/CookieModal-test.js.snap
  app/Resources/js/startup/CookieApp.js
  app/Resources/scss/base/_utils.scss
  app/Resources/scss/modules/_cnil.scss
  behat.yml
  brunch-config.js
  features/front/rgpd.feature
  jest-setup.js
  package.json
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Behat/Page/CookiesPage.php
  src/Capco/AppBundle/Behat/PageTrait.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
  src/Capco/AppBundle/Resources/views/Default/confidentialite.html.twig
  src/Capco/AppBundle/Resources/views/Default/cookies.html.twig
  src/Capco/AppBundle/Resources/views/Default/custom.css.twig
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
  src/Capco/AppBundle/Resources/views/base.html.twig
  yarn.lock
Due: php, jest, flow, backend, frontend

Add UrlSearchParams polyfill
  app/Resources/js/registration.js
  package.json
  yarn.lock
Due: jest, flow, frontend

- Updated flow to 0.92.0
  .flowconfig
  app/Resources/js/registration.js
  package.json
  yarn.lock
Due: jest, flow, frontend

Merge pull request #7259 from cap-collectif/7205-hide-radio-empty-answer
  .flowconfig
  app/Resources/js/components/Proposal/Page/ProposalResponse-test.js
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalResponse-test.js.snap
  app/Resources/js/registration.js
  package.json
  yarn.lock
Due: jest, flow, frontend

Hotfix pour API pagination
  src/Capco/AppBundle/Command/Elasticsearch/PopulateIndexCommand.php
  src/Capco/AppBundle/Elasticsearch/Indexer.php
  src/Capco/AppBundle/GraphQL/DataLoader/ProposalForm/ProposalFormProposalsDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
Due: graphql, php, backend

Clean getHydratedResults
  src/Capco/AppBundle/Repository/EventRepository.php
Due: php, backend

clean value for proposalCommentReporting in export
  app/Resources/js/components/Proposal/Page/ProposalResponse-test.js
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalResponse-test.js.snap
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Command/Elasticsearch/PopulateIndexCommand.php
  src/Capco/AppBundle/Elasticsearch/Indexer.php
  src/Capco/AppBundle/GraphQL/DataLoader/ProposalForm/ProposalFormProposalsDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
  src/Capco/AppBundle/Repository/EventRepository.php
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #7265 from cap-collectif/7212-draft-index
  app/DoctrineMigrations/Version20190215115956.php
  app/Resources/js/components/Proposal/Page/ProposalResponse-test.js
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalResponse-test.js.snap
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Entity/Reply.php
Due: php, jest, flow, backend, frontend

Merge pull request #7277 from cap-collectif/6497-proposalCommentReporting-bug
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
Due: php, backend

Merge pull request #7269 from cap-collectif/7118-update-flow
  .flowconfig
  package.json
  yarn.lock
Due: none

Merge pull request #7264 from cap-collectif/hot-fix-for-pagination
  src/Capco/AppBundle/Command/Elasticsearch/PopulateIndexCommand.php
  src/Capco/AppBundle/Elasticsearch/Indexer.php
  src/Capco/AppBundle/GraphQL/DataLoader/ProposalForm/ProposalFormProposalsDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
  src/Capco/AppBundle/Repository/EventRepository.php
Due: graphql, php, backend

#7061 - fix newsletter registration
  src/Capco/AppBundle/Command/Elasticsearch/PopulateIndexCommand.php
  src/Capco/AppBundle/Controller/Site/HomepageController.php
  src/Capco/AppBundle/Elasticsearch/Indexer.php
  src/Capco/AppBundle/GraphQL/DataLoader/ProposalForm/ProposalFormProposalsDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
  src/Capco/AppBundle/Repository/EventRepository.php
Due: graphql, php, backend

Disable cache for resolvers using viewer in cache key
  src/Capco/AppBundle/Command/Elasticsearch/PopulateIndexCommand.php
  src/Capco/AppBundle/Controller/Site/HomepageController.php
  src/Capco/AppBundle/Elasticsearch/Indexer.php
  src/Capco/AppBundle/GraphQL/DataLoader/ProposalForm/ProposalFormProposalsDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
  src/Capco/AppBundle/Repository/EventRepository.php
  src/Capco/AppBundle/Resources/config/services/graphql_dataloaders.yml
Due: graphql, php, backend

Add missing initial value for state
  app/Resources/js/components/Opinion/Source/OpinionSourceListViewPaginated.js
Due: jest, flow, frontend

#7241 - sonata autocomplete search users in elasticsearch
  src/Capco/AdminBundle/Controller/HelperController.php
  src/Capco/AdminBundle/Resources/config/admin.yml
  src/Capco/AppBundle/Elasticsearch/mapping.yml
  src/Capco/AppBundle/Search/UserSearch.php
  src/Capco/UserBundle/Resources/config/serialization/Entity.User.yml
Due: php, backend

fix
  src/Capco/AdminBundle/Controller/HelperController.php
  src/Capco/AdminBundle/Resources/config/admin.yml
Due: php, backend

#7241-FIX Update helper controler
  src/Capco/AdminBundle/Controller/HelperController.php
Due: php, backend

#7241-FIX #7241-FIX Admin can search user by usernam/email in proposal filter and event
  src/Capco/AdminBundle/Admin/EventAdmin.php
  src/Capco/AdminBundle/Admin/ProposalAdmin.php
  src/Capco/AdminBundle/Controller/HelperController.php
Due: php, backend

#7241-FIX #7241-FIX update user autocomplete on admin
  src/Capco/AdminBundle/Admin/ArgumentVoteAdmin.php
  src/Capco/AdminBundle/Admin/CommentAdmin.php
  src/Capco/AdminBundle/Admin/CommentVoteAdmin.php
  src/Capco/AdminBundle/Admin/EventAdmin.php
  src/Capco/AdminBundle/Admin/OpinionAdmin.php
  src/Capco/AdminBundle/Admin/OpinionVersionAdmin.php
  src/Capco/AdminBundle/Admin/OpinionVoteAdmin.php
  src/Capco/AdminBundle/Admin/PostAdmin.php
  src/Capco/AdminBundle/Admin/ProjectAdmin.php
  src/Capco/AdminBundle/Admin/ProposalCollectVoteAdmin.php
  src/Capco/AdminBundle/Admin/ProposalSelectionVoteAdmin.php
  src/Capco/AdminBundle/Admin/ReplyAdmin.php
  src/Capco/AdminBundle/Admin/ReportingAdmin.php
  src/Capco/AdminBundle/Admin/SourceAdmin.php
  src/Capco/AdminBundle/Admin/ThemeAdmin.php
  src/Capco/AdminBundle/Admin/VideoAdmin.php
  src/Capco/AdminBundle/Controller/HelperController.php
Due: php, backend

#7241-FIX Update user serializer
  src/Capco/UserBundle/Resources/config/serialization/Entity.User.yml
Due: php, backend

#7241-FIX disable indexing user email in es
  src/Capco/AppBundle/Elasticsearch/mapping.yml
Due: php, backend

Merge pull request #7164 from cap-collectif/7061-fix-newsletter
  src/Capco/AppBundle/Controller/Site/HomepageController.php
Due: php, backend

Fix node CVE
  package.json
  yarn.lock
Due: none

EVENTS-EXPORTS add id events
  package.json
  src/Capco/AdminBundle/Admin/ArgumentVoteAdmin.php
  src/Capco/AdminBundle/Admin/CommentAdmin.php
  src/Capco/AdminBundle/Admin/CommentVoteAdmin.php
  src/Capco/AdminBundle/Admin/EventAdmin.php
  src/Capco/AdminBundle/Admin/OpinionAdmin.php
  src/Capco/AdminBundle/Admin/OpinionVersionAdmin.php
  src/Capco/AdminBundle/Admin/OpinionVoteAdmin.php
  src/Capco/AdminBundle/Admin/PostAdmin.php
  src/Capco/AdminBundle/Admin/ProjectAdmin.php
  src/Capco/AdminBundle/Admin/ProposalAdmin.php
  src/Capco/AdminBundle/Admin/ProposalCollectVoteAdmin.php
  src/Capco/AdminBundle/Admin/ProposalSelectionVoteAdmin.php
  src/Capco/AdminBundle/Admin/ReplyAdmin.php
  src/Capco/AdminBundle/Admin/ReportingAdmin.php
  src/Capco/AdminBundle/Admin/SourceAdmin.php
  src/Capco/AdminBundle/Admin/ThemeAdmin.php
  src/Capco/AdminBundle/Admin/VideoAdmin.php
  src/Capco/AdminBundle/Controller/HelperController.php
  src/Capco/AdminBundle/Resources/config/admin.yml
  src/Capco/AppBundle/Command/CreateCsvFromEventsCommand.php
  src/Capco/AppBundle/Controller/Site/HomepageController.php
  src/Capco/AppBundle/Elasticsearch/mapping.yml
  src/Capco/AppBundle/Search/UserSearch.php
  src/Capco/UserBundle/Resources/config/serialization/Entity.User.yml
  yarn.lock
Due: php, backend

Merge pull request #7290 from cap-collectif/events-exports-add-id
  src/Capco/AdminBundle/Admin/ArgumentVoteAdmin.php
  src/Capco/AdminBundle/Admin/CommentAdmin.php
  src/Capco/AdminBundle/Admin/CommentVoteAdmin.php
  src/Capco/AdminBundle/Admin/EventAdmin.php
  src/Capco/AdminBundle/Admin/OpinionAdmin.php
  src/Capco/AdminBundle/Admin/OpinionVersionAdmin.php
  src/Capco/AdminBundle/Admin/OpinionVoteAdmin.php
  src/Capco/AdminBundle/Admin/PostAdmin.php
  src/Capco/AdminBundle/Admin/ProjectAdmin.php
  src/Capco/AdminBundle/Admin/ProposalAdmin.php
  src/Capco/AdminBundle/Admin/ProposalCollectVoteAdmin.php
  src/Capco/AdminBundle/Admin/ProposalSelectionVoteAdmin.php
  src/Capco/AdminBundle/Admin/ReplyAdmin.php
  src/Capco/AdminBundle/Admin/ReportingAdmin.php
  src/Capco/AdminBundle/Admin/SourceAdmin.php
  src/Capco/AdminBundle/Admin/ThemeAdmin.php
  src/Capco/AdminBundle/Admin/VideoAdmin.php
  src/Capco/AdminBundle/Controller/HelperController.php
  src/Capco/AdminBundle/Resources/config/admin.yml
  src/Capco/AppBundle/Controller/Site/HomepageController.php
  src/Capco/AppBundle/Elasticsearch/mapping.yml
  src/Capco/AppBundle/Search/UserSearch.php
  src/Capco/UserBundle/Resources/config/serialization/Entity.User.yml
Due: php, backend

Fix node CVE 785
  package.json
  src/Capco/AppBundle/Command/CreateCsvFromEventsCommand.php
  yarn.lock
Due: php, backend

Merge pull request #7289 from cap-collectif/fix-node-786
  src/Capco/AppBundle/Command/CreateCsvFromEventsCommand.php
Due: php, backend

#7291-FIX fix sonata form field type user::class
  package.json
  src/Capco/AdminBundle/Admin/AnswerAdmin.php
  src/Capco/AdminBundle/Admin/ArgumentAdmin.php
  src/Capco/AdminBundle/Admin/CommentAdmin.php
  src/Capco/AdminBundle/Admin/EventAdmin.php
  src/Capco/AdminBundle/Admin/OpinionAdmin.php
  src/Capco/AdminBundle/Admin/OpinionVersionAdmin.php
  src/Capco/AdminBundle/Admin/OpinionVoteAdmin.php
  src/Capco/AdminBundle/Admin/PostAdmin.php
  src/Capco/AdminBundle/Admin/ProjectAdmin.php
  src/Capco/AdminBundle/Admin/SourceAdmin.php
  src/Capco/AdminBundle/Admin/ThemeAdmin.php
  src/Capco/AdminBundle/Admin/VideoAdmin.php
  yarn.lock
Due: php, backend

Merge pull request #7292 from cap-collectif/7291-fix-sonata-search-user
  package.json
  yarn.lock
Due: none
