Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: auto
        threshold: null
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

- Added relay --validate
  package.json
Due: none

- Fixed forgotten import and typo
  .babelrc
  app/Resources/js/components/Section/SectionContainer.js
  app/Resources/js/utils/responsesHelper.js
  jest.config.js
  package.json
Due: jest, flow, frontend

- Removed sourcemaps in prod because causing heap of memory
  webpack/webpack.prod.client.js
Due: none

- Added ide related configs to .dockerignore
  .dockerignore
Due: none

[7040-PROJECT] Update snapshots.
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalListOrderSorting-test.js.snap
  app/Resources/js/components/Ui/Form/Select/__snapshots__/Select-test.js.snap
  app/Resources/js/components/Ui/Form/Select/__snapshots__/SelectOption-test.js.snap
Due: jest, flow, frontend

[7040-PROJECT] Refactor filters front.
  app/Resources/js/components/HomePage/LastProposals.js
  app/Resources/js/components/Project/ProjectTrashProposal.js
  app/Resources/js/components/Proposal/List/ProposalListFilters.js
  app/Resources/js/components/Proposal/List/ProposalListOrderSorting.js
  app/Resources/js/components/Proposal/List/ProposalTrashedListPaginated.js
  app/Resources/js/components/Ui/Form/Select/Select-test.js
  app/Resources/js/components/Ui/Form/Select/Select.js
  app/Resources/js/components/Ui/Form/Select/SelectOption-test.js
  app/Resources/js/components/Ui/Form/Select/SelectOption.js
  app/Resources/js/stories/Form-stories.js
Due: jest, flow, frontend

[7040-PROJECT] Update E2E tests.
  features/front/proposals.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
  src/Capco/AppBundle/Resources/views/Default/custom.css.twig
Due: php, backend

[7040-PROJECT] Test ProposalListFilters jest.
  app/Resources/js/components/Proposal/List/ProposalListFilters-test.js
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalListFilters-test.js.snap
Due: jest, flow, frontend

REFACTO-GRAPHQL delete question resolver
  app/Resources/js/components/HomePage/LastProposals.js
  app/Resources/js/components/Project/ProjectTrashProposal.js
  app/Resources/js/components/Proposal/List/ProposalListFilters-test.js
  app/Resources/js/components/Proposal/List/ProposalListFilters.js
  app/Resources/js/components/Proposal/List/ProposalListOrderSorting.js
  app/Resources/js/components/Proposal/List/ProposalTrashedListPaginated.js
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalListFilters-test.js.snap
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalListOrderSorting-test.js.snap
  app/Resources/js/components/Ui/Form/Select/Select-test.js
  app/Resources/js/components/Ui/Form/Select/Select.js
  app/Resources/js/components/Ui/Form/Select/SelectOption-test.js
  app/Resources/js/components/Ui/Form/Select/SelectOption.js
  app/Resources/js/components/Ui/Form/Select/__snapshots__/Select-test.js.snap
  app/Resources/js/components/Ui/Form/Select/__snapshots__/SelectOption-test.js.snap
  app/Resources/js/stories/Form-stories.js
  features/front/proposals.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
  src/Capco/AppBundle/GraphQL/Resolver/District/DistrictsForLocalisationResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Question/QuestionPositionResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Question/QuestionQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Question/QuestionTypeValueResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/QuestionChoice/QuestionChoiceIsOtherAllowedResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/QuestionResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Questionnaire/AvailableQuestionnaireResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Questionnaire/QuestionsListResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalMultipleChoiceQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewQuestionnaire.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
  src/Capco/AppBundle/Resources/views/Default/custom.css.twig
Due: graphql, php, jest, flow, backend, frontend

REFACTO-GRAPHQL delete proposal resolvers
  src/Capco/AppBundle/GraphQL/Resolver/CollectStep/CollectStepViewerProposalDraftResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Post/PostAbstractResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/IsViewerAnEvaluerResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalAnswerEvaluationResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalEvaluationResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalPostsCountResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalReferenceResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalViewerCanSeeEvaluationResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Response/ResponseResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalResponse.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalCollectStep.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposal.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Post.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/interfaces/PreviewResponse.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
Due: graphql, php, backend

REFACTO-GRAPHQL fix tests
  src/Capco/AppBundle/GraphQL/Resolver/Response/ResponseResolver.php
Due: graphql, php, backend

REFACTO-GRAPHQL fix tests
  src/Capco/AppBundle/GraphQL/Resolver/Question/QuestionValidationRuleResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalMultipleChoiceQuestion.types.yml
Due: graphql, php, backend

REFACTO-GRAPHQL fi tests
  features/back/proposal-form.feature
  src/Capco/AppBundle/GraphQL/Resolver/Group/GroupListResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Group/GroupUsersResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Question/AvailableQuestionnaireResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Group.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
Due: graphql, php, backend

REFACTO-GRAPHQL fix test + delete user resolver
  src/Capco/AppBundle/GraphQL/Resolver/User/UserContributionsToDeleteCount.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserEmailResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserPhoneConfirmationSentAtResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
Due: graphql, php, backend

REFACTO-GRAPHQL fix
  src/Capco/AppBundle/GraphQL/Resolver/Consultation/SectionAppendixIdResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/SectionAppendixType.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
Due: graphql, php, backend

REFACTO-GRAPHQL delete some stuff
  src/Capco/AppBundle/GraphQL/Resolver/Consultation/ConsultationSectionResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Opinion/OpinionSectionResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/ConsultationQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Section/SectionAppendixHelpTextResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Section/SectionAppendixIdResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Section/SectionAppendixTitleResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Section/SectionContributionRelayResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Section/SectionContributionsCountResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Section/SectionSectionResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Section/SectionUrlResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalConsultation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Opinion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Section.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/SectionAppendixType.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Version.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
Due: graphql, php, backend

REFACTO-GRAPHQL delete most of contribution resolver
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Reporting/ReportingAuthorResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Reporting/ReportingTypeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Vote/PropositionVoteUserResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalVote.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Reporting.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
Due: graphql, php, backend

REFACTO-GRAPHQL fix tests
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Group.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
Due: php, backend

REFACTO-GRAPHQL fix test
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
Due: php, backend

REFACTO-GRAPHQL last stuff to delete
  src/Capco/AppBundle/GraphQL/Resolver/ConsultationResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Contribution/ConsultationTypeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalId/GlobalIdResolver.php
  src/Capco/AppBundle/Notifier/ArgumentNotifier.php
  src/Capco/AppBundle/Notifier/OpinionNotifier.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Argumentable.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Commentable.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Contribution.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/ContributionWithAuthor.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/EditableContribution.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Reportable.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Sourceable.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Trashable.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/YesNoPairedVote.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/union/AnswerOrPost.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/union/OpinionOrVersion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/public/PublicQuery.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
Due: graphql, php, backend

REFACTO-GRAPHQL fix rebase
  src/Capco/AppBundle/GraphQL/Resolver/Section/SectionUrlResolver.php
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
Due: graphql, php, backend

REFACTO-GRAPHQL fix test
  features/back/proposal-form.feature
Due: none

REFACTO-GRAPHQL fix stuff
  src/Capco/AppBundle/Entity/AppendixType.php
  src/Capco/AppBundle/Entity/OpinionTypeAppendixType.php
  src/Capco/AppBundle/Entity/Reporting.php
  src/Capco/AppBundle/GraphQL/Resolver/ConsultationResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Contribution/ConsultationTypeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalId/GlobalIdResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalAnswerEvaluationResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Question/AvailableQuestionnaireResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Reporting/ReportingAuthorResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Reporting/ReportingTypeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Section/SectionAppendixHelpTextResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Section/SectionAppendixIdResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Section/SectionContributionRelayResolver.php
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
Due: graphql, php, backend

REFACTO-GRAPHQL fix tests again
  src/Capco/AppBundle/Entity/Reporting.php
Due: php, backend

REFACTO-GRAPHQL fix test argument
  src/Capco/AppBundle/Notifier/ArgumentNotifier.php
Due: php, backend

[7040-PROJECT] Add tests to ProposalListSearch.
  app/Resources/js/components/Proposal/List/ProposalListSearch-test.js
  app/Resources/js/components/Proposal/List/ProposalListSearch.js
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalListSearch-test.js.snap
  app/Resources/js/components/Ui/Form/Select/SelectOption-test.js
Due: jest, flow, frontend

[7040-PROJECT] Type ProposalListFilters.
  app/Resources/js/components/Proposal/List/ProposalListFilters-test.js
  app/Resources/js/components/Proposal/List/ProposalListFilters.js
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalListFilters-test.js.snap
Due: jest, flow, frontend

[7040-PROJECT] Wrap onClick call to avoid onClose props.
  app/Resources/js/components/Ui/Form/Select/Select.js
Due: jest, flow, frontend

7517-DISABLE Add compiler pass for removing simplesaml definition when saml is disabled.
  src/Capco/AppBundle/CapcoAppBundle.php
  src/Capco/AppBundle/DependencyInjection/Compiler/SimpleSAMLServicePass.php
Due: php, backend

7517-DISABLE Remove definition of SamlAuthenticator.
  src/Capco/AppBundle/DependencyInjection/Compiler/SimpleSAMLServicePass.php
Due: php, backend

7517-DISABLE Replace saml argument of SimplePreAuthenticator to null when saml is disabled.
  src/Capco/AppBundle/DependencyInjection/Compiler/SimpleSAMLServicePass.php
  src/Capco/UserBundle/Authenticator/SimplePreAuthenticator.php
  src/Capco/UserBundle/Security/Http/Logout/LogoutSuccessHandler.php
Due: php, backend

#7504-FIX fix update/delete reply
  spec/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyViewerCanUpdateResolverSpec.php
  src/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyViewerCanDeleteResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyViewerCanUpdateResolver.php
Due: graphql, php, backend
